Repository treeverse/lakeFS, pull requests merged in 2020-09, with the labels that each got.

#554 fix docs to include GCP as underlying storage
  README.md
  docs/assets/img/wrapper.png
  docs/index.md
Labels: pr/merge-if-approved

#566 Add Nessie's validation step of files stored in bucket
  .github/workflows/nessie.yaml
Labels: area/system-tests, pr/merge-if-approved

#576 Fixing Nessie's postgres dump
  .github/workflows/nessie.yaml
Labels: area/system-tests, pr/merge-if-approved

#589 Fix link to configuration in retention docs
  docs/reference/retention.md
Labels: pr/merge-if-approved

#596 AWS AccountID to github secret
  .github/workflows/nessie.yaml
  nessie/ops/.env
  nessie/ops/docker-compose.yaml
Labels: pr/merge-if-approved

#611 "make build" so the exact copy of swagger.yml is copied
  docs/assets/js/swagger.yml
Labels: pr/merge-if-approved

#629 Add Hacktoberfest information
  README.md
Labels: pr/merge-if-approved

#637 updated node-forge to fix CVE-2020-7720
  webui/package-lock.json
Labels: area/UI, pr/javascript, security

#633 Fix empty dump from nessie's runs
  .github/workflows/nessie.yaml
Labels: bug, pr/merge-if-approved

#640 change compose execution in quickstart and README
  README.md
  docs/quickstart/installing.md
  docs/quickstart/other_installations.md
Labels: area/docs, pr/merge-if-approved

#664 bugfix in import branch creation
  cmd/lakefs/cmd/import.go
Labels: pr/merge-if-approved

#671 treeverse docker hub page
  docs/community.md
Labels: area/docs
