Repository treeverse/lakeFS, pull requests merged in 2020-10, with the labels that each got.

#685 use unlogged table for cataloger diff results
  catalog/cataloger_diff.go
  catalog/cataloger_merge.go
Labels: area/cataloger

#728 fix break in ref parse in lakectl fs ls
  cmd/lakectl/cmd/fs.go
Labels: bug

#750 General guidelines for Hacktoberfest on the front page
  README.md
Labels: pr/merge-if-approved

#766 Update README.md set badges align to center
  README.md
Labels: docs

#772 Wrap all up/down DB migration scripts in a transaction
  ddl/000001_initial.down.sql
  ddl/000001_initial.up.sql
  ddl/000002_retention.up.sql
Labels: pr/merge-if-approved

#778 [parade] Rename columns for signalling after task to reflect this
  design/task-management-api.md
  parade/ddl.go
  parade/ddl.sql
  parade/parade.go
  parade/parade_test.go
Labels: pr/merge-if-approved

#777 Use build number as CloudWatch logs group
  benchmarks/terraform/benchmark-collector.tf
  benchmarks/terraform/benchmark-env.tf
  benchmarks/terraform/benchmark-executor.tf
  benchmarks/terraform/main.tf
Labels: pr/merge-if-approved

#775 Override the default prometheus histogram buckets
  api/stats.go
Labels: pr/merge-if-approved

#789 Skip Nessie testing when secrets are unavailable
  .github/workflows/nessie.yaml
Labels: pr/merge-if-approved

#812 Fix task status docs
  parade/ddl.go
Labels: pr/merge-if-approved

#815 bugfix lakectl fs list showed first page
  cmd/lakectl/cmd/fs.go
Labels: bug

#813 [export] refactor generate tasks from diffs
  export/tasks_generator.go
Labels: pr/merge-if-approved

#820 remove extra space from error message
  gateway/operations/mock_adapter_test.go
Labels: pr/merge-if-approved

#829 bug fix conflict result compare type
  api/client.go
Labels: bug

#790 Implement cataloger current diff using scanners
  catalog/cataloger_diff.go
  catalog/cataloger_merge.go
  catalog/cataloger_merge_test.go
  catalog/cataloger_test.go
  catalog/db_branch_reader.go
  catalog/db_branch_reader_test.go
  catalog/db_branch_scanner.go
  catalog/db_branch_scanner_test.go
  catalog/db_lineage_reader.go
  catalog/db_lineage_reader_test.go
  catalog/db_lineage_scanner.go
  catalog/db_lineage_scanner_test.go
  catalog/db_scanner.go
  catalog/diff.go
  catalog/model.go
  catalog/views.go
Labels: area/cataloger

#823 Added interactive Katacoda tutorial to lakeFS docs
  docs/quickstart/other_installations.md
  docs/quickstart/try.md
Labels: docs

#851 diff with additional fields support
  api/api_controller.go
  catalog/cataloger.go
  catalog/cataloger_diff.go
  catalog/cataloger_diff_test.go
  catalog/cataloger_merge.go
  catalog/cataloger_merge_test.go
  catalog/db_branch_scanner.go
  catalog/model.go
Labels: area/cataloger

#856 Import documentation update, remove the UI and API description
  docs/assets/img/import_success.png
  docs/assets/img/import_webui.png
  docs/reference/import.md
Labels: docs

#863 Diffs are now on references not branches
  catalog/cataloger.go
Labels: pr/merge-if-approved

#874 Align repo id to repo name
  api/api_controller.go
  api/api_controller_test.go
  benchmarks/main.go
  cmd/lakectl/cmd/repo.go
  loadtest/loader.go
  nessie/system_test.go
  swagger.yml
Labels: pr/merge-if-approved

#875 fix diff same branch run on left side lineage
  catalog/cataloger_diff.go
  catalog/cataloger_diff_test.go
Labels: bug

#878 fix same branch diff should compare by checksum
  catalog/cataloger_diff.go
  catalog/cataloger_diff_test.go
Labels: bug
