Repository treeverse/lakeFS, pull requests merged in 2020-12, with the labels that each got.

#990 Add logs for gs nessie failures
  .github/workflows/nessie.yaml
Labels: pr/merge-if-approved

#1003 Change sstable interface to match new graveler package
  forest/sstable/sstable.go
Labels: pr/merge-if-approved

#1007 bug fix merge apply diff closed on error channel
  catalog/mvcc/cataloger_merge.go
Labels: bug

#1011 Set default value for all amounts in swagger
  docs/assets/js/swagger.yml
  swagger.yml
Labels: bug, pr/merge-if-approved

#985 WIP: pg refs manager for rocks impl
  ddl/000017_graveler_refs.down.sql
  ddl/000017_graveler_refs.up.sql
  graveler/graveler.go
  graveler/main_test.go
  graveler/pgiterator.go
  graveler/pgiterator_test.go
  graveler/pgrefs.go
  graveler/pgrefs_test.go
  graveler/refmergebase.go
  graveler/refmergebase_test.go
  graveler/refresolver.go
  graveler/refresolver_test.go
  graveler/revparse.go
  graveler/revparse_test.go
  graveler/staging_test.go
  ident/ident.go
Labels: area/cataloger

#1017 Simplify commit iterator logic
  graveler/pgiterator.go
Labels: pr/merge-if-approved

#1024 fix gateway branch name validation
  gateway/path/resolver.go
Labels: bug

#1033 Add documentation for streaming_chunk_timeout flag
  docs/reference/configuration.md
Labels: pr/merge-if-approved

#1035 Rename forest and move it to graveler
  graveler/committed/sstable/sstable.go
Labels: pr/merge-if-approved

#1045 list commits limit back default amount
  webui/src/components/RefDropdown.js
Labels: bug

#1040 Allow lakectl to run without a config file
  cmd/lakectl/cmd/root.go
Labels: pr/merge-if-approved

#1042 Correctly measure duration of Query
  db/database.go
  db/logged_rows.go
  db/tx.go
  go.mod
Labels: pr/merge-if-approved

#1068 [post-pull CR] Marshal directly into buffer without using a Writer
  graveler/value.go
Labels: pr/merge-if-approved

#1071 Generate the mocks using go generate
  .gitignore
  Makefile
  graveler/committed/mock/part.go
  graveler/committed/part.go
  graveler/committed/sstable/cache.go
  graveler/committed/sstable/mock/cache.go
Labels: pr/merge-if-approved

#1081 Skip flaky concurrent test until fixed
  pyramid/tier_fs_test.go
Labels: pr/merge-if-approved

#1090 Refactor graveler_mock_test into an exported testutil/ subdir
  graveler/branch_locker_test.go
  graveler/graveler_mock_test.go
  graveler/graveler_test.go
  graveler/testutil/fakes.go
Labels: pr/merge-if-approved

#1106 Add Nessie workflow status badge
  README.md
Labels: pr/merge-if-approved

#1110 Revamp roadmap doc
  docs/_sass/custom/custom.scss
  docs/roadmap.md
Labels: area/docs

#1125 More RangeID -> MetaRangeID conversion
  ddl/000020_tree_to_range.down.sql
  ddl/000020_tree_to_range.up.sql
  graveler/committed/meta_range_manager.go
  graveler/committed/meta_range_writer.go
  graveler/graveler.go
  graveler/graveler_test.go
  graveler/ref/commit_iterator.go
  graveler/ref/commit_record.go
  graveler/ref/manager.go
  graveler/ref/manager_test.go
  graveler/ref/resolver_test.go
  graveler/testutil/fakes.go
  graveler/uncommitted_diff_iterator.go
Labels: pr/merge-if-approved

#1131 Rename committed RangeIterator to UnmarshalIterator
  graveler/committed/iterator.go
  graveler/committed/unmarshal_iterator.go
  graveler/committed/unmarshal_iterator_test.go
Labels: pr/merge-if-approved

#1137 Document nil return value of UpperBoundForPrefix
  graveler/prefix.go
Labels: pr/merge-if-approved
