Repository treeverse/lakeFS, pull requests merged in 2020-08, with the labels that each got.

#393 identify multipart upload scheme
  catalog/cataloger_list_commits_test.go
  gateway/operations/postobject.go
  httputil/scheme.go
Labels: merge if approved

#401 Hide "lakectl repo retention"
  cmd/lakectl/cmd/repo.go
Labels: merge if approved

#402 Remove retention documentation
  docs/reference/retention.md
Labels: merge if approved

#387 branch check exist before upload api or gateway
  api/api_controller.go
  api/api_controller_test.go
  catalog/cataloger.go
  catalog/cataloger_cache.go
  catalog/cataloger_delete_repository.go
  catalog/cataloger_is_branch_exists.go
  catalog/errors.go
  gateway/operations/putobject.go
Labels: merge if approved

#408 Add copyright NOTICE file
  NOTICE
Labels: merge if approved

#410 Publish coverage information to CodeCov
  .github/workflows/go.yaml
Labels: merge if approved

#396 Remove DedupFoundCallback type
  catalog/cataloger.go
Labels: merge if approved

#413 Get access key ID from AWS session
  config/config.go
Labels: high priority, merge if approved

#414 Support writing reports for expiry S3 batch tagging
  cmd/lakefs/cmd/expire.go
  config/config.go
  retention/expiry.go
Labels: high priority, merge if approved

#392 Check makefile dependencies
  .github/workflows/go.yaml
  Makefile
Labels: merge if approved

#405 Make expiry safe from racing against entry dedupe
  catalog/cataloger.go
  catalog/cataloger_create_entry_test.go
  catalog/cataloger_retention.go
  catalog/cataloger_retention_test.go
  catalog/cataloger_test.go
  cmd/lakefs/cmd/expire.go
  db/database.go
  ddl/000002_retention.down.sql
  ddl/000002_retention.up.sql
  retention/expiry.go
  retention/parser.go
  retention/service.go
Labels: epic/retention

#466 453 Move setup lakefs
  api/api_controller.go
  api/api_controller_test.go
  api/handler.go
  api/setup_lakefs_handler.go
  api/setup_lakefs_handler_test.go
  docs/assets/js/swagger.yml
  swagger.yml
  webui/src/actions/api.js
Labels: area/API

#419 System tests design document
  design/system_tests.md
Labels: area/docs

#476 Run Go CI tests also on merge-to-master
  .github/workflows/go.yaml
Labels: pr/merge-if-approved

#480 Use only branch master for badges
  README.md
Labels: pr/merge-if-approved

#475 Remove gender from familial nouns
  catalog/cataloger_create_branch.go
  catalog/cataloger_diff.go
  catalog/cataloger_diff_test.go
  catalog/cataloger_list_entries.go
  catalog/cataloger_merge.go
  catalog/cataloger_merge_test.go
  catalog/db.go
  catalog/relation_type.go
  catalog/views.go
  ddl/000003_degender.down.sql
  ddl/000003_degender.up.sql
  docs/assets/js/swagger.yml
Labels: pr/merge-if-approved

#493 451 system tests skeleton
  .env
  .github/workflows/nessie.yaml
  Makefile
  api/api_controller.go
  docker-compose.yaml
  docs/assets/js/swagger.yml
  go.mod
  go.sum
  nessie/system_test.go
  swagger.yml
Labels: new-feature

#515 Combine Nessie's endpoint and scheme to 1 flag
  .github/workflows/nessie.yaml
  Makefile
  nessie/system_test.go
Labels: area/system-tests

#517 Add Nessie's merge and list test
  nessie/system_test.go
Labels: area/system-tests

#519 Nessie to run on master merge
  .github/workflows/nessie.yaml
Labels: bug, pr/merge-if-approved

#503 docs: add link to import API after create repo
  docs/deploying/setup.md
Labels: pr/merge-if-approved

#530 527 Break quickstart to several pages
  docs/assets/img/create_repo.png
  docs/assets/img/create_repo_local.png
  docs/assets/img/create_repo_s3.png
  docs/deploying/setup.md
  docs/index.md
  docs/quickstart.md
  docs/quickstart/aws_cli.md
  docs/quickstart/index.md
  docs/quickstart/installing.md
  docs/quickstart/lakefs_cli.md
  docs/quickstart/other_installations.md
  docs/quickstart/repository.md
  docs/reference/commands.md
Labels: area/docs

#537 Redirect quickstart.html
  docs/_config.yml
  docs/quickstart/index.md
Labels: area/docs, pr/merge-if-approved
