Repository treeverse/lakeFS, pull requests merged in 2020-11, with the labels that each got.

#893 Enable GetCommit to work when branch name, returns the last commit on
  catalog/cataloger_get_commit.go
  catalog/cataloger_get_commit_test.go
Labels: area/cataloger

#911 Hide "lakectl export" command and clean it up
  cmd/lakectl/cmd/export.go
  swagger.yml
Labels: pr/merge-if-approved

#925 docs: upgrade page for aws deploy
  docs/deploying/upgrade.md
Labels: area/docs

#923 S3 reference and example parameters to work with MinIO
  docs/reference/configuration.md
Labels: docs

#941 Make "lakefs init" work when _not_ specifying access_key_id
  cmd/lakefs/cmd/init.go
Labels: pr/high-priority, pr/merge-if-approved

#952 [bugfix] return ErrNotFound correctly
  db/errors.go
  db/tx.go
  db/tx_test.go
Labels: pr/high-priority, pr/merge-if-approved

#975 sstable writer to accept a single rocks.EntryRecord arg
  forest/sstable/sstable.go
Labels: pr/merge-if-approved
