Repository treeverse/lakeFS, pull requests merged in 2021-09, with the labels that each got.

#2425 [redo] Add all pebble sstable tests, support 2-level index SSTables
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/clients/SSTableReader.scala
  clients/spark/core/src/main/scala/io/treeverse/jpebble/BlockParser.scala
  clients/spark/core/src/main/scala/io/treeverse/jpebble/BlockReadable.scala
  clients/spark/core/src/test/resources/pebble-testdata/.gitignore
  clients/spark/core/src/test/resources/pebble-testdata/LICENSE
  clients/spark/core/src/test/resources/pebble-testdata/Makefile
  clients/spark/core/src/test/resources/pebble-testdata/block
  clients/spark/core/src/test/resources/pebble-testdata/h.block-bloom.no-compression.sst
  clients/spark/core/src/test/resources/pebble-testdata/h.ldb
  clients/spark/core/src/test/resources/pebble-testdata/h.no-compression.sst
  clients/spark/core/src/test/resources/pebble-testdata/h.no-compression.two_level_index.sst
  clients/spark/core/src/test/resources/pebble-testdata/h.sst
  clients/spark/core/src/test/resources/pebble-testdata/h.table-bloom.no-compression.prefix_extractor.no_whole_key_filter.sst
  clients/spark/core/src/test/resources/pebble-testdata/h.table-bloom.no-compression.sst
  clients/spark/core/src/test/resources/pebble-testdata/h.table-bloom.sst
  clients/spark/core/src/test/resources/pebble-testdata/h.txt
  clients/spark/core/src/test/resources/pebble-testdata/hamlet-act-1.txt
  clients/spark/core/src/test/resources/pebble-testdata/hamletreader/hamlet_iter
  clients/spark/core/src/test/resources/pebble-testdata/make-table.cc
  clients/spark/core/src/test/resources/pebble-testdata/prefixreader/bloom
  clients/spark/core/src/test/resources/pebble-testdata/prefixreader/iter
  clients/spark/core/src/test/resources/pebble-testdata/readahead
  clients/spark/core/src/test/resources/pebble-testdata/reader/bloom
  clients/spark/core/src/test/resources/pebble-testdata/reader/iter
  clients/spark/core/src/test/resources/pebble-testdata/writer
  clients/spark/core/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
Labels: pr/merge-if-approved

#2428 Add example for Specific Repository ReadWriteAccess
  docs/reference/authorization.md
Labels: docs

#2444 Update docs swagger.yml & bump CHANGELOG version
  CHANGELOG.md
  clients/java/.project
  docs/assets/js/swagger.yml
Labels: pr/merge-if-approved

#2449 Docs: Fixed wrong env var explanation
  docs/reference/configuration.md
Labels: docs

#2436 Fix the double slash namespace bug
  CHANGELOG.md
  cmd/lakefs/cmd/run.go
  docs/reference/upgrade.md
  pkg/block/azure/adapter.go
  pkg/block/namespace.go
  pkg/block/namespace_test.go
Labels: bug

#2450 Rclone: Document setting `no_check_bucket`
  docs/integrations/rclone.md
Labels: pr/merge-if-approved

#2432 Test sst parser
  clients/spark/build.sbt
  clients/spark/core/src/test/resources/parser-test/go.mod
  clients/spark/core/src/test/resources/parser-test/sst_files_generator.go
  clients/spark/core/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
Labels: area/client/spark

#2473 Revert "Fix IsTracing method"
  pkg/logging/logger.go
Labels: pr/merge-if-approved

#2484 Spark metadata client test: Add test to CI and make it pass
  .github/workflows/spark.yaml
  clients/spark/core/src/test/resources/parser-test/go.sum
  clients/spark/core/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
Labels: pr/merge-if-approved

#2487 New Spark Metadata Client version 0.1.6
  clients/spark/build.sbt
Labels: pr/merge-if-approved, area/client/spark
