Repository treeverse/lakeFS, pull requests merged in 2021-06, with the labels that each got.

#2066 Fix CSS keyword typo in README
  README.md
Labels: pr/merge-if-approved

#2039 Add test for file not existing on open()
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
Labels: area/client/spark, pr/merge-if-approved

#2051 Support common prefix listing of diffs (uncommitted, commit view, compare view)
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/BranchesApi.md
  clients/java/docs/Diff.md
  clients/java/docs/ObjectsApi.md
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/BranchesApi.java
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/Diff.java
  clients/python/docs/BranchesApi.md
  clients/python/docs/Diff.md
  clients/python/docs/ObjectsApi.md
  clients/python/docs/RefsApi.md
  clients/python/lakefs_client/api/branches_api.py
  clients/python/lakefs_client/api/objects_api.py
  clients/python/lakefs_client/api/refs_api.py
  clients/python/lakefs_client/model/diff.py
  cmd/lakectl/cmd/fs.go
  nessie/sanity_api_test.go
  nessie/system_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/catalog/interface.go
  webui/src/lib/api/index.js
  webui/src/lib/components/auth/forms.jsx
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/tabs.jsx
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/auth/groups/group/members.jsx
  webui/src/pages/auth/groups/group/policies.jsx
  webui/src/pages/repositories/repository/actions/run/index.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/commit/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/styles/globals.css
Labels: area/API, area/UI

#2074 docs: update Github to GitHub
  docs/_config.yml
Labels: docs

#2080 Unhide export doc
  docs/reference/export.md
Labels: pr/merge-if-approved

#2084 Update minio/minio RELEASE image fetched from dockerhub
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
Labels: pr/merge-if-approved

#2075 Document lakeFSFileSystem
  docs/integrations/spark.md
Labels: area/client/spark, docs

#2085 Run all playback sub-tests in parallel
  Makefile
  pkg/gateway/playback_test.go
  pkg/gateway/simulation_playback_test.go
  pkg/gateway/simulator/simulation_utils.go
Labels: area/testing

#2091 Use Unicode emoji not :warning: to show warnings
  docs/integrations/spark.md
Labels: area/client/spark, docs, pr/high-priority, pr/merge-if-approved

#2090 Tell GH not to expand generated Python client files by default
  clients/.gitattributes
Labels: pr/merge-if-approved

#2107 Fix docs links on new empty repository UI page
  webui/src/lib/components/repository/tree.jsx
Labels: bug

#2100 Test spark app with spark 2.x
  .github/workflows/nessie.yaml
  test/spark/.env
  test/spark/app/build.sbt
  test/spark/app/project/types.scala
  test/spark/docker-compose.yaml
  test/spark/run-test.sh
Labels: area/testing

#2108 vite update to v2.3.7
  webui/package-lock.json
  webui/package.json
Labels: infrastructure

#2112 Add "Maven" as required build dependency to "Contributing"
  docs/contributing.md
Labels: docs, pr/merge-if-approved

#2122 Reduce the output level of mvn on lakefsfs build
  .github/workflows/hadoopfs.yaml
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
  clients/hadoopfs/src/test/resources/log4j.properties
Labels: infrastructure

#2120 fix commit error capture and render error
  webui/src/pages/repositories/repository/changes.jsx
Labels: area/UI, bug

#2117 fix: ui delete repository model dismiss should reset state
  webui/src/pages/repositories/repository/settings.jsx
Labels: area/UI, bug

#2125 docs: presto keep old links work
  docs/integrations/presto_trino.md
Labels: docs

#2118 fix create new repository model dialog layout
  webui/src/lib/components/repositoryCreateForm.jsx
Labels: area/UI

#2101 Auth System Tests (#657)
  nessie/auth_test.go
  pkg/testutil/setup.go
Labels: area/system-tests

#2130 update lakectl branch create output to include branch name
  cmd/lakectl/cmd/branch.go
Labels: area/lakectl

#2133 Add Airbyte Documentation
  docs/assets/img/airbyte.png
  docs/integrations/airbyte.md
Labels: docs

#2138 skip test azure blobstore
  .github/workflows/nessie.yaml
Labels: area/system-tests, pr/merge-if-approved

#2124 Deploy release builds
  clients/hadoopfs/pom.xml
  docs/assets/js/swagger.yml
  docs/integrations/spark.md
Labels: pr/merge-if-approved

#2159 UI files prevent cache by response headers
  pkg/api/ui_handler.go
Labels: area/UI, bug
