Repository treeverse/lakeFS, pull requests merged in 2021-02, with the labels that each got.

#1382 Bring back a missing "import ... deep" line
  api/controller_test.go
Labels: pr/merge-if-approved

#1396 Test batch closer with parallelism
  graveler/committed/batch_test.go
Labels: pr/merge-if-approved

#1404 Upgrade gitleaks action to v1.3.0
  .github/workflows/go.yaml
Labels: pr/merge-if-approved

#1413 Allow dumping references (tags, branches and commits) as graveler files
  Makefile
  api/client.go
  api/controller.go
  catalog/cataloger.go
  catalog/entry_catalog.go
  catalog/fake_graveler_test.go
  catalog/rocks_cataloger.go
  cmd/lakectl/cmd/refs.go
  cmd/lakectl/cmd/sst.go
  graveler/committed/batch_test.go
  graveler/committed/manager.go
  graveler/committed/meta_range.go
  graveler/committed/meta_range_manager.go
  graveler/committed/meta_range_writer.go
  graveler/committed/meta_range_writer_test.go
  graveler/committed/range_manager.go
  graveler/graveler.go
  graveler/graveler.pb.go
  graveler/graveler.proto
  graveler/ref/commit_ordered_iterator.go
  graveler/ref/manager.go
  graveler/serde.go
  graveler/sstable/range_manager.go
  graveler/sstable/range_manager_test.go
  graveler/sstable/writer.go
  graveler/sstable/writer_test.go
  graveler/testutil/fakes.go
  permissions/actions.go
  swagger.yml
Labels: area/cataloger, area/tools

#1408 generate CLI docs automatically from command help text
  Makefile
  cmd/lakectl/cmd/completion.go
  cmd/lakectl/cmd/docs.go
  docs/reference/commands.md
Labels: docs, improvement, infrastructure

#1450 Ignore some more scala-ish generated and compile-phase files
  clients/.gitignore
Labels: pr/merge-if-approved

#1457 Remove export leftovers from API
  swagger.yml
Labels: pr/merge-if-approved

#1453 added a first abuse command: create a lot of branches in parallel!
  cmd/lakectl/cmd/abuse.go
Labels: area/tools

#1483 allow passing an empty delimiter to make object listing recursive
  api/controller.go
  swagger.yml
Labels: improvement

#1491 added Azure support to what is lakefs
  docs/index.md
Labels: area/docs, pr/merge-if-approved

#1498 protoc and swagger validation as part of CI using docker
  .github/workflows/go.yaml
  Makefile
Labels: infrastructure

#1515 Change webhook's Metadata to CommitMetadata
  actions/service_test.go
  actions/webhook.go
Labels: pr/merge-if-approved

#1526 fixed zero size objects in listObjects omitting their size in listObjects
  api/controller.go
  api/controller_test.go
  cmd/lakectl/cmd/fs.go
  swagger.yml
Labels: bug

#1531 immer fix was upstreamed, npm audit fix-ed
  webui/package-lock.json
Labels: security

#1529 added a stage object operation to the API to allow adding arbitrary object metadata
  api/client.go
  api/controller.go
  api/controller_test.go
  block/namespace.go
  cmd/lakectl/cmd/fs.go
  docs/assets/js/swagger.yml
  docs/reference/commands.md
  swagger.yml
Labels: area/API, improvement

#1533 Action hook run results fix listing hooks order
  actions/service.go
  actions/service_test.go
Labels: bug
