Repository treeverse/lakeFS, pull requests merged in 2021-04, with the labels that each got.

#1707 [BUG] Allow Nessie subtests to create repositories
  nessie/system_test.go
Labels: pr/merge-if-approved

#1696 Replace Java's URL with URI
  clients/spark/core/src/main/scala/io/treeverse/clients/Exporter.scala
Labels: pr/merge-if-approved

#1710 fix: API merge message is optional
  api/swagger.yml
  benchmarks/main.go
  docs/assets/js/swagger.yml
  pkg/api/controller.go
Labels: bug

#1207 Add slack channel join link in startup banner
  cmd/lakefs/cmd/run.go
  docs/slack/index.md
Labels: pr/merge-if-approved

#1740 fix response parse for create branch
  api/swagger.yml
  docs/assets/js/swagger.yml
  webui/src/actions/api.js
Labels: bug

#1764 Run GitHub actions when a file under .github changes
  .github/workflows/benchmark.yaml
  .github/workflows/go.yaml
  .github/workflows/nessie.yaml
Labels: pr/high-priority, pr/merge-if-approved

#1772 added link for airflow issue on Github
  docs/roadmap.md
Labels: area/docs

#1783 minor UI fixes: broken URI links, commit tooltip
  webui/src/lib/components/controls.js
  webui/src/lib/components/repository/tree.js
Labels: area/UI

#1787 webui: use first parent for diff of merge commit
  webui/src/pages/repositories/repository/commits/commit/index.js
Labels: area/UI, bug

#1793 ui: missing setup page
  webui/src/index.js
  webui/src/pages/repositories/index.js
  webui/src/pages/setup/index.js
Labels: area/UI, bug

#1711 docs: python openapi client
  docs/architecture/overview.md
  docs/using/python.md
Labels: docs

#1795 bug fix: login check and auth middleware check required security providers
  pkg/api/auth_middleware.go
  pkg/api/controller.go
  pkg/api/serve.go
Labels: bug

#1799 update swagger in docs
  docs/assets/js/swagger.yml
Labels: docs

#1807 fixed broken caller and function detection
  pkg/auth/service_test.go
  pkg/block/factory/build.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/logger.go
  pkg/gateway/multiparts/main_test.go
  pkg/graveler/main_test.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/staging/main_test.go
  pkg/loadtest/loader.go
  pkg/logging/aws.go
  pkg/logging/logger.go
  pkg/pyramid/tier_fs.go
Labels: bug

#1816 Add using documentation for SageMaker
  docs/using/sagemaker.md
Labels: area/docs

#1823 added support for put-if-absent operations
  api/swagger.yml
  clients/python/docs/ObjectsApi.md
  clients/python/lakefs_client/api/objects_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/staging/manager.go
  pkg/graveler/staging/manager_test.go
  pkg/graveler/testutil/fakes.go
Labels: area/API

#1830 location header fix in metadata
  api/swagger.yml
  pkg/api/controller.go
Labels: pr/merge-if-approved

#1831 missing docs of location header for redirect to s3
  clients/python/docs/MetadataApi.md
Labels: pr/merge-if-approved
