Repository treeverse/lakeFS, pull requests merged in 2021-12, with the labels that each got.

#2765 Update README.md of Metadata client
  clients/spark/README.md
Labels: exclude-changelog

#2770 Ignore .env file working with the Everything Bagel compose file
  .gitignore
  deployments/compose/README.md
  nessie/ops/.env
  nessie/ops/docker-compose.yaml
  test/spark/.env
  test/spark/docker-compose.yaml
Labels: exclude-changelog

#2772 UI: Auto-redirect according to whether lakeFS has been setup
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ConfigApi.md
  clients/java/docs/SetupState.md
  clients/java/src/main/java/io/lakefs/clients/api/ConfigApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/SetupState.java
  clients/java/src/test/java/io/lakefs/clients/api/ConfigApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/SetupStateTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/ConfigApi.md
  clients/python/docs/SetupState.md
  clients/python/lakefs_client/api/config_api.py
  clients/python/lakefs_client/model/setup_state.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_config_api.py
  clients/python/test/test_setup_state.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  webui/src/lib/api/index.js
  webui/src/pages/auth/login.jsx
  webui/src/pages/setup/index.jsx
Labels: exclude-changelog

#2775 git secret patterns allowed based on current code and docs examples
  .gitallowed
Labels: exclude-changelog

#2774 Auth entity validate not empty
  pkg/auth/model/validation.go
Labels: include-changelog

#2777 CHANGELOG for version 0.56.0
  CHANGELOG.md
Labels: exclude-changelog

#2769 Add dbt to Everything bagel
  deployments/compose/README.md
  deployments/compose/dbt/Dockerfile
  deployments/compose/dbt/dbt-project/.gitignore
  deployments/compose/dbt/dbt-project/README.md
  deployments/compose/dbt/dbt-project/analysis/.gitkeep
  deployments/compose/dbt/dbt-project/data/.gitkeep
  deployments/compose/dbt/dbt-project/dbt_project.yml
  deployments/compose/dbt/dbt-project/macros/.gitkeep
  deployments/compose/dbt/dbt-project/macros/create-schema.sql
  deployments/compose/dbt/dbt-project/models/example/my_first_dbt_model.sql
  deployments/compose/dbt/dbt-project/models/example/my_second_dbt_model.sql
  deployments/compose/dbt/dbt-project/models/example/schema.yml
  deployments/compose/dbt/dbt-project/other/.gitignore
  deployments/compose/dbt/dbt-project/other/README.md
  deployments/compose/dbt/dbt-project/other/analysis/.gitkeep
  deployments/compose/dbt/dbt-project/other/data/.gitkeep
  deployments/compose/dbt/dbt-project/other/dbt_project.yml
  deployments/compose/dbt/dbt-project/other/macros/.gitkeep
  deployments/compose/dbt/dbt-project/other/models/example/my_first_dbt_model.sql
  deployments/compose/dbt/dbt-project/other/models/example/my_second_dbt_model.sql
  deployments/compose/dbt/dbt-project/other/models/example/schema.yml
  deployments/compose/dbt/dbt-project/other/snapshots/.gitkeep
  deployments/compose/dbt/dbt-project/other/tests/.gitkeep
  deployments/compose/dbt/dbt-project/out.txt
  deployments/compose/dbt/dbt-project/snapshots/.gitkeep
  deployments/compose/dbt/dbt-project/tests/.gitkeep
  deployments/compose/dbt/profiles.yml
  deployments/compose/dbt/requirements.txt
  deployments/compose/docker-compose.yml
  deployments/compose/etc/hive-site.xml
  deployments/compose/etc/s3.properties
  deployments/compose/etc/spark-thrift-entrypoint.sh
Labels: include-changelog

#2783 Upgrade lakeFS api client to v0.56.0 for hadoop-lakefs and spark client
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
  clients/spark/build.sbt
Labels: exclude-changelog

#2782 Summary of the feature of log commits per path
  design/log-commits-per-path.md
Labels: exclude-changelog

#2780 Use https links when possible in code and code examples
  cmd/lakefs/cmd/run.go
  pkg/catalog/validate.go
  pkg/gateway/errors/errors.go
  pkg/gateway/sig/sig.go
  pkg/gateway/sig/v4_streaming_reader.go
Labels: exclude-changelog

#2776 Security audit check
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/VersionConfig.md
  clients/java/src/main/java/io/lakefs/clients/api/model/VersionConfig.java
  clients/java/src/test/java/io/lakefs/clients/api/model/VersionConfigTest.java
  clients/python/docs/VersionConfig.md
  clients/python/lakefs_client/model/version_config.py
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  pkg/api/audit.go
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/loadtest/local_load_test.go
  pkg/version/audit.go
  pkg/version/audit_test.go
  webui/src/lib/components/navbar.jsx
Labels: include-changelog

#2737 Optimize merge by skipping ranges with same bounds
  pkg/graveler/committed/apply.go
  pkg/graveler/committed/diff.go
  pkg/graveler/committed/diff_test.go
  pkg/graveler/committed/iterator.go
  pkg/graveler/committed/iterator_test.go
  pkg/graveler/committed/merge_iterator.go
  pkg/graveler/committed/merge_iterator_test.go
  pkg/graveler/committed/merge_test.go
  pkg/graveler/committed/meta_range.go
  pkg/graveler/graveler.go
Labels: include-changelog

#2715 initial metastore design
  design/diagrams/hive_metastore_database_diagram.png
  design/diagrams/metastore-alt.excalidraw
  design/diagrams/metastore-alt.png
  design/diagrams/metastore.excalidraw
  design/diagrams/metastore.png
  design/metastore-project.md
  design/metastore.md
Labels: exclude-changelog

#2752 add link to data versioning article
  docs/faq.md
Labels: docs, exclude-changelog

#2788 Delete objects open-api
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectError.md
  clients/java/docs/ObjectErrorList.md
  clients/java/docs/ObjectsApi.md
  clients/java/docs/PathList.md
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/ObjectError.java
  clients/java/src/main/java/io/lakefs/clients/api/model/ObjectErrorList.java
  clients/java/src/main/java/io/lakefs/clients/api/model/PathList.java
  clients/java/src/test/java/io/lakefs/clients/api/ObjectsApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/ObjectErrorListTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/ObjectErrorTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/PathListTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/ObjectError.md
  clients/python/docs/ObjectErrorList.md
  clients/python/docs/ObjectsApi.md
  clients/python/docs/PathList.md
  clients/python/lakefs_client/api/objects_api.py
  clients/python/lakefs_client/model/object_error.py
  clients/python/lakefs_client/model/object_error_list.py
  clients/python/lakefs_client/model/path_list.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_object_error.py
  clients/python/test/test_object_error_list.py
  clients/python/test/test_objects_api.py
  clients/python/test/test_path_list.py
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/errors.go
  pkg/gateway/operations/deleteobjects.go
Labels: include-changelog

#2806 Update changelog for v0.57.0
  CHANGELOG.md
Labels: exclude-changelog

#2804 Bump HadoopFS version to 0.1.4 in docs
  docs/integrations/spark.md
Labels: exclude-changelog

#2808 Optimize SeekGE in committed iterator
  pkg/graveler/committed/iterator.go
Labels: include-changelog

#2818 Fix port mapping for Trino
  deployments/compose/docker-compose.yml
Labels: exclude-changelog

#2819 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog

#2820 Sync docs swagger.yml
  docs/assets/js/swagger.yml
Labels: exclude-changelog

#2823 add link to inventory import blog to docs page
  docs/setup/import.md
Labels: docs, exclude-changelog

#2813 Add Tests for metastore commands using Trino and DBT
  .github/workflows/nessie.yaml
  test/lakectl_metastore/dbt-entrypoint.sh
  test/lakectl_metastore/dbt/Dockerfile
  test/lakectl_metastore/dbt/dbt-project/dbt_project.yml
  test/lakectl_metastore/dbt/dbt-project/macros/.gitkeep
  test/lakectl_metastore/dbt/dbt-project/models/reviews/amazon_reviews.sql
  test/lakectl_metastore/dbt/dbt-project/models/reviews/star_rating.sql
  test/lakectl_metastore/dbt/dbt-project/models/reviews/star_rating_view.sql
  test/lakectl_metastore/dbt/profiles.yml
  test/lakectl_metastore/dbt/requirements.txt
  test/lakectl_metastore/docker-compose.yml
  test/lakectl_metastore/etc/hive-site.xml
  test/lakectl_metastore/etc/jvm.config
  test/lakectl_metastore/etc/lakefs.properties
  test/lakectl_metastore/etc/s3.properties
  test/lakectl_metastore/etc/spark-thrift-entrypoint.sh
  test/lakectl_metastore/hive/Dockerfile
  test/lakectl_metastore/hive/entrypoint.sh
  test/lakectl_metastore/setup-test.sh
  test/lakectl_metastore/tester.env
  test/lakectl_metastore/wait-for-trino.sh
Labels: exclude-changelog

#2805 UI testing proposal
  design/ui-testing.md
Labels: exclude-changelog

#2828 docs: youtube footer link
  docs/_config.yml
  docs/assets/icons/youtube-hover.svg
  docs/assets/icons/youtube.png
  docs/assets/icons/youtube.svg
Labels: docs, exclude-changelog

#2822 Optimize merge in case source or destination are identical to base
  pkg/graveler/committed/manager.go
Labels: include-changelog

#2830 boto router docs
  docs/integrations/boto.md
Labels: exclude-changelog

#2833 Update CHANGELOG.md v0.57.2
  CHANGELOG.md
Labels: exclude-changelog

#2831 Some wording and new image on quickstart
  docs/assets/img/object_added.png
  docs/integrations/airflow.md
  docs/integrations/kubeflow.md
  docs/quickstart/add_data.md
  docs/quickstart/first_commit.md
  docs/quickstart/repository.md
Labels: exclude-changelog

#2832 Include Jupyter notebook in our everything bagel
  deployments/compose/README.md
  deployments/compose/docker-compose.yml
  deployments/compose/notebook/Dockerfile
  deployments/compose/notebook/notebook-config.py
Labels: include-changelog

#2837 Fix naming in apply
  pkg/graveler/committed/apply.go
  pkg/graveler/committed/apply_test.go
Labels: exclude-changelog

#2835 Added branch exsitence check to createMultiPart
  pkg/gateway/operations/postobject.go
Labels: bug, include-changelog

#2843 hadoop filesystem hadoop-aws version align and shade api client
  clients/hadoopfs/pom.xml
Labels: include-changelog

#2778 design of the export functionality
  design/export-functionality.md
Labels: exclude-changelog

#2845 Removed '\n' so the output is purely identical to origin when calling Lakectl fs cat
  cmd/lakectl/cmd/fs.go
Labels: bug, area/lakectl, include-changelog

#2848 Clarify what is a valid source for lakectl ingest command
  cmd/lakectl/cmd/ingest.go
  docs/reference/commands.md
  docs/setup/import.md
Labels: exclude-changelog
