Repository treeverse/lakeFS, pull requests merged in 2021-08, with the labels that each got.

#2340 fix dbTx time counting error
  pkg/db/tx.go
Labels: bug

#2342 docs: populate versions on window load event
  docs/_layouts/default.html
Labels: bug

#2384 docker build ignore additional directories
  .dockerignore
Labels: infrastructure

#2389 Add support for big files upload
  pkg/api/helpers/adapters.go
Labels: bug, area/lakectl

#2387 Make s3 gateway DNS optional
  CHANGELOG.md
  cmd/lakefs/cmd/run.go
  deployments/compose/docker-compose.yml
  deployments/compose/etc/hive-site.xml
  deployments/compose/etc/s3.properties
  docker-compose.yaml
  docs/deploy/aws.md
  docs/deploy/azure.md
  docs/deploy/docker.md
  docs/deploy/gcp.md
  docs/deploy/includes/aws-docker-config.md
  docs/deploy/includes/aws-docker-run.md
  docs/deploy/includes/aws-helm-values.md
  docs/deploy/includes/azure-docker-config.md
  docs/deploy/includes/azure-docker-run.md
  docs/deploy/includes/azure-helm-values.md
  docs/deploy/includes/gcp-docker-config.md
  docs/deploy/includes/gcp-docker-run.md
  docs/deploy/includes/gcp-helm-values.md
  docs/deploy/includes/prerequisites.md
  docs/deploy/includes/why-dns.md
  docs/deploy/k8s.md
  docs/integrations/airbyte.md
  docs/integrations/aws_cli.md
  docs/integrations/boto.md
  docs/integrations/databricks.md
  docs/integrations/delta.md
  docs/integrations/distcp.md
  docs/integrations/dremio.md
  docs/integrations/emr.md
  docs/integrations/hive.md
  docs/integrations/kakfa.md
  docs/integrations/presto_trino.md
  docs/integrations/rclone.md
  docs/integrations/sagemaker.md
  docs/integrations/spark.md
  docs/quickstart/aws_cli.md
  docs/quickstart/more_quickstart_options.md
  docs/reference/configuration.md
  docs/setup/virtual-host-addressing.md
  pkg/gateway/handler.go
  pkg/gateway/middleware.go
  pkg/gateway/sig/sig.go
  pkg/gateway/sig/sig_test.go
  pkg/httputil/server.go
  pkg/httputil/server_test.go
Labels: area/gateway, new-feature, docs, infrastructure, area/integrations

#2390 fix possible sigv2 bug when no s3 gw domain is set
  pkg/gateway/middleware.go
  pkg/gateway/operations/postobject.go
Labels: area/gateway

#2381 Fix "checking repositories for mismatched adapter"
  cmd/lakefs/cmd/run.go
Labels: pr/merge-if-approved

#2404 add blockstore type to compose
  deployments/compose/docker-compose.yml
Labels: pr/merge-if-approved

#2408 #2407 update the readme bagel
  deployments/compose/README.md
Labels: docs
