Repository treeverse/lakeFS, pull requests merged in 2021-05, with the labels that each got.

#1832 api authorization jwt check the standard way
  api/swagger.yml
  clients/python/README.md
  clients/python/docs/ActionsApi.md
  clients/python/docs/AuthApi.md
  clients/python/docs/BranchesApi.md
  clients/python/docs/CommitsApi.md
  clients/python/docs/ConfigApi.md
  clients/python/docs/MetadataApi.md
  clients/python/docs/ObjectsApi.md
  clients/python/docs/RefsApi.md
  clients/python/docs/RepositoriesApi.md
  clients/python/docs/StagingApi.md
  clients/python/docs/TagsApi.md
  clients/python/lakefs_client/configuration.py
  pkg/api/auth_middleware.go
  pkg/api/auth_middleware_test.go
Labels: area/API

#1801 Upgrade NodeJS we use to build the webui
  .github/workflows/docker-publish.yaml
  .github/workflows/go.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/nessie.yaml
  .github/workflows/node.yaml
  webui/package-lock.json
Labels: infrastructure

#1870 Add Java OpenAPI client up-to-date validation
  Makefile
Labels: pr/merge-if-approved

#1891 Unshade RocksDB in Spark clients; rename api client to match new name
  clients/spark/build.sbt
Labels: pr/high-priority, pr/merge-if-approved

#1936 Throw FileNotFoundException from getFileStatus
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
Labels: area/client/spark, pr/merge-if-approved

#1922 hadoopfs listFiles
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/Constants.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/main/java/io/lakefs/ObjectLocation.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
Labels: area/client/spark

#1924 Test lakeFS with direct-access "thick" Spark client
  .github/workflows/nessie.yaml
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  test/spark/app/src/main/scala/Sonnets.scala
  test/spark/docker-compose.yaml
  test/spark/run-test.sh
  test/spark/setup-test.sh
Labels: area/client/spark

#1957 Fix support email in docs
  docs/faq.md
Labels: area/docs, pr/merge-if-approved

#1937 Move FileStatus in line with Spark expectations
  clients/hadoopfs/src/main/java/io/lakefs/Constants.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
Labels: area/client/spark

#1984 Change airflow documentation
  docs/integrations/airflow.md
Labels: area/docs

#1990 gateway on get without version should return after error
  pkg/gateway/operations/getobject.go
Labels: bug

#2022 Require Spark thick client Nessie test to pass
  .github/workflows/nessie.yaml
Labels: area/client/spark, pr/merge-if-approved

#2025 Cleanup "debug" logs on main flow
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
Labels: pr/merge-if-approved

#1994 fix adapter qualified key format to not use path.Join
  pkg/block/namespace.go
  pkg/block/namespace_test.go
Labels: area/block-adapter, bug
