Repository treeverse/lakeFS, pull requests merged in 2021-03, with the labels that each got.

#1545 Actions listing pagination fix result amout
  api/controller.go
Labels: bug

#1549 Update doc on which Go version used in build
  docs/contributing.md
Labels: docs

#1582 Special warning before delete import branch
  webui/src/components/BranchesPage.js
Labels: area/UI

#1576 Remove entry catalog
  api/controller.go
  api/controller_test.go
  api/serve.go
  api/serve_test.go
  catalog/actions_source.go
  catalog/catalog.go
  catalog/catalog_test.go
  catalog/entry_catalog.go
  catalog/entry_catalog_test.go
  catalog/interface.go
  catalog/rocks_cataloger.go
  catalog/testutils/testutils.go
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/diagnose.go
  cmd/lakefs/cmd/diagnostics.go
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/run.go
  diagnostics/collector.go
  gateway/handler.go
  gateway/middleware.go
  gateway/operations/base.go
  gateway/operations/deleteobject.go
  gateway/operations/deleteobjects.go
  gateway/operations/getobject.go
  gateway/operations/headobject.go
  gateway/operations/listbuckets.go
  gateway/operations/listobjects.go
  gateway/operations/operation_utils.go
  gateway/operations/putobject.go
  gateway/playback_test.go
  graveler/sstable/range_manager.go
  graveler/sstable/range_manager_test.go
  loadtest/local_load_test.go
  onboard/catalog_actions.go
  onboard/catalog_actions_test.go
  onboard/import.go
Labels: improvement

#1581 docs: migrate using docker image
  docs/deploying-aws/upgrade.md
Labels: docs

#1585 Adding arm64 to our release binaries
  .goreleaser.yml
Labels: improvement

#1579 UI: merge render single alert and refresh after dismiss
  webui/src/components/ComparePage.js
Labels: bug

#1603 Check context during apply, diff and merge loops
  pkg/graveler/committed/apply.go
  pkg/graveler/committed/apply_test.go
  pkg/graveler/committed/diff.go
  pkg/graveler/committed/diff_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/merge_iterator.go
  pkg/graveler/committed/merge_iterator_test.go
Labels: bug

#1609 lakectl fs ls fix default delimiter and support recursive
  cmd/lakectl/cmd/fs.go
  pkg/api/client.go
Labels: bug

#1610 Directly include Swagger API ref in docs
  docs/_includes/swagger.html
  docs/_sass/custom/custom.scss
  docs/assets/js/swagger-ui-lakefs.js
  docs/reference/api.md
Labels: pr/merge-if-approved

#1625 update contributing doc
  docs/contributing.md
Labels: area/docs

#1618 batch hot paths for a very short duration
  pkg/batch/executor.go
  pkg/batch/executor_test.go
  pkg/catalog/catalog.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
Labels: improvement

#1638 [cleanup] Use "/" build.sbt alias instead of "in"
  clients/spark/build.sbt
Labels: pr/merge-if-approved

#1639 Add OpenAPI endpoints
  api/swagger.yml
  docs/assets/js/swagger.yml
Labels: pr/merge-if-approved

#1679 Avoid logging v2 sigs on failure
  pkg/gateway/sig/v2.go
Labels: pr/merge-if-approved

#1682 Limit length of graveler serialization
  pkg/graveler/committed/value.go
Labels: pr/merge-if-approved

#1664 Specify required client actions if linking races commit
  api/swagger.yml
  docs/assets/js/swagger.yml
Labels: pr/merge-if-approved
