Repository treeverse/lakeFS, pull requests merged in 2021-07, with the labels that each got.

#2179 first pass at roadmap overhaul
  docs/understand/roadmap.md
Labels: docs

#2109 ui: getting started guides
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/actions/index.jsx
Labels: area/UI

#2221 docs: update commands with base-uri additional information
  docs/reference/commands.md
Labels: docs

#2222 TEST_WITH_SERVER_TIMEOUT env var boolean to control test server timeout
  pkg/api/serve_test.go
Labels: area/testing

#2223 Authorization docs fix example policies
  docs/reference/authorization.md
Labels: docs

#2240 Support post-merge and post-commit events
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/run.go
  nessie/hooks_test.go
  nessie/webhook_server_test.go
  pkg/actions/action.go
  pkg/actions/service.go
  pkg/actions/service_test.go
  pkg/api/serve_test.go
  pkg/loadtest/local_load_test.go
Labels: area/hooks

#2252 [lakectl] Show "fs" command, start all command descriptions with capital letter
  cmd/lakectl/cmd/abuse.go
  cmd/lakectl/cmd/auth.go
  cmd/lakectl/cmd/branch.go
  cmd/lakectl/cmd/commit.go
  cmd/lakectl/cmd/config.go
  cmd/lakectl/cmd/fs.go
  cmd/lakectl/cmd/gc.go
  cmd/lakectl/cmd/log.go
  cmd/lakectl/cmd/merge.go
  cmd/lakectl/cmd/metastore.go
  cmd/lakectl/cmd/refs.go
  cmd/lakectl/cmd/repo.go
  cmd/lakectl/cmd/tag.go
  cmd/lakefs/cmd/migrate.go
Labels: pr/merge-if-approved

#2225 Add a forwarding ClassLoader to help load 2 copies of rocksdbjni
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/clients/SSTableReader.scala
  clients/spark/core/src/main/scala/io/treeverse/utils/AsInterface.scala
  clients/spark/core/src/main/scala/io/treeverse/utils/AsInterfaceClassLoader.scala
  clients/spark/core/src/test/scala/io/treeverse/utils/AsInterfaceTest.scala
  clients/spark/core/src/test/scala/io/treeverse/utils/Boo.scala
  clients/spark/core/src/test/scala/io/treeverse/utils/Foo.scala
  clients/spark/core/src/test/scala/io/treeverse/utils/Goo.scala
  clients/spark/core/src/test/scala/io/treeverse/utils/Moo.scala
Labels: area/client/spark

#2258 Improve hooks docs and add an experimentation section
  docs/assets/img/svix_play.png
  docs/setup/hooks.md
Labels: area/hooks, docs

#2273 docs: categorize the roadmap items by new use cases
  docs/understand/roadmap.md
Labels: docs

#2274 Docs/use cases
  docs/index.md
  docs/usecases/cd.md
  docs/usecases/ci.md
  docs/usecases/data-devenv.md
  docs/usecases/index.md
  docs/usecases/production.md
Labels: docs

#2289 Fix docker-compose spelling
  deployments/compose/README.md
Labels: pr/merge-if-approved

#2291 Add Airflow hook documentation
  docs/setup/hooks.md
  pkg/actions/airflow.go
  pkg/actions/service_test.go
Labels: area/hooks, docs

#2285 Switch to use Node JS v14.x LTS
  .github/workflows/docker-publish.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/nessie.yaml
  .github/workflows/node.yaml
  .github/workflows/test.yaml
  webui/package-lock.json
Labels: area/UI

#2297 publish assemly and s3 upload
  .github/workflows/publish-hadoop-lakefs.yaml
Labels: area/client/spark

#2306 Update docs/integrations/python.md to use consistent quotation marks
  docs/integrations/python.md
Labels: docs

#2310 docs: documentation contribution
  docs/contributing.md
Labels: docs
