Repository treeverse/lakeFS, pull requests merged in 2021-01, with the labels that each got.

#1147 Add Exists method to TierFS, remove "from" argument from range iterator constructor
  block/adapter.go
  block/gs/adapter.go
  block/local/adapter.go
  block/local/adapter_test.go
  block/mem/adapter.go
  block/s3/adapter.go
  block/transient/adapter.go
  gateway/operations/mock_adapter_test.go
  graveler/committed/iterator.go
  graveler/committed/iterator_test.go
  graveler/committed/manager.go
  graveler/committed/range_manager.go
  graveler/graveler.go
  graveler/graveler_test.go
  graveler/sstable/cache.go
  graveler/sstable/cache_test.go
  graveler/sstable/iterator_test.go
  graveler/sstable/manager.go
  graveler/sstable/manager_test.go
  graveler/sstable/writer_test.go
  graveler/testutil/fakes.go
  pyramid/pyramid.go
  pyramid/tier_fs.go
Labels: pr/merge-if-approved

#1153 Fix wrong error name in documentation
  graveler/branch_locker.go
Labels: pr/merge-if-approved

#1161 Fix disk writer should get a new hash for each file
  graveler/sstable/manager.go
  graveler/sstable/manager_test.go
  graveler/sstable/writer.go
Labels: bug

#1168 Fix and test cataloger.BranchExists
  catalog/rocks/cataloger.go
  catalog/rocks/cataloger_test.go
  catalog/rocks/entry_catalog_test.go
  catalog/rocks/fake_graveler_test.go
Labels: pr/merge-if-approved

#1171 Fix unexpanded tildes in cache dirs
  config/config.go
Labels: pr/merge-if-approved

#1176 Committed manager get by key
  graveler/committed/manager.go
Labels: pr/merge-if-approved

#1173 Fix range record parsing
  graveler/committed/iterator.go
  graveler/committed/iterator_test.go
  graveler/committed/value.go
Labels: pr/merge-if-approved

#1182 Apply server-side default log amount limit always
  api/api_controller.go
Labels: pr/merge-if-approved

#1189 [bug] Correctly fetch committed objects
  graveler/staging/manager.go
  graveler/staging/manager_test.go
Labels: pr/merge-if-approved

#1192 Write "last-modified" date to entries on staging
  catalog/rocks/cataloger.go
  catalog/rocks/entry_catalog_test.go
Labels: pr/merge-if-approved

#1194 Emit "rows done" message with duration only _once_, at end of read
  db/logged_rows.go
Labels: pr/merge-if-approved

#1205 Correct slice body when reporting a response for trace
  httputil/tracing.go
Labels: pr/merge-if-approved

#1210 Make graveler.ErrNotFound wrap db.ErrNotFound
  graveler/errors.go
Labels: pr/merge-if-approved

#1213 Double-up catalog and graveler errors in api
  api/api_controller.go
Labels: pr/merge-if-approved

#1214 Add a plumbing command to read graveler sstable files
  cmd/lakectl/cmd/sst.go
Labels: area/tools

#1215 Publish coverage from integration tests too
  .github/workflows/nessie.yaml
Labels: pr/merge-if-approved

#1233 Add trace logs to pyramid
  pyramid/tier_fs.go
  pyramid/tier_fs_test.go
Labels: pr/merge-if-approved

#1234 Pyramid cache proportions are proportions not percentages
  pyramid/params/params.go
Labels: pr/merge-if-approved

#1219 Fix branch list include commit id
  api/api_controller.go
  api/api_controller_test.go
  api/client.go
  catalog/model.go
  catalog/mvcc/cataloger_list_branches.go
  catalog/mvcc/cataloger_list_branches_test.go
  catalog/rocks/cataloger.go
  catalog/rocks/cataloger_test.go
  cmd/lakectl/cmd/branch.go
  nessie/sanity_api_test.go
  swagger.yml
  webui/src/components/BranchesPage.js
  webui/src/components/RefDropdown.js
Labels: bug

#1236 Add physical address to "lakectl fs stat"
  cmd/lakectl/cmd/fs.go
Labels: pr/merge-if-approved

#1258 Add api timeout handler to tests
  api/api_controller_test.go
  api/handler_test.go
Labels: release-blocker

#1272 Check if tracing logs are emitted before constructing costly loggers
  cloud/aws/s3inventory/orc_utils.go
  graveler/committed/apply.go
  httputil/tracing.go
  logging/dummy.go
  logging/logger.go
  pyramid/tier_fs.go
  stats/sender.go
Labels: pr/merge-if-approved

#1283 Fix comparison and really emit trace logs
  logging/logger.go
Labels: pr/merge-if-approved

#1285 Fix metarange and range cache params mixup, and boost caches sizes
  catalog/rocks/entry_catalog.go
  config/config.go
Labels: pr/merge-if-approved

#1279 change migrate fetch size from 1k to 10k entries
  catalog/migrate/migrate.go
Labels: pr/merge-if-approved

#1299 fix error on conflict
  catalog/rocks/cataloger.go
Labels: pr/merge-if-approved

#1314 sstable address hashes type, sstables written to block storage without hierarchy
  graveler/committed/range_manager.go
  graveler/sstable/range_manager_test.go
  graveler/sstable/writer.go
  ident/ident.go
  pyramid/tier_fs.go
Labels: area/cataloger

#1334 delete from stage on repository without commit
  graveler/graveler.go
  graveler/graveler_test.go
Labels: bug

#1343 auto confirm commands with -y instead of -f, and only for commands that require it
  cmd/lakectl/cmd/branch.go
  cmd/lakectl/cmd/input.go
  cmd/lakectl/cmd/repo.go
  cmd/lakectl/cmd/root.go
  cmd/lakectl/cmd/sst.go
Labels: improvement
