Repository treeverse/lakeFS, pull requests merged in 2022-05, with the labels that each got.

#3265 Fix TestHooksSuccess
  esti/hooks_test.go
  go.mod
  go.sum
Labels: bug, area/system-tests, exclude-changelog, team/versioning-engine

#3291 UI enable row revert action when possible
  webui/src/lib/components/repository/changes.jsx
Labels: bug, area/UI, include-changelog

#3298 Add logs to reset password
  pkg/api/controller.go
Labels: exclude-changelog

#3295 Upgrade python docs gem package nokogiri
  clients/python/Gemfile.lock
Labels: docs, exclude-changelog

#3252 Force catalog ID in metastore client config to be a string
  cmd/lakectl/cmd/config/config.go
  cmd/lakectl/cmd/root.go
  pkg/config/template.go
  pkg/config/template_test.go
  pkg/config/types.go
  pkg/config/types_test.go
Labels: include-changelog

#3300 Fix: Failing HTTP request hook should be logged
  pkg/actions/airflow.go
  pkg/actions/hook.go
  pkg/actions/service.go
  pkg/actions/webhook.go
Labels: bug, exclude-changelog, team/versioning-engine

#3258 Add TLD for Hadoop LakeFSOutputCommitter
  design/open/spark-outputcommitter/committer.md
Labels: exclude-changelog

#3303 Delete gateway playback tests
  cmd/lakefs/cmd/run.go
  pkg/auth/service.go
  pkg/gateway/handler.go
  pkg/gateway/handler_test.go
  pkg/gateway/main_test.go
  pkg/gateway/middleware.go
  pkg/gateway/operations/base.go
  pkg/gateway/playback_test.go
  pkg/gateway/simulation_playback_test.go
  pkg/gateway/simulator/external_recordings.go
  pkg/gateway/simulator/simulation_recorder.go
  pkg/gateway/simulator/simulation_utils.go
  pkg/gateway/testdata/.gitignore
  pkg/gateway/testutil/gateway_setup.go
Labels: exclude-changelog

#3304 Docs/homepage
  docs/assets/img/promotion_workflow.png
  docs/index.md
Labels: docs, exclude-changelog

#3308 docs: fix invalid links
  docs/contributing.md
  docs/index.md
  docs/reference/configuration.md
  docs/setup/import-mvcc.md
  docs/setup/import.md
Labels: docs, exclude-changelog

#3309 Split authentication and authorization into two separate docs
  docs/reference/authentication.md
  docs/reference/authorization.md
Labels: exclude-changelog

#3319 Fix: login redirects to credentials page
  webui/src/pages/setup/index.jsx
Labels: include-changelog

#3321 Feature airflow dag
  docs/setup/hooks.md
  pkg/actions/airflow.go
  pkg/actions/secure_string.go
  pkg/actions/service.go
  pkg/actions/webhook.go
Labels: area/hooks, include-changelog

#3297 KV Store: StoreMessage and multipart upload implementation
  .gitattributes
  Makefile
  cmd/lakefs/cmd/run.go
  go.sum
  pkg/gateway/handler_test.go
  pkg/gateway/multiparts/db_tracker.go
  pkg/gateway/multiparts/main_test.go
  pkg/gateway/multiparts/multipart.pb.go
  pkg/gateway/multiparts/multipart.proto
  pkg/gateway/multiparts/tracker.go
  pkg/gateway/multiparts/tracker_test.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/kv/kvtest/store.go
  pkg/kv/kvtest/test_model.pb.go
  pkg/kv/kvtest/test_model.proto
  pkg/kv/store.go
  pkg/kv/store_message.go
  pkg/kv/store_message_test.go
Labels: exclude-changelog, team/versioning-engine

#3326 docs: add merge strategy information
  docs/understand/object-model.md
Labels: docs, exclude-changelog

#3318 Friendlier post-setup page
  docs/understand/branching-model.md
  webui/src/lib/components/controls.jsx
  webui/src/pages/setup/index.jsx
  webui/src/styles/globals.css
Labels: include-changelog

#3317 Skip metaclient tests in esti
  .github/workflows/esti.yaml
Labels: exclude-changelog

#3306 Improve Esti Performance
  .github/workflows/esti.yaml
  test/spark/README.md
  test/spark/docker-compose.yaml
  test/spark/run-gc-test.sh
  test/spark/setup-gc-test.sh
Labels: exclude-changelog

#3333 Fix pebble panic in api unit-tests
  pkg/api/serve_test.go
Labels: area/testing, exclude-changelog

#3307 Suggested changes to docs homepage tone
  docs/index.md
Labels: exclude-changelog

#3335 Don't test docs-changes on PRs, do test them on push-to-master
  .github/workflows/test.yaml
Labels: pr/merge-if-approved, docs, infrastructure, exclude-changelog

#3342 UI: fix create repository focus on name
  webui/src/lib/components/repositoryCreateForm.jsx
Labels: area/UI, include-changelog

#3302 Verify sender is properly configured during load
  cmd/lakefs/cmd/run.go
  pkg/api/serve_test.go
  pkg/email/send_email.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog

#3325 KV Migration (export import phase 1) Proposal
  design/accepted/kv_migration.md
Labels: exclude-changelog, team/versioning-engine

#3301 lakeFS on KV store - testing plan - first draft
  design/open/lakefs-on-kv-testing-plan.md
Labels: area/testing, area/system-tests, exclude-changelog

#3337 Fixed link to authentication page vs authorisation page
  webui/src/pages/auth/users/index.jsx
Labels: include-changelog

#3338 webUI - Get user from api when not in cache
  webui/src/lib/api/index.js
  webui/src/lib/components/navbar.jsx
  webui/src/lib/hooks/user.jsx
Labels: exclude-changelog

#3334 esti run job for testin with kv enabled
  .github/workflows/esti.yaml
  esti/ops/docker-compose.yaml
  esti/system_test.go
Labels: exclude-changelog

#3290 UI api encode URI component for path parameters
  webui/src/lib/api/index.js
Labels: bug, area/UI, include-changelog

#3360 Upgrade workflow to use CodeQL v2
  .github/workflows/codeql-analysis.yaml
Labels: exclude-changelog

#3361 Fix get user by email should have different cache instance
  pkg/api/controller.go
  pkg/auth/cache.go
  pkg/auth/service.go
Labels: exclude-changelog

#3359 Show skipped hooks for failed action run
  cmd/lakectl/cmd/runs_describe.go
  pkg/actions/service.go
  pkg/api/controller.go
  webui/src/lib/components/repository/actions.jsx
  webui/src/pages/repositories/repository/actions/run/index.jsx
Labels: include-changelog

#3352 import UI implementation
  webui/package-lock.json
  webui/package.json
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/styles/globals.css
Labels: include-changelog

#3371 changelog-0.65.0
  CHANGELOG.md
Labels: exclude-changelog

#3356 Migration system test
  .github/workflows/esti.yaml
  esti/main_test.go
  esti/migrate_test.go
  esti/multipart_test.go
  esti/ops/docker-compose.yaml
Labels: exclude-changelog, team/versioning-engine

#3339 test lakefs kv delete while iteration
  go.mod
  pkg/kv/kvtest/store.go
Labels: exclude-changelog

#3378 Document why we use Get before SetIf on the proto store
  pkg/kv/store_message.go
Labels: exclude-changelog, team/versioning-engine

#3358 LAKECTL_INTERACTIVE env can control lakeCTL on/off terminal output
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/root.go
Labels: exclude-changelog

#3383 Bump Spark metadata client version to 0.1.7
  clients/spark/build.sbt
Labels: pr/merge-if-approved, include-changelog

#3340 KV Store: Migration and multipart
  .github/workflows/esti.yaml
  cmd/lakefs/cmd/migrate.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/db/kv_migration_test.go
  pkg/db/migration.go
  pkg/db/params/database.go
  pkg/gateway/multiparts/db_tracker.go
  pkg/gateway/multiparts/kv_migrate_test.go
  pkg/kv/export/test_data/test.tar.gz
  pkg/kv/import.go
  pkg/kv/import_test.go
  pkg/kv/postgres/migrate.go
  pkg/kv/postgres/store.go
  pkg/kv/store.go
  pkg/kv/store_message_test.go
  pkg/testutil/db.go
Labels: exclude-changelog, team/versioning-engine

#3379 Document how to assume role in the Spark metadata client
  docs/integrations/spark.md
  docs/reference/spark-client.md
Labels: exclude-changelog

#3382 updated out of date roadmap items
  docs/understand/roadmap.md
Labels: docs, exclude-changelog

#3386 Use constant seed for pseudo-random entries creation
  pkg/catalog/testutils/testutils.go
Labels: exclude-changelog, team/versioning-engine

#3403 test: simplify kv creation over tracker test code
  pkg/gateway/multiparts/tracker_test.go
Labels: area/testing, exclude-changelog

#3365 Fix configuration documentation for email duration limiter
  docs/reference/configuration.md
Labels: exclude-changelog

#3374 create branch name validation message
  pkg/catalog/catalog.go
Labels: include-changelog

#3406 fix esti kv enabled key
  .github/workflows/esti.yaml
Labels: pr/merge-if-approved, area/system-tests, exclude-changelog, team/versioning-engine

#3402 kv view for easy access
  pkg/kv/postgres/store.go
  pkg/kv/store.go
Labels: exclude-changelog

#3413 test: remove unused archive file
  pkg/kv/export/test_data/test.tar.gz
Labels: area/testing, exclude-changelog

#3417 Add GC in Azure to the roadmap
  docs/understand/roadmap.md
Labels: exclude-changelog

#3415 Fix: Use repository root commit for import branch in import from UI
  webui/src/pages/repositories/repository/objects.jsx
Labels: include-changelog

#3414 make spark client docs visible in references navbar
  docs/reference/spark-client.md
Labels: exclude-changelog

#3412 KV Store: Message Store Scan
  pkg/gateway/multiparts/db_tracker.go
  pkg/gateway/multiparts/tracker.go
  pkg/kv/import.go
  pkg/kv/store_message.go
  pkg/kv/store_message_test.go
Labels: exclude-changelog, team/versioning-engine

#3407 Evict user from auth-cache on reset password
  cmd/lakefs/cmd/run.go
  design/accepted/evict-user-from-auth-cache-on-reset-password.md
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/auth/cache.go
  pkg/auth/service.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog

#3408 kv API update to get predicate when needed for SetIf operation
  pkg/gateway/multiparts/tracker.go
  pkg/kv/kvtest/store.go
  pkg/kv/mem/store.go
  pkg/kv/postgres/store.go
  pkg/kv/store.go
  pkg/kv/store_message.go
  pkg/kv/store_message_test.go
  pkg/kv/store_test.go
  pkg/testutil/db.go
Labels: exclude-changelog

#3398 UI: Dynamic load js snippets
  cmd/lakefs/cmd/run.go
  pkg/api/injectsnippetsfs.go
  pkg/api/injectsnippetsfs_test.go
  pkg/api/params/codesnippet.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/api/testdata/first.html
  pkg/api/testdata/second.html
  pkg/api/ui_handler.go
  pkg/api/ui_handler_test.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/loadtest/local_load_test.go
  webui/index.html
Labels: area/UI, include-changelog

#3418 Add documentation for UI import
  docs/assets/img/UI-Import-Dialog.png
  docs/assets/img/ui-import-completed.png
  docs/assets/img/ui-import-waiting.png
  docs/setup/import.md
Labels: docs, exclude-changelog, team/versioning-engine

#3424 Fix: Missing close on iterator
  pkg/api/controller.go
Labels: bug, exclude-changelog

#3423 Simplify kv message store by embed the store
  pkg/kv/store_message.go
  pkg/kv/store_message_test.go
Labels: exclude-changelog

#3364 Add emailer tests
  pkg/email/email_test.go
  pkg/email/invite_user.golden
  pkg/email/invite_user_template.html
  pkg/email/reset_email_template.html
  pkg/email/reset_password.golden
  pkg/email/send_email.go
  pkg/email/template.go
Labels: exclude-changelog

#3385 removed duplicate step for `fs.s3a.path.style.access`
  docs/integrations/dremio.md
Labels: docs, contributor, exclude-changelog

#3429 update CHANGELOG v0.66.0
  CHANGELOG.md
Labels: exclude-changelog

#3434 Fix clean cookie on logout
  pkg/api/controller.go
Labels: exclude-changelog

#3430 Update KV proposal with partition key
  design/open/metadata_kv/index.md
Labels: exclude-changelog

#3391 Bump golangci-lint version and fix "a few" things
  .golangci.yml
  cmd/lakectl/cmd/abuse.go
  cmd/lakectl/cmd/annotate.go
  cmd/lakectl/cmd/dbt.go
  cmd/lakectl/cmd/dbt_util.go
  cmd/lakectl/cmd/doctor.go
  cmd/lakectl/cmd/fs.go
  cmd/lakectl/cmd/ingest.go
  cmd/lakefs-loadtest/cmd/db.go
  cmd/lakefs-loadtest/cmd/run.go
  esti/lakectl_util.go
  go.mod
  go.sum
  pkg/actions/secure_string.go
  pkg/auth/authenticator.go
  pkg/auth/crypt/encryption.go
  pkg/block/azure/stats.go
  pkg/block/gs/stats.go
  pkg/block/local/adapter.go
  pkg/block/s3/inventory_iterator.go
  pkg/block/s3/stats.go
  pkg/catalog/model.go
  pkg/cloud/aws/s3inventory/reader.go
  pkg/gateway/http/range.go
  pkg/gateway/middleware.go
  pkg/gateway/operations/putobject.go
  pkg/gateway/sig/v4.go
  pkg/gateway/sig/v4_streaming_reader.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/ident/ident.go
  pkg/ingest/store/azure.go
  pkg/kv/kvtest/store.go
  pkg/loadtest/scenario.go
  pkg/logging/caller.go
  pkg/permissions/actions.go
  pkg/pyramid/eviction.go
  pkg/pyramid/metrics.go
  pkg/pyramid/tier_fs.go
  pkg/testutil/db.go
  pkg/testutil/random.go
Labels: pr/merge-if-approved, exclude-changelog
