Repository treeverse/lakeFS, pull requests merged in 2022-02, with the labels that each got.

#2900 Add example message in `lakectl repo create` command
  cmd/lakectl/cmd/repo.go
  docs/reference/commands.md
Labels: include-changelog

#2887 Add alert for path style configuration on hive
  docs/integrations/hive.md
Labels: exclude-changelog

#2842 lakeFS export functionality that doesn't depend on the spark client
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  .github/workflows/nessie.yaml
  deployments/tools/export/Dockerfile
  deployments/tools/export/lakefs_export.py
  deployments/tools/export/rclone.conf.template
  docs/reference/export.md
  test/rclone_export/docker-compose.yaml
  test/rclone_export/file_one.txt
  test/rclone_export/file_three.txt
  test/rclone_export/file_two.txt
  test/rclone_export/run-test.sh
  test/rclone_export/setup-test.sh
Labels: include-changelog

#2903 Update index.md
  docs/index.md
Labels: exclude-changelog

#2906 Update index.md
  docs/index.md
Labels: exclude-changelog

#2910 show links to demo.lakefs.io in quickstart and docs index
  docs/_sass/custom/custom.scss
  docs/index.md
  docs/quickstart/try.md
Labels: pr/merge-if-approved, docs, exclude-changelog

#2915 test improvement - export functionality
  test/rclone_export/run-test.sh
Labels: exclude-changelog

#2859 Move validation to separate package, fix misleading errors on branch creation
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/catalog/errors.go
  pkg/catalog/validate.go
  pkg/catalog/validate_test.go
  pkg/graveler/errors.go
  pkg/graveler/validate.go
  pkg/graveler/validate_test.go
  pkg/uri/parser.go
  pkg/validator/validate.go
Labels: bug, include-changelog

#2911 Nessie tests on docs/webui/design changes
  .github/workflows/nessie.yaml
Labels: exclude-changelog

#2913 Update index.md
  docs/index.md
  docs/quickstart/try.md
Labels: exclude-changelog

#2918 Improve TOC readability
  docs/reference/export.md
Labels: exclude-changelog

#2920 Update index.md with desciptive picture
  docs/assets/img/lakeFS_integration.png
  docs/index.md
Labels: exclude-changelog

#2884 Refactor part 2 - separate merge from diff iterator [change-log] optimize merge by 20 percent
  cmd/lakectl/cmd/merge.go
  cmd/lakefs/cmd/import.go
  nessie/identity_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/catalog/model.go
  pkg/graveler/committed/apply.go
  pkg/graveler/committed/apply_test.go
  pkg/graveler/committed/commit_test.go
  pkg/graveler/committed/compare_iterator.go
  pkg/graveler/committed/compare_iterator_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/merge.go
  pkg/graveler/committed/merge_iterator_test.go
  pkg/graveler/committed/merge_test.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/testutil/fakes.go
Labels: include-changelog

#2919 Remove login hint
  webui/src/pages/auth/login.jsx
Labels: exclude-changelog

#2923 Bugfix/export docker image workflow
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
Labels: exclude-changelog

#2926 Update index.md
  docs/index.md
Labels: exclude-changelog

#2933 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog

#2932 lakectl: convert windows paths to S3 style paths on upload
  cmd/lakectl/cmd/fs.go
Labels: include-changelog

#2938 Update signing key for Java packages (Maven Central)
  clients/spark/project/pgp-sign.sbt
Labels: pr/merge-if-approved, exclude-changelog

#2941 docs: Header button direct to join beta
  docs/_config.yml
Labels: exclude-changelog

#2949 Live configuration reload will change logging level
  cmd/lakefs/cmd/run.go
  go.mod
Labels: include-changelog

#2950 Update changelog with regard to v0.59.0
  CHANGELOG.md
Labels: exclude-changelog

#2946 Bagel changes: openjdk, jupyter notebook
  deployments/compose/dbt/profiles.yml
  deployments/compose/docker-compose.yml
  deployments/compose/hive/Dockerfile
  deployments/compose/jupyter/Dockerfile
  test/lakectl_metastore/hive/Dockerfile
Labels: include-changelog

#2951 fix download jars to notebook image
  deployments/compose/jupyter/Dockerfile
Labels: pr/merge-if-approved, exclude-changelog

#2952 Default storage namespace
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/StorageConfig.md
  clients/java/src/main/java/io/lakefs/clients/api/model/StorageConfig.java
  clients/java/src/test/java/io/lakefs/clients/api/model/StorageConfigTest.java
  clients/python/docs/StorageConfig.md
  clients/python/lakefs_client/model/storage_config.py
  docs/reference/configuration.md
  docs/reference/object-model.md
  docs/setup/create-repo.md
  pkg/api/controller.go
  pkg/config/config.go
  pkg/config/template.go
  webui/src/lib/components/repositoryCreateForm.jsx
Labels: include-changelog

#2956 pin markupsafe version
  test/lakectl_metastore/dbt/requirements.txt
Labels: exclude-changelog

#2902 Add example for `lakectl tag create` command
  cmd/lakectl/cmd/tag.go
  docs/reference/commands.md
Labels: exclude-changelog

#2948 lakectl doctor command to run a basic diagnose on lakeFS configuration
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/common_helpers_test.go
  cmd/lakectl/cmd/doctor.go
  docs/reference/commands.md
  nessie/doctor_test.go
  nessie/golden/lakectl_doctor_not_exists_file.golden
  nessie/golden/lakectl_doctor_ok.golden
  nessie/golden/lakectl_doctor_with_suspicious_access_key_id.golden
  nessie/golden/lakectl_doctor_with_suspicious_secret_access_key.golden
  nessie/golden/lakectl_doctor_with_wrong_credentials.golden
  nessie/golden/lakectl_doctor_wrong_endpoint.golden
  nessie/golden/lakectl_doctor_wrong_uri_format_endpoint.golden
  nessie/golden/lakectl_help.golden
  nessie/lakectl_util.go
Labels: area/lakectl, include-changelog

#2961 Update index.md
  docs/index.md
  docs/quickstart/try.md
  docs/understand/licensing.md
Labels: exclude-changelog

#2963 Exclude body validation on openapi object upload
  api/swagger.yml
  clients/java/api/openapi.yaml
  docs/assets/js/swagger.yml
Labels: bug, include-changelog

#2964 Update garbage collector docs
  docs/reference/garbage-collection.md
Labels: exclude-changelog

#2965 Move commitment to open source menu item
  docs/commitment.md
Labels: exclude-changelog

#2972 Fix misleading test commit message
  pkg/graveler/ref/merge_base_finder_test.go
Labels: exclude-changelog

#2968 FindMergeBase - Removing redundant commit node visits
  pkg/graveler/ref/merge_base_finder.go
  pkg/graveler/ref/merge_base_finder_test.go
Labels: include-changelog

#2979 Fixing lakectl examples
  cmd/lakectl/cmd/branch_protect.go
  cmd/lakectl/cmd/repo.go
  docs/reference/commands.md
Labels: exclude-changelog

#2975 Log with multiple outputs
  cmd/lakectl/cmd/root.go
  docs/reference/commands.md
  docs/reference/configuration.md
  go.mod
  go.sum
  nessie/golden/lakectl_help.golden
  pkg/config/config.go
  pkg/config/logger.go
  pkg/config/template.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Labels: include-changelog

#2980 changelog updates v0.60.0
  CHANGELOG.md
Labels: exclude-changelog

#2978 Refactor AWS key generators to a separate package
  pkg/auth/keys/keys.go
  pkg/auth/service.go
  pkg/gateway/operations/base.go
Labels: pr/merge-if-approved, include-changelog

#2986 changes separator from @ to /
  cmd/lakefs/cmd/import.go
Labels: exclude-changelog

#2966 Bugfix/2935 lakectl bug on not found html
  cmd/lakectl/cmd/abuse.go
  cmd/lakectl/cmd/annotate.go
  cmd/lakectl/cmd/auth.go
  cmd/lakectl/cmd/branch.go
  cmd/lakectl/cmd/branch_protect.go
  cmd/lakectl/cmd/cat_hook_output.go
  cmd/lakectl/cmd/commit.go
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/common_helpers_test.go
  cmd/lakectl/cmd/diff.go
  cmd/lakectl/cmd/doctor.go
  cmd/lakectl/cmd/fs.go
  cmd/lakectl/cmd/gc.go
  cmd/lakectl/cmd/ingest.go
  cmd/lakectl/cmd/log.go
  cmd/lakectl/cmd/merge.go
  cmd/lakectl/cmd/metastore.go
  cmd/lakectl/cmd/refs.go
  cmd/lakectl/cmd/repo.go
  cmd/lakectl/cmd/root.go
  cmd/lakectl/cmd/runs_describe.go
  cmd/lakectl/cmd/runs_list.go
  cmd/lakectl/cmd/show.go
  cmd/lakectl/cmd/tag.go
  pkg/api/ui_handler.go
Labels: bug, good first issue, area/lakectl, include-changelog
