Repository treeverse/lakeFS, pull requests merged in 2022-11, with the labels that each got.

#4526 Use shorter (base-36) encoding of outputPath digest
  clients/hadoopfs/src/main/java/io/lakefs/committer/DummyOutputCommitter.java
Labels: pr/merge-if-approved, java, exclude-changelog, team/ecosystem, minor-change, area/client/hadoopfs

#4497 Cache commit on Graveler ref manager
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/graveler/ref/branch_iterator_test.go
  pkg/graveler/ref/commit_ordered_iterator_test.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/repository_iterator_test.go
  pkg/graveler/ref/tag_iterator_test.go
Labels: include-changelog

#4529 hadoopfs/lakefs client header
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSClient.java
Labels: exclude-changelog

#4522 Delete work branches when done
  clients/hadoopfs/src/main/java/io/lakefs/Constants.java
  clients/hadoopfs/src/main/java/io/lakefs/FSConfiguration.java
  clients/hadoopfs/src/main/java/io/lakefs/committer/DummyOutputCommitter.java
Labels: exclude-changelog

#4540 Ensure output branch has no uncommitted files before starting
  clients/hadoopfs/src/main/java/io/lakefs/Constants.java
  clients/hadoopfs/src/main/java/io/lakefs/committer/DummyOutputCommitter.java
Labels: exclude-changelog, area/client/hadoopfs

#4530 Upload data new structure for uploaded data physical addresses
  cmd/lakefs/cmd/run.go
  esti/lakectl_util.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/gateway/handler.go
  pkg/gateway/middleware.go
  pkg/gateway/operations/base.go
  pkg/gateway/operations/postobject.go
  pkg/gateway/operations/putobject.go
  pkg/gateway/operations/putobject_test.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/loadtest/local_load_test.go
  pkg/upload/path_provider.go
  pkg/upload/path_provider_test.go
  pkg/upload/write_blob.go
Labels: include-changelog, GC+

#4533 Feature/configure additional OIDC scopes
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  pkg/config/config_test.go
  pkg/config/template.go
  pkg/config/testdata/valid_oidc_config.yaml
Labels: new-feature, area/auth, contributor, include-changelog, team/cloud-native

#4537 Added Enigma Use Case Reference
  docs/use_cases/iso_env.md
Labels: docs, exclude-changelog

#4532 add X-Lakefs-Client header to metaclient requests
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/Exporter.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
  clients/spark/examples/src/main/scala/io/treeverse/clients/examples/Export.scala
  clients/spark/examples/src/main/scala/io/treeverse/clients/examples/List.scala
  clients/spark/project/plugins.sbt
Labels: exclude-changelog

#4545 Create success file when done
  clients/hadoopfs/src/main/java/io/lakefs/Constants.java
  clients/hadoopfs/src/main/java/io/lakefs/committer/DummyOutputCommitter.java
Labels: new-feature, exclude-changelog, team/ecosystem, area/client/hadoopfs

#4452 Python lakefs-client library does not have a license
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/pom.xml
  clients/python/setup.py
  docs/assets/js/swagger.yml
Labels: include-changelog, team/ecosystem

#4564 Remove gitleaks while running tests
  .github/workflows/test.yaml
Labels: infrastructure, exclude-changelog, minor-change

#4531 Cache action objects and listing
  esti/hooks_test.go
  pkg/catalog/actions_source.go
  pkg/graveler/graveler.go
Labels: exclude-changelog, team/versioning-engine

#4567 Docs/add video to run lake fs locally
  docs/quickstart/installing.md
Labels: docs, exclude-changelog

#4571 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4505 lakeFS Output Committer execution plan
  design/accepted/diagrams/lakeFS-OC-execution-plan.png
  design/accepted/lakeFS-output-committer-execution-plan.md
Labels: exclude-changelog, team/ecosystem

#4553 Setting kv driver defaults as configuration
  pkg/config/defaults.go
  pkg/config/template.go
  pkg/config/testdata/aws_credentials.yaml
  pkg/config/testdata/aws_credentials_with_alias.yaml
  pkg/config/testdata/domain_name_prefix.yaml
  pkg/config/testdata/valid_config.yaml
  pkg/config/testdata/valid_custom_badger_config.yaml
  pkg/config/testdata/valid_gs_adapter_config.yaml
  pkg/config/testdata/valid_json_logger_config.yaml
  pkg/config/testdata/valid_oidc_config.yaml
  pkg/config/testdata/valid_s3_adapter_config.yaml
  pkg/kv/dynamodb/store.go
  pkg/kv/local/driver.go
  pkg/kv/params/database.go
  pkg/kv/postgres/store.go
Labels: include-changelog, area/KV

#4558 lakectl import
  cmd/lakectl/cmd/import.go
  docs/reference/commands.md
  docs/setup/import.md
  esti/golden/lakectl_help.golden
  esti/golden/lakectl_import.golden
  esti/golden/lakectl_import_and_merge.golden
  esti/golden/lakectl_import_with_message.golden
  esti/lakectl_test.go
Labels: include-changelog

#4584 Update CHANGELOG.md
  clients/hadoopfs/CHANGELOG.md
Labels: exclude-changelog, minor-change

#4548 GC+: Implement SaveGarbageCollectionUncommitted
  pkg/block/mem/adapter.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/catalog/model.go
  pkg/catalog/uncommitted_iterator.go
  pkg/catalog/walk_entry_iterator_test.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/graveler/retention/garbage_collection_manager_test.go
  pkg/graveler/testutil/graveler_mock.go
Labels: exclude-changelog, team/versioning-engine, GC+

#4473 Uncommitted GC execution plan
  design/open/gc-plus-execution-plan.md
Labels: exclude-changelog, team/versioning-engine, GC+

#4590 Prepare garbage collection uncommitted API
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/PrepareGCUncommittedRequest.md
  clients/java/docs/PrepareGCUncommittedResponse.md
  clients/java/docs/RetentionApi.md
  clients/java/src/main/java/io/lakefs/clients/api/RetentionApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/PrepareGCUncommittedRequest.java
  clients/java/src/main/java/io/lakefs/clients/api/model/PrepareGCUncommittedResponse.java
  clients/java/src/test/java/io/lakefs/clients/api/RetentionApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/PrepareGCUncommittedRequestTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/PrepareGCUncommittedResponseTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/PrepareGCUncommittedRequest.md
  clients/python/docs/PrepareGCUncommittedResponse.md
  clients/python/docs/RetentionApi.md
  clients/python/lakefs_client/api/retention_api.py
  clients/python/lakefs_client/model/prepare_gc_uncommitted_request.py
  clients/python/lakefs_client/model/prepare_gc_uncommitted_response.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_prepare_gc_uncommitted_request.py
  clients/python/test/test_prepare_gc_uncommitted_response.py
  clients/python/test/test_retention_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/permissions/actions.go
Labels: exclude-changelog

#4592 Initial GC+ client logic
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/CommittedAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/DataLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: include-changelog

#4589 Fix execution plan doc
  design/accepted/gc_plus/gc-plus-execution-plan.md
Labels: exclude-changelog, team/versioning-engine, minor-change

#4576 4575 upgrade vite 3.2.3
  .github/workflows/esti.yaml
  .github/workflows/test.yaml
  webui/.eslintrc
  webui/package-lock.json
  webui/package.json
  webui/src/pages/repositories/repository/objects.jsx
  webui/vite.config.js
Labels: include-changelog

#4601 GC+: use prepare uncommitted API
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog

#4613 Change API event_type from enum to string
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/ActionRun.md
  clients/java/src/main/java/io/lakefs/clients/api/model/ActionRun.java
  clients/python/lakefs_client/model/action_run.py
Labels: bug, include-changelog, team/versioning-engine

#4616 Restore request_id to Graveler logs
  pkg/actions/service.go
  pkg/graveler/graveler.go
Labels: bug, exclude-changelog, area/KV

#4619 Replace repo with commit cache in refManager
  pkg/graveler/ref/manager.go
Labels: exclude-changelog, team/versioning-engine

#4610 Parallelize listing of data in GC+ client code
  clients/spark/core/src/main/scala/io/treeverse/gc/DataLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/ParallelDataListerSpec.scala
Labels: exclude-changelog, GC+

#4622 Don't batch GetCommit calls during merges
  pkg/catalog/catalog.go
Labels: pr/merge-if-approved, performance, exclude-changelog, minor-change

#4623 Add byte range support to OpenAPI (server, spec and generated clients)
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/src/test/java/io/lakefs/clients/api/ObjectsApiTest.java
  clients/python/docs/ObjectsApi.md
  clients/python/lakefs_client/api/objects_api.py
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/putobject.go
  pkg/httputil/range.go
  pkg/httputil/range_test.go
Labels: area/API, include-changelog

#4594 Docs - performance guidelines
  docs/understand/performance-best-practices.md
Labels: exclude-changelog

#4630 use 16 core only when needed
  .github/workflows/esti.yaml
Labels: exclude-changelog, minor-change

#4639 Fix diff refs api to return prefix_changed
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/Diff.md
  clients/java/src/main/java/io/lakefs/clients/api/model/Diff.java
  clients/python/lakefs_client/model/diff.py
  docs/assets/js/swagger.yml
  pkg/api/controller_test.go
  pkg/api/transform.go
  webui/src/lib/components/repository/changes.jsx
Labels: bug, area/API, include-changelog

#4643 Fix unmatch-delete log line
  pkg/graveler/committed/commit.go
Labels: bug, include-changelog

#4633 Fix uncommitted path for prepare gc
  pkg/block/mem/adapter.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/graveler/graveler.go
Labels: bug, exclude-changelog, team/versioning-engine, GC+

#4650 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4606 Python client map APIs use dynamically
  clients/python/lakefs_client/client.py
Labels: bug, area/sdk/python, include-changelog

#4631 remove ui from go tests
  .github/workflows/test.yaml
  Makefile
Labels: exclude-changelog, minor-change

#4661 Use API to read uncommitted entries
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/ParallelDataListerSpec.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/UncommittedAddressListerSpec.scala
Labels: area/client/spark, exclude-changelog, team/versioning-engine, GC+

#4663 Require Go 1.19 for lakeFS build
  .golangci.yml
  go.mod
  go.sum
Labels: exclude-changelog, minor-change

#4660 GC+: Prepare uncommitted ignore external addresses and tombstones
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
Labels: exclude-changelog, team/versioning-engine, GC+

#4647 GC+: Save run report
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/UncommittedAddressListerSpec.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/UncommittedGarbageCollectorSpec.scala
  clients/spark/project/plugins.sbt
Labels: exclude-changelog, team/versioning-engine, GC+

#4664 Increase Java heap size for SBT
  clients/spark/.sbtopts
Labels: exclude-changelog, minor-change

#4191 lakefs kv cmd
  .golangci.yml
  cmd/lakectl/cmd/dbt_util_test.go
  cmd/lakefs/cmd/kv.go
  pkg/actions/service.go
  pkg/auth/metadata.go
  pkg/auth/model/model.go
  pkg/graveler/model.go
  pkg/kv/record_match.go
  pkg/kv/record_match_test.go
  pkg/kv/store.go
Labels: area/tools, exclude-changelog, team/versioning-engine, area/KV

#4665 GC+: Fix list objects from store
  clients/spark/core/src/main/scala/io/treeverse/gc/DataLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/DataListerSpec.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/ParallelDataListerSpec.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4680 GC+: Fix address concat
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4682 Fixing concatenation bug in slices listing
  clients/spark/core/src/main/scala/io/treeverse/gc/DataLister.scala
Labels: bug, exclude-changelog, team/versioning-engine

#4685 GC+: Fix list objects
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4690 GC+: UncommittedGrabageCollector listObjects unit tests
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/DataListerSpec.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/UncommittedGarbageCollectorSpec.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4629 Docs/add cloud references
  docs/howto/garbage-collection.md
  docs/howto/sizing-guide.md
  docs/howto/upgrade.md
  docs/quickstart/try.md
  docs/reference/authorization.md
  docs/reference/saml-authentication-integration.md
Labels: docs, exclude-changelog

#4675 Add a configurable cutoff time for gc+
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: area/client/spark, exclude-changelog, team/versioning-engine, GC+

#4579 [GC] Validate bucket's correct region in AWS S3
  clients/spark/build.sbt
  clients/spark/core/src/main/hadoop2/scala/io/treeverse/clients/conditional/S3ClientBuilder.scala
  clients/spark/core/src/main/hadoop3/scala/io/treeverse/clients/conditional/S3ClientBuilder.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/StorageUtils.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/StorageUtilsSpec.scala
Labels: exclude-changelog

#4580 created basic java test
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/test/java/io/lakefs/committer/LakeFSOutputCommitterTest.java
Labels: exclude-changelog, team/ecosystem

#4700 GC+: CommittedDataLister transform address column to relative path
  clients/spark/core/src/main/scala/io/treeverse/gc/CommittedAddressLister.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4706 GC+: UncommittedGarbageCollector listObjects add more tests
  clients/spark/core/src/test/scala/io/treeverse/gc/UncommittedGarbageCollectorSpec.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4701 [GC] Changelog + Version bump
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#4707 Update api client docs to 0.5.2
  docs/howto/export.md
  docs/howto/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#4703 GC uncommitted skip dummy object from old data location
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog, GC+

#4710 Rename DummyOutputCommitter -> LakeFSOutputCommitter
  clients/hadoopfs/src/main/java/io/lakefs/committer/LakeFSOutputCommitter.java
  clients/hadoopfs/src/main/java/io/lakefs/committer/LakeFSParquetOutputCommitter.java
  clients/hadoopfs/src/test/java/io/lakefs/committer/LakeFSOutputCommitterTest.java
  docs/integrations/spark.md
Labels: pr/merge-if-approved, exclude-changelog, minor-change, area/client/hadoopfs

#4718 use tabs to show storage options, change title to run
  docs/quickstart/installing.md
  docs/quickstart/run.md
Labels: docs, exclude-changelog, minor-change
