Repository treeverse/lakeFS, pull requests merged in 2022-01, with the labels that each got.

#2851 Prevent Graveler from delete default branch
  pkg/api/controller_test.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
Labels: bug, include-changelog

#2814 Test repartitioning on all data formats in lakefsfs
  .github/workflows/nessie.yaml
  test/spark/app/src/main/scala/Sonnets.scala
Labels: area/client/spark, contributor, exclude-changelog

#2849 Document environment variable usage in lakectl
  cmd/lakectl/cmd/docs.go
  docs/reference/commands.md
Labels: exclude-changelog

#2840 Nessie Improvements
  .github/actions/bootstrap-test-lakefs/action.yaml
  .github/workflows/nessie.yaml
  test/lakectl_metastore/docker-compose.yml
  test/lakectl_metastore/etc/s3.properties
Labels: exclude-changelog

#2854 List all generated files
  test/spark/app/build.sbt
  test/spark/app/src/main/scala/Sonnets.scala
Labels: exclude-changelog

#2856 bugfix - applyAll over changes iterator with tombstone record
  pkg/graveler/committed/apply.go
  pkg/graveler/committed/apply_test.go
Labels: exclude-changelog

#2763 1657 lakectl command line testing
  .github/workflows/nessie.yaml
  Dockerfile
  nessie/files/ro_1k
  nessie/golden/lakectl_commit.golden
  nessie/golden/lakectl_commit_no_change.golden
  nessie/golden/lakectl_commit_no_msg.golden
  nessie/golden/lakectl_fs_upload.golden
  nessie/golden/lakectl_help.golden
  nessie/golden/lakectl_log_404.golden
  nessie/golden/lakectl_log_initial.golden
  nessie/golden/lakectl_log_with_commit.golden
  nessie/golden/lakectl_repo_create.golden
  nessie/golden/lakectl_repo_create_not_unique.golden
  nessie/golden/lakectl_repo_delete.golden
  nessie/golden/lakectl_repo_delete_malformed_uri.golden
  nessie/golden/lakectl_repo_delete_malformed_uri.term.golden
  nessie/golden/lakectl_repo_delete_not_found.golden
  nessie/golden/lakectl_repo_list_1.golden
  nessie/golden/lakectl_repo_list_1.term.golden
  nessie/golden/lakectl_repo_list_2.golden
  nessie/golden/lakectl_repo_list_2.term.golden
  nessie/golden/lakectl_repo_list_empty.term.golden
  nessie/lakectl_test.go
  nessie/lakectl_util.go
  nessie/lakectl_util_test.go
  nessie/ops/docker-compose.yaml
  nessie/ops/nessie-bootstrap.sh
  nessie/system_test.go
  pkg/testutil/setup.go
Labels: exclude-changelog

#2825 Added lakectl CLI command 'annotate' (blame)
  cmd/lakectl/cmd/annotate.go
  docs/reference/commands.md
Labels: area/lakectl, include-changelog

#2857 refactor - separate merge and commit
  pkg/graveler/committed/commit.go
  pkg/graveler/committed/commit_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/graveler.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog

#2852 Fixed Lakectl cat fs, not to copy entire file to memory, added as wel…
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/fs.go
  cmd/lakectl/cmd/root.go
  pkg/api/helpers/errors.go
Labels: bug, area/lakectl, include-changelog

#2866 nessie: update lakectl output for help
  nessie/golden/lakectl_commit.golden
  nessie/golden/lakectl_commit_no_change.golden
  nessie/golden/lakectl_commit_no_msg.golden
  nessie/golden/lakectl_fs_upload.golden
  nessie/golden/lakectl_help.golden
  nessie/golden/lakectl_log_404.golden
  nessie/golden/lakectl_log_initial.golden
  nessie/golden/lakectl_log_with_commit.golden
  nessie/golden/lakectl_repo_create.golden
  nessie/golden/lakectl_repo_create_not_unique.golden
  nessie/golden/lakectl_repo_delete.golden
  nessie/golden/lakectl_repo_delete_malformed_uri.golden
  nessie/golden/lakectl_repo_delete_malformed_uri.term.golden
  nessie/golden/lakectl_repo_delete_not_found.golden
  nessie/golden/lakectl_repo_list_1.golden
  nessie/golden/lakectl_repo_list_1.term.golden
  nessie/golden/lakectl_repo_list_2.golden
  nessie/golden/lakectl_repo_list_2.term.golden
  nessie/golden/lakectl_repo_list_empty.term.golden
Labels: exclude-changelog

#2869 bagel switch to use jupyter/pyspark-notebook for notebook
  deployments/compose/docker-compose.yml
  deployments/compose/etc/jupyter_notebook_config.py
  deployments/compose/notebook/Dockerfile
  deployments/compose/notebook/notebook-config.py
Labels: include-changelog

#2871 Fix bagel for Windows users
  .gitattributes
Labels: bug, include-changelog

#2876 Bump spark client version in docs
  docs/reference/export.md
  docs/reference/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog

#2865 Fix diff pagination
  cmd/lakectl/cmd/diff.go
Labels: exclude-changelog

#2881 Disable hooks run configuration
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  pkg/actions/service.go
  pkg/actions/service_test.go
  pkg/api/serve_test.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog

#2829 merge refactor design
  design/diagrams/merge-refactor-design.excalidraw
  design/diagrams/merge-refactor-design.png
  design/merge-refactor.md
Labels: exclude-changelog

#2878 Add date flag to commit api
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/CommitCreation.md
  clients/java/src/main/java/io/lakefs/clients/api/model/CommitCreation.java
  clients/java/src/test/java/io/lakefs/clients/api/model/CommitCreationTest.java
  clients/python/docs/CommitCreation.md
  clients/python/docs/CommitsApi.md
  clients/python/lakefs_client/model/commit_creation.py
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/interface.go
  pkg/graveler/graveler.go
Labels: include-changelog

#2885 Publish lakectl binaries to our public S3 bucket
  .github/workflows/goreleaser.yaml
  .goreleaser.yml
Labels: exclude-changelog

#2888 Larger staging listing batch size for commit
  pkg/graveler/graveler.go
  pkg/graveler/staging/iterator.go
  pkg/graveler/staging/manager.go
  pkg/graveler/staging/manager_test.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog

#2890 CHANGELOG for upcoming v0.58.0 release
  CHANGELOG.md
Labels: pr/merge-if-approved, docs, exclude-changelog

#2896 Add fallback to get S3 client from databricks wrapper
  clients/hadoopfs/src/main/java/io/lakefs/MetadataClient.java
Labels: exclude-changelog

#2895 Improve dbt errors
  cmd/lakectl/cmd/dbt.go
  pkg/metastore/ms_client.go
  pkg/metastore/ms_client_test.go
Labels: include-changelog
