Repository treeverse/lakeFS, pull requests merged in 2022-04, with the labels that each got.

#3163 Update changelog for version v0.62.0
  CHANGELOG.md
Labels: include-changelog

#3155 Fix create repo min character limit issue
  webui/src/lib/components/repositoryCreateForm.jsx
Labels: include-changelog

#3166 fix changelog for release v0.62.0
  CHANGELOG.md
Labels: exclude-changelog

#3152 3141- fixing the why section to include more descriptive
  docs/index.md
Labels: docs, exclude-changelog

#3159 GC integration tests
  .github/workflows/esti.yaml
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  test/spark/README.md
  test/spark/gc-tests/sample_file
  test/spark/gc-tests/test_scenarios.json
  test/spark/gc.json
  test/spark/run-client-test.sh
  test/spark/run-exporter-test.sh
  test/spark/run-gc-test.sh
  test/spark/setup-client-test.sh
  test/spark/setup-exporter-test.sh
  test/spark/setup-gc-test.sh
Labels: exclude-changelog

#3186 fix redirect url
  docs/understand/object-model.md
Labels: exclude-changelog

#3188 Update to use node v16 and update npm package lock
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/node.yaml
  .github/workflows/test.yaml
  webui/package-lock.json
Labels: area/UI, exclude-changelog

#3167 Adding password reseting functionality
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/AuthApi.md
  clients/java/docs/ForgotPasswordRequest.md
  clients/java/docs/UpdatePasswordByToken.md
  clients/java/src/main/java/io/lakefs/clients/api/AuthApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/ForgotPasswordRequest.java
  clients/java/src/main/java/io/lakefs/clients/api/model/UpdatePasswordByToken.java
  clients/java/src/test/java/io/lakefs/clients/api/AuthApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/ForgotPasswordRequestTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/UpdatePasswordByTokenTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/AuthApi.md
  clients/python/docs/ForgotPasswordRequest.md
  clients/python/docs/UpdatePasswordByToken.md
  clients/python/lakefs_client/api/auth_api.py
  clients/python/lakefs_client/model/forgot_password_request.py
  clients/python/lakefs_client/model/update_password_by_token.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_auth_api.py
  clients/python/test/test_forgot_password_request.py
  clients/python/test/test_update_password_by_token.py
  docs/assets/js/swagger.yml
  docs/reference/configuration.md
  go.mod
  go.sum
  pkg/api/auth_middleware.go
  pkg/api/auth_middleware_test.go
  pkg/api/controller.go
  pkg/api/login_handler.go
  pkg/api/serve.go
  pkg/auth/model/model.go
  pkg/auth/service.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/email/send_email.go
Labels: exclude-changelog

#3187 fix learn more links
  webui/src/lib/components/repositoryCreateForm.jsx
  webui/src/pages/repositories/repository/tags.jsx
Labels: exclude-changelog

#3158 graveler changes to support ui import
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/graveler/committed/batch_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/manager_test.go
  pkg/graveler/committed/merge_test.go
  pkg/graveler/committed/meta_range_writer.go
  pkg/graveler/committed/range_manager.go
  pkg/graveler/graveler.go
  pkg/graveler/sstable/writer.go
  pkg/graveler/testutil/fakes.go
  pkg/onboard/catalog_actions.go
  pkg/onboard/catalog_actions_test.go
Labels: exclude-changelog, team/versioning-engine

#3195 Remove password confirmation in swagger
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/UpdatePasswordByToken.md
  clients/java/src/main/java/io/lakefs/clients/api/model/UpdatePasswordByToken.java
  clients/java/src/test/java/io/lakefs/clients/api/model/UpdatePasswordByTokenTest.java
  clients/python/docs/AuthApi.md
  clients/python/docs/UpdatePasswordByToken.md
  clients/python/lakefs_client/model/update_password_by_token.py
  docs/assets/js/swagger.yml
Labels: exclude-changelog

#3198 Improve run time of GC integration tests
  test/spark/README.md
  test/spark/run-gc-test.sh
Labels: exclude-changelog

#3179 auth: generate jwt token ID
  pkg/api/auth_middleware.go
  pkg/api/login_handler.go
Labels: exclude-changelog

#3196 bugfix: webui server serve main page instead of page not found
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/doctor.go
  cmd/lakectl/cmd/root.go
  pkg/api/ui_handler.go
  pkg/api/ui_handler_test.go
  webui/src/pages/auth/index.jsx
  webui/src/pages/index.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/index.jsx
Labels: area/UI, exclude-changelog

#3178 Add API implementation for auth service
  Makefile
  api/authorization.yml
  cmd/lakefs/cmd/run.go
  pkg/api/auth_middleware.go
  pkg/api/controller.go
  pkg/api/login_handler.go
  pkg/auth/authenticator.go
  pkg/auth/cache.go
  pkg/auth/errors.go
  pkg/auth/model/model.go
  pkg/auth/service.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/gateway/simulator/simulation_utils.go
Labels: include-changelog

#3209 fix: hooks documentation table format
  docs/setup/hooks.md
Labels: exclude-changelog, team/versioning-engine

#3214 Add Id to get credentials
  api/authorization.yml
  pkg/auth/service.go
Labels: exclude-changelog

#3221 GC: Flaky tests fix
  test/spark/run-gc-test.sh
Labels: pr/merge-if-approved, exclude-changelog

#3185 lakectl: fixed bug in argument validation
  cmd/lakectl/cmd/branch.go
  cmd/lakectl/cmd/common_helpers.go
  esti/golden/lakectl_branch_create_invalid.golden
  esti/golden/lakectl_tag_create.golden
  esti/lakectl_test.go
  pkg/uri/parser.go
Labels: include-changelog

#3223 Temporarily disable reset password capability from login form
  webui/src/pages/auth/login.jsx
Labels: exclude-changelog

#3228 Remove S3AUser system test
  clients/spark/examples/src/main/scala/io/treeverse/clients/examples/S3AUser.scala
Labels: pr/merge-if-approved, exclude-changelog

#3224 Add examples to lakectl branch commands
  cmd/lakectl/cmd/branch.go
  docs/reference/commands.md
Labels: exclude-changelog

#3235 Pass only known Azure tier types
  pkg/block/azure/adapter.go
Labels: bug, area/gateway, area/block-adapter, include-changelog, team/versioning-engine

#3232 Merge managed gc on Spark 3.1.2 to trunk
  .github/workflows/esti.yaml
  clients/spark/build.sbt
  clients/spark/core/src/main/hadoop2/scala/io/treeverse/clients/conditional/S3ClientBuilder.scala
  clients/spark/core/src/main/hadoop3/scala/io/treeverse/clients/conditional/S3ClientBuilder.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/project/types.scala
Labels: include-changelog

#3237 README improvements
  README.md
Labels: exclude-changelog

#3192 docs: lakefs on kv execution plan
  design/open/lakefs-kv-execution-plan.md
Labels: docs, exclude-changelog

#3222 docs - nginx client body size limitation
  docs/deploy/k8s.md
Labels: docs, exclude-changelog

#3256 Enable configuring the cookie domain
  docs/reference/configuration.md
  pkg/api/controller.go
  pkg/config/config.go
  pkg/config/template.go
Labels: exclude-changelog

#3204 Create documentation and enable system tests local execution
  Makefile
  docs/contributing.md
  esti/docs/README.md
  esti/docs/img/esti_config.png
  esti/docs/img/go_build.png
  esti/docs/img/go_test.png
  esti/docs/img/lakefs_config.png
  esti/docs/img/postgres.png
  esti/doctor_test.go
  esti/lakectl_test.go
  esti/lakectl_util.go
  esti/main_test.go
  esti/multipart_test.go
  esti/ops/docker-compose.yaml
  esti/scripts/lakefs.yaml
  esti/scripts/runner.sh
  esti/scripts/set_env_vars.sh
  esti/store_test.go
  esti/system_test.go
  pkg/testutil/setup.go
Labels: area/system-tests, exclude-changelog, team/versioning-engine

#3261 Fix esti documentation link
  docs/contributing.md
  esti/docs/README.md
Labels: bug, exclude-changelog

#3255 KV Store: Add KV feature flag
  cmd/lakefs/cmd/root.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/db/params/database.go
Labels: exclude-changelog, team/versioning-engine

#3264 Reset password API with email match to token verification
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/UpdatePasswordByToken.md
  clients/java/src/main/java/io/lakefs/clients/api/model/UpdatePasswordByToken.java
  clients/java/src/test/java/io/lakefs/clients/api/model/UpdatePasswordByTokenTest.java
  clients/python/docs/AuthApi.md
  clients/python/docs/UpdatePasswordByToken.md
  clients/python/lakefs_client/model/update_password_by_token.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
Labels: area/API, exclude-changelog

#3260 Add uniquifying values to Esti tests with external storage access
  .github/workflows/esti.yaml
  test/spark/run-exporter-test.sh
  test/spark/run-gc-test.sh
Labels: exclude-changelog

#3219 Invite user - client side
  webui/src/lib/api/index.js
  webui/src/lib/components/auth/forms.jsx
  webui/src/pages/auth/groups/index.jsx
  webui/src/pages/auth/index.jsx
  webui/src/pages/auth/login.jsx
  webui/src/pages/auth/users/create-user-with-password.jsx
  webui/src/pages/auth/users/index.jsx
  webui/src/styles/globals.css
Labels: include-changelog

#3193 Create most basic email templates
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  pkg/api/controller.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/email/invite_user_template.html
  pkg/email/reset_email_template.html
  pkg/email/send_email.go
  pkg/email/template.go
Labels: exclude-changelog

#3268 fix linter err
  webui/src/pages/auth/users/create-user-with-password.jsx
Labels: exclude-changelog

#3267 [gc] Use right number of partitions to get each of limited size
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: pr/merge-if-approved, exclude-changelog, team/ecosystem

#3272 Emailer config smpt_port with additional ssl and local_name
  docs/reference/configuration.md
  pkg/config/config.go
  pkg/config/template.go
  pkg/email/send_email.go
  pkg/email/template.go
Labels: exclude-changelog

#3270 Fix bug in merge
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/merge_test.go
Labels: pr/merge-if-approved, include-changelog

#3273 Document that GC is only supported in S3
  docs/reference/garbage-collection.md
Labels: exclude-changelog

#3275 Fix broken content-based diff for changed objects in compare view
  webui/src/pages/repositories/repository/compare.jsx
Labels: include-changelog

#3277 Bump metadata client version to 0.1.7-RC.0
  clients/spark/build.sbt
Labels: include-changelog

#3283 Fix logged out user redirect to login
  webui/src/lib/api/index.js
  webui/src/lib/components/layout.jsx
  webui/src/lib/components/navbar.jsx
  webui/src/pages/auth/login.jsx
  webui/src/pages/auth/reset-password.jsx
Labels: area/UI, include-changelog

#3279 redirect to login after successful reset password
  webui/src/pages/auth/reset-password.jsx
Labels: area/UI, exclude-changelog

#3288 Update reset user password token duration to 20min
  pkg/api/controller.go
  pkg/api/login_handler.go
Labels: exclude-changelog

#3289 Fix create user redirect to login
  webui/src/pages/auth/users/create-user-with-password.jsx
Labels: exclude-changelog

#3292 Changelog for version 64
  CHANGELOG.md
Labels: exclude-changelog

#3296 documentation switch between versions ensure selected value is url
  docs/_layouts/default.html
Labels: docs, exclude-changelog

#3293 Add migrate message
  CHANGELOG.md
Labels: exclude-changelog
