Repository treeverse/lakeFS, pull requests merged in 2022-08, with the labels that each got.

#3773 add oidc hint to login error
  webui/src/lib/api/index.js
  webui/src/lib/components/controls.jsx
  webui/src/pages/auth/login.jsx
Labels: exclude-changelog

#3804 Modify ResetKey to work on the same staging token
  pkg/graveler/graveler.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3806 Handle existing expired token in kv auth flow
  pkg/auth/db_service.go
  pkg/auth/service.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3792 TTV: Wizard- Phase 1 complete
  webui/src/lib/components/code_tabs.jsx
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/repositoryCreateForm.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/services/import_data.jsx
  webui/src/pages/repositories/wizard/import_data_wizard_step.jsx
  webui/src/pages/repositories/wizard/spark_config_step.jsx
  webui/src/pages/repositories/wizard/spark_quickstart_wizard.jsx
  webui/src/pages/repositories/wizard/wizard.jsx
Labels: include-changelog, team/ecosystem

#3790 [GC] Added documentation for GC on Azure
  docs/reference/garbage-collection.md
Labels: area/client/spark, exclude-changelog, team/ecosystem

#3354 Add tests for auth api
  .gitignore
  Makefile
  pkg/auth/cache.go
  pkg/auth/db_service.go
  pkg/auth/service.go
  pkg/auth/service_test.go
Labels: exclude-changelog

#3819 Document GC support by cloud provider
  docs/reference/garbage-collection.md
Labels: exclude-changelog

#3820 Docs: Bump Spark client version to latest (0.2.0)
  docs/reference/spark-client.md
Labels: exclude-changelog

#3818 Docs/update product roadmap
  docs/understand/roadmap.md
Labels: exclude-changelog

#3816 Use gomock to test graveler
  pkg/graveler/graveler_v2_test.go
Labels: area/testing, exclude-changelog, team/versioning-engine, area/KV

#3817 KV Store: Add repository state
  pkg/graveler/db_graveler.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/model.go
  pkg/graveler/ref/branch_iterator_test.go
  pkg/graveler/ref/db_manager.go
  pkg/graveler/ref/kv_migrate_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/repository_iterator_test.go
  pkg/graveler/ref/resolve_ref_test.go
  pkg/graveler/ref/tag_iterator_test.go
  pkg/graveler/testutil/fakes.go
  pkg/kv/secondary_index.pb.go
  pkg/kv/secondary_index.proto
Labels: exclude-changelog, team/versioning-engine, area/KV

#3825 Handle expired tokens deletion
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/api/serve_test.go
  pkg/auth/kv_migrate_test.go
  pkg/auth/model/model.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/auth/token.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3835 Edit changelog
  CHANGELOG.md
Labels: exclude-changelog

#3815 Update testcontainers-scala version
  clients/spark/build.sbt
  clients/spark/core/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
Labels: pr/merge-if-approved, area/system-tests, area/client/spark, exclude-changelog, team/ecosystem

#3803 Collect kv store type in metadata manager
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/api/serve_test.go
  pkg/auth/kv_migrate_test.go
  pkg/auth/metadata.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3794 kv implementation optimistic lock commit
  esti/commit_test.go
  esti/hooks_test.go
  esti/import_test.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/graveler/combined_iterator.go
  pkg/graveler/combined_iterator_test.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3837 update refs_manifest.json after dumping new repo
  test/spark/refs.json
Labels: exclude-changelog, team/ecosystem

#3828 fix abuse client transport and print generator name
  cmd/lakectl/cmd/abuse.go
  cmd/lakectl/cmd/root.go
  pkg/testutil/stress/pool.go
Labels: area/lakectl, exclude-changelog

#3845 kv partition iterator close internal iterator when needed
  pkg/kv/iterators.go
Labels: exclude-changelog

#3844 fix drop context for background work
  pkg/graveler/graveler.go
Labels: exclude-changelog

#3838 Detail more precisely the two major categories of non-GCed data
  docs/reference/garbage-collection.md
Labels: pr/merge-if-approved, docs, roadmap/hard-delete, exclude-changelog

#3840 Fix missing close gravler's iterators
  pkg/graveler/committed/compare_iterator_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/merge_value_iterator.go
  pkg/graveler/committed/wrappers.go
  pkg/graveler/sstable/range_manager_test.go
Labels: exclude-changelog

#3852 Fix uncommitted iteration on tombstones
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/graveler/graveler_test.go
  pkg/graveler/uncommitted_diff_iterator.go
Labels: bug, exclude-changelog, team/versioning-engine, area/KV

#3855 Templating service: Log expand template
  pkg/api/controller.go
Labels: exclude-changelog, team/ecosystem

#3850 Reduce S3A MPU test runtime and size-of-data
  test/spark/s3a-multipart/src/main/scala/S3AMultipart.scala
Labels: exclude-changelog

#3741 Proposal: pull request
  design/open/diagrams/pull-request-dialog.excalidraw
  design/open/diagrams/pull-request-dialog.png
  design/open/diagrams/pull-request-edit.excalidraw
  design/open/diagrams/pull-request-edit.png
  design/open/diagrams/pull-request-list.excalidraw
  design/open/diagrams/pull-request-list.png
  design/open/pull-request.md
Labels: exclude-changelog

#3858 Added CHANGELOG files to hadoopFS and Spark clients
  clients/hadoopfs/CHANGELOG.md
  clients/spark/CHANGELOG.md
Labels: exclude-changelog, team/ecosystem

#3848 KV Store: Implement settings manager
  .github/workflows/esti.yaml
  pkg/block/factory/build.go
  pkg/catalog/catalog.go
  pkg/graveler/branch/protection_manager.go
  pkg/graveler/branch/protection_manager_test.go
  pkg/graveler/graveler.go
  pkg/graveler/model.go
  pkg/graveler/ref/db_manager.go
  pkg/graveler/ref/kv_migrate_test.go
  pkg/graveler/settings/db_manager.go
  pkg/graveler/settings/manager.go
  pkg/graveler/settings/manager_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3841 KV Store: graveler delete repository step 1
  pkg/api/controller.go
  pkg/graveler/graveler.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  webui/src/lib/api/index.js
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/actions/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/error.jsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/settings/general.jsx
  webui/src/pages/repositories/repository/settings/layout.jsx
  webui/src/pages/repositories/repository/tags.jsx
Labels: exclude-changelog, team/versioning-engine, area/KV

#3862 Fix DB serialization error during multiple writes to the same key
  pkg/graveler/staging/db_manager.go
Labels: bug, include-changelog, team/versioning-engine

#3853 Update Everything Bagel for current DBT
  deployments/compose/dbt/dbt-project/dbt_project.yml
  deployments/compose/dbt/dbt-project/other/dbt_project.yml
  deployments/compose/dbt/requirements.txt
  deployments/compose/docker-compose.yml
  deployments/compose/etc/hive-site.xml
  deployments/compose/hive/Dockerfile
  deployments/compose/hive/entrypoint.sh
Labels: exclude-changelog

#3865 Remove extra space from UI guided text
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/repositories/repository/objects.jsx
Labels: area/UI, exclude-changelog

#3827 Add preparation step before updating branch HEAD
  pkg/catalog/catalog.go
  pkg/graveler/db_graveler.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/model.go
  pkg/graveler/staging/db_manager.go
  pkg/graveler/staging/kv_migrate_test.go
  pkg/graveler/staging/manager.go
  pkg/graveler/staging/manager_test.go
  pkg/graveler/testutil/fakes.go
  pkg/graveler/uncommitted_diff_iterator.go
  pkg/graveler/uncommitted_diff_iterator_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3870 Fix authorization page in docs
  docs/reference/authorization.md
Labels: exclude-changelog

#3866 KV Store: Add settings manager to esti migrate test
  esti/migrate_test.go
  go.sum
  pkg/graveler/settings/manager.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3879 Docs: Remove katacoda tutorial
  docs/quickstart/includes/try.md
Labels: exclude-changelog

#3861 Try running dynamodb without postgres
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/diagnostics.go
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  esti/migrate_test.go
  esti/ops/docker-compose-dynamodb.yaml
  esti/system_test.go
  pkg/config/config.go
  pkg/db/kv_migration_test.go
  pkg/db/migration.go
  pkg/graveler/ref/kv_migrate_test.go
  pkg/graveler/staging/kv_migrate_test.go
  pkg/kv/kvtest/store.go
  pkg/kv/migration.go
  pkg/kv/params/database.go
  pkg/kv/postgres/migrate.go
  pkg/kv/store.go
  pkg/kv/store_test.go
  pkg/testutil/db.go
  pkg/testutil/dynamodb.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3871 3868 docs spark uplevel
  .gitignore
  docs/spark/index.md
Labels: docs, exclude-changelog, team/devex

#3873 test: handle esti storage namespace format to handle root scheme
  esti/system_test.go
Labels: exclude-changelog

#3882 docs: update contributing guide with how to run jekyll locally
  docs/contributing.md
Labels: docs, exclude-changelog

#3875 Prevent lakefs setup and superuser command while using auth API
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
Labels: exclude-changelog

#3876 lakectl abuse link-same-object
  cmd/lakectl/cmd/abuse.go
  docs/reference/commands.md
  pkg/api/helpers/errors.go
Labels: area/lakectl, exclude-changelog

#3885 KV: make sure iterators aren't opened to be closed
  pkg/catalog/catalog.go
  pkg/catalog/entry_listing_iterator.go
  pkg/graveler/staging/iterator.go
  pkg/kv/iterators.go
Labels: bug, exclude-changelog, team/versioning-engine

#3880 KV Store: Add postgres config section in KV params
  esti/ops/docker-compose.yaml
  esti/scripts/set_env_vars.sh
  pkg/config/config.go
  pkg/config/template.go
  pkg/kv/params/database.go
  pkg/kv/postgres/store.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3881 KV Store: Modify Configuration Reference Documentation
  docs/reference/configuration.md
Labels: exclude-changelog, team/versioning-engine, area/KV

#3897 Fix dynamodb secure password and remove beta
  esti/ops/docker-compose-dynamodb.yaml
  pkg/config/config.go
  pkg/config/template.go
  pkg/kv/dynamodb/store.go
Labels: exclude-changelog

#3901 Fix: AWS deploy broken link
  docs/deploy/aws.md
Labels: bug, docs, exclude-changelog

#3900 KV Store: Database migration docs
  docs/reference/database-migration.md
  docs/reference/upgrade.md
Labels: exclude-changelog, team/versioning-engine, area/KV

#3908 Fix missing slash in the spark-submit template
  pkg/api/controller_test.go
  templates/content/spark.submit.conf.tt
Labels: pr/merge-if-approved, exclude-changelog

#3907 flag to enable/disable serving of UI
  docs/reference/configuration.md
  pkg/api/serve.go
  pkg/api/ui_handler.go
  pkg/config/config.go
  pkg/config/template.go
Labels: exclude-changelog

#3892 remove legacy cookie code
  pkg/api/auth_middleware.go
  pkg/api/auth_middleware_test.go
  pkg/api/login_handler.go
Labels: exclude-changelog

#3920 improve commit log by objects performance
  pkg/catalog/catalog.go
Labels: include-changelog

#3898 KV Store: Fix setup and DB config init
  .github/workflows/esti.yaml
  cmd/lakefs/cmd/diagnostics.go
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/migrate.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/kv/dynamodb/store.go
  pkg/kv/migration.go
  pkg/kv/postgres/store.go
  pkg/kv/store.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3891 Remove usage of deprecated Name field in Authorization API
  api/authorization.yml
  pkg/auth/service.go
  pkg/auth/service_test.go
Labels: exclude-changelog

#3905 [GC] Fixed timeout in get request to lakeFS client when running GC on Azure
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  docs/reference/garbage-collection.md
  test/spark/run-gc-test.sh
Labels: bug, area/testing, include-changelog

#3927 Release Spark metadata client
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
Labels: exclude-changelog

#3911 KV pg primary key and read complete kv configuration
  cmd/lakefs/cmd/migrate.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  pkg/api/controller.go
  pkg/config/config.go
  pkg/kv/dynamodb/store.go
  pkg/kv/postgres/store.go
Labels: exclude-changelog

#3929 Update docs with new Spark client version 0.2.1
  docs/reference/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog

#3913 scan with paging for kv over pg
  pkg/kv/params/database.go
  pkg/kv/postgres/store.go
  pkg/kv/postgres/store_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3915 3914 update the use case docs page to include right terminology
  docs/use_cases/iso_env.md
  docs/using_lakefs/data-devenv.md
Labels: docs, exclude-changelog

#3890 Fix lakectl merge output to include newline after successful merge
  cmd/lakectl/cmd/merge.go
  esti/golden/lakectl_merge_source_wins.golden
Labels: area/lakectl, exclude-changelog

#3930 Minor typo
  docs/integrations/glue_hive_metastore.md
Labels: docs, exclude-changelog

#3937 Add skip batch option for ListCommits
  pkg/batch/executor.go
  pkg/batch/executor_test.go
  pkg/catalog/catalog.go
  pkg/graveler/ref/db_manager.go
  pkg/graveler/ref/manager.go
Labels: exclude-changelog

#3952 KV Store: Remove default dynamodb config
  cmd/lakefs/cmd/migrate.go
  pkg/config/config.go
  pkg/kv/dynamodb/store.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3917 KV Store: Migration Improvements
  pkg/actions/db_service.go
  pkg/graveler/ref/db_manager.go
  pkg/graveler/ref/kv_migrate_test.go
  pkg/graveler/staging/db_manager.go
  pkg/graveler/staging/kv_migrate_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3936 Improve commit log performance
  esti/golden/lakectl_log_404.golden
  pkg/api/controller_test.go
  pkg/batch/executor.go
  pkg/batch/executor_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/db/database.go
  pkg/graveler/branch/protection_manager.go
  pkg/graveler/branch/protection_manager_test.go
  pkg/graveler/db_graveler.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/ref/branch_iterator_test.go
  pkg/graveler/ref/branch_locker.go
  pkg/graveler/ref/branch_locker_test.go
  pkg/graveler/ref/commit_iterator.go
  pkg/graveler/ref/commit_ordered_iterator_test.go
  pkg/graveler/ref/db_commit_ordered_iterator.go
  pkg/graveler/ref/db_manager.go
  pkg/graveler/ref/kv_migrate_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/merge_base_finder.go
  pkg/graveler/ref/merge_base_finder_test.go
  pkg/graveler/ref/repository_iterator_test.go
  pkg/graveler/ref/resolve_ref.go
  pkg/graveler/ref/resolve_ref_test.go
  pkg/graveler/ref/tag_iterator_test.go
  pkg/graveler/retention/expired_commits_test.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/graveler/settings/db_manager.go
  pkg/graveler/settings/manager.go
  pkg/graveler/settings/manager_test.go
  pkg/graveler/testutil/fakes.go
  pkg/graveler/validate.go
  pkg/onboard/catalog_actions.go
  pkg/onboard/catalog_actions_test.go
Labels: include-changelog

#3962 Update CHANGELOG.md for v0.70.3
  CHANGELOG.md
Labels: exclude-changelog

#3963 Remove client library change from CHANGELOG
  CHANGELOG.md
Labels: exclude-changelog

#3966 Update roadmap.md
  docs/understand/roadmap.md
Labels: exclude-changelog

#3972 Chore/log on 500
  pkg/api/controller.go
Labels: exclude-changelog

#3902 Change Histogram buckets to better fit lakeFS commands
  pkg/api/stats.go
Labels: include-changelog

#3971 log commits with optional limit
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/java/src/test/java/io/lakefs/clients/api/RefsApiTest.java
  clients/python/docs/RefsApi.md
  clients/python/lakefs_client/api/refs_api.py
  cmd/lakectl/cmd/log.go
  docs/reference/commands.md
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/interface.go
Labels: performance, include-changelog

#3974 Update CHANGELOG before release
  CHANGELOG.md
Labels: exclude-changelog

#3976 Fix panic of nil tombstone
  pkg/graveler/committed/commit.go
Labels: bug, pr/high-priority, exclude-changelog, team/versioning-engine

#3977 changelog v0.70.5
  CHANGELOG.md
Labels: exclude-changelog

#3968 Docs/lakefs setup with dynamodb
  docs/deploy/aws.md
Labels: docs, exclude-changelog, team/versioning-engine, area/KV

#3987 docs: minor changes to the aws using dynamo on ec2
  docs/deploy/aws.md
Labels: docs, exclude-changelog

#3991 Close more iterators and readers in prepare GC
  pkg/graveler/retention/garbage_collection_manager.go
Labels: exclude-changelog

#3984 unit test and esti test to verify fix for 3975
  esti/commit_test.go
  pkg/graveler/committed/commit_test.go
Labels: exclude-changelog, team/versioning-engine

#3999 Fix lakectl abuse link same object error handling
  cmd/lakectl/cmd/abuse.go
Labels: exclude-changelog

#4005 UI: fix focus on branch lookup while creating tag
  webui/src/pages/repositories/repository/tags.jsx
Labels: bug, area/UI, include-changelog

#4006 KV DynamoDB metrics
  pkg/kv/dynamodb/stats.go
  pkg/kv/dynamodb/store.go
Labels: pr/merge-if-approved, area/DB, exclude-changelog

#4009 Metadata client: Keep (generated) API clients in a Guava Cache
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
Labels: area/client/spark, exclude-changelog, team/ecosystem

#4011 Cache top-level ApiClient not low-level generated api.ApiClient
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/Exporter.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
  clients/spark/examples/src/main/scala/io/treeverse/clients/examples/Export.scala
Labels: exclude-changelog, team/ecosystem

#3998 re-use http client in garbage collection to reduce number of open connections
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/Exporter.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
  clients/spark/examples/src/main/scala/io/treeverse/clients/examples/Export.scala
Labels: exclude-changelog

#4014 Add an options to config AdminAccessKeyID and AdminSecretAccessKey in Esti tests
  esti/main_test.go
Labels: area/testing, exclude-changelog

#4003 update azure and gcp db params for kv
  docs/deploy/azure.md
  docs/deploy/gcp.md
Labels: docs, exclude-changelog, team/versioning-engine, area/KV

#4002 changelog message for lakefs over kv
  CHANGELOG.md
Labels: exclude-changelog, team/versioning-engine, area/KV

#4017 create api configurations class
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/Exporter.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
  clients/spark/examples/src/main/scala/io/treeverse/clients/examples/Export.scala
Labels: exclude-changelog

#3965 Prefetch and parallelize commits compare
  docs/assets/js/swagger.yml
  pkg/catalog/catalog.go
  pkg/pyramid/eviction.go
  pkg/pyramid/file_locker.go
  pkg/pyramid/tier_fs.go
Labels: pr/high-priority, area/cataloger, include-changelog, team/versioning-engine

#4022 Fix GC test timeout config keys
  test/spark/run-gc-test.sh
Labels: bug, pr/merge-if-approved, area/system-tests, exclude-changelog

#4025 Update metadata client changelog and project version
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
Labels: exclude-changelog

#4026 update docs with 0.2.2 metadata client release
  docs/reference/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog

#4023 Document timeout Hadoop config for metadata client GC and Exporter
  docs/reference/export.md
  docs/reference/garbage-collection.md
Labels: pr/merge-if-approved, docs, exclude-changelog, team/ecosystem

#4037 Revert "Prefetch and parallelize commits compare (#3965)"
  docs/assets/js/swagger.yml
  pkg/catalog/catalog.go
  pkg/pyramid/eviction.go
  pkg/pyramid/file_locker.go
  pkg/pyramid/tier_fs.go
Labels: exclude-changelog

#4043 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog

#4036 Fix lakectl annotate check relevant response
  cmd/lakectl/cmd/annotate.go
Labels: bug, area/lakectl, exclude-changelog

#4038 Fix kv ordered commit iterator close panic
  pkg/graveler/ref/commit_ordered_iterator.go
  pkg/graveler/ref/manager.go
Labels: bug, exclude-changelog

#4035 Delete repositories at the end of the test
  esti/auth_test.go
  esti/commit_test.go
  esti/delete_objects_test.go
  esti/delete_test.go
  esti/hooks_failure_test.go
  esti/hooks_test.go
  esti/identity_test.go
  esti/import_test.go
  esti/merge_test.go
  esti/migrate_test.go
  esti/multipart_test.go
  esti/rollback_test.go
  esti/s3_gateway_test.go
  esti/system_test.go
Labels: area/testing, exclude-changelog

#4054 Remove dynamodb drop table metric for internal use removed
  pkg/kv/dynamodb/store.go
Labels: exclude-changelog

#3947 KV commit tests
  pkg/graveler/graveler_v2_test.go
Labels: exclude-changelog, area/KV
