Repository treeverse/lakeFS, pull requests merged in 2022-03, with the labels that each got.

#2991 additional tests to FindMergeBase
  pkg/graveler/ref/merge_base_finder_test.go
Labels: exclude-changelog

#2993 Update CHANGELOG.md for v0.60.1
  CHANGELOG.md
Labels: exclude-changelog

#2989 Simplify create repo docs section
  docs/quickstart/repository.md
Labels: exclude-changelog

#2922 Add merge strategy
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/Merge.md
  clients/java/src/main/java/io/lakefs/clients/api/model/Merge.java
  clients/java/src/test/java/io/lakefs/clients/api/model/MergeTest.java
  clients/python/docs/Merge.md
  clients/python/docs/RefsApi.md
  clients/python/lakefs_client/model/merge.py
  cmd/lakectl/cmd/merge.go
  cmd/lakefs/cmd/import.go
  docs/assets/js/swagger.yml
  docs/reference/commands.md
  nessie/files/ro_1k
  nessie/files/ro_1k_other
  nessie/golden/lakectl_branch_create.golden
  nessie/golden/lakectl_commit.golden
  nessie/golden/lakectl_fs_ls_1_file.golden
  nessie/golden/lakectl_fs_ls_2_file.golden
  nessie/golden/lakectl_fs_second_upload.golden
  nessie/golden/lakectl_fs_upload.golden
  nessie/golden/lakectl_log_with_commit.golden
  nessie/golden/lakectl_merge_conflict.golden
  nessie/golden/lakectl_merge_source_wins.golden
  nessie/lakectl_test.go
  nessie/lakectl_util.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/merge.go
  pkg/graveler/committed/merge_test.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/testutil/fakes.go
  pkg/graveler/validate.go
Labels: include-changelog

#3000 Docs: small improvment to first commit page
  docs/quickstart/first_commit.md
Labels: exclude-changelog

#3006 Improved create repo and others
  docs/quickstart/repository.md
  docs/setup/create-repo.md
  docs/understand/branching-model.md
Labels: docs, exclude-changelog

#2992 Added missing field `generation` to dumps
  cmd/lakectl/cmd/sst.go
  pkg/graveler/graveler.go
  pkg/graveler/ref/commit_iterator.go
  pkg/graveler/ref/commit_ordered_iterator.go
  pkg/graveler/ref/manager_test.go
Labels: bug, include-changelog

#3004 Remove statik package installation procedure in contributing page, re… (#2998)
  Makefile
  docs/contributing.md
Labels: exclude-changelog

#3008 Move to use Go v1.17.8
  .github/workflows/codeql-analysis.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/nessie.yaml
  .github/workflows/test.yaml
  Dockerfile
  docs/contributing.md
  go.mod
  nessie/ops/docker-compose.yaml
  tools.go
Labels: exclude-changelog

#3010 Update Docs Buttons
  docs/_config.yml
Labels: exclude-changelog

#2988 DBT: add branch creation capability
  cmd/lakectl/cmd/branch_tools.go
  cmd/lakectl/cmd/branch_tools_test.go
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/dbt.go
  cmd/lakectl/cmd/dbt_util.go
  cmd/lakectl/cmd/dbt_util_test.go
  docs/reference/commands.md
  pkg/metastore/metastore_utils.go
  test/lakectl_metastore/dbt-entrypoint.sh
Labels: include-changelog

#3013 fix docs footer width
  docs/_sass/custom/custom.scss
Labels: pr/merge-if-approved, exclude-changelog

#3018 Embed lakectl video
  docs/quickstart/first_commit.md
Labels: pr/merge-if-approved, exclude-changelog

#3017 Breaking Change: Update `commit ref` to `commit URI` for `lakectl tag create` command
  cmd/lakectl/cmd/tag.go
  docs/reference/commands.md
Labels: contributor, include-changelog

#3001 lakectl annotate should default to non recursive listing
  cmd/lakectl/cmd/annotate.go
  docs/reference/commands.md
  nessie/golden/lakectl_annotate_a.golden
  nessie/golden/lakectl_annotate_a_recursive.golden
  nessie/golden/lakectl_annotate_aaa.golden
  nessie/golden/lakectl_annotate_iiikkklll.golden
  nessie/golden/lakectl_annotate_top.golden
  nessie/golden/lakectl_annotate_top_recursive.golden
  nessie/lakectl_test.go
  nessie/lakectl_util.go
Labels: include-changelog

#3015 Redo architecture docs
  docs/assets/img/arch.png
  docs/understand/architecture.md
Labels: docs, exclude-changelog

#3030 docs/redirect from old page
  docs/quickstart/first_commit.md
Labels: exclude-changelog

#3029 Fix: Remove unused method
  pkg/api/controller.go
Labels: exclude-changelog

#2977 Grammarly on the README file
  README.md
Labels: exclude-changelog

#2942 Proposal: using RouterFileSytem to co-exist with existing underlying …
  design/diagrams/routerFS-by_lakefs.excalidraw
  design/diagrams/routerFS-by_lakefs.png
  design/diagrams/routerFs-s3.excalidraw
  design/diagrams/routerFs_s3.png
  design/spark-co-exist-with-object-storages.md
Labels: exclude-changelog

#3023 LakeCTL doctor command improvements. Part of #3002
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/doctor.go
  cmd/lakectl/cmd/root.go
  docs/reference/commands.md
  nessie/doctor_test.go
  nessie/golden/lakectl_doctor_ok_verbose.golden
  nessie/golden/lakectl_doctor_with_suspicious_access_key_id_verbose.golden
  nessie/golden/lakectl_doctor_with_suspicious_secret_access_key_verbose.golden
  nessie/golden/lakectl_doctor_with_wrong_credentials_verbose.golden
  nessie/golden/lakectl_doctor_wrong_endpoint.golden
  nessie/golden/lakectl_doctor_wrong_endpoint_verbose.golden
  nessie/golden/lakectl_doctor_wrong_uri_format_endpoint.golden
  nessie/golden/lakectl_doctor_wrong_uri_format_endpoint_verbose.golden
  nessie/golden/lakectl_help.golden
Labels: include-changelog, internal-demo

#3039 lakectl config to hide secret access key
  cmd/lakectl/cmd/config.go
Labels: area/lakectl, include-changelog

#3032 Docs: Fix hooks documentation and architecture diagram
  docs/assets/img/arch.png
  docs/setup/hooks.md
Labels: exclude-changelog

#3063 Minor docs fixes
  design/spark-co-exist-with-object-storages.md
  docs/reference/object-model.md
Labels: exclude-changelog

#3046 test: fix code format and deadline cleanup
  pkg/batch/executor_test.go
  pkg/graveler/ref/branch_locker_test.go
Labels: exclude-changelog

#3042 Improve Airbyte documentation
  docs/integrations/airbyte.md
Labels: pr/merge-if-approved, exclude-changelog

#3044 Remove unused workflow
  .github/workflows/cryptolake.yaml
Labels: exclude-changelog

#3068 Add TRACE as logging level configuration option
  docs/reference/configuration.md
Labels: docs, exclude-changelog

#2466 Proposal for running lakeFS on top of a key/value store
  design/accepted/aaa.md
  design/accepted/boto-design.md
  design/accepted/diagrams/boto-architecture.excalidraw
  design/accepted/diagrams/boto-architecture.png
  design/accepted/diagrams/botwo-design.excalidraw
  design/accepted/diagrams/botwo-design.png
  design/accepted/diagrams/hive_metastore_database_diagram.png
  design/accepted/diagrams/lakectl-testing-arch.excalidraw
  design/accepted/diagrams/lakectl-testing-arch.png
  design/accepted/diagrams/merge-refactor-design.excalidraw
  design/accepted/diagrams/merge-refactor-design.png
  design/accepted/diagrams/metastore-alt.excalidraw
  design/accepted/diagrams/metastore-alt.png
  design/accepted/diagrams/metastore.excalidraw
  design/accepted/diagrams/metastore.png
  design/accepted/diagrams/routerFS-by_lakefs.excalidraw
  design/accepted/diagrams/routerFS-by_lakefs.png
  design/accepted/diagrams/routerFs-s3.excalidraw
  design/accepted/diagrams/routerFs_s3.png
  design/accepted/diagrams/spark-with-interfacing-classloader.excalidraw
  design/accepted/diagrams/spark-with-interfacing-classloader.png
  design/accepted/double-rocksdbjni.md
  design/accepted/export-functionality.md
  design/accepted/lakectl-testing.md
  design/accepted/log-commits-per-path.md
  design/accepted/merge-refactor.md
  design/accepted/metastore-project.md
  design/accepted/metastore.md
  design/accepted/object-metadata-s3.md
  design/accepted/playground.md
  design/accepted/protected-branches.md
  design/accepted/spark-co-exist-with-object-storages.md
  design/accepted/system_tests.md
  design/accepted/task-management-api.md
  design/accepted/ui-testing.md
  design/open/metadata_kv/committer_flow.excalidraw
  design/open/metadata_kv/committer_flow.png
  design/open/metadata_kv/index.md
  design/open/metadata_kv/reader_flow.excalidraw
  design/open/metadata_kv/reader_flow.png
  design/open/metadata_kv/writer_flow.excalidraw
  design/open/metadata_kv/writer_flow.png
Labels: area/DB, proposal, exclude-changelog

#3047 Use Go's embed feature instead of statik
  .dockerignore
  .github/workflows/nessie.yaml
  Makefile
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/doctor.go
  go.mod
  go.sum
  pkg/api/serve.go
  pkg/api/ui_handler.go
  pkg/api/ui_handler_test.go
  pkg/db/migration.go
  pkg/ddl/content.go
  tools.go
  webui/content.go
Labels: exclude-changelog

#3070 remove statik output from git ignore
  .gitignore
Labels: exclude-changelog

#3074 Don't log secure strings by default
  pkg/config/config.go
  pkg/config/template.go
  pkg/validator/validate.go
Labels: pr/merge-if-approved, exclude-changelog

#3072 codestyle minor changes
  cmd/lakectl/cmd/annotate.go
  cmd/lakefs/cmd/root.go
  pkg/block/azure/chunkwriting.go
  pkg/logging/caller.go
  webui/src/lib/components/repository/tree.jsx
Labels: exclude-changelog

#3075 lakefs fix lint issues
  nessie/doctor_test.go
  nessie/export_test.go
  nessie/hooks_test.go
  nessie/identity_test.go
  nessie/lakectl_util.go
  nessie/webhook_server_test.go
  pkg/api/auth_middleware.go
  pkg/api/auth_middleware_test.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/batch/executor_test.go
  pkg/config/struct_keys_test.go
  pkg/graveler/committed/diff_test.go
  pkg/graveler/committed/merge_test.go
  pkg/graveler/ref/branch_locker_test.go
  pkg/graveler/settings/manager_test.go
  pkg/metastore/ms_client_test.go
Labels: exclude-changelog

#3041 [2550] Dont show GetStarted for empty commit
  webui/src/lib/components/repository/tree.jsx
Labels: contributor, include-changelog

#2901 docs: k8s job hook proposal
  design/rejected/diagrams/k8s-job-hook.excalidraw
  design/rejected/diagrams/k8s-job-hook.png
  design/rejected/k8s-job-hook.md
Labels: exclude-changelog

#3025 Fix error capturing and formatting in DB operation failures
  go.mod
  go.sum
  nessie/golden/lakectl_auth_users_create_success.golden
  nessie/lakectl_test.go
  pkg/api/controller.go
  pkg/db/tx.go
  pkg/db/tx_test.go
Labels: include-changelog

#3086 Small spark docs changes
  docs/integrations/spark.md
Labels: exclude-changelog

#3088 docs: update lakefs kv proposal retry and failure
  design/open/metadata_kv/index.md
Labels: exclude-changelog

#3087 SEO: use lakeFS website url for our artifacts
  Makefile
  clients/hadoopfs/pom.xml
  clients/java/pom.xml
  clients/spark/build.sbt
Labels: exclude-changelog

#3081 2983 lakectl ingest stages more objects than source s3 bucket
  cmd/lakectl/cmd/store/s3.go
  nessie/store_test.go
Labels: include-changelog

#3079 Add draining of stats metrics
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/actions/service_test.go
  pkg/api/serve_test.go
  pkg/gateway/playback_test.go
  pkg/loadtest/local_load_test.go
  pkg/stats/collector.go
  pkg/stats/collector_test.go
Labels: BI, exclude-changelog

#3067 Support metadata client on Spark 3.2
  .github/workflows/nessie.yaml
  .github/workflows/spark.yaml
  test/spark/run-client-test.sh
Labels: include-changelog

#3106 Improvements to "Understanding lakeFS" section
  docs/faq.md
  docs/setup/create-repo.md
  docs/understand/architecture.md
  docs/understand/object-model.md
  docs/understand/sizing-guide.md
  docs/understand/versioning-internals.md
Labels: exclude-changelog

#3108 3085 lakectl ingest adds multiple excess slash to object name
  cmd/lakectl/cmd/ingest.go
  cmd/lakectl/cmd/store/s3.go
Labels: include-changelog

#3104 Validate new repo isn't using existing storage namespace
  .github/workflows/nessie.yaml
  nessie/lakectl_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  test/spark/docker-compose.yaml
Labels: area/API, include-changelog, team/versioning-engine

#3110 Add `epoch-time-seconds` flag to lakectl
  cmd/lakectl/cmd/commit.go
  cmd/lakectl/cmd/input.go
  nessie/golden/lakectl_log_with_commit_custom_date.golden
  nessie/lakectl_test.go
  nessie/lakectl_util.go
Labels: exclude-changelog

#3128 Remove unused funcs in tx.go
  pkg/db/tx.go
Labels: contributor, exclude-changelog

#3114 Feature/add email password
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/User.md
  clients/java/src/main/java/io/lakefs/clients/api/model/User.java
  clients/java/src/test/java/io/lakefs/clients/api/model/UserTest.java
  clients/python/docs/User.md
  clients/python/lakefs_client/model/user.py
  cmd/lakefs/cmd/run.go
  pkg/api/controller.go
  pkg/auth/authenticator.go
  pkg/auth/model/model.go
  pkg/auth/service.go
  pkg/ddl/000036_users_email_password.down.sql
  pkg/ddl/000036_users_email_password.up.sql
Labels: exclude-changelog

#3135 Update index.md
  docs/index.md
Labels: exclude-changelog

#3117 3109 lakectl ingest tests
  .github/workflows/nessie.yaml
  nessie/golden/lakectl_fs_ls_after_ingest.golden
  nessie/golden/lakectl_fs_ls_after_ingest_recursive.golden
  nessie/golden/lakectl_ingest.golden
  nessie/lakectl_test.go
  nessie/ops/docker-compose.yaml
  pkg/testutil/setup.go
Labels: exclude-changelog

#3043 lakefs release workflows without using credentials
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/nessie.yaml
  .github/workflows/publish-hadoop-lakefs.yaml
Labels: exclude-changelog

#3136 fix text in branch protection text label
  webui/src/pages/repositories/repository/settings/branches.jsx
Labels: pr/merge-if-approved, exclude-changelog

#3084 Allow ingesting from a non-default S3 endpoint
  cmd/lakectl/cmd/ingest.go
  cmd/lakectl/cmd/store/factory.go
  cmd/lakectl/cmd/store/s3.go
  docs/reference/commands.md
  docs/setup/import.md
  nessie/store_test.go
Labels: contributor, include-changelog

#3122 Adding email functionality to Lakefs
  cmd/lakefs/cmd/root.go
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  go.mod
  go.sum
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/email/send_email.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, team/cloud-native

#3065 Improve (slightly) the grammar in our Airflow integration docs
  docs/integrations/airflow.md
Labels: pr/merge-if-approved, docs, exclude-changelog

#3091 Change KV storage proposal to guarantee progress
  design/open/metadata_kv/committer_flow.excalidraw
  design/open/metadata_kv/committer_flow.png
  design/open/metadata_kv/index.md
Labels: exclude-changelog, team/versioning-engine

#3130 Feature/add additional hook locations
  nessie/action_files/action_post_commit.yaml
  nessie/action_files/action_post_create_branch.yaml
  nessie/action_files/action_post_create_tag.yaml
  nessie/action_files/action_post_delete_branch.yaml
  nessie/action_files/action_post_delete_tag.yaml
  nessie/action_files/action_post_merge.yaml
  nessie/action_files/action_pre_commit.yaml
  nessie/action_files/action_pre_create_branch.yaml
  nessie/action_files/action_pre_create_tag.yaml
  nessie/action_files/action_pre_delete_branch.yaml
  nessie/action_files/action_pre_delete_tag.yaml
  nessie/action_files/action_pre_merge.yaml
  nessie/hooks_test.go
  nessie/webhook_server_test.go
  pkg/actions/action.go
  pkg/actions/action_test.go
  pkg/actions/event.go
  pkg/actions/service.go
  pkg/actions/testdata/action_invalid_param_tag_actions.yaml
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/hooks_handler.go
Labels: include-changelog, team/versioning-engine

#3142 Docs: Add documentation for new hooks
  docs/setup/hooks.md
Labels: exclude-changelog, team/versioning-engine
