Repository treeverse/lakeFS, pull requests merged in 2022-07, with the labels that each got.

#3589 TTV: GUI- extract import functionality
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/services/importUtils.js
Labels: exclude-changelog

#3596 KV Store: Initial graveler skeleton
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/run.go
  pkg/api/serve_test.go
  pkg/catalog/catalog.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/graveler/db_graveler.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3597 Clarify that the template URL is relative
  design/open/ttv-wizard-mvp.md
Labels: pr/merge-if-approved, docs, exclude-changelog, team/ecosystem

#3611 Don't include mui package
  webui/package.json
Labels: area/UI, exclude-changelog, team/versioning-engine

#3604 Show create branch errors on the UI
  webui/src/pages/repositories/repository/branches.jsx
Labels: include-changelog

#3601 Auth module in Esti migration test
  esti/migrate_test.go
Labels: exclude-changelog, team/versioning-engine

#3620 Skip TestRunResultsIterator
  pkg/actions/kv_run_results_iterator_test.go
Labels: bug, pr/merge-if-approved, area/testing, exclude-changelog

#3612 Skip flaky import test
  esti/import_test.go
Labels: bug, pr/merge-if-approved, area/testing, exclude-changelog, team/versioning-engine

#3578 Fix/remove ids from auth models 3521
  cmd/lakefs/cmd/superuser.go
  pkg/api/auth_middleware.go
  pkg/api/controller.go
  pkg/auth/authenticator.go
  pkg/auth/cache.go
  pkg/auth/db_service.go
  pkg/auth/invite.go
  pkg/auth/kv_migrate_test.go
  pkg/auth/model/model.go
  pkg/auth/model/model.pb.go
  pkg/auth/model/model.proto
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/auth/setup.go
  pkg/gateway/middleware.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/loadtest/local_load_test.go
Labels: include-changelog, team/versioning-engine, area/KV

#3619 Get user by external id
  api/authorization.yml
  pkg/api/auth_middleware.go
  pkg/auth/cache.go
  pkg/auth/db_service.go
  pkg/auth/service.go
  webui/src/lib/api/index.js
  webui/src/lib/components/navbar.jsx
Labels: exclude-changelog

#3625 Docs proofreading
  docs/deploy/aws.md
  docs/deploy/azure.md
  docs/quickstart/add_data.md
  docs/quickstart/first_commit.md
  docs/quickstart/installing.md
  docs/quickstart/more_quickstart_options.md
  docs/quickstart/repository.md
Labels: exclude-changelog

#3607 TTV: GUI Wizard component
  webui/package.json
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/wizard/wizard.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog, team/ecosystem

#3600 Add a template server
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/TemplatesApi.md
  clients/java/src/main/java/io/lakefs/clients/api/TemplatesApi.java
  clients/java/src/test/java/io/lakefs/clients/api/TemplatesApiTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/TemplatesApi.md
  clients/python/lakefs_client/api/templates_api.py
  clients/python/lakefs_client/apis/__init__.py
  clients/python/test/test_templates_api.py
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/auth/service.go
  pkg/loadtest/local_load_test.go
  pkg/permissions/permission.go
  pkg/templater/expander.go
  pkg/templater/funcmap.go
  pkg/templater/funcmap_test.go
  pkg/templater/funcs.go
  pkg/templater/service.go
  templates/content.go
  templates/content/fail.tt
  templates/content/spark.conf.tt
Labels: include-changelog

#3606 Add phase-dependent template function contenttype
  pkg/api/controller_test.go
  pkg/templater/expander.go
  pkg/templater/funcs.go
  pkg/templater/service.go
  templates/content/spark.conf.tt
Labels: exclude-changelog, team/versioning-engine, team/ecosystem

#3615 Add logging to catch testing race-condition
  esti/import_test.go
  pkg/pyramid/file_test.go
  pkg/pyramid/tier_fs.go
  pkg/pyramid/wr_file.go
Labels: bug, area/system-tests, exclude-changelog, team/versioning-engine

#3641 Move KV proposals to accepted
  design/accepted/metadata_kv/committer_flow.excalidraw
  design/accepted/metadata_kv/committer_flow.png
  design/accepted/metadata_kv/index.md
  design/accepted/metadata_kv/kv3-execution-plan.md
  design/accepted/metadata_kv/kv_auth.md
  design/accepted/metadata_kv/kv_migration.md
  design/accepted/metadata_kv/lakefs-kv-execution-plan.md
  design/accepted/metadata_kv/lakefs-on-kv-testing-plan.md
  design/accepted/metadata_kv/reader_flow.excalidraw
  design/accepted/metadata_kv/reader_flow.png
  design/accepted/metadata_kv/writer_flow.excalidraw
  design/accepted/metadata_kv/writer_flow.png
Labels: exclude-changelog, team/versioning-engine, area/KV

#3454 Added more instructions for windows make build command
  docs/contributing.md
Labels: docs, exclude-changelog

#3610 KV Store: Staging Manager Implementation
  esti/migrate_test.go
  pkg/actions/db_service.go
  pkg/actions/kv_migrate_test.go
  pkg/actions/kv_run_results_iterator.go
  pkg/actions/kv_run_results_iterator_test.go
  pkg/actions/kv_task_results_iterator.go
  pkg/actions/service.go
  pkg/actions/store.go
  pkg/api/serve_test.go
  pkg/auth/db_service.go
  pkg/auth/model/model.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/catalog/catalog.go
  pkg/gateway/multiparts/tracker.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/graveler_test.go
  pkg/graveler/main_test.go
  pkg/graveler/staging/db_iterator.go
  pkg/graveler/staging/db_manager.go
  pkg/graveler/staging/iterator.go
  pkg/graveler/staging/main_test.go
  pkg/graveler/staging/manager.go
  pkg/graveler/staging/manager_test.go
  pkg/kv/iterators.go
  pkg/kv/kvtest/test_model.pb.go
  pkg/kv/kvtest/test_model.proto
  pkg/kv/mem/store.go
  pkg/kv/skip_iterator.go
  pkg/kv/store_message.go
  pkg/kv/store_message_test.go
  pkg/testutil/db.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3598 Add dynamoDB Esti test
  .github/workflows/esti.yaml
  esti/ops/docker-compose-dynamodb.yaml
  pkg/config/config.go
  pkg/config/template.go
  pkg/kv/dynamodb/store.go
Labels: exclude-changelog

#3631 TTV: Adding "Repository creation" step to the wizard
  webui/package-lock.json
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/wizard/spark_quickstart_wizard.jsx
  webui/src/pages/repositories/wizard/wizard.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog, team/ecosystem

#3649 Improved options for primary iterator
  pkg/actions/kv_run_results_iterator.go
  pkg/actions/kv_task_results_iterator.go
  pkg/auth/service.go
  pkg/graveler/ref/tag_iterator.go
  pkg/kv/iterators.go
  pkg/kv/store_message.go
Labels: exclude-changelog, team/versioning-engine

#3599 Rename "querystring" -> "query"
  design/open/ttv-wizard-mvp.md
Labels: pr/merge-if-approved, exclude-changelog, team/ecosystem

#3642 Fix & Reenable TestRunResultsIterator
  pkg/actions/kv_run_results_iterator_test.go
  pkg/actions/kv_task_results_iterator_test.go
Labels: exclude-changelog, team/versioning-engine

#3653 Spark client: add debugging methods documentaition
  clients/spark/README.md
Labels: exclude-changelog

#3655 Fix list groups using api auth service
  pkg/auth/service.go
Labels: exclude-changelog

#3646 3591 kv graveler repository
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/model.go
  pkg/graveler/ref/db_manager.go
  pkg/graveler/ref/db_repository_iterator.go
  pkg/graveler/ref/iterator.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/repository_iterator.go
  pkg/graveler/ref/repository_iterator_test.go
Labels: exclude-changelog

#3650 TTV Wizard: Import data step
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/services/importUtils.js
  webui/src/pages/repositories/services/import_data.jsx
  webui/src/pages/repositories/wizard/import_data_wizard_step.jsx
  webui/src/pages/repositories/wizard/spark_quickstart_wizard.jsx
Labels: exclude-changelog, team/ecosystem

#3671 Fix: Actions update commit id, return nil if no entry found
  pkg/actions/store.go
Labels: exclude-changelog

#3670 Initialize kv auth service with invite handler
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/api/serve_test.go
  pkg/auth/kv_migrate_test.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog

#3662 Add lakectl abuse commit
  cmd/lakectl/cmd/abuse.go
  cmd/lakectl/cmd/input.go
  docs/reference/commands.md
Labels: area/lakectl, exclude-changelog, team/versioning-engine

#3617 Allow OIDC as default login
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/SetupState.md
  clients/java/src/main/java/io/lakefs/clients/api/model/SetupState.java
  clients/java/src/test/java/io/lakefs/clients/api/model/SetupStateTest.java
  clients/python/docs/SetupState.md
  clients/python/lakefs_client/model/setup_state.py
  docs/assets/js/swagger.yml
  docs/reference/configuration.md
  pkg/api/controller.go
  pkg/config/template.go
  webui/src/lib/hooks/api.jsx
  webui/src/lib/hooks/router.jsx
  webui/src/pages/auth/login.jsx
Labels: include-changelog

#3638 Issue-3515: Added the glossary page
  docs/glossary.md
Labels: docs, exclude-changelog

#3677 docs: anonymous crossorigin swagger ui js
  docs/_includes/swagger.html
Labels: exclude-changelog

#3688 Document CombinedIterator better
  pkg/graveler/combined_iterator.go
Labels: exclude-changelog, team/versioning-engine

#3643 docs proofreading - deploy and setup pages
  docs/commitment.md
  docs/contributing.md
  docs/deploy/docker.md
  docs/deploy/gcp.md
  docs/deploy/k8s.md
  docs/faq.md
  docs/reference/authentication.md
  docs/reference/authorization.md
  docs/reference/configuration.md
  docs/reference/export.md
  docs/reference/garbage-collection.md
  docs/reference/monitor.md
  docs/reference/offboarding.md
  docs/reference/oidc.md
  docs/reference/protected_branches.md
  docs/reference/s3.md
  docs/reference/spark-client.md
  docs/reference/upgrade.md
  docs/setup/create-repo.md
  docs/setup/hooks.md
  docs/setup/import.md
  docs/setup/index.md
  docs/setup/storage/blob.md
  docs/setup/storage/gcs.md
  docs/setup/storage/index.md
  docs/setup/storage/s3.md
  docs/setup/virtual-host-addressing.md
  docs/understand/architecture.md
  docs/understand/branching-model.md
  docs/understand/object-model.md
  docs/understand/roadmap.md
  docs/understand/sizing-guide.md
  docs/understand/versioning-internals.md
  docs/use_cases/iso_env.md
  docs/use_cases/reproducibility.md
  docs/use_cases/rollback.md
Labels: exclude-changelog

#3687 Stabilize lakectl ingest test by replacing equal match with contains
  esti/golden/lakectl_ingest.golden
  esti/lakectl_test.go
  esti/lakectl_util.go
Labels: area/system-tests, exclude-changelog, team/versioning-engine

#3697 Don't double-encode query params in WebUI templates client
  webui/src/lib/api/index.js
Labels: pr/merge-if-approved, exclude-changelog

#3663 KV graveler implementation commit
  esti/migrate_test.go
  pkg/catalog/catalog.go
  pkg/graveler/db_graveler.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/model.go
  pkg/graveler/ref/commit_iterator.go
  pkg/graveler/ref/commit_ordered_iterator.go
  pkg/graveler/ref/commit_ordered_iterator_test.go
  pkg/graveler/ref/commit_record.go
  pkg/graveler/ref/db_commit_ordered_iterator.go
  pkg/graveler/ref/db_manager.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/tag_iterator.go
  pkg/graveler/ref/tag_iterator_test.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog

#3700 Update js moment package
  webui/package-lock.json
Labels: javascript, exclude-changelog

#3669 KV Store: Ref Manager Branch Implementation
  pkg/catalog/catalog.go
  pkg/graveler/db_graveler.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/graveler_test.go
  pkg/graveler/model.go
  pkg/graveler/ref/branch_iterator.go
  pkg/graveler/ref/branch_iterator_test.go
  pkg/graveler/ref/commit_ordered_iterator.go
  pkg/graveler/ref/commit_ordered_iterator_test.go
  pkg/graveler/ref/db_branch_iterator.go
  pkg/graveler/ref/db_manager.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/tag_iterator.go
  pkg/graveler/ref/tag_iterator_test.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/graveler/staging/db_manager.go
  pkg/graveler/staging/iterator.go
  pkg/graveler/staging/manager.go
  pkg/graveler/testutil/fakes.go
  pkg/kv/iterators.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3701 Handle conflict response from auth api
  api/authorization.yml
  pkg/auth/errors.go
  pkg/auth/service.go
Labels: exclude-changelog

#3737 KV Store: Graveler implement Get and List
  esti/commit_test.go
  esti/hooks_test.go
  esti/import_test.go
  esti/rollback_test.go
  pkg/graveler/db_graveler.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/ref/branch_iterator_test.go
  pkg/graveler/ref/resolve_ref.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3729 KV Store: Graveler implement DumpTags
  pkg/graveler/graveler.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3738 Delete DB from unneened places
  pkg/catalog/catalog.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/retention/garbage_collection_manager.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3675 Docs proofreading - integrations category
  docs/integrations/airbyte.md
  docs/integrations/airflow.md
  docs/integrations/athena.md
  docs/integrations/aws_cli.md
  docs/integrations/boto.md
  docs/integrations/databricks.md
  docs/integrations/dbt.md
  docs/integrations/delta.md
  docs/integrations/distcp.md
  docs/integrations/dremio.md
  docs/integrations/emr.md
  docs/integrations/glue_etl.md
  docs/integrations/glue_hive_metastore.md
  docs/integrations/hive.md
  docs/integrations/kakfa.md
  docs/integrations/kubeflow.md
  docs/integrations/mapreduce.md
  docs/integrations/minio.md
  docs/integrations/presto_trino.md
  docs/integrations/python.md
  docs/integrations/rclone.md
  docs/integrations/sagemaker.md
  docs/integrations/spark.md
Labels: exclude-changelog

#3707 TTV: Wizard Spark configuration step
  webui/src/lib/components/code_tabs.jsx
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/nav.jsx
  webui/src/pages/repositories/wizard/spark_config_step.jsx
  webui/src/pages/repositories/wizard/spark_quickstart_wizard.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog, team/ecosystem

#3703 Remove ambiguity around username
  api/authorization.yml
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/User.md
  clients/java/docs/UserCreation.md
  clients/java/src/main/java/io/lakefs/clients/api/model/User.java
  clients/java/src/main/java/io/lakefs/clients/api/model/UserCreation.java
  clients/python/docs/User.md
  clients/python/docs/UserCreation.md
  clients/python/lakefs_client/model/user.py
  clients/python/lakefs_client/model/user_creation.py
  cmd/lakectl/cmd/auth.go
  docs/assets/js/swagger.yml
  docs/reference/commands.md
  pkg/api/controller.go
  pkg/auth/model/model.go
  pkg/auth/service.go
Labels: exclude-changelog

#3740 KV Store: Graveler implement Diff
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3661 repository operation error handling design
  design/open/diagrams/create-repository-1.excalidraw
  design/open/diagrams/create-repository-1.png
  design/open/diagrams/create-repository-2.excalidraw
  design/open/diagrams/create-repository-2.png
  design/open/repository-operations-error-handling.md
Labels: exclude-changelog, team/versioning-engine, area/KV

#3742 KV Store: Graveler implement DiffUncommitted
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/testutil/fakes.go
  pkg/graveler/uncommitted_diff_iterator.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3716 KV Store: Remove dependencies in DB Graveler
  pkg/graveler/graveler.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3747 KV Store: Graveler implement Compare
  pkg/graveler/graveler.go
  pkg/graveler/ref/merge_base_finder.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3732 Implement KV graveler Set & Delete
  pkg/graveler/db_graveler.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/model.go
  pkg/graveler/staging/db_manager.go
  pkg/graveler/staging/iterator.go
  pkg/graveler/staging/manager.go
  pkg/graveler/staging/manager_test.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3733 Make GC hard-delete expired objects from Azure blob storage
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/BulkRemoverFactory.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/Exporter.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/StorageUtils.scala
Labels: exclude-changelog

#3749 KV Store: Graveler implement LoadCommits
  pkg/graveler/graveler.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3752 Merge KV Implementation
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/ref/db_manager.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3743 TTV: Wizard - Spark templates and Syntax highlighting
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/TemplatesApi.md
  clients/python/docs/TemplatesApi.md
  docs/assets/js/swagger.yml
  pkg/api/controller_test.go
  templates/content/spark.conf.tt
  templates/content/spark.core.site.conf.tt
  templates/content/spark.databricks.conf.tt
  templates/content/spark.submit.conf.tt
  webui/package-lock.json
  webui/package.json
  webui/src/lib/components/code_tabs.jsx
  webui/src/pages/repositories/wizard/spark_config_step.jsx
Labels: exclude-changelog, team/ecosystem

#3750 KV add commit to branch head
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/ref/manager.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3764 Shade libraries that conflict with Databricks runtime 11.0
  clients/spark/build.sbt
Labels: exclude-changelog

#3765 Bug: Fix KV Graveler Get
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3763 UI remove console log from ref selector
  webui/src/lib/components/repository/refDropdown.jsx
Labels: area/UI, javascript, exclude-changelog

#3755 KV Store: Graveler implement Reset
  esti/rollback_test.go
  pkg/graveler/db_graveler.go
  pkg/graveler/graveler.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3754 Revert KV Graveler implementation
  esti/rollback_test.go
  pkg/graveler/graveler.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3762 [GC] Respect Hadoop AWS access key configuration in S3Client
  .github/workflows/esti.yaml
  clients/spark/core/src/main/hadoop2/scala/io/treeverse/clients/conditional/S3ClientBuilder.scala
  clients/spark/core/src/main/hadoop3/scala/io/treeverse/clients/conditional/S3ClientBuilder.scala
  test/spark/run-gc-test.sh
Labels: include-changelog

#3745 Integration tests: GC on Azure for Spark 3.x, Hadoop 3
  .github/workflows/esti.yaml
  test/spark/docker-compose.yaml
  test/spark/run-gc-test.sh
Labels: exclude-changelog

#3760 TTV: Wizard- credentials alert
  webui/src/pages/repositories/wizard/spark_config_step.jsx
Labels: exclude-changelog, team/ecosystem

#3761 Display readme file if available
  webui/package-lock.json
  webui/package.json
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/wizard/spark_quickstart_wizard.jsx
  webui/src/styles/globals.css
Labels: include-changelog, team/ecosystem

#3777 Docs: clarify storage terms
  docs/glossary.md
  docs/understand/object-model.md
Labels: exclude-changelog

#3776 KV Store: Graveler implement LoadTags
  pkg/graveler/graveler.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3759 TTV: Templates: add README template
  templates/content/spark.metastore.readme.tt
  webui/package-lock.json
  webui/package.json
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/wizard/import_data_wizard_step.jsx
  webui/src/pages/repositories/wizard/spark_config_step.jsx
  webui/src/pages/repositories/wizard/spark_quickstart_wizard.jsx
  webui/src/pages/repositories/wizard/wizard.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog, team/ecosystem

#3770 KV Store: Graveler implement ResetKey ResetPrefix
  esti/rollback_test.go
  esti/scripts/lakefs.yaml
  pkg/graveler/graveler.go
  pkg/graveler/staging/manager.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3786 Enable graveler delete test
  pkg/graveler/graveler_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3778 [GC] Changed 'region' parameter to be optional
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  test/spark/run-gc-test.sh
Labels: exclude-changelog, team/ecosystem

#3783 KV Store: Graveler naive delete repository
  esti/auth_test.go
  esti/scripts/lakefs.yaml
  pkg/graveler/graveler.go
  pkg/graveler/ref/db_manager.go
  pkg/graveler/ref/manager.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3784 lakectl abuse list
  cmd/lakectl/cmd/abuse.go
  docs/reference/commands.md
Labels: exclude-changelog

#3791 TTV: Wizard- fix the skip button's behavior
  webui/src/pages/repositories/wizard/import_data_wizard_step.jsx
  webui/src/pages/repositories/wizard/spark_quickstart_wizard.jsx
  webui/src/pages/repositories/wizard/wizard.jsx
Labels: exclude-changelog

#3789 Add allocs and mutex to pprof available profiles
  pkg/httputil/endpoints.go
Labels: exclude-changelog

#3793 Unify "Branching Model" and "Object Model" doc pages
  docs/glossary.md
  docs/index.md
  docs/setup/create-repo.md
  docs/understand/branching-model.md
  docs/understand/model.md
  docs/understand/versioning-internals.md
Labels: exclude-changelog

#3779 exit GC in case that no GC rules are configured for a repo
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: exclude-changelog

#3808 readme edit
  templates/content/spark.metastore.readme.tt
  webui/src/pages/repositories/repository/objects.jsx
Labels: exclude-changelog
