Repository treeverse/lakeFS, pull requests merged in 2022-09, with the labels that each got.

#4074 updating migration required with link to migration page
  pkg/kv/migration.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#4060 Accept template server design
  design/accepted/template-server/template-server.md
Labels: pr/merge-if-approved, docs, exclude-changelog, team/ecosystem

#4082 Add progress logs and migrate warning message
  pkg/kv/import.go
  pkg/kv/postgres/migrate.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#4078 Fix retry branch update
  pkg/graveler/graveler.go
Labels: exclude-changelog

#4071 Concurrent merge improvements
  pkg/api/controller.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
Labels: include-changelog, team/versioning-engine, area/KV

#4087 Add retries for prepareBranchForCommitIDUpdate
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
Labels: bug, exclude-changelog, team/versioning-engine, area/KV

#4084 Fix: KV Migration no space left on device
  pkg/kv/import.go
Labels: bug, pr/merge-if-approved, exclude-changelog, team/versioning-engine, area/KV

#3878 Docs: Add KV documentation
  CHANGELOG.md
  docs/deploy/aws.md
  docs/deploy/azure.md
  docs/deploy/gcp.md
  docs/reference/configuration.md
  docs/reference/database-migration.md
  docs/reference/upgrade.md
  docs/understand/sizing-guide.md
Labels: exclude-changelog, team/versioning-engine, area/KV

#4090 Docs: KV fix broken link
  docs/reference/upgrade.md
Labels: exclude-changelog, team/versioning-engine, area/KV

#4063 docs: update metrics reference with dynamodb
  docs/reference/monitor.md
Labels: docs, exclude-changelog

#4097 Remove useless code from leftAntiJoinAddresses
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: pr/merge-if-approved, exclude-changelog, team/ecosystem

#4101 Dockerfile update ca certificates in image
  Dockerfile
Labels: include-changelog

#4099 Unify ranges in-place in distinctEntryTuples
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: include-changelog, team/ecosystem, bug/critical

#4102 test: graveler test code remove unused
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/settings/manager_test.go
Labels: area/testing, exclude-changelog

#4093 Simplify kv import
  pkg/kv/import.go
  pkg/kv/import_test.go
Labels: exclude-changelog

#4107 docs: fix swagger updated api
  docs/assets/js/swagger.yml
Labels: area/API, docs, exclude-changelog

#4081 [GC] Changed url parser of Azure to catch path without blob
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
Labels: include-changelog, team/ecosystem

#4105 UI: Fix conflicting objects diff
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/styles/globals.css
Labels: area/UI, include-changelog, team/versioning-engine

#4109 checking itr type for nil
  pkg/kv/iterators.go
Labels: include-changelog, team/versioning-engine, area/KV

#4113 update CHANGELOG
  CHANGELOG.md
Labels: exclude-changelog

#4106 Cleanup env before esti run
  esti/main_test.go
Labels: area/testing, exclude-changelog, team/cloud-native

#4110 flatMap range contents directly
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: bug, exclude-changelog, team/ecosystem

#4062 Fix: Pyramid delete before open
  pkg/pyramid/file_tracker.go
  pkg/pyramid/file_tracker_test.go
  pkg/pyramid/tier_fs.go
Labels: bug, include-changelog, team/versioning-engine

#4080 Add a test for ApiClient.translateURI
  clients/spark/core/src/test/scala/io/treeverse/clients/ApiClientSpec.scala
Labels: pr/merge-if-approved, area/testing, area/client/spark, exclude-changelog, team/ecosystem

#4122 Fix broken link in the Model doc page
  docs/understand/model.md
Labels: bug, pr/merge-if-approved, docs, exclude-changelog, low-priority, team/ecosystem

#4129 Retry cloud id fetch
  pkg/cloud/aws/metadata.go
Labels: exclude-changelog, team/versioning-engine

#4131 Avoid writing binary to logs
  pkg/kv/dynamodb/store.go
  pkg/kv/postgres/store.go
  pkg/kv/store.go
Labels: exclude-changelog, area/KV

#4032 Use limit flag in log-commits requests during Annotate
  cmd/lakectl/cmd/annotate.go
Labels: area/lakectl, exclude-changelog, team/versioning-engine

#4133 Always run Esti
  .github/workflows/esti.yaml
Labels: bug, pr/merge-if-approved, area/testing, area/system-tests, docs, infrastructure, exclude-changelog, low-priority, team/ecosystem, tech debt

#4141 Create repo improvements
  docs/_sass/custom/custom.scss
  docs/assets/img/create_repo_s3.png
  docs/assets/img/setup.png
  docs/assets/img/setup_done.png
  docs/setup/create-repo.md
  webui/src/lib/components/repositoryCreateForm.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog

#4146 #4145 Fix Everything Bagel for M1 / arm64
  deployments/compose/hive/Dockerfile
Labels: infrastructure, contributor, include-changelog

#4148 Remove code leftovers: id translator used by recorded
  pkg/block/adapter.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/s3/adapter.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/loadtest/local_load_test.go
  pkg/testutil/db.go
  pkg/testutil/upload_id_translator.go
Labels: exclude-changelog

#4154 Lookup commit when possible while commit prefix search
  pkg/graveler/ref/manager.go
Labels: include-changelog

#4158 Publish metadata client v0.2.3
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
Labels: exclude-changelog

#4144 Garbage collection docs: minor proofreading
  docs/reference/garbage-collection.md
Labels: exclude-changelog, minor-change

#4161 bump spark client version in docs
  docs/reference/export.md
  docs/reference/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#4163 support aws named profile for dynamodb
  docs/reference/configuration.md
  pkg/config/config.go
  pkg/config/template.go
  pkg/kv/dynamodb/store.go
  pkg/kv/params/database.go
Labels: include-changelog, team/cloud-native, minor-change

#4118 Improve how we handle kv iterator interface
  Makefile
  pkg/actions/kv_run_results_iterator.go
  pkg/auth/service.go
  pkg/graveler/ref/commit_ordered_iterator.go
  pkg/graveler/ref/commit_ordered_iterator_test.go
  pkg/graveler/ref/merge_base_finder_test.go
  pkg/graveler/ref/repository_iterator.go
  pkg/graveler/ref/repository_iterator_test.go
  pkg/graveler/ref/tag_iterator.go
  pkg/graveler/ref/tag_iterator_test.go
  pkg/kv/iterators.go
  pkg/kv/iterators_test.go
  pkg/kv/kvtest/store.go
  pkg/kv/store.go
Labels: exclude-changelog

#4117 s3 block adapter: enable skip verify certificate of storage endpoint
  docs/reference/configuration.md
  pkg/block/factory/build.go
  pkg/block/params/block.go
  pkg/block/s3/adapter.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/ingest/store/factory.go
Labels: area/block-adapter, include-changelog

#4165 GC: use commits from a previous run to reproduce
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
Labels: exclude-changelog

#4156 Design: GC on Parquet
  design/open/gc-on-parquet.md
Labels: exclude-changelog

#4125 Metadata Client: DataFrame out of entire storage namespace
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/SSTableReader.scala
Labels: exclude-changelog

#4136 kv iterators unit tests
  pkg/kv/kvtest/iterators.go
  pkg/kv/kvtest/store.go
Labels: exclude-changelog

#4111 test: remove unused println from test code
  pkg/metastore/ms_client_test.go
Labels: exclude-changelog, minor-change

#4171 Bump check linked issue action version
  .github/workflows/link-issue-to-pr.yaml
Labels: exclude-changelog, minor-change

#4169 Replace retry package with backoff
  go.mod
  go.sum
  pkg/db/params/retry.go
Labels: exclude-changelog

#4180 lakefs migrate without kv migrations
  cmd/lakefs/cmd/migrate.go
  cmd/lakefs/cmd/run.go
  pkg/kv/migration.go
Labels: exclude-changelog

#4137 Add pgxpool metrics to kv/postgres implementation
  cmd/lakefs/cmd/run.go
  docs/reference/monitor.md
  go.mod
  go.sum
  pkg/kv/kvtest/store.go
  pkg/kv/params/database.go
  pkg/kv/postgres/migrate.go
  pkg/kv/postgres/store.go
Labels: area/DB, include-changelog

#4127 proposal - lakefs kv tool
  design/open/kv-query-tool.md
Labels: proposal, exclude-changelog, team/versioning-engine, area/KV

#4089 optimistic locking and transactionless exaplained
  docs/reference/database-migration.md
  docs/understand/kv-in-a-nutshell.md
Labels: docs, exclude-changelog, team/versioning-engine, area/KV

#4183 Fix broken Everything Bagel (pin lakefs image version)
  deployments/compose/docker-compose.yml
Labels: exclude-changelog, minor-change

#4175 Docs: Add minor-change label documentation to PR
  docs/contributing.md
Labels: docs, exclude-changelog

#4126 Update installing.md
  docs/quickstart/installing.md
Labels: exclude-changelog

#4192 Improve Graveler Delete by checking staging first and return when possible
  pkg/graveler/graveler.go
Labels: include-changelog

#4188 Add lakefs cmd local config flag
  cmd/lakefs/cmd/root.go
  cmd/lakefs/cmd/run.go
  pkg/api/serve_test.go
  pkg/config/config.go
  pkg/config/defaults.go
Labels: pr/merge-if-approved, include-changelog, team/versioning-engine

#4185 KV: local driver documentation and docker compose configuration
  README.md
  deployments/compose/docker-compose.yml
  docs/contributing.md
  docs/quickstart/installing.md
  esti/scripts/lakefs.yaml
  esti/scripts/runner.sh
  esti/scripts/set_env_vars.sh
Labels: include-changelog, team/versioning-engine

#4195 0.81.0 changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4200 Fix local settings command
  cmd/lakefs/cmd/root.go
  pkg/config/config.go
  pkg/config/defaults.go
Labels: include-changelog

#4202 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4190 Spark client: wrap API calls to lakeFS with retries
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/ApiClientSpec.scala
Labels: exclude-changelog

#4208 Setup to migrate auth-api installations too
  cmd/lakefs/cmd/setup.go
  pkg/api/controller.go
Labels: include-changelog, team/cloud-native

#4194 [gc] Speed up by improving SSTable parser and improving partitioning
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/SSTableReader.scala
  clients/spark/core/src/main/scala/io/treeverse/jpebble/BlockParser.scala
  clients/spark/core/src/main/scala/io/treeverse/jpebble/BlockReadable.scala
  clients/spark/core/src/main/scala/io/treeverse/jpebble/IndexedBytes.scala
  clients/spark/core/src/test/resources/bench/56569996.sst
  clients/spark/core/src/test/scala/io/treeverse/clients/DumpSSTable.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/GarbageCollectorSpec.scala
  clients/spark/core/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
  clients/spark/core/src/test/scala/io/treeverse/jpebble/ByteBufferIndexedBytesSpec.scala
  test/spark/run-gc-test.sh
Labels: pr/high-priority, include-changelog, team/ecosystem

#4216 Document GC: output, no_delete flag, performance adjustments
  docs/reference/garbage-collection.md
Labels: pr/merge-if-approved, exclude-changelog, team/ecosystem

#4217 Spark metadata client CHANGELOG- 0.3.0
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
Labels: exclude-changelog

#4205 Delete objects as part of Graveler
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/python/docs/ObjectsApi.md
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/gateway/operations/deleteobjects.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
Labels: include-changelog

#4218 Docs: Upgrade spark client version to 0.3.0
  docs/reference/export.md
  docs/reference/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog

#4199 Remove VOLUME used by lakeFS Dockerfile
  Dockerfile
Labels: exclude-changelog

#4222 Only clean up relative pathnames
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: pr/merge-if-approved, pr/high-priority, exclude-changelog, team/ecosystem, bug/critical

#4224 Fix bug- invite user is enabled when smtp server is not configured
  pkg/auth/invite.go
Labels: bug, include-changelog, team/cloud-native

#4229 update doc's swagger with delete objects response codes
  docs/assets/js/swagger.yml
Labels: docs, exclude-changelog, minor-change

#4235 Skip integration test TestDeleteObject_Viewer
  esti/delete_objects_test.go
Labels: area/testing, exclude-changelog, minor-change

#4234 test delete objects read only user from s3 gateway
  esti/delete_objects_test.go
  pkg/testutil/setup.go
Labels: area/testing, exclude-changelog, minor-change

#4232 Fix bagel docker compose setup lakefs on startup
  deployments/compose/docker-compose.yml
Labels: bug, exclude-changelog

#4226 Add file viewer to lakeFS webui
  pkg/api/controller.go
  templates/content/python.notebook.ipynb.tt
  webui/package-lock.json
  webui/package.json
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/tree.jsx
  webui/src/lib/hooks/api.jsx
  webui/src/pages/repositories/repository/fileRenderers/index.jsx
  webui/src/pages/repositories/repository/index.jsx
  webui/src/pages/repositories/repository/objectViewer.jsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/wizard/spark_config_step.jsx
  webui/src/styles/globals.css
  webui/src/styles/ipynb.css
Labels: include-changelog

#4204 [lakeFSFS] Use bulk deletes in recursive FileSystem delete
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/BulkDeleter.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/test/java/io/lakefs/BulkDeleterTest.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
Labels: performance, area/client/spark, java, include-changelog, team/ecosystem

#4242 Update changelog 0.82.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4212 Change Esti S3 endpoint client to use path style format
  esti/migrate_test.go
  esti/ops/docker-compose.yaml
  pkg/testutil/setup.go
Labels: area/testing, exclude-changelog, team/cloud-native

#4245 Update Dockerfile for faster cross platform build
  Dockerfile
Labels: infrastructure, exclude-changelog

#4249 UI remove unknown webkit-border from css
  webui/src/styles/ipynb.css
Labels: area/UI, exclude-changelog, minor-change

#4240 Fix S3 gateway delete object limits check
  pkg/gateway/operations/deleteobjects.go
Labels: bug, area/gateway, include-changelog

#4252 Fix logging.IsTracing should check default logger level
  pkg/logging/logger.go
Labels: bug, include-changelog

#4239 Garbage Collector- validate that the written report DataFrame isn't empty
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: exclude-changelog

#4254 GC: two runnable steps proposal
  design/open/gc-two-steps-separation.md
Labels: exclude-changelog

#4263 Update quickstart
  docs/quickstart/includes/try.md
Labels: exclude-changelog, minor-change

#4262 GC split: move proposal from open to accepted
  design/accepted/gc-two-steps-separation.md
Labels: exclude-changelog

#4253 TS Conversion: Step 1 - tooling
  webui/.eslintignore
  webui/.eslintrc
  webui/index.html
  webui/jest.config.ts
  webui/package-lock.json
  webui/package.json
  webui/src/constants.ts
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/repositoryCreateForm.jsx
  webui/src/main.test.js
  webui/src/main.test.ts
  webui/src/main.tsx
  webui/src/pages/repositories/wizard/spark_config_step.jsx
  webui/src/pages/repositories/wizard/wizard.jsx
  webui/tsconfig.json
  webui/vite.config.js
Labels: include-changelog

#4267 GC Separation: Enable "mark only" mode
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
Labels: exclude-changelog

#4260 Adding lake fs description to pypi python package
  Makefile
  clients/python/.openapi-generator-ignore
  clients/python/setup.py
  clients/python/templates/setup.mustache
Labels: contributor, include-changelog, team/ecosystem

#4274 GC Separation: Add "run_id" to a "mark"'s metadata
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
Labels: exclude-changelog

#4283 GC Separation: Enable "sweep only" mode
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/GarbageCollectorSpec.scala
Labels: include-changelog

#4264 GC Separation: Add flags and replace "run_id" with "mark_id" in addresses
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/GarbageCollectorSpec.scala
Labels: exclude-changelog

#4285 bump metadata client to 0.4.0
  clients/spark/build.sbt
Labels: pr/merge-if-approved, exclude-changelog

#4288 Fix docker compose bagel to use local settings
  deployments/compose/docker-compose.yml
Labels: bug, pr/merge-if-approved, exclude-changelog
