Repository treeverse/lakeFS, pull requests merged in 2022-12, with the labels that each got.

#4672 Docs: feedback buttons
  docs/_includes/head_custom.html
  docs/_layouts/default.html
  docs/_sass/custom/custom.scss
  docs/assets/js/feedback.js
Labels: exclude-changelog

#4723 Fix feedback buttons
  docs/_layouts/default.html
Labels: exclude-changelog, minor-change

#4724 docs/fix copy button tag
  docs/_sass/custom/custom.scss
  docs/assets/js/copy-code.js
Labels: exclude-changelog, minor-change

#4725 docs: removed released items from roadmap
  docs/roadmap.md
Labels: docs, exclude-changelog, minor-change

#4704 UGC DataLister improve list files by iterator
  clients/spark/core/src/main/scala/io/treeverse/gc/DataLister.scala
Labels: exclude-changelog, minor-change, GC+

#4693 Update "what is lakeFS" with "git for data"
  docs/index.md
Labels: exclude-changelog

#4692 Update cicd_for_data.md
  docs/use_cases/cicd_for_data.md
Labels: docs, exclude-changelog

#4714 GC+: Fix LakeFSCommitInputFormat getSplits
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4715 GC+: Ignore external addresses in CommittedAddressLister
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/CommittedAddressLister.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4666 Use temporary workdir on job branch and copy out to commit task
  clients/hadoopfs/src/main/java/io/lakefs/committer/LakeFSOutputCommitter.java
  clients/hadoopfs/src/main/java/io/lakefs/utils/Bulk.java
  clients/hadoopfs/src/main/java/io/lakefs/utils/ObjectLocation.java
  clients/hadoopfs/src/test/java/io/lakefs/utils/BulkTest.java
Labels: exclude-changelog, team/ecosystem, area/client/hadoopfs

#4737 Unbreak my link
  docs/deploy/aws.md
  docs/deploy/azure.md
  docs/deploy/gcp.md
  docs/faq.md
  docs/howto/copying.md
  docs/howto/export.md
  docs/howto/garbage-collection.md
  docs/howto/import.md
  docs/howto/migrate-away.md
  docs/howto/protect-branches.md
  docs/howto/sizing-guide.md
  docs/index.md
  docs/integrations/airbyte.md
  docs/integrations/athena.md
  docs/integrations/dbt.md
  docs/integrations/delta.md
  docs/integrations/iceberg.md
  docs/integrations/kubeflow.md
  docs/integrations/sagemaker.md
  docs/reference/authentication.md
  docs/reference/authorization.md
  docs/roadmap.md
  docs/understand/architecture.md
  docs/understand/glossary.md
  docs/understand/how/merge.md
  docs/understand/how/versioning-internals.md
  docs/understand/model.md
  docs/understand/performance-best-practices.md
  docs/use_cases/cicd_for_data.md
  docs/use_cases/rollback.md
Labels: exclude-changelog, minor-change

#4726 S3 block adapter support working with AWS SSE with KMS key ID
  docs/reference/configuration.md
  pkg/block/factory/build.go
  pkg/block/params/block.go
  pkg/block/s3/adapter.go
  pkg/config/config.go
  pkg/config/template.go
Labels: area/block-adapter, include-changelog

#4717 4490/GC+ mark & sweep
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4752 Fix first slice address string format
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog, minor-change, GC+

#4743 Fix commit prefix is prefered over branch/tag
  pkg/graveler/ref/resolve_ref.go
  pkg/graveler/ref/resolve_ref_test.go
Labels: bug, include-changelog, team/versioning-engine

#4764 Prepare uncommitted catalog use relative path for managed full path
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
Labels: exclude-changelog, GC+

#4767 Fix: DataLister exception when trying to read a path with ':' in it
  clients/spark/core/src/main/scala/io/treeverse/gc/DataLister.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/DataListerSpec.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4771 add GC b&r job options docs
  docs/howto/garbage-collection.md
Labels: exclude-changelog, minor-change

#4754 Uncommitted GC - collect full path if part of repo storage namespace
  clients/spark/core/src/main/scala/io/treeverse/gc/CommittedAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/CommittedAddressListerSpec.scala
Labels: exclude-changelog, minor-change

#4774 GC+ fix delete
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4728 Fixing the misconception that gateway is not scalable
  docs/integrations/spark.md
Labels: docs, exclude-changelog

#4732 Uncommitted GC system test
  .github/workflows/esti.yaml
  esti/s3_gateway_test.go
  esti/system_test.go
  esti/ugc_test.go
  go.mod
Labels: exclude-changelog, GC+

#4760 Change error handle for list repositories in controller
  pkg/api/controller.go
Labels: exclude-changelog, minor-change

#4763 GC: delete absolute paths if they are under the storage namespace
  .github/workflows/esti.yaml
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/GarbageCollectorSpec.scala
  test/spark/docker-compose.yaml
  test/spark/gc-tests/test_scenarios.json
  test/spark/run-gc-test.sh
Labels: include-changelog

#4694 Small improvements in GC backup and restore
  clients/spark/core/src/main/hadoop3/scala/io/treeverse/clients/conditional/GCBackupAndRestore.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/BulkRemoverFactory.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/StorageUtils.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/StorageUtilsSpec.scala
Labels: exclude-changelog

#4733 Fix: LakeFSAllRangesInputFormat - Throw exception if namespace doesn't exist
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
Labels: exclude-changelog, team/versioning-engine, minor-change

#4791 Reject lakeFS output committer
  design/rejected/lakeFS-output-committer-execution-plan.md
  design/rejected/spark-outputcommitter/committer.md
Labels: pr/merge-if-approved, docs, performance, exclude-changelog, team/ecosystem, minor-change, area/client/hadoopfs

#4790 gc+/fix success boolean format
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4799 GC report expired addresses also as text
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: exclude-changelog

#4787 GC+: DataLister fix get first slice
  clients/spark/core/src/main/scala/io/treeverse/gc/DataLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/DataListerSpec.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/UncommittedGarbageCollectorSpec.scala
Labels: exclude-changelog, team/versioning-engine, GC+

#4805 Uncommitted GC print mark_id and summary
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog

#4807 Changelog update v0.87.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4793 Document backup and restore
  docs/howto/garbage-collection.md
Labels: docs, exclude-changelog, GC+

#4808 Write GC summary file using UTF-8
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/GarbageCollectorSpec.scala
Labels: bug, area/client/spark, include-changelog, team/ecosystem

#4747 bump metadata client version
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#4811 Changelog for uncommitted GC
  clients/spark/CHANGELOG.md
Labels: exclude-changelog, minor-change

#4813 Update spark client CHANGELOG.md
  clients/spark/CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#4670 Document Uncommitted GC
  docs/howto/garbage-collection.md
Labels: docs, exclude-changelog, team/versioning-engine, GC+

#4748 Bump metadata client version in the docs
  docs/howto/export.md
  docs/howto/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#4814 Update spark/clients CHANGELOG.md
  clients/spark/CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#4816 Fix get current user
  pkg/api/controller.go
Labels: include-changelog, minor-change

#4809 Check if DDB Table exist before Create to reduce excessive permissions requirements
  pkg/kv/dynamodb/store.go
Labels: contributor, include-changelog, team/cloud-native, area/KV

#4823 Update performance-best-practices.md
  docs/understand/performance-best-practices.md
Labels: exclude-changelog, minor-change

#4824 allow non-admins to merge changes to docs
  .github/workflows/test.yaml
Labels: docs, exclude-changelog, minor-change

#4821 Integrate duckdb-wasm to query parquet/csv files on the UI (experimental)
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/src/test/java/io/lakefs/clients/api/ObjectsApiTest.java
  clients/python/README.md
  clients/python/docs/ObjectsApi.md
  clients/python/lakefs_client/api/objects_api.py
  clients/python/test/test_objects_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  webui/package-lock.json
  webui/package.json
  webui/src/lib/api/index.js
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/repository/dataTable.jsx
  webui/src/lib/components/repository/tabs.jsx
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/repositories/repository/fileRenderers/data.tsx
  webui/src/pages/repositories/repository/fileRenderers/duckdb.tsx
  webui/src/pages/repositories/repository/fileRenderers/index.tsx
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
  webui/src/pages/repositories/repository/fileRenderers/types.tsx
  webui/src/pages/repositories/repository/index.jsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/styles/globals.css
  webui/tsconfig.json
Labels: area/UI, include-changelog

#4822 docs: re-introduce the hooks reference
  docs/reference/hooks.md
Labels: docs, exclude-changelog, minor-change

#4801 GC+/ Milestone 2 execution plan
  design/accepted/gc_plus/gc-plus-milestone2-execution-plan.md
Labels: exclude-changelog, GC+

#4828 Fix auth's wildcard Match function
  pkg/auth/wildcard/match.go
  pkg/auth/wildcard/match_test.go
Labels: bug, area/auth, include-changelog

#4815 Present technical conclusions from failed OC project
  design/open/output-committer-conclusions.md
Labels: docs, performance, exclude-changelog, area/client/hadoopfs

#4797 Perform fewer API calls for exists
  clients/hadoopfs/src/main/java/io/lakefs/Constants.java
  clients/hadoopfs/src/main/java/io/lakefs/FileSystemTracer.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/main/java/io/lakefs/LinkOnCloseOutputStream.java
  clients/hadoopfs/src/main/java/io/lakefs/utils/ObjectLocation.java
  clients/hadoopfs/src/main/java/io/lakefs/utils/StringUtils.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
Labels: performance, include-changelog, team/ecosystem, area/client/hadoopfs

#4834 lakectl show commit
  cmd/lakectl/cmd/show.go
  docs/reference/cli.md
  esti/golden/lakectl_help.golden
  esti/golden/lakectl_show_commit.golden
  esti/golden/lakectl_show_commit_metarange.golden
  esti/lakectl_test.go
Labels: area/lakectl, include-changelog

#4837 Fix lakectl branch show to print commit ID
  cmd/lakectl/cmd/branch.go
Labels: bug, area/lakectl, include-changelog

#4838 Fix lakectl tag show - missing newline
  cmd/lakectl/cmd/tag.go
  esti/golden/lakectl_tag_show.golden
  esti/lakectl_test.go
Labels: area/lakectl, exclude-changelog, minor-change

#4751 Store relative path in stage and link physical address
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: bug, area/cataloger, include-changelog

#4825 Fix commit to keep base entry in case staged entry with matched identity
  pkg/graveler/committed/commit.go
  pkg/graveler/committed/commit_test.go
Labels: bug, include-changelog

#4839 lakeFS API handle client disconnect as status code 499
  pkg/api/auth_middleware.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/logout_handler.go
  pkg/api/oidc_login_handler.go
  pkg/api/serve.go
  pkg/httputil/request.go
Labels: area/API, exclude-changelog

#4850 Fix controller get object should fail
  pkg/api/controller_test.go
Labels: pr/merge-if-approved, area/testing, exclude-changelog, minor-change

#4848 API upload object without using tmp file
  pkg/api/controller.go
  pkg/block/local/adapter.go
  pkg/block/s3/adapter.go
Labels: area/API, include-changelog

#4851 Change log for v0.88.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4853 Adding specific instructions about Azure Databrics
  docs/integrations/spark.md
Labels: docs, exclude-changelog

#4856 test: uncommit gc test mount host jars folder
  .github/workflows/esti.yaml
Labels: area/testing, exclude-changelog, minor-change

#4858 Enable running ripsecrets
  .secretsignore
  pkg/testutil/db.go
Labels: exclude-changelog

#4806 GC+: Add exceptions and error handling
  .github/workflows/esti.yaml
  clients/spark/core/src/main/scala/io/treeverse/gc/Exceptions.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/UncommittedGarbageCollectorSpec.scala
  docs/howto/garbage-collection.md
Labels: exclude-changelog, team/versioning-engine, GC+

#4862 Fix CredentialFromProto can fail to decode secret
  pkg/auth/model/model.go
  pkg/auth/service.go
Labels: bug, include-changelog

#4846 Upgrade major dependancies in webui
  .github/workflows/node.yaml
  webui/.browserslistrc
  webui/.eslintrc
  webui/package-lock.json
  webui/package.json
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/nav.jsx
  webui/src/lib/components/navbar.jsx
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/lib/components/repository/layout.jsx
  webui/src/lib/components/repository/refDropdown.jsx
  webui/src/lib/components/repository/tree.jsx
  webui/src/lib/hooks/router.ts
  webui/src/main.tsx
  webui/src/pages/auth/groups/group/index.jsx
  webui/src/pages/auth/groups/index.jsx
  webui/src/pages/auth/index.jsx
  webui/src/pages/auth/policies/index.jsx
  webui/src/pages/auth/users/create-user-with-password.jsx
  webui/src/pages/auth/users/index.jsx
  webui/src/pages/auth/users/user/index.jsx
  webui/src/pages/index.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/actions/index.jsx
  webui/src/pages/repositories/repository/actions/run/index.jsx
  webui/src/pages/repositories/repository/commits/commit/index.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/fileRenderers/data.tsx
  webui/src/pages/repositories/repository/index.jsx
  webui/vite.config.js
Labels: include-changelog, team/cloud-native

#4864 Add missing Auditing fields into logger context
  pkg/api/auth_middleware.go
  pkg/gateway/middleware.go
Labels: area/auth, include-changelog, team/cloud-native

#4854 test: improve the client disconnect test code
  pkg/api/controller_test.go
  pkg/api/serve_test.go
Labels: area/testing, exclude-changelog, minor-change

#4867 added duckdb usage documentation
  docs/integrations/duckdb.md
Labels: docs, exclude-changelog, minor-change

#4868 fix syntax highlighting with a matching theme
  docs/_sass/custom/custom.scss
  docs/assets/css/pygments/igorpro.css
Labels: docs, exclude-changelog, minor-change

#4855 test: makefile and minor improvements
  Makefile
  cmd/lakefs-loadtest/cmd/run.go
  pkg/gateway/sig/sig_test.go
  pkg/loadtest/loader.go
  pkg/loadtest/local_load_test.go
Labels: area/testing, exclude-changelog, minor-change

#4840 GC+/additional first slice tests
  clients/spark/core/src/test/scala/io/treeverse/gc/UncommittedGarbageCollectorSpec.scala
Labels: exclude-changelog, GC+

#4873 Makefile docker build use buildx
  Makefile
Labels: infrastructure, exclude-changelog, minor-change

#4871 Remove KV from Graveler types
  pkg/catalog/catalog.go
  pkg/graveler/branch/protection_manager.go
  pkg/graveler/committed/batch_test.go
  pkg/graveler/committed/manager_test.go
  pkg/graveler/committed/range.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/ref/commit_ordered_iterator.go
  pkg/graveler/ref/commit_ordered_iterator_test.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/repository_iterator.go
  pkg/graveler/ref/repository_iterator_test.go
  pkg/graveler/ref/tag_iterator.go
  pkg/graveler/ref/tag_iterator_test.go
  pkg/graveler/settings/manager.go
  pkg/graveler/settings/manager_test.go
  pkg/graveler/testutil/graveler_mock.go
Labels: exclude-changelog, minor-change

#4883 Fix for fromNow exceptions
  webui/src/pages/repositories/index.jsx
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#4875 KV scan batch size control
  cmd/lakefs/cmd/kv.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/uncommitted_iterator.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/staging/iterator.go
  pkg/graveler/staging/manager.go
  pkg/kv/dynamodb/store.go
  pkg/kv/iterators.go
  pkg/kv/iterators_test.go
  pkg/kv/kvtest/iterators.go
  pkg/kv/kvtest/store.go
  pkg/kv/local/iterator.go
  pkg/kv/local/store.go
  pkg/kv/local/store_test.go
  pkg/kv/mem/store.go
  pkg/kv/metrics.go
  pkg/kv/postgres/store.go
  pkg/kv/scan.go
  pkg/kv/store.go
  pkg/kv/store_test.go
  pkg/testutil/db.go
Labels: include-changelog, area/KV

#4880 GC: Parallelize metarange fetching
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  test/spark/run-gc-test.sh
Labels: exclude-changelog

#4888 UI: added a blame button to path context menu
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/tree.jsx
Labels: area/UI, include-changelog, minor-change

#4886 API delete will not return object not found
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/src/test/java/io/lakefs/clients/api/ObjectsApiTest.java
  clients/python/README.md
  clients/python/docs/ObjectsApi.md
  clients/python/lakefs_client/api/objects_api.py
  clients/python/test/test_objects_api.py
  docs/assets/js/swagger.yml
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
Labels: area/API, include-changelog

#4892 Update build.sbt
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#4895 Bump metaclient version
  docs/howto/export.md
  docs/howto/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#4877 update lakefsfs version to 0.1.9
  docs/integrations/spark.md
Labels: exclude-changelog, minor-change

#4863 Refactor GC tests from bash
  .github/workflows/esti.yaml
  esti/gc_test.go
Labels: exclude-changelog

#4891 TTV: revert the spark quickstart button
  docs/quickstart/repository.md
  webui/src/pages/repositories/index.jsx
Labels: exclude-changelog

#4905 WebUI - CreateRepositoryButtonCallback - 'useCallback'
  webui/src/pages/repositories/index.jsx
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#4907 fix: ingest range content type is wrong
  pkg/catalog/walk_entry_iterator.go
Labels: bug, include-changelog
