Repository treeverse/lakeFS, pull requests merged in 2022-10, with the labels that each got.

#4296 Add s3_endpoint_secure flag to minio client Esti
  esti/s3_gateway_test.go
Labels: area/testing, exclude-changelog, team/cloud-native

#4196 Extended metrics
  Makefile
  clients/java/src/main/java/io/lakefs/clients/api/ApiClient.java
  clients/python/lakefs_client/api_client.py
  cmd/lakectl/cmd/root.go
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/actions/service.go
  pkg/actions/service_test.go
  pkg/api/controller.go
  pkg/api/serve_test.go
  pkg/block/s3/client_cache.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/gateway/middleware.go
  pkg/gateway/operations/base.go
  pkg/gateway/operations/deleteobject.go
  pkg/gateway/operations/deleteobjects.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/headbucket.go
  pkg/gateway/operations/headobject.go
  pkg/gateway/operations/listbuckets.go
  pkg/gateway/operations/listobjects.go
  pkg/gateway/operations/postobject.go
  pkg/gateway/operations/putbucket.go
  pkg/gateway/operations/putobject.go
  pkg/graveler/sstable/writer.go
  pkg/httputil/client.go
  pkg/loadtest/loader.go
  pkg/stats/collector.go
  pkg/stats/collector_test.go
  pkg/stats/nullcollector.go
  pkg/stats/sender.go
  webui/package-lock.json
  webui/package.json
  webui/src/lib/api/index.js
  webui/src/lib/components/navbar.jsx
  webui/vite.config.js
Labels: include-changelog

#4282 Docs: revise model page to talk about value
  docs/glossary.md
  docs/reference/authentication.md
  docs/reference/database-migration.md
  docs/reference/oidc.md
  docs/understand/model.md
  docs/understand/versioning-internals.md
  docs/use_cases/iso_env.md
Labels: docs, exclude-changelog, minor-change

#4301 Fix UI render error inside repo error
  webui/src/lib/api/index.js
  webui/src/lib/components/controls.jsx
  webui/src/pages/repositories/repository/error.jsx
  webui/src/pages/repositories/repository/objects.jsx
Labels: area/UI, include-changelog

#4300 Fix UI repository settings label width
  webui/package-lock.json
  webui/src/lib/api/index.js
  webui/src/lib/api/validation.js
  webui/src/pages/repositories/repository/settings/general.jsx
Labels: area/UI, include-changelog

#4293 Correctly report status code and operation ID on S3 gateway
  pkg/gateway/middleware.go
Labels: bug, pr/merge-if-approved, area/gateway, include-changelog

#4305 Update CHANGELOG for v0.83.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4298 Add skip flag to skip Esti tests
  esti/auth_test.go
  esti/commit_test.go
  esti/delete_objects_test.go
  esti/delete_test.go
  esti/doctor_test.go
  esti/hooks_failure_test.go
  esti/hooks_test.go
  esti/identity_test.go
  esti/import_test.go
  esti/lakectl_test.go
  esti/main_test.go
  esti/merge_test.go
  esti/multipart_test.go
  esti/repository_test.go
  esti/rollback_test.go
  esti/s3_gateway_test.go
  esti/sanity_api_test.go
  esti/store_test.go
Labels: area/testing, exclude-changelog, team/cloud-native

#4317 update the release with docker build and publish fix
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4309 Build and publish docker images fix and support multiplatform
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
Labels: infrastructure, exclude-changelog

#4281 Changes the description to docker (vs docker compose) and simplified …
  docs/quickstart/installing.md
Labels: docs, exclude-changelog

#4303 GC Separation: Minor refactor
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: exclude-changelog

#4271 remove jitter for security event and add anonymized installation id
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  pkg/api/serve_test.go
  pkg/config/defaults.go
  pkg/loadtest/local_load_test.go
  pkg/version/audit.go
  pkg/version/audit_test.go
Labels: BI, exclude-changelog, team/cloud-native

#4299 GC Separation: add integration tests
  test/spark/gc-tests/test_scenarios.json
  test/spark/run-gc-test.sh
Labels: exclude-changelog

#4328 update docs to point to spark client v0.5.0
  docs/reference/export.md
  docs/reference/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#4327 GC additions docs
  docs/reference/garbage-collection.md
Labels: exclude-changelog, minor-change

#4329 Fix div structure in backup and restore
  docs/reference/garbage-collection.md
Labels: exclude-changelog, minor-change

#4321 Fix auth write policy override if policy exists
  pkg/auth/service.go
Labels: area/auth, include-changelog

#4330 Fix KV local path using tilde (~) doesn't expand
  cmd/lakectl/cmd/gc.go
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/diagnostics.go
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/migrate.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/api/serve_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/loadtest/local_load_test.go
Labels: bug, include-changelog, area/KV

#4339 Fix mistakes in GC backup and restore docs
  docs/reference/garbage-collection.md
Labels: exclude-changelog, minor-change

#4308 Docs: add merge section to reference
  docs/reference/merge.md
  docs/understand/model.md
  docs/understand/versioning-internals.md
Labels: exclude-changelog

#4343 Fix multiparts KV migration for null content-type
  pkg/gateway/multiparts/db_tracker.go
  pkg/gateway/multiparts/kv_migrate_test.go
Labels: bug, include-changelog, team/versioning-engine, area/KV

#4324 fix username not shown for OIDC users
  webui/src/lib/components/auth/nav.jsx
  webui/src/pages/auth/users/index.jsx
  webui/src/pages/auth/users/user/credentials.jsx
  webui/src/pages/auth/users/user/effectivePolicies.jsx
  webui/src/pages/auth/users/user/groups.jsx
  webui/src/pages/auth/users/user/index.jsx
  webui/src/pages/auth/users/user/policies.jsx
  webui/src/pages/auth/users/user/userHeaderWithContext.tsx
Labels: include-changelog

#4345 Add changelog and change kv migration version in docs
  CHANGELOG.md
  docs/reference/upgrade.md
  docs/understand/kv-in-a-nutshell.md
Labels: docs, exclude-changelog, minor-change

#4320 lakectl autocomplete with repository name
  cmd/lakectl/cmd/abuse.go
  cmd/lakectl/cmd/action_validate.go
  cmd/lakectl/cmd/annotate.go
  cmd/lakectl/cmd/auth.go
  cmd/lakectl/cmd/branch.go
  cmd/lakectl/cmd/branch_protect.go
  cmd/lakectl/cmd/cat_hook_output.go
  cmd/lakectl/cmd/commit.go
  cmd/lakectl/cmd/common_helpers_test.go
  cmd/lakectl/cmd/config/config.go
  cmd/lakectl/cmd/dbt.go
  cmd/lakectl/cmd/dbt_util_test.go
  cmd/lakectl/cmd/diff.go
  cmd/lakectl/cmd/fs.go
  cmd/lakectl/cmd/gc.go
  cmd/lakectl/cmd/log.go
  cmd/lakectl/cmd/merge.go
  cmd/lakectl/cmd/refs.go
  cmd/lakectl/cmd/repo.go
  cmd/lakectl/cmd/root.go
  cmd/lakectl/cmd/runs_describe.go
  cmd/lakectl/cmd/runs_list.go
  cmd/lakectl/cmd/show.go
  cmd/lakectl/cmd/tag.go
  cmd/lakectl/cmd/validargs.go
  docs/reference/commands.md
  esti/golden/lakectl_help.golden
Labels: include-changelog

#4337 Update index.md
  docs/index.md
Labels: exclude-changelog, minor-change

#4336 Fix create repository API should return status created
  cmd/lakectl/cmd/repo.go
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: bug, area/API, include-changelog

#4332 Upgrade github workflow actions versions
  .github/workflows/codeql-analysis.yaml
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/docs-latest.yaml
  .github/workflows/docs-release.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/java-api-client.yaml
  .github/workflows/link-issue-to-pr.yaml
  .github/workflows/node.yaml
  .github/workflows/publish-hadoop-lakefs.yaml
  .github/workflows/publish-spark-metadata-client.yaml
  .github/workflows/python-api-client.yaml
  .github/workflows/spark.yaml
  .github/workflows/test.yaml
Labels: exclude-changelog

#4344 Fix merge docs' title
  docs/reference/merge.md
Labels: exclude-changelog

#4350 Fix create policy API and descriptor to return Conflict status
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/AuthApi.md
  clients/java/src/main/java/io/lakefs/clients/api/AuthApi.java
  clients/python/docs/AuthApi.md
  esti/lakectl_test.go
  pkg/api/controller.go
Labels: include-changelog

#4322 Use FormatMediaType for contentDisposition and not custom replacer
  cmd/lakectl/cmd/fs.go
Labels: exclude-changelog, minor-change

#4331 lakectl check bad response
  cmd/lakectl/cmd/abuse.go
  cmd/lakectl/cmd/annotate.go
  cmd/lakectl/cmd/auth.go
  cmd/lakectl/cmd/branch.go
  cmd/lakectl/cmd/branch_protect.go
  cmd/lakectl/cmd/commit.go
  cmd/lakectl/cmd/diff.go
  cmd/lakectl/cmd/fs.go
  cmd/lakectl/cmd/gc.go
  cmd/lakectl/cmd/ingest.go
  cmd/lakectl/cmd/log.go
  cmd/lakectl/cmd/merge.go
  cmd/lakectl/cmd/metastore.go
  cmd/lakectl/cmd/refs.go
  cmd/lakectl/cmd/repo.go
  cmd/lakectl/cmd/runs_describe.go
  cmd/lakectl/cmd/runs_list.go
  cmd/lakectl/cmd/show.go
  cmd/lakectl/cmd/tag.go
Labels: include-changelog

#4353 Correctly prefix "after" params in lakeFS auth service
  pkg/auth/service.go
  pkg/auth/service_test.go
Labels: bug, pr/high-priority, area/API, area/auth, include-changelog, team/versioning-engine, area/KV

#4352 S3 permissions: split into metadata only and data + metadata
  docs/setup/storage/s3.md
Labels: docs, exclude-changelog

#4360 Iceberg integration doc
  docs/integrations/iceberg.md
Labels: docs, exclude-changelog

#4247 docs: update architecture diagram related to kv storage
  docs/assets/img/arch.png
  docs/assets/img/architecture.excalidraw
  docs/assets/img/architecture.png
  docs/understand/architecture.md
Labels: docs, exclude-changelog, team/versioning-engine, minor-change

#4362 Fix S3 doc - add empty line
  docs/setup/storage/s3.md
Labels: docs, exclude-changelog

#4359 Update and create policy use the user's provided ID
  pkg/api/controller.go
  pkg/api/controller_test.go
  webui/src/lib/api/index.js
Labels: bug, area/UI, area/auth, include-changelog

#4363 Docs: Fix iceberg link
  docs/integrations/iceberg.md
Labels: docs, exclude-changelog

#4365 Changelog v0.83.3
  CHANGELOG.md
Labels: exclude-changelog, team/versioning-engine, minor-change

#4369 Change using lakeFS to Data Lifecycle Management #4368
  docs/data_lifecycle_management/ci.md
  docs/data_lifecycle_management/data-devenv.md
  docs/data_lifecycle_management/index.md
  docs/data_lifecycle_management/production.md
  docs/using_lakefs/index.md
Labels: docs, exclude-changelog, team/devex

#4373 deleted docs/integrations/mapreduce page
  docs/integrations/mapreduce.md
Labels: docs, exclude-changelog

#4277 4227 update dev/test env usecase with demo notebooks and walkthrough video
  docs/assets/img/iso_env_dev_test_branching.png
  docs/assets/img/iso_env_myrepo.png
  docs/assets/img/iso_env_sampledata.png
  docs/assets/img/iso_env_testenv_branch.png
  docs/use_cases/iso_env.md
Labels: pr/merge-if-approved, exclude-changelog, team/devex

#4367 Exclude non-existing objects from absolute addresses list
  clients/spark/core/src/main/scala/io/treeverse/clients/ConfigMapper.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GCBackupAndRestore.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: exclude-changelog

#4325 Enforce context cancellation errors in kvstore
  pkg/kv/dynamodb/store.go
  pkg/kv/kvtest/store.go
Labels: bug, exclude-changelog, team/versioning-engine

#4380 README.md file viewer not displaying content according to file extension
  webui/src/pages/repositories/repository/objects.jsx
Labels: include-changelog

#4243 CHANGELOG for hadoopfs 0.1.7
  clients/hadoopfs/CHANGELOG.md
Labels: pr/merge-if-approved, exclude-changelog, team/ecosystem, minor-change

#4066 Add list of potential wins for LakeFSOutputCommitter
  design/open/spark-outputcommitter/committer.md
Labels: pr/merge-if-approved, exclude-changelog, team/ecosystem

#3657 Proposal: declarative views
  design/open/declarative-views.md
Labels: proposal, exclude-changelog

#4376 Reduce log level of hooks log messages
  pkg/actions/service.go
Labels: exclude-changelog, minor-change

#4381 docs: updated roadmap to reflect oct 2022 priorities
  docs/understand/roadmap.md
Labels: exclude-changelog, minor-change

#4387 Fix github actions of GITHUB_OUTPUT instead of GITHUB_ENV
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/docs-release.yaml
  .github/workflows/esti.yaml
  .github/workflows/java-api-client.yaml
  .github/workflows/publish-hadoop-lakefs.yaml
  .github/workflows/python-api-client.yaml
  pkg/kv/store.go
Labels: exclude-changelog, minor-change

#4383 docs: added arch diagram to what is lakeFS page
  docs/assets/what_is.png
  docs/index.md
Labels: exclude-changelog, minor-change

#4220 Parallel commits compare
  go.mod
  go.sum
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/catalog/catalog.go
Labels: exclude-changelog, team/versioning-engine

#4395 OC: create lakeFS client
  clients/hadoopfs/src/main/java/io/lakefs/committer/DummyOutputCommitter.java
Labels: exclude-changelog, team/ecosystem

#4388 Configure jobBranch and taskBranch
  clients/hadoopfs/src/main/java/io/lakefs/committer/DummyOutputCommitter.java
Labels: exclude-changelog

#4410 4407 add docs to the contribution guide
  docs/contributing.md
Labels: docs, exclude-changelog, minor-change

#4409 revised structure and clearer (hopefully) explanations on importing data
  docs/assets/img/UI-Import-Dialog.png
  docs/assets/img/ui-import-completed.png
  docs/setup/import.md
Labels: exclude-changelog, minor-change

#4416 Release Spark client v0.5.1
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
  docs/reference/garbage-collection.md
Labels: exclude-changelog, minor-change

#4404 Create lakeFS branches for job and task
  clients/hadoopfs/src/main/java/io/lakefs/committer/DummyOutputCommitter.java
Labels: exclude-changelog

#4412 4408 add hooks demo notebooks to docs page
  docs/setup/hooks.md
  docs/use_cases/iso_env.md
Labels: docs, exclude-changelog

#4406 Update go.mod using tidy
  go.mod
Labels: exclude-changelog, minor-change

#4400 Use "provided" hadoop dependencies
  clients/spark/CHANGELOG.md
  clients/spark/README.md
  clients/spark/build.sbt
  docs/reference/garbage-collection.md
Labels: pr/high-priority, area/client/spark, java, include-changelog

#4421 Docs: Fix note css
  docs/_sass/custom/custom.scss
Labels: exclude-changelog, minor-change

#4417 Spark client V0.5.1 release docs changes
  docs/reference/export.md
  docs/reference/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#4414 Fix creation validation for % in entity names
  pkg/api/controller.go
  webui/src/lib/components/auth/forms.jsx
  webui/src/lib/components/policy.jsx
  webui/src/pages/auth/groups/index.jsx
  webui/src/pages/auth/policies/index.jsx
  webui/src/pages/auth/users/index.jsx
  webui/src/pages/auth/validation.ts
Labels: include-changelog

#4402 Move audit logs tag to the right place
  pkg/httputil/logging.go
Labels: bug, exclude-changelog, team/cloud-native

#4357 lakeFS Hadoop FileSystem: make Hadoop a provided dependency
  .github/workflows/esti.yaml
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/main/java/io/lakefs/MetadataClient.java
  clients/hadoopfs/src/test/java/io/lakefs/contract/LakeFSTestUtils.java
  clients/hadoopfs/src/test/java/io/lakefs/contract/TestLakeFSContractCreate.java
  clients/hadoopfs/src/test/java/io/lakefs/contract/TestLakeFSFileSystemContract.java
  clients/hadoopfs/src/test/java/io/lakefs/contract/hadoop2/TestLakeFSFileSystemContractHadoop2.java
  clients/hadoopfs/src/test/java/io/lakefs/contract/hadoop3/TestLakeFSFileSystemContractHadoop3.java
  clients/hadoopfs/src/test/resources/contract/lakefs.xml
Labels: exclude-changelog

#4426 Doc improvement: lakeFS Hadoop FileSystem
  clients/hadoopfs/CHANGELOG.md
  docs/integrations/spark.md
Labels: exclude-changelog, minor-change

#4419 "Next" button in docs
  docs/_layouts/default.html
  docs/deploy/aws.md
  docs/deploy/azure.md
  docs/deploy/docker.md
  docs/deploy/gcp.md
  docs/deploy/k8s.md
  docs/quickstart/add_data.md
  docs/quickstart/first_commit.md
  docs/quickstart/installing.md
  docs/quickstart/repository.md
  docs/setup/create-repo.md
  docs/setup/import.md
  docs/setup/storage/blob.md
  docs/setup/storage/gcs.md
  docs/setup/storage/s3.md
Labels: docs, exclude-changelog

#4431 Esti system test run without using script
  .github/actions/bootstrap-test-lakefs/action.yaml
  esti/lakectl_util.go
  esti/lakectl_util_test.go
Labels: area/testing, exclude-changelog, minor-change

#4390 Add Graveler Set advanced tests
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
Labels: exclude-changelog, team/versioning-engine

#4015 Proposal: lakeFS hard-delete
  design/rejected/hard-delete.md
Labels: proposal, exclude-changelog, team/versioning-engine

#4428 fix broken links
  docs/setup/storage/s3.md
  docs/understand/architecture.md
  docs/understand/roadmap.md
  docs/use_cases/iso_env.md
Labels: exclude-changelog, minor-change

#4057 [Alg] Reuse ranges of contended merges to speed up concurrent merges
  design/open/reuse-contented-merge-metaranges/diagram.jpg
  design/open/reuse-contented-merge-metaranges/reuse-contented-merge-metaranges.md
Labels: area/cataloger, proposal, exclude-changelog, team/versioning-engine, area/KV

#4436 Check for graveler *and* catalog ErrNotFound
  esti/s3_gateway_test.go
  pkg/gateway/operations/deleteobject.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/listobjects.go
Labels: bug, area/gateway, include-changelog

#4433 Switch the use of errgroup with go-multierror
  go.mod
  go.sum
  pkg/api/helpers/errors.go
  pkg/kv/kvtest/store.go
Labels: exclude-changelog, minor-change

#4437 document testing of hadoopfs
  docs/integrations/spark.md
  docs/setup/storage/s3.md
  docs/understand/architecture.md
  docs/understand/roadmap.md
  docs/use_cases/iso_env.md
Labels: exclude-changelog

#4418 lakectl fs download support
  cmd/lakectl/cmd/fs.go
  docs/reference/commands.md
  esti/golden/lakectl_fs_download.golden
  esti/golden/lakectl_fs_download_custom.golden
  esti/golden/lakectl_fs_download_recursive.golden
  esti/golden/lakectl_fs_download_recursive_custom.golden
  esti/lakectl_test.go
  pkg/api/helpers/download.go
Labels: area/lakectl, include-changelog

#4411 4278 add cicd for data use case in docs
  docs/use_cases/cicd_for_data.md
Labels: docs, exclude-changelog

#4444 Propagate Esti failure from runner.sh
  esti/scripts/runner.sh
Labels: bug, pr/merge-if-approved, area/system-tests, infrastructure, exclude-changelog

#4446 Fix running go generate onboard package no longer exists
  Makefile
Labels: exclude-changelog, minor-change

#4449 Fix blank page when viewing objects in subdirectory
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/repositories/repository/objectViewer.jsx
Labels: include-changelog

#4429 [lakeFS OC] Implement commitJob and commitTask
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSClient.java
  clients/hadoopfs/src/main/java/io/lakefs/committer/DummyOutputCommitter.java
Labels: exclude-changelog, team/ecosystem

#4451 Update changelog v0.83.4
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4455 Fix spark workflow to use setup-scala v13
  .github/workflows/spark.yaml
Labels: exclude-changelog, minor-change

#4442 Add kv metrics
  pkg/kv/metrics.go
  pkg/kv/store.go
  pkg/kv/store_message_test.go
  pkg/kv/store_test.go
Labels: include-changelog, team/versioning-engine, area/KV

#4439 Graveler cache repository information
  pkg/api/controller_test.go
  pkg/cache/cache.go
  pkg/cache/no_cache.go
  pkg/catalog/catalog.go
  pkg/graveler/graveler_test.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/settings/manager_test.go
Labels: exclude-changelog, area/KV

#4403 [API breaking change] add prefix change indicator
  pkg/api/controller_test.go
  pkg/api/transform.go
  pkg/catalog/catalog.go
  pkg/catalog/diff.go
  webui/src/lib/components/repository/changes.jsx
Labels: include-changelog, team/versioning-engine

#4378 add distCp configuration options and force performance improving sett…
  clients/spark/core/src/main/hadoop3/scala/io/treeverse/clients/conditional/GCBackupAndRestore.scala
Labels: exclude-changelog

#4465 Fix UI report version as dev
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/test.yaml
  .goreleaser.yml
Labels: bug, area/UI, include-changelog

#4467 Fix deprecated use of io/ioutil package
  cmd/lakectl/cmd/dbt.go
  cmd/lakectl/cmd/dbt_util.go
  cmd/lakectl/cmd/dbt_util_test.go
  esti/lakectl_util.go
  pkg/graveler/settings/manager_test.go
  pkg/ident/ident.go
  pkg/logging/logger_test.go
  templates/content.go
  webui/content.go
Labels: exclude-changelog, minor-change

#4454 Fix username not enriched in new credentials modal
  webui/src/lib/components/modals.jsx
  webui/src/lib/components/modals.tsx
  webui/src/pages/auth/users/user/credentials.jsx
Labels: bug, include-changelog

#4462 Fix: remove unused diff_type from diffRefs operation
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/java/src/test/java/io/lakefs/clients/api/RefsApiTest.java
  clients/python/docs/RefsApi.md
  clients/python/lakefs_client/api/refs_api.py
  docs/assets/js/swagger.yml
Labels: area/API, include-changelog

#4463 Fix dirty branch error for operations on uncommitted data instead of conflict
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/BranchesApi.md
  clients/java/src/main/java/io/lakefs/clients/api/BranchesApi.java
  clients/python/docs/BranchesApi.md
  docs/assets/js/swagger.yml
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/graveler/committed/value.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/model.go
  pkg/graveler/validate.go
Labels: include-changelog

#4483 Create branch & tag conflicting name validations
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/graveler/validate.go
  pkg/graveler/validate_test.go
Labels: exclude-changelog, team/versioning-engine

#4499 Git ignore kv/mock
  .gitignore
Labels: infrastructure, exclude-changelog, minor-change

#4498 Fix status code return on revert merge without parent
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: area/API, include-changelog

#4484 Docs: Fix Airbyte documentation supported version
  docs/integrations/airbyte.md
Labels: docs

#4495 Cache unfound settings too
  pkg/api/serve_test.go
  pkg/catalog/catalog.go
  pkg/graveler/settings/manager.go
Labels: bug, exclude-changelog, team/versioning-engine

#4513 Make a working OutputCommitter
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSClient.java
  clients/hadoopfs/src/main/java/io/lakefs/committer/DummyOutputCommitter.java
Labels: java, exclude-changelog, team/ecosystem, area/client/hadoopfs

#4445 Add S3 gateway HeadBucket test
  esti/s3_gateway_test.go
Labels: pr/merge-if-approved, area/gateway, area/testing, area/system-tests, exclude-changelog, minor-change

#4501 Use go run for go:generate instead of download tools by makefile
  Makefile
  go.mod
  pkg/actions/service.go
  pkg/auth/service.go
  pkg/graveler/committed/batch_write_closer.go
  pkg/graveler/graveler.go
  pkg/kv/store.go
  pkg/pyramid/pyramid.go
  tools.go
Labels: exclude-changelog, minor-change
