Repository treeverse/lakeFS, pull requests merged in 2022-06, with the labels that each got.

#3444 KV partition implementation
  pkg/gateway/multiparts/db_tracker.go
  pkg/gateway/multiparts/tracker.go
  pkg/kv/import.go
  pkg/kv/kvtest/store.go
  pkg/kv/mem/store.go
  pkg/kv/postgres/migrate.go
  pkg/kv/postgres/store.go
  pkg/kv/scan.go
  pkg/kv/store.go
  pkg/kv/store_message.go
  pkg/kv/store_message_test.go
  pkg/kv/store_test.go
  pkg/testutil/db.go
Labels: exclude-changelog, team/versioning-engine

#3425 KV auth models
  cmd/lakefs-loadtest/cmd/run.go
  cmd/lakefs/cmd/superuser.go
  pkg/api/auth_middleware.go
  pkg/api/auth_middleware_test.go
  pkg/api/controller.go
  pkg/api/login_handler.go
  pkg/api/serve_test.go
  pkg/auth/authenticator.go
  pkg/auth/cache.go
  pkg/auth/model/model.go
  pkg/auth/model/model.pb.go
  pkg/auth/model/model.proto
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/auth/setup.go
  pkg/gateway/handler_test.go
  pkg/gateway/middleware.go
  pkg/gateway/sig/sig_test.go
  pkg/gateway/sig/v4_test.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog

#3464 Edit docs to use dbt instead of DBT
  docs/integrations/dbt.md
Labels: exclude-changelog

#3469 Fix bug in user policy view
  .github/workflows/test.yaml
  webui/src/lib/api/index.js
Labels: include-changelog

#3446 KV Store implementation over DynamoDB
  pkg/kv/dynamodb/main_test.go
  pkg/kv/dynamodb/store.go
  pkg/kv/dynamodb/store_test.go
  pkg/kv/kvtest/store.go
  pkg/testutil/dynamodb.go
Labels: include-changelog, team/versioning-engine

#3427 Feature: kv actions migration 3347
  esti/migrate_test.go
  pkg/actions/db_service.go
  pkg/actions/kv_migrate_test.go
  pkg/actions/kv_run_results_iterator.go
  pkg/actions/kv_run_results_iterator_test.go
  pkg/actions/service.go
  pkg/db/kv_migration_test.go
  pkg/gateway/multiparts/db_tracker.go
  pkg/gateway/multiparts/tracker.go
  pkg/graveler/hooks_handler.go
  pkg/kv/import.go
  pkg/kv/postgres/migrate.go
  pkg/testutil/db.go
Labels: exclude-changelog, team/versioning-engine

#3471 Use a single actions service
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/run.go
  pkg/actions/db_service.go
  pkg/actions/id.go
  pkg/actions/kv_migrate_test.go
  pkg/actions/kv_run_results_iterator_test.go
  pkg/actions/service.go
  pkg/actions/service_test.go
  pkg/actions/store.go
  pkg/actions/store_db.go
  pkg/api/serve_test.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, team/versioning-engine

#3478 Align actions to use node-version: 16.15.0
  .github/workflows/codeql-analysis.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/node.yaml
  .github/workflows/test.yaml
Labels: exclude-changelog

#3459 gateway remove delimter limitation on list objects v2
  pkg/gateway/operations/listobjects.go
Labels: bug, area/gateway, include-changelog

#3460 fix some lint warnings in test code
  pkg/api/controller_test.go
  pkg/api/helpers/errors_test.go
  pkg/api/injectsnippetsfs_test.go
Labels: area/testing, exclude-changelog

#3468 Show Email/Password in placeholder only if reset password is enabled
  webui/src/pages/auth/login.jsx
Labels: exclude-changelog

#3462 docs: Add Action commands to authorizations
  docs/reference/authorization.md
  pkg/auth/setup.go
Labels: exclude-changelog

#3481 Remove lakeFS Invite from docs
  docs/reference/authentication.md
Labels: exclude-changelog

#3470 Docs/use case iso env
  docs/assets/img/iso-env-commit.png
  docs/assets/img/iso-env-df-counts.png
  docs/assets/img/iso-env-ex-repo.png
  docs/assets/img/iso-env-objects.png
  docs/assets/img/iso-env-upload-object.png
  docs/quickstart/iso_env.md
Labels: docs, exclude-changelog

#3465 Docs: update commitment to OSS
  docs/commitment.md
Labels: docs, exclude-changelog

#3491 make gc docs referencable by lakefs cloud docs
  docs/assets/img/gc_rules_from_ui.png
  docs/reference/garbage-collection.md
Labels: exclude-changelog

#3480 javascript eslint update recommemnded checks
  Makefile
  webui/package-lock.json
  webui/package.json
  webui/src/lib/api/index.js
  webui/src/lib/components/auth/credentials.jsx
  webui/src/lib/components/auth/forms.jsx
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/nav.jsx
  webui/src/lib/components/policy.jsx
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/layout.jsx
  webui/src/lib/components/repository/refDropdown.jsx
  webui/src/lib/components/repository/tabs.jsx
  webui/src/lib/components/repository/tree.jsx
  webui/src/lib/components/repositoryCreateForm.jsx
  webui/src/lib/hooks/repo.jsx
  webui/src/lib/hooks/router.jsx
  webui/src/pages/auth/credentials.jsx
  webui/src/pages/auth/groups/group/index.jsx
  webui/src/pages/auth/groups/group/members.jsx
  webui/src/pages/auth/groups/group/policies.jsx
  webui/src/pages/auth/groups/index.jsx
  webui/src/pages/auth/policies/index.jsx
  webui/src/pages/auth/policies/policy.jsx
  webui/src/pages/auth/users/create-user-with-password.jsx
  webui/src/pages/auth/users/index.jsx
  webui/src/pages/auth/users/user/credentials.jsx
  webui/src/pages/auth/users/user/effectivePolicies.jsx
  webui/src/pages/auth/users/user/groups.jsx
  webui/src/pages/auth/users/user/policies.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/actions/index.jsx
  webui/src/pages/repositories/repository/actions/run/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/commit/index.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/settings/branches.jsx
  webui/src/pages/repositories/repository/settings/general.jsx
  webui/src/pages/repositories/repository/settings/layout.jsx
  webui/src/pages/repositories/repository/settings/retention.jsx
  webui/src/pages/repositories/repository/tags.jsx
  webui/src/pages/setup/index.jsx
Labels: area/UI, javascript, exclude-changelog

#3376 OIDC support initial research
  design/open/oidc-support.md
Labels: exclude-changelog

#3450 Add gc report
  clients/spark/core/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: include-changelog

#3473 add rollback tutorial
  docs/assets/img/rollback-commit-history.png
  docs/assets/img/rollback-copy-id.png
  docs/assets/img/rollback-revert-commit.png
  docs/quickstart/rollback.md
Labels: docs, exclude-changelog

#3506 move tutorials to use cases
  docs/integrations/airbyte.md
  docs/integrations/index.md
  docs/reference/index.md
  docs/understand/roadmap.md
  docs/use_cases/index.md
  docs/use_cases/iso_env.md
  docs/use_cases/rollback.md
  docs/using_lakefs/ci.md
  docs/using_lakefs/data-devenv.md
  docs/using_lakefs/index.md
  docs/using_lakefs/production.md
Labels: docs, exclude-changelog

#3507 Docs/use case section
  docs/quickstart/includes/try.md
  docs/use_cases/iso_env.md
Labels: docs, exclude-changelog

#3502 Allow dynamodb cloud usage
  pkg/db/migration.go
  pkg/kv/dynamodb/main_test.go
  pkg/kv/dynamodb/store.go
  pkg/kv/store.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3510 Update CHANGELOG for release 0.67.0
  CHANGELOG.md
Labels: exclude-changelog

#3514 Add iterator to skip first value if equals to after
  pkg/actions/kv_task_results_iterator_test.go
  pkg/kv/skip_iterator.go
  pkg/kv/store_message.go
  pkg/kv/store_message_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3492 KV auth implemantaion
  Makefile
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/api/auth_middleware_test.go
  pkg/api/serve_test.go
  pkg/auth/cache.go
  pkg/auth/db_service.go
  pkg/auth/kv_migrate_test.go
  pkg/auth/model/model.go
  pkg/auth/model/model.pb.go
  pkg/auth/model/model.proto
  pkg/auth/model/validation.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3508 Dynamodb benchmark tests and bug fixes
  pkg/gateway/multiparts/main_test.go
  pkg/gateway/multiparts/tracker_test.go
  pkg/kv/dynamodb/main_test.go
  pkg/kv/dynamodb/store.go
  pkg/kv/dynamodb/store_test.go
  pkg/kv/kvtest/store.go
  pkg/kv/mem/store_test.go
  pkg/kv/postgres/store_test.go
  pkg/kv/store_message_test.go
  pkg/testutil/dynamodb.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3475 add reproducibility doc
  docs/assets/img/reproduce-commit-history.png
  docs/use_cases/iso_env.md
  docs/use_cases/reproducibility.md
  docs/use_cases/rollback.md
Labels: docs, exclude-changelog

#3519 Fix initialize logger for superuser cmd auth service crash fix
  cmd/lakefs/cmd/superuser.go
Labels: bug, include-changelog

#3524 KV milestone tidiness
  pkg/actions/db_run_result_iterator.go
  pkg/actions/kv_run_results_iterator.go
  pkg/actions/kv_task_results_iterator.go
  pkg/actions/service.go
  pkg/actions/store_db.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/auth/db_service.go
  pkg/auth/model/model.go
  pkg/auth/service.go
Labels: exclude-changelog, area/KV

#3512 Adding a configuration for setting audit logs level
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  pkg/api/serve.go
  pkg/config/config.go
  pkg/config/logger.go
  pkg/config/template.go
  pkg/gateway/handler.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/httputil/logging.go
  pkg/logging/dummy.go
  pkg/logging/logger.go
  pkg/version/audit_test.go
Labels: include-changelog

#3522 Show content diff for conflicted files
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/lib/components/repository/changes.jsx
  webui/src/styles/globals.css
Labels: area/UI, include-changelog, team/versioning-engine

#3525 Garbage Collector: Eliminate double slash in URL
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  pkg/graveler/retention/garbage_collection_manager.go
Labels: include-changelog, team/ecosystem

#3535 Updated changelog notes for lakeFS version 0.68.0
  CHANGELOG.md
Labels: exclude-changelog

#3499 Wizard MVP proposal
  design/open/diagrams/wizard-mvp.excalidraw
  design/open/diagrams/wizard-mvp.png
  design/open/ttv-wizard-mvp.md
Labels: exclude-changelog, team/ecosystem

#3536 bump spark client version to 0.1.8
  clients/spark/build.sbt
Labels: exclude-changelog

#3373 Initial suggestion of a template server
  design/open/template-server/template-server.md
Labels: exclude-changelog

#3537 Spark Client: Update spark client docs' version to 0.1.8
  docs/reference/spark-client.md
Labels: exclude-changelog

#3538 return code 409 instead of 500 for revert conflict
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/BranchesApi.md
  clients/java/src/main/java/io/lakefs/clients/api/BranchesApi.java
  clients/python/docs/BranchesApi.md
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: include-changelog

#3554 GC: Precisely explain what objects are retained
  docs/reference/garbage-collection.md
Labels: exclude-changelog

#3561 Add PNG version of GC commit diagram
  docs/reference/garbage-collection.md
  docs/reference/gc-sample-commits.png
Labels: pr/merge-if-approved, pr/high-priority, docs, exclude-changelog, team/ecosystem

#3562 Entirely remove Mermaid diagram from Markdown text
  docs/reference/garbage-collection.md
  docs/reference/gc-sample-commits.mermaid
Labels: pr/merge-if-approved, pr/high-priority, docs, exclude-changelog, team/ecosystem

#3564 Refactor/delegate emailer to authservice
  api/authorization.yml
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/api/auth_middleware.go
  pkg/api/controller.go
  pkg/api/login_handler.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/auth/db_service.go
  pkg/auth/email/email_test.go
  pkg/auth/email/invite_user.golden
  pkg/auth/email/invite_user_template.html
  pkg/auth/email/reset_email_template.html
  pkg/auth/email/reset_password.golden
  pkg/auth/email/send_email.go
  pkg/auth/email/template.go
  pkg/auth/invite.go
  pkg/auth/kv_migrate_test.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/auth/token.go
  pkg/config/config.go
  pkg/loadtest/local_load_test.go
Labels: include-changelog

#3576 Make logout separate from API
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/AuthApi.md
  clients/java/src/main/java/io/lakefs/clients/api/AuthApi.java
  clients/java/src/test/java/io/lakefs/clients/api/AuthApiTest.java
  clients/python/README.md
  clients/python/docs/AuthApi.md
  clients/python/lakefs_client/api/auth_api.py
  clients/python/test/test_auth_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/logout_handler.go
  pkg/api/serve.go
  pkg/config/config.go
  pkg/config/template.go
  webui/src/lib/api/index.js
  webui/src/lib/components/navbar.jsx
  webui/src/pages/auth/login.jsx
  webui/vite.config.js
Labels: exclude-changelog

#3532 Stabilize migrate test by using multipart uploads for state file
  esti/migrate_test.go
  esti/ops/docker-compose.yaml
  pkg/block/s3/adapter.go
Labels: area/system-tests, exclude-changelog, team/versioning-engine

#3563 OIDC improvements
  docs/reference/configuration.md
  pkg/api/auth_middleware.go
  pkg/api/oidc_login_handler.go
  pkg/api/serve.go
  pkg/config/template.go
Labels: include-changelog

#3579 Avoiding of printing DB password on connecting
  pkg/db/connect.go
Labels: exclude-changelog

#3583 KV configuration block
  cmd/lakefs/cmd/import.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/actions/kv_migrate_test.go
  pkg/auth/kv_migrate_test.go
  pkg/config/config.go
  pkg/config/template.go
  pkg/db/kv_migration_test.go
  pkg/gateway/multiparts/kv_migrate_test.go
  pkg/gateway/multiparts/tracker_test.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/kv/dynamodb/main_test.go
  pkg/kv/dynamodb/store.go
  pkg/kv/dynamodb/store_test.go
  pkg/kv/kvtest/store.go
  pkg/kv/mem/store.go
  pkg/kv/mem/store_test.go
  pkg/kv/params/database.go
  pkg/kv/postgres/migrate.go
  pkg/kv/postgres/store.go
  pkg/kv/postgres/store_test.go
  pkg/kv/store.go
  pkg/kv/store_message_test.go
  pkg/kv/store_test.go
  pkg/testutil/dynamodb.go
Labels: exclude-changelog, team/versioning-engine, area/KV

#3581 UI: add merge strategy
  webui/src/lib/api/index.js
  webui/src/pages/repositories/repository/compare.jsx
Labels: include-changelog

#3566 KV3 - graveler - Discovery and Planning
  design/open/kv3-execution-plan.md
Labels: exclude-changelog
