Repository treeverse/lakeFS, pull requests merged in 2023-10, with the labels that each got.

#6647 Chore/config consolidation
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/Config.md
  clients/java/docs/ConfigApi.md
  clients/java/docs/InternalApi.md
  clients/java/src/main/java/io/lakefs/clients/api/ConfigApi.java
  clients/java/src/main/java/io/lakefs/clients/api/InternalApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/Config.java
  clients/java/src/test/java/io/lakefs/clients/api/ConfigApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/InternalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/ConfigTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/Config.md
  clients/python/docs/ConfigApi.md
  clients/python/docs/InternalApi.md
  clients/python/lakefs_client/api/config_api.py
  clients/python/lakefs_client/api/internal_api.py
  clients/python/lakefs_client/model/config.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_config.py
  clients/python/test/test_config_api.py
  clients/python/test/test_internal_api.py
  cmd/lakectl/cmd/import.go
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/root.go
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  webui/src/lib/api/index.js
Labels: include-changelog

#6640 Mark refs dump/restore current API as internal
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/InternalApi.md
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/InternalApi.java
  clients/java/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/java/src/test/java/io/lakefs/clients/api/InternalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/RefsApiTest.java
  clients/python/README.md
  clients/python/docs/InternalApi.md
  clients/python/docs/RefsApi.md
  clients/python/lakefs_client/api/internal_api.py
  clients/python/lakefs_client/api/refs_api.py
  clients/python/test/test_internal_api.py
  clients/python/test/test_refs_api.py
  docs/assets/js/swagger.yml
Labels: area/API, include-changelog

#6661 API cleanup: remove emailer service implementation
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/auth/email/emailer.go
  pkg/auth/email/emailer_test.go
  pkg/auth/email/invite_user_template.html
  pkg/auth/email/reset_email_template.html
  pkg/auth/email/template.go
  pkg/auth/email/testdata/invite_user.golden
  pkg/auth/email/testdata/reset_password.golden
  pkg/auth/invite.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/auth/testutil/service.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/kv/migrations/rbac_to_acl.go
  pkg/loadtest/local_load_test.go
Labels: include-changelog

#6649 Move setting endpoints to be under `/settings/`
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ConfigApi.md
  clients/java/docs/InternalApi.md
  clients/java/docs/RepositoriesApi.md
  clients/java/docs/RetentionApi.md
  clients/java/src/main/java/io/lakefs/clients/api/ConfigApi.java
  clients/java/src/main/java/io/lakefs/clients/api/InternalApi.java
  clients/java/src/main/java/io/lakefs/clients/api/RepositoriesApi.java
  clients/java/src/main/java/io/lakefs/clients/api/RetentionApi.java
  clients/java/src/test/java/io/lakefs/clients/api/ConfigApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/InternalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/RepositoriesApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/RetentionApiTest.java
  clients/python/README.md
  clients/python/docs/ConfigApi.md
  clients/python/docs/InternalApi.md
  clients/python/docs/RepositoriesApi.md
  clients/python/docs/RetentionApi.md
  clients/python/lakefs_client/api/config_api.py
  clients/python/lakefs_client/api/internal_api.py
  clients/python/lakefs_client/api/repositories_api.py
  clients/python/lakefs_client/api/retention_api.py
  clients/python/test/test_config_api.py
  clients/python/test/test_internal_api.py
  clients/python/test/test_repositories_api.py
  clients/python/test/test_retention_api.py
  cmd/lakectl/cmd/branch_protect.go
  cmd/lakectl/cmd/gc_delete_config.go
  cmd/lakectl/cmd/gc_get_config.go
  cmd/lakectl/cmd/gc_set_config.go
  docs/assets/js/swagger.yml
  esti/gc_test.go
  esti/ugc_test.go
  esti/unified_gc_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/interface.go
  pkg/graveler/branch/protection_manager.go
  pkg/graveler/branch/protection_manager_test.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/settings/manager.go
  pkg/graveler/settings/manager_test.go
  pkg/samplerepo/samplecontent.go
  webui/src/lib/api/index.js
  webui/src/lib/onboarding/repoOnboardingService.tsx
  webui/src/pages/repositories/repository/settings/branches.jsx
Labels: area/API, include-changelog, v1.0.0-blocker

#6665 docs: Spark integration - remove beta from pre signed
  docs/integrations/spark.md
Labels: exclude-changelog, minor-change

#6650 lakectl fs use sync manger
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_upload.go
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/local_list.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/local_status.go
  docs/reference/cli.md
  esti/golden/lakectl_fs_download.golden
  esti/golden/lakectl_fs_download_custom.golden
  esti/golden/lakectl_fs_download_recursive.golden
  esti/golden/lakectl_fs_download_recursive_custom.golden
  esti/lakectl_test.go
  pkg/local/sync.go
Labels: area/lakectl, include-changelog, v1.0.0-blocker

#6670 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6672 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#6669 test: compatibility test storage more unique identifier
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#6626 Document API guarantees for 1.0.0
  docs/posts/images/1.0-is-coming.jpg
  docs/posts/towards-1.0-sdk.md
Labels: docs, java, area/sdk/python, exclude-changelog, v1.0.0-blocker, minor-change

#6663 Update README.md about Hacktoberfest
  README.md
Labels: pr/merge-if-approved, pr/high-priority, docs, exclude-changelog, minor-change

#6675 Fix Hacktoberfest double "this year"
  README.md
Labels: pr/merge-if-approved, docs, exclude-changelog, minor-change

#6676 Move "SDK Towards 1.0" post to docs/understand
  docs/understand/images/1.0-is-coming.jpg
  docs/understand/towards-1.0-sdk.md
Labels: pr/merge-if-approved, docs, exclude-changelog, v1.0.0-blocker, minor-change

#6677 Fix broken image link in "towards 1.0 sdk"
  docs/understand/towards-1.0-sdk.md
Labels: bug, pr/merge-if-approved, docs, exclude-changelog, v1.0.0-blocker, minor-change

#6680 Fix external auth email regression
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/User.md
  clients/java/src/main/java/io/lakefs/clients/api/model/User.java
  clients/java/src/test/java/io/lakefs/clients/api/model/UserTest.java
  clients/python/docs/User.md
  clients/python/lakefs_client/model/user.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
Labels: bug, pr/merge-if-approved, area/auth, include-changelog

#6682 Fix quickstart bug: branch protection
  esti/repository_test.go
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/catalog/interface.go
  pkg/graveler/branch/protection_manager.go
  pkg/graveler/branch/protection_manager_test.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/settings/manager.go
  pkg/graveler/settings/manager_test.go
  pkg/kv/local/store.go
  pkg/samplerepo/samplecontent.go
  webui/src/lib/api/index.js
  webui/src/pages/repositories/repository/settings/branches.jsx
Labels: exclude-changelog

#6653 Export Hooks: Glue Catalog exporter
  pkg/actions/lua/lakefs/catalogexport/glue_exporter.lua
  pkg/actions/lua/lakefs/catalogexport/hive.lua
  pkg/actions/lua/lakefs/catalogexport/internal.lua
  pkg/actions/lua/lakefs/catalogexport/symlink_exporter.lua
  pkg/actions/lua/storage/aws/aws.go
  pkg/actions/lua/storage/aws/glue.go
  pkg/actions/lua/storage/aws/s3.go
Labels: include-changelog

#6673 Update github workflows to use amazon-ecr-login v2
  .github/actions/bootstrap-test-lakefs/action.yaml
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
Labels: infrastructure, exclude-changelog, minor-change

#6687 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6666 Rename 'address token' to 'link address'
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/ref/link_address_iterator.go
  pkg/graveler/ref/link_addresss_iterator_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog

#6689 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#6681 Remove recursive flag from lakectl fs Upload and Download
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_upload.go
Labels: area/lakectl, include-changelog, minor-change

#6688 Simplify branch protect interface
  pkg/api/controller.go
  pkg/catalog/interface.go
  pkg/graveler/branch/protection_manager.go
  pkg/graveler/branch/protection_manager_test.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/settings/manager.go
  pkg/graveler/settings/manager_test.go
  pkg/samplerepo/samplecontent.go
  webui/src/lib/api/index.js
Labels: exclude-changelog

#6668 HadoopFS: remove fallback to stage object API
  .github/workflows/compatibility-tests.yaml
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemServerTest.java
Labels: exclude-changelog

#6696 lakectl: block `fs stage` command for objects in the storage namespace
  cmd/lakectl/cmd/fs_stage.go
  docs/reference/cli.md
Labels: include-changelog

#6700 API GC prepare move operations to internal tag
  api/swagger.yml
  clients/java-legacy/.openapi-generator/FILES
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/InternalApi.md
  clients/java-legacy/docs/RetentionApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/InternalApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/RetentionApi.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/InternalApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/RetentionApiTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/InternalApi.md
  clients/java/docs/RetentionApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/InternalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/RetentionApi.java
  clients/java/src/test/java/io/lakefs/clients/sdk/InternalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/RetentionApiTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/InternalApi.md
  clients/python/docs/RetentionApi.md
  clients/python/lakefs_client/api/internal_api.py
  clients/python/lakefs_client/api/retention_api.py
  clients/python/lakefs_client/apis/__init__.py
  clients/python/lakefs_client/client.py
  clients/python/test/test_internal_api.py
  clients/python/test/test_retention_api.py
  docs/assets/js/swagger.yml
Labels: area/API, include-changelog

#6667 linkPhysicalAddress: do not verify external addresses
  api/swagger.yml
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/StagingApi.md
  clients/java-legacy/docs/StagingLocation.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/StagingApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/StagingLocation.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/StagingApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/StagingLocationTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/StagingApi.md
  clients/java/docs/StagingLocation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/StagingApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/StagingLocation.java
  clients/java/src/test/java/io/lakefs/clients/sdk/StagingApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/StagingLocationTest.java
  clients/python-legacy/README.md
  clients/python-legacy/docs/StagingApi.md
  clients/python-legacy/docs/StagingLocation.md
  clients/python-legacy/lakefs_client/api/staging_api.py
  clients/python-legacy/lakefs_client/model/staging_location.py
  clients/python-legacy/test/test_staging_api.py
  clients/python/README.md
  clients/python/docs/StagingApi.md
  clients/python/docs/StagingLocation.md
  clients/python/lakefs_sdk/api/staging_api.py
  clients/python/lakefs_sdk/models/staging_location.py
  clients/python/test/test_staging_api.py
  clients/python/test/test_staging_location.py
  clients/python/test/test_staging_metadata.py
  cmd/lakectl/cmd/abuse_link_same_object.go
  docs/assets/js/swagger.yml
  esti/presign_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: include-changelog

#6693 CosmosDB: Add throughput configuration
  docs/reference/configuration.md
  pkg/config/config.go
  pkg/kv/cosmosdb/store.go
  pkg/kv/kvparams/database.go
Labels: include-changelog, azure

#6712 docs: render links to sdk as text until packages are published
  docs/understand/towards-1.0-sdk.md
Labels: pr/merge-if-approved, docs, exclude-changelog, minor-change

#6708 API: deprecate upload object If-None-Match and Storage Class
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/ObjectsApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ObjectsApi.java
  clients/python-legacy/docs/ObjectsApi.md
  clients/python-legacy/lakefs_client/api/objects_api.py
  clients/python/docs/ObjectsApi.md
  clients/python/lakefs_sdk/api/objects_api.py
  docs/assets/js/swagger.yml
Labels: area/API, include-changelog, v1.0.0-blocker

#6683 Update lakeFSFS to use (upcoming) lakeFS SDK 1.0
  .github/workflows/esti.yaml
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/BulkDeleter.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSClient.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSLinker.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/PresignedStorageAccessStrategy.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/SimpleStorageAccessStrategy.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/StorageAccessStrategy.java
  clients/hadoopfs/src/test/java/io/lakefs/BulkDeleterTest.java
  clients/hadoopfs/src/test/java/io/lakefs/FSTestBase.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemServerS3Test.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemServerTest.java
  clients/hadoopfs/src/test/java/io/lakefs/S3FSTestBase.java
Labels: java, include-changelog, v1.0.0-blocker, area/client/hadoopfs

#6714 Revert "revert kv dynamodb client to use sdk v1 (#6706)"
  go.mod
  go.sum
  pkg/kv/dynamodb/store.go
Labels: include-changelog, minor-change

#6723 Remove unused catalog.Interface
  cmd/lakectl/cmd/fs.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/catalog/catalog.go
  pkg/catalog/interface.go
  pkg/gateway/handler.go
  pkg/gateway/middleware.go
  pkg/gateway/operations/base.go
  pkg/samplerepo/samplecontent.go
Labels: exclude-changelog, refactor, minor-change

#6722 Update Java SDK Maven coordinates to io.lakefs:sdk
  Makefile
  clients/java/README.md
  clients/java/build.gradle
  clients/java/build.sbt
  clients/java/pom.xml
  clients/java/settings.gradle
Labels: pr/merge-if-approved, java, include-changelog, v1.0.0-blocker, bug/critical, minor-change

#6713 Fix: DynamoDB use NOP rate limiter
  pkg/kv/dynamodb/rate_limit.go
  pkg/kv/dynamodb/store.go
Labels: exclude-changelog, AWS

#6725 Following API changes lakeFSFS only compatible with lakeFS >= 0.108.0
  .github/workflows/compatibility-tests.yaml
Labels: area/API, java, include-changelog, v1.0.0-blocker, minor-change, area/client/hadoopfs

#6728 Changelog for v0.112.0
  CHANGELOG.md
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#6726 [Bug] Write headers just before writing contents
  esti/s3_gateway_test.go
  pkg/gateway/operations/getobject.go
Labels: area/gateway, include-changelog

#6731 Enable Python `lakefs-sdk` publish workflow + add Gemfile
  .github/workflows/python-api-client-test-pypi.yaml
  .github/workflows/python-api-client.yaml
  clients/python-legacy/Gemfile
  clients/python-legacy/Gemfile.lock
  clients/python-legacy/_config.yml
  clients/python/Gemfile
  clients/python/Gemfile.lock
  clients/python/_config.yml
Labels: exclude-changelog, minor-change

#6733 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#6730 Change Java SDK Maven coordinates to io.lakefs:sdk in "towards 1.0"
  docs/understand/towards-1.0-sdk.md
Labels: bug, pr/merge-if-approved, docs, java, exclude-changelog, minor-change, area/client/hadoopfs

#6737 Use io.lakefs:sdk coordinates
  .github/workflows/esti.yaml
  clients/hadoopfs/pom.xml
Labels: java, exclude-changelog, v1.0.0-blocker, bug/critical, area/client/hadoopfs

#6691 Test: Lua Hive Partition pager
  pkg/actions/lua_test.go
  pkg/actions/testdata/lua/catalogexport_hive_partition_pager.lua
  pkg/actions/testdata/lua/catalogexport_hive_partition_pager.output
Labels: area/testing, exclude-changelog

#6717 Document email usage in the api
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/CommPrefsInput.md
  clients/java-legacy/docs/User.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/CommPrefsInput.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/User.java
  clients/java/api/openapi.yaml
  clients/java/docs/CommPrefsInput.md
  clients/java/docs/User.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/CommPrefsInput.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/User.java
  clients/python-legacy/docs/CommPrefsInput.md
  clients/python-legacy/docs/User.md
  clients/python-legacy/lakefs_client/model/comm_prefs_input.py
  clients/python-legacy/lakefs_client/model/user.py
  clients/python/docs/CommPrefsInput.md
  clients/python/docs/User.md
  clients/python/lakefs_sdk/models/comm_prefs_input.py
  clients/python/lakefs_sdk/models/user.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
Labels: exclude-changelog, v1.0.0-blocker

#6740 Metaclient: Drop Hadoop 2 support
  .github/workflows/esti.yaml
  Makefile
  clients/spark/README.md
  clients/spark/build.sbt
  clients/spark/core/src/main/hadoop2/scala/io/treeverse/clients/conditional/S3ClientBuilder.scala
  clients/spark/core/src/main/hadoop3/scala/io/treeverse/clients/conditional/S3ClientBuilder.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/S3ClientBuilder.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/StorageClients.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/DumpSSTable.scala
  clients/spark/project/types.scala
  design/accepted/export-functionality.md
  docs/howto/garbage-collection/gc.md
  docs/reference/spark-client.md
Labels: exclude-changelog

#6732 docs: enable the links to the publish sdk packages for v1
  docs/understand/towards-1.0-sdk.md
Labels: docs, exclude-changelog, minor-change

#6739 Enable openapi breaking changes workflow
  .github/workflows/openapi-breaking-changes.yaml
Labels: area/API, include-changelog

#6660 Fix lakectl upload with pre-sign for Azure
  esti/golden/lakectl_fs_upload_pre_signed.golden
  esti/lakectl_test.go
  esti/lakectl_util.go
  pkg/api/helpers/upload.go
  pkg/httputil/response.go
Labels: include-changelog

#6751 Fix lakeFSFS ETag value when using pre-signed mode
  clients/hadoopfs/src/main/java/io/lakefs/storage/LakeFSFileSystemOutputStream.java
Labels: bug, include-changelog, area/client/hadoopfs

#6755 docs: fix presigned mode for spark shell example
  docs/integrations/spark.md
Labels: docs, exclude-changelog, minor-change

#6749 LinkPhysicalAddress trim quotes and spaces from checksum
  esti/lakectl_test.go
  pkg/api/controller.go
  pkg/api/helpers/upload.go
Labels: area/API, include-changelog

#6763 Added additional explanation where manual errors can occur
  docs/howto/unity-delta-sharing.md
Labels: docs, exclude-changelog, minor-change

#6748 Fix link physical address response to contain full path
  esti/golden/lakectl_fs_upload_pre_signed.golden
  esti/lakectl_test.go
  pkg/api/controller.go
  pkg/api/helpers/upload.go
Labels: include-changelog

#6764 Fix: UI Azure pre-sign upload
  docs/reference/security/presigned-url.md
  webui/src/lib/api/index.js
  webui/src/pages/repositories/repository/objects.jsx
Labels: bug, include-changelog, v1.0.0-blocker

#6770 Fix UI upload azure presigned URL checksum as hex md5
  webui/src/lib/api/index.js
  webui/src/pages/repositories/repository/objects.jsx
Labels: bug, area/UI, include-changelog

#6774 Fix a small typo in import docs
  docs/howto/import.md
Labels: exclude-changelog, minor-change

#6775 Fix: lakectl local download
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/local.go
  esti/lakectl_test.go
  pkg/testutil/setup.go
Labels: bug, include-changelog

#6776 Fix UI copy presigned URL not working when presign ui disabled
  webui/src/lib/components/repository/tree.jsx
Labels: bug, area/UI, include-changelog

#6779 Remove unused lgmt yaml
  lgtm.yml
Labels: exclude-changelog, minor-change

#6785 Update go packages with required code
  go.mod
  go.sum
  pkg/block/azure/adapter.go
  pkg/block/azure/chunkwriting.go
  pkg/block/azure/main_test.go
  pkg/block/azure/multipart_block_writer.go
  pkg/config/config_test.go
  pkg/metastore/hive/gen-go/hive_metastore/GoUnusedProtection__.go
  pkg/metastore/hive/gen-go/hive_metastore/hive_metastore-consts.go
  pkg/metastore/hive/gen-go/hive_metastore/hive_metastore.go
  pkg/metastore/hive/gen-go/hive_metastore/thrift_hive_metastore-remote/thrift_hive_metastore-remote.go
  pkg/metastore/hive/hive_metastore.thrift
  pkg/metastore/hive/metastore_client.go
Labels: include-changelog

#6777 Reintroduce recursive flag for fs download/upload
  cmd/lakectl/cmd/annotate.go
  cmd/lakectl/cmd/fs_cat.go
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_ls.go
  cmd/lakectl/cmd/fs_rm.go
  cmd/lakectl/cmd/fs_stat.go
  cmd/lakectl/cmd/fs_upload.go
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/root.go
  docs/reference/cli.md
  esti/lakectl_local_test.go
  esti/lakectl_test.go
  pkg/diff/diff.go
  pkg/local/diff.go
  pkg/local/errors.go
  pkg/local/sync.go
Labels: area/lakectl, include-changelog

#6788 Fix branch protection checksum for no value
  pkg/graveler/settings/manager.go
Labels: bug, include-changelog

#6789 Update changelog for v0.113.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6790 Update compatibility-tests.yaml for v0.113.0
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#6791 Fix CHANGELOG.md v0.113.0 spelling mistake
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6793 Fix python-sdk package requirements
  clients/python/setup.py
  clients/python/templates/setup.mustache
Labels: bug, area/sdk/python, include-changelog

#6782 Update plugins diff dep packages and proto
  .gitignore
  pkg/plugins/diff/delta_diff_server/Cargo.lock
  pkg/plugins/diff/delta_diff_server/Cargo.toml
  pkg/plugins/diff/delta_diff_server/src/diff.rs
  pkg/plugins/diff/delta_diff_server/src/main.rs
  pkg/plugins/diff/delta_differ.go
  pkg/plugins/diff/delta_differ_test.go
  pkg/plugins/diff/service.go
  pkg/plugins/diff/service_test.go
  pkg/plugins/diff/table_diff.pb.go
  pkg/plugins/diff/table_diff.proto
  pkg/plugins/diff/table_diff_grpc.pb.go
Labels: include-changelog, minor-change

#6798 docs: align changelog v0.113.0 with the release information
  CHANGELOG.md
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#6804 Extend DynamoDB max attempts and make configurable
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/kv/dynamodb/store.go
  pkg/kv/kvparams/database.go
Labels: include-changelog

#6799 Fix new Python SDK upload_object non file content
  clients/python/lakefs_sdk/client.py
  clients/python/templates/client.mustache
Labels: area/sdk/python, include-changelog

#6805 Remove unused code and vars
  esti/system_test.go
  pkg/graveler/branch/protection_manager_test.go
Labels: exclude-changelog, minor-change

#6802 Fix azure import to use content md5 and not entry etag
  pkg/block/azure/walker.go
Labels: include-changelog, azure

#6818 Fix UI upload failed with error connot convert undefined or null to o…
  webui/src/lib/api/index.js
Labels: bug, area/UI, include-changelog

#6826 Code migration guide for lakeFS v1 SDK
  docs/project/code-migrate-1.0-sdk.md
Labels: docs, exclude-changelog, minor-change

#6825 Update CHANGELOG v1.0
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#6827 docs: fix changelog for v1 release
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#6831 docs: update jekyll gem for python docs
  clients/python-legacy/Gemfile.lock
  clients/python/Gemfile.lock
Labels: infrastructure, exclude-changelog, minor-change

#6820 improve iceberg docs
  docs/integrations/iceberg.md
Labels: exclude-changelog, minor-change

#6833 Fix UI empty repository links to rclone and distcp
  webui/src/lib/components/repository/tree.jsx
Labels: area/UI, exclude-changelog

#6822 Fix gateway error for no underlying object
  esti/main_test.go
  esti/s3_gateway_test.go
  pkg/gateway/operations/getobject.go
Labels: area/gateway, include-changelog

#6839 My best PR yet
  docs/index.md
  docs/project/docs/callouts.md
  docs/quickstart/actions-and-hooks.md
  docs/quickstart/branch.md
  docs/quickstart/commit-and-merge.md
  docs/quickstart/index.md
  docs/quickstart/launch.md
  docs/quickstart/learning-more-lakefs.md
  docs/quickstart/query.md
  docs/quickstart/rollback.md
Labels: exclude-changelog, minor-change

#6843 Update code-migrate-1.0-sdk.md
  docs/project/code-migrate-1.0-sdk.md
Labels: bug, exclude-changelog, minor-change

#6837 Add APIAuthService health check on init
  api/authorization.yml
  cmd/lakefs/cmd/run.go
  pkg/api/serve_test.go
  pkg/auth/mock/mock_auth_client.go
  pkg/auth/service.go
  pkg/config/config.go
  pkg/config/defaults.go
Labels: area/auth, exclude-changelog

#6816 Improve lakectl ref validation error messages
  cmd/lakectl/cmd/abuse_commit.go
  cmd/lakectl/cmd/abuse_create_branches.go
  cmd/lakectl/cmd/abuse_link_same_object.go
  cmd/lakectl/cmd/abuse_list.go
  cmd/lakectl/cmd/abuse_random_read.go
  cmd/lakectl/cmd/abuse_random_writes.go
  cmd/lakectl/cmd/actions_runs_describe.go
  cmd/lakectl/cmd/actions_runs_list.go
  cmd/lakectl/cmd/actions_validate.go
  cmd/lakectl/cmd/annotate.go
  cmd/lakectl/cmd/bisect_start.go
  cmd/lakectl/cmd/branch_create.go
  cmd/lakectl/cmd/branch_delete.go
  cmd/lakectl/cmd/branch_list.go
  cmd/lakectl/cmd/branch_protect.go
  cmd/lakectl/cmd/branch_reset.go
  cmd/lakectl/cmd/branch_revert.go
  cmd/lakectl/cmd/branch_show.go
  cmd/lakectl/cmd/cat_hook_output.go
  cmd/lakectl/cmd/cherry_pick.go
  cmd/lakectl/cmd/commit.go
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/diff.go
  cmd/lakectl/cmd/find_merge_base.go
  cmd/lakectl/cmd/fs_cat.go
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_ls.go
  cmd/lakectl/cmd/fs_rm.go
  cmd/lakectl/cmd/fs_stage.go
  cmd/lakectl/cmd/fs_stat.go
  cmd/lakectl/cmd/fs_upload.go
  cmd/lakectl/cmd/gc_delete_config.go
  cmd/lakectl/cmd/gc_get_config.go
  cmd/lakectl/cmd/gc_set_config.go
  cmd/lakectl/cmd/import.go
  cmd/lakectl/cmd/ingest.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/log.go
  cmd/lakectl/cmd/merge.go
  cmd/lakectl/cmd/refs_dump.go
  cmd/lakectl/cmd/refs_restore.go
  cmd/lakectl/cmd/repo_create.go
  cmd/lakectl/cmd/repo_create_bare.go
  cmd/lakectl/cmd/repo_delete.go
  cmd/lakectl/cmd/root.go
  cmd/lakectl/cmd/show_commit.go
  cmd/lakectl/cmd/tag_create.go
  cmd/lakectl/cmd/tag_delete.go
  cmd/lakectl/cmd/tag_list.go
  cmd/lakectl/cmd/tag_show.go
  cmd/lakefs-loadtest/cmd/entry.go
  docs/reference/cli.md
  esti/golden/lakectl_branch_create_invalid.golden
  esti/golden/lakectl_repo_delete_malformed_uri.golden
  esti/golden/lakectl_repo_delete_malformed_uri.term.golden
  esti/golden/lakectl_tag_create.golden
  esti/golden/lakectl_tag_show.golden
  esti/lakectl_util.go
  pkg/uri/parser.go
Labels: area/lakectl, include-changelog

#6842 Simplify and reorg import docs
  docs/_sass/custom/custom.scss
  docs/howto/import.md
Labels: exclude-changelog

#6846 Fix no branch protection not found error
  pkg/graveler/branch/protection_manager_test.go
  pkg/graveler/settings/manager.go
  pkg/graveler/settings/manager_test.go
Labels: bug, include-changelog

#6851 API: add optional since parameter to commit log request
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/RefsApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/RefsApiTest.java
  clients/java/api/openapi.yaml
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/RefsApi.java
  clients/java/src/test/java/io/lakefs/clients/sdk/RefsApiTest.java
  clients/python-legacy/docs/RefsApi.md
  clients/python-legacy/lakefs_client/api/refs_api.py
  clients/python/docs/RefsApi.md
  clients/python/lakefs_sdk/api/refs_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/block/blocktest/adapter.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/config/defaults.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/ref/commit_iterator.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/resolve_ref_test.go
  pkg/graveler/testutil/fakes.go
Labels: new-feature, include-changelog

#6841 lakefs spark client bump lakefs sdk to v1
  clients/spark/CHANGELOG.md
  clients/spark/README.md
  clients/spark/build.sbt
Labels: exclude-changelog, area/client/hadoopfs

#6858 Fix test blockstore dynamodb give more time for ready state
  pkg/testutil/dynamodb.go
Labels: area/testing, exclude-changelog, minor-change

#6862 Update github workflow actions
  .github/workflows/check-ui-links.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/compatibility-tests.yaml
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/docs-latest.yaml
  .github/workflows/docs-pr.yaml
  .github/workflows/docs-release.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/java-api-client.yaml
  .github/workflows/node.yaml
  .github/workflows/publish-hadoop-lakefs.yaml
  .github/workflows/publish-spark-metadata-client.yaml
  .github/workflows/python-api-client-test-pypi.yaml
  .github/workflows/spark.yaml
  .github/workflows/test.yaml
Labels: infrastructure, exclude-changelog, minor-change

#6860 lakeFSFS bump 0.2.1 lakefs sdk 1.0.0
  clients/hadoopfs/CHANGELOG.md
  clients/hadoopfs/pom.xml
Labels: area/client/spark, exclude-changelog

#6861 Fix metadata client publish - no more root
  Makefile
Labels: infrastructure, java, exclude-changelog, minor-change

#6854 Support lakectl log since flag
  cmd/lakectl/cmd/log.go
  docs/reference/cli.md
Labels: area/lakectl, include-changelog

#6870 Update changelog for v1.1.0
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#6864 docs: fix redirect to blog posts from docs
  docs/integrations/delta.md
  docs/understand/faq.md
  docs/understand/model.md
Labels: docs, exclude-changelog, minor-change

#6867 Add latest hadoopfs (lakefsfs) to compatibility test
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#6871 Compatability tests for lakeFS v1.0.0 and v1.1.0
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#6855 docs: generate docs sitemap and robots.txt
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/robots.txt
Labels: docs, infrastructure, exclude-changelog, minor-change

#6869 Update spark.md with hadoop fs v0.2.1
  docs/integrations/spark.md
Labels: exclude-changelog, minor-change, area/client/hadoopfs

#6868 Add HealthCheckRequired config param to Auth API
  cmd/lakefs/cmd/run.go
  pkg/auth/service.go
  pkg/config/config.go
Labels: exclude-changelog

#6865 docs: update lakefs spark client to v0.11.0
  docs/howto/export.md
  docs/howto/garbage-collection/gc.md
  docs/reference/spark-client.md
Labels: docs, exclude-changelog, minor-change

#6873 docs: fix robots.txt use full url to sitemap.xml
  docs/robots.txt
Labels: docs, exclude-changelog, minor-change

#6872 Docs: Add Auth API health check configuration
  docs/reference/configuration.md
Labels: exclude-changelog, minor-change

#6875 Docs: finalize import How-To guide
  docs/assets/img/UI-Import-Dialog.png
  docs/howto/copying.md
  docs/howto/import.md
Labels: exclude-changelog

#6876 docs: fix swagger ui anchor links
  docs/_includes/swagger.html
  docs/assets/js/swagger-ui-lakefs.js
  docs/assets/js/swagger-ui.js
  docs/assets/js/swagger-ui.js.map
Labels: bug, docs, exclude-changelog

#6877 ui: update get-func-name package version
  webui/package-lock.json
Labels: area/UI, exclude-changelog, minor-change

#6823 Docs: Glue Exporter and related
  docs/assets/img/catalog_export_athena_aws_ui_sql.png
  docs/assets/img/csv_export_hooks_data.png
  docs/assets/img/glue_export_hook_result_log.png
  docs/howto/catalog_exports.md
  docs/howto/hooks/lua.md
  docs/howto/index.md
  docs/integrations/glue_hive_metastore.md
  docs/integrations/glue_metastore.md
Labels: docs, include-changelog, export-hooks

#6885 Add blockstore type to comm prefs event
  pkg/actions/service_test.go
  pkg/api/controller.go
  pkg/api/serve_test.go
  pkg/stats/collector.go
  pkg/stats/nullcollector.go
Labels: exclude-changelog, minor-change

#6784 Proporal: use Buf CLI to compile our proto files
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/test.yaml
  Makefile
  buf.gen.yaml
  buf.work.yaml
  buf.yaml
  docs/project/contributing.md
  pkg/actions/actions.pb.go
  pkg/auth/model/model.pb.go
  pkg/catalog/catalog.pb.go
  pkg/gateway/multipart/multipart.pb.go
  pkg/graveler/committed/committed.pb.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/settings/test_settings.pb.go
  pkg/kv/kvtest/test_model.pb.go
  pkg/kv/secondary_index.pb.go
  pkg/plugins/diff/table_diff.pb.go
  pkg/plugins/internal/test.pb.go
  tools.go
Labels: improvement, infrastructure, include-changelog, refactor

#6894 External API authorization allow empty value for pagination params
  api/authorization.yml
Labels: exclude-changelog, minor-change

#6897 UI: Allow commit message and metadata in merge action
  webui/src/lib/api/index.js
  webui/src/pages/repositories/repository/compare.jsx
Labels: area/UI, include-changelog

#6898 Glue Metastore catalog: Docs- rephrasing some sections
  docs/howto/hooks/lua.md
  docs/integrations/glue_metastore.md
Labels: docs, exclude-changelog, minor-change

#6889 Python client: Fix broken links in README
  clients/python-codegen-config.yaml
  clients/python-legacy/setup.py
  clients/python-legacy/templates/setup.mustache
  clients/python/setup.py
  clients/python/templates/setup.mustache
Labels: exclude-changelog

#6892 lakectl: Add commit params to merge command
  cmd/lakectl/cmd/commit.go
  cmd/lakectl/cmd/import.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/merge.go
  cmd/lakectl/cmd/root.go
  docs/reference/cli.md
  esti/golden/lakectl_merge_success.golden
  esti/golden/lakectl_merge_with_commit.golden
  esti/lakectl_test.go
  pkg/catalog/catalog.go
Labels: area/lakectl, include-changelog

#6899 Handle stale issues/PRs
  .github/workflows/close-stale-issues.yaml
Labels: exclude-changelog

#6904 Fix workflow indentation
  .github/workflows/close-stale-issues.yaml
Labels: exclude-changelog, minor-change

#6905 Add major/minor tags to images
  .github/workflows/docker-publish.yaml
Labels: exclude-changelog

#6907 Fix lakectl local git regex
  pkg/git/git.go
  pkg/git/git_test.go
Labels: bug, area/lakectl, exclude-changelog, lakectl-local

#6821 Proposal: Higher level python SDK Wrapper
  design/accepted/high-level-python-wrapper.md
Labels: proposal, area/sdk/python, exclude-changelog, minor-change
