Repository treeverse/lakeFS, pull requests merged in 2023-07, with the labels that each got.

#6155 test: fix test spark python and cosmosdb cleanup
  .github/workflows/esti.yaml
  test/spark/requirements.txt
Labels: area/testing, exclude-changelog

#6154 Fix stats default endpoint to lakefs.io
  pkg/config/defaults.go
Labels: BI, exclude-changelog, minor-change

#6151 Add check for broken outbound links from the UI
  .github/workflows/check-ui-links.yaml
  webui/src/pages/repositories/repository/actions/index.jsx
Labels: exclude-changelog, minor-change

#6159 test: refactor esti env cleanup
  esti/gc_test.go
  esti/main_test.go
  esti/ugc_test.go
Labels: area/testing, exclude-changelog, minor-change

#6163 Update iceberg.md with new version
  docs/integrations/iceberg.md
Labels: exclude-changelog, minor-change

#6153 Add quickstart content for Actions and Hooks
  docs/assets/img/quickstart/hooks-00.png
  docs/assets/img/quickstart/hooks-01.png
  docs/assets/img/quickstart/hooks-02.png
  docs/assets/img/quickstart/hooks-03.png
  docs/assets/img/quickstart/hooks-04.png
  docs/assets/img/quickstart/hooks-05.png
  docs/assets/img/quickstart/hooks-06.png
  docs/assets/img/quickstart/hooks-07.png
  docs/assets/img/quickstart/hooks-08.png
  docs/assets/img/quickstart/quickstart-step-06.png
  docs/hooks/airflow.md
  docs/hooks/index.md
  docs/hooks/lua.md
  docs/hooks/webhooks.md
  docs/quickstart/actions-and-hooks.md
  docs/quickstart/index.md
  docs/quickstart/learning-more-lakefs.md
  docs/quickstart/rollback.md
  pkg/samplerepo/assets/sample/README.md.tmpl
  pkg/samplerepo/assets/sample/_lakefs_actions/pre-commit-metadata-validation.yaml
  pkg/samplerepo/assets/sample/_lakefs_actions/pre-merge-format-validation.yaml
  pkg/samplerepo/assets/sample/images/hooks-00.png
  pkg/samplerepo/assets/sample/images/hooks-01.png
  pkg/samplerepo/assets/sample/images/hooks-02.png
  pkg/samplerepo/assets/sample/images/hooks-03.png
  pkg/samplerepo/assets/sample/images/hooks-04.png
  pkg/samplerepo/assets/sample/images/hooks-05.png
  pkg/samplerepo/assets/sample/images/hooks-06.png
  pkg/samplerepo/assets/sample/images/hooks-07.png
  pkg/samplerepo/assets/sample/images/hooks-08.png
  pkg/samplerepo/assets/sample/images/quickstart-step-01.png
  pkg/samplerepo/assets/sample/images/quickstart-step-02.png
  pkg/samplerepo/assets/sample/images/quickstart-step-03.png
  pkg/samplerepo/assets/sample/images/quickstart-step-04.png
  pkg/samplerepo/assets/sample/images/quickstart-step-05-actions.png
  pkg/samplerepo/assets/sample/images/quickstart-step-05.png
  pkg/samplerepo/assets/sample/scripts/commit_metadata_validator.lua
  pkg/samplerepo/assets/sample/scripts/parquet_schema_validator.lua
Labels: docs, exclude-changelog, minor-change

#6171 Allow running compatibility tests manually
  .github/workflows/compatibility-tests.yaml
Labels: pr/merge-if-approved, area/system-tests, infrastructure, exclude-changelog, minor-change

#6170 [lakefsfs compatiblity tests] Use an unchanged method to test when installation is ready
  test/spark/run-test.py
Labels: area/system-tests, area/sdk/python, exclude-changelog, area/client/hadoopfs

#5962 Setup lakefs on startup using predefined setup parameters
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  docs/reference/configuration.md
  pkg/auth/setup/setup.go
  pkg/config/config.go
Labels: include-changelog

#6172 metaclient: allow multiple commits
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/SSTableReader.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/LakeFSInputFormatSpec.scala
Labels: exclude-changelog

#6174 Add integration doc for R
  docs/integrations/r.md
Labels: docs, exclude-changelog, minor-change

#6185 Clear error when retrying to create a repository
  webui/src/pages/repositories/index.jsx
Labels: exclude-changelog

#6188 Add details of using Arrow from R with lakeFS
  docs/integrations/r.md
Labels: docs, exclude-changelog, minor-change

#6184 Ignore secret from test
  .secretsignore
Labels: exclude-changelog, minor-change

#6189 docs: add brew option to the docs
  cmd/lakectl/cmd/docs.go
  docs/index.md
  docs/reference/cli.md
Labels: docs, exclude-changelog

#6194 Less verbose retry log
  pkg/graveler/graveler.go
Labels: exclude-changelog

#6183 remove docs for spark2
  clients/spark/README.md
  docs/howto/garbage-collection-committed.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#6179 Experimental unified GC
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/ActiveCommitsAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/CommittedAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/UncommittedGarbageCollectorSpec.scala
Labels: exclude-changelog

#6195 ui: dismiss and same compare tip
  webui/src/lib/components/repository/changes.jsx
Labels: area/UI, include-changelog

#6200 Update Spark docs page
  docs/integrations/spark.md
Labels: docs, exclude-changelog, minor-change

#6199 Add lakeFS Cloud note to top of deploy docs
  docs/deploy/aws.md
  docs/deploy/azure.md
  docs/deploy/gcp.md
  docs/deploy/includes/prerequisites.md
  docs/deploy/index.md
  docs/deploy/onprem.md
Labels: docs, exclude-changelog, minor-change

#6190 Remove Spark 2 support from metaclient
  clients/spark/README.md
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/clients/BulkRemoverFactory.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/LakeFSInputFormatSpec.scala
  clients/spark/project/types.scala
Labels: exclude-changelog

#6205 Fix typo
  clients/spark/README.md
Labels: exclude-changelog, minor-change

#6211 fix: readme test workflow name badge fix
  README.md
Labels: docs, exclude-changelog, minor-change

#6213 Return iterator error from Ingest
  pkg/catalog/import.go
Labels: exclude-changelog, minor-change

#6206 Iceberg: add note re. catalog caching
  docs/integrations/iceberg.md
Labels: docs, exclude-changelog, minor-change

#6209 Fix broken anchor links
  docs/integrations/cloudera.md
  docs/integrations/spark.md
Labels: docs, exclude-changelog, minor-change

#6202 Fix Twitter card image
  docs/_config.yml
  docs/_includes/learn_only.html
  docs/assets/img/docs_logo.png
  docs/assets/img/lakefs-logo-with-text.png
Labels: docs, exclude-changelog, minor-change

#6208 [docs] Add note about DuckDB in lakeFS WebUI to DuckDB integrations page
  docs/assets/img/duckdb.png
  docs/integrations/duckdb.md
Labels: docs, exclude-changelog, minor-change

#6210 Enable Multiple Callout Types on lakeFS Docs
  docs/README.md
  docs/_config.yml
  docs/callouts.md
  docs/contributing.md
Labels: docs, exclude-changelog, minor-change

#6215 Make sure that the feedback buttons are always clickable
  docs/_sass/custom/custom.scss
Labels: docs, exclude-changelog, minor-change

#6220 Refactor cloud docs
  docs/cloud/azure-private-link.md
  docs/cloud/index.md
  docs/cloud/private-link.md
  docs/cloud/setup-azure.md
  docs/cloud/unity-delta-sharing.md
Labels: exclude-changelog

#6229 Use different image for twitter cards
  docs/_config.yml
Labels: docs, exclude-changelog, minor-change

#6235 Fix metadata client unit tests
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#6219 Remove callout-related CSS
  docs/_config.yml
  docs/_sass/custom/custom.scss
  docs/_sass/custom/setup.scss
  docs/contributing.md
  docs/quickstart/learning-more-lakefs.md
Labels: exclude-changelog, minor-change

#6234 Refactor: move ugc class
  clients/spark/core/src/main/scala/io/treeverse/gc/CommittedAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/GarbageCollection.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGC.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/GarbageCollectionSpec.scala
Labels: exclude-changelog

#6240 Spark program to run Unified GC
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/CommittedAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/GarbageCollection.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGC.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/GarbageCollectionSpec.scala
Labels: exclude-changelog

#6244 Esti tests for unified GC
  .github/workflows/esti.yaml
  esti/unified_gc_test.go
Labels: exclude-changelog

#6228 Docs: unified GC and deprecate old GC
  docs/howto/garbage-collection-committed.md
  docs/howto/garbage-collection-uncommitted.md
  docs/howto/garbage-collection.md
  docs/howto/gc-internals.md
Labels: exclude-changelog

#6245 bump metaclient version
  docs/howto/export.md
  docs/howto/garbage-collection-committed.md
  docs/integrations/dremio.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#6246 bump version in new gc page
  docs/howto/garbage-collection.md
Labels: exclude-changelog, minor-change

#6247 test: fix ResolveRawRef uses timestamp for each commit
  pkg/graveler/ref/resolve_ref_test.go
Labels: area/testing, exclude-changelog, minor-change

#6253 Bump docs build to Ruby 3.2
  .github/workflows/check-ui-links.yaml
  .github/workflows/docs-latest.yaml
  .github/workflows/docs-pr.yaml
  .github/workflows/docs-release.yaml
  docs/Gemfile
  docs/Gemfile.lock
Labels: docs, exclude-changelog, minor-change

#6248 Upgrade to use Go v1.20.6, NodeJS v18.17.0 and golangci-lint v1.53.3
  .github/workflows/codeql-analysis.yaml
  .github/workflows/compatibility-tests.yaml
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/node.yaml
  .github/workflows/test.yaml
  .golangci.yml
  Dockerfile
  Makefile
  clients/spark/core/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  go.mod
  go.sum
  pkg/actions/lua.go
  pkg/block/azure/adapter_test.go
  pkg/block/local/adapter_test.go
  pkg/graveler/graveler_test.go
  tools.go
  webui/package-lock.json
Labels: exclude-changelog, minor-change

#6263 Metaclient: handle initial commit
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
Labels: exclude-changelog, minor-change

#6268 Add ssl optional configuration
  docs/integrations/python.md
Labels: docs, exclude-changelog, minor-change

#6271 Fix broken links to API doc
  docs/integrations/airflow.md
  docs/integrations/python.md
  docs/reference/monitor.md
  docs/understand/architecture.md
  docs/understand/how/merge.md
  docs/understand/performance-best-practices.md
Labels: docs, exclude-changelog, minor-change

#6273 Warn about dangerous TLS client configuration
  docs/integrations/python.md
Labels: bug, pr/merge-if-approved, pr/high-priority, docs, area/sdk/python, exclude-changelog, minor-change

#6265 Add icons and proper content to Integrations index page
  docs/assets/img/logos/airbyte.png
  docs/assets/img/logos/airflow.png
  docs/assets/img/logos/apache_hive.png
  docs/assets/img/logos/apache_iceberg.png
  docs/assets/img/logos/apache_kafka.png
  docs/assets/img/logos/apache_spark.png
  docs/assets/img/logos/athena.png
  docs/assets/img/logos/cli.png
  docs/assets/img/logos/cloudera.png
  docs/assets/img/logos/dbt.png
  docs/assets/img/logos/delta-lake.png
  docs/assets/img/logos/dremio.png
  docs/assets/img/logos/duckdb.png
  docs/assets/img/logos/glue.png
  docs/assets/img/logos/kubeflow.png
  docs/assets/img/logos/python.png
  docs/assets/img/logos/r.png
  docs/assets/img/logos/sagemaker.png
  docs/assets/img/logos/trino_presto.png
  docs/integrations/airbyte.md
  docs/integrations/airflow.md
  docs/integrations/athena.md
  docs/integrations/aws_cli.md
  docs/integrations/cloudera.md
  docs/integrations/dbt.md
  docs/integrations/delta.md
  docs/integrations/dremio.md
  docs/integrations/duckdb.md
  docs/integrations/glue_hive_metastore.md
  docs/integrations/hive.md
  docs/integrations/iceberg.md
  docs/integrations/index.md
  docs/integrations/kafka.md
  docs/integrations/kubeflow.md
  docs/integrations/presto_trino.md
  docs/integrations/python.md
  docs/integrations/r.md
  docs/integrations/sagemaker.md
  docs/integrations/spark.md
Labels: docs, exclude-changelog, minor-change

#6275 Add back in redirect (as flagged in https://github.com/treeverse/docs-lakeFS/actions/runs/5686614800)
  docs/project/index.md
Labels: docs, exclude-changelog, minor-change

#6278 Allow running Esti action manually
  .github/workflows/esti.yaml
Labels: pr/merge-if-approved, area/system-tests, exclude-changelog, minor-change

#6279 Remove "S3 with local API key" Esti test
  .github/workflows/esti.yaml
Labels: area/system-tests, exclude-changelog, tech debt, minor-change

#6269 UI: simplify repo creation when default namespace prefix exists
  webui/package-lock.json
  webui/package.json
  webui/src/lib/components/repositoryCreateForm.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/styles/quickstart.css
Labels: area/UI, include-changelog, minor-change

#6266 Metaclient: fix bucket region check
  clients/spark/core/src/main/scala/io/treeverse/clients/StorageUtils.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/GarbageCollection.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/StorageUtilsSpec.scala
Labels: exclude-changelog

#6289 Update CHANGELOG.md
  clients/spark/CHANGELOG.md
Labels: exclude-changelog, minor-change

#6290 Update build.sbt
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#6284 Change comm pref consent form wording
  webui/src/pages/setup/index.jsx
  webui/src/pages/setup/userConfiguration.tsx
Labels: exclude-changelog

#6291 Docs update: metaclient version
  docs/howto/export.md
  docs/howto/garbage-collection-committed.md
  docs/howto/garbage-collection-uncommitted.md
  docs/howto/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#6292 UI: Improve spacing between README components
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
  webui/src/styles/globals.css
  webui/src/styles/quickstart.css
Labels: area/UI, include-changelog, minor-change

#6287 UI: allow loading >10k diff summary
  webui/src/lib/components/repository/ChangeSummary.jsx
Labels: area/UI, include-changelog, minor-change
