Repository treeverse/lakeFS, pull requests merged in 2023-08, with the labels that each got.

#6277 split lakectl cmds - part 3
  cmd/lakectl/cmd/bisect.go
  cmd/lakectl/cmd/bisect_bad.go
  cmd/lakectl/cmd/bisect_good.go
  cmd/lakectl/cmd/bisect_log.go
  cmd/lakectl/cmd/bisect_reset.go
  cmd/lakectl/cmd/bisect_run.go
  cmd/lakectl/cmd/bisect_start.go
  cmd/lakectl/cmd/bisect_view.go
  cmd/lakectl/cmd/branch.go
  cmd/lakectl/cmd/branch_create.go
  cmd/lakectl/cmd/branch_delete.go
  cmd/lakectl/cmd/branch_list.go
  cmd/lakectl/cmd/branch_reset.go
  cmd/lakectl/cmd/branch_revert.go
  cmd/lakectl/cmd/branch_show.go
  cmd/lakectl/cmd/branch_tools_test.go
  cmd/lakectl/cmd/fs.go
  cmd/lakectl/cmd/fs_cat.go
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_ls.go
  cmd/lakectl/cmd/fs_rm.go
  cmd/lakectl/cmd/fs_stage.go
  cmd/lakectl/cmd/fs_stat.go
  cmd/lakectl/cmd/fs_upload.go
  cmd/lakectl/cmd/metastore.go
  cmd/lakectl/cmd/metastore_copy.go
  cmd/lakectl/cmd/metastore_copy_all.go
  cmd/lakectl/cmd/metastore_copy_schema.go
  cmd/lakectl/cmd/metastore_create_symlink.go
  cmd/lakectl/cmd/metastore_diff.go
  cmd/lakectl/cmd/metastore_import_all.go
  cmd/lakectl/cmd/repo.go
  cmd/lakectl/cmd/repo_create.go
  cmd/lakectl/cmd/repo_create_bare.go
  cmd/lakectl/cmd/repo_delete.go
  cmd/lakectl/cmd/repo_list.go
  cmd/lakectl/cmd/tag.go
  cmd/lakectl/cmd/tag_create.go
  cmd/lakectl/cmd/tag_delete.go
  cmd/lakectl/cmd/tag_list.go
  cmd/lakectl/cmd/tag_show.go
Labels: exclude-changelog, minor-change

#6295 Shorter timeout for get bucket location
  clients/spark/core/src/main/scala/io/treeverse/clients/StorageUtils.scala
Labels: exclude-changelog, minor-change

#6301 Metadata client: use logger instead of print
  clients/spark/core/src/main/scala/io/treeverse/clients/BulkRemoverFactory.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/StorageUtils.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/GarbageCollection.scala
Labels: exclude-changelog, minor-change

#6280 lakectl local: implement init
  cmd/lakectl/cmd/index.go
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_init.go
  docs/reference/cli.md
  pkg/fileutil/io.go
  pkg/git/errors.go
  pkg/git/git.go
  pkg/git/git_test.go
Labels: exclude-changelog, lakectl-local

#6251 Import: Change merge logic
  pkg/catalog/catalog.go
  pkg/graveler/committed/import_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/merge.go
  pkg/graveler/committed/range.go
  pkg/graveler/committed/skip_prefix_iterator.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/testutil/fakes.go
Labels: include-changelog

#6305 Fix broken links in documentation
  Makefile
  docs/cloud/auditing.md
  docs/cloud/index.md
  docs/cloud/managed-gc.md
  docs/cloud/sso.md
  docs/enterprise/index.md
  docs/enterprise/sso.md
  docs/howto/deploy/aws.md
  docs/howto/deploy/azure.md
  docs/howto/deploy/gcp.md
  docs/howto/deploy/index.md
  docs/howto/deploy/onprem.md
  docs/howto/export.md
  docs/howto/gc-internals.md
  docs/howto/hooks/index.md
  docs/howto/hooks/lua.md
  docs/howto/import.md
  docs/howto/migrate-away.md
  docs/howto/protect-branches.md
  docs/howto/sizing-guide.md
  docs/integrations/airbyte.md
  docs/integrations/airflow.md
  docs/integrations/athena.md
  docs/integrations/cloudera.md
  docs/integrations/dbt.md
  docs/integrations/delta.md
  docs/integrations/iceberg.md
  docs/integrations/kubeflow.md
  docs/integrations/python.md
  docs/integrations/sagemaker.md
  docs/posts/security_update.md
  docs/project/contributing.md
  docs/project/docs/index.md
  docs/quickstart/actions-and-hooks.md
  docs/quickstart/learning-more-lakefs.md
  docs/reference/access-control-lists.md
  docs/reference/authentication.md
  docs/reference/rbac.md
  docs/reference/s3.md
  docs/understand/architecture.md
  docs/understand/faq.md
  docs/understand/glossary.md
  docs/understand/how/index.md
  docs/understand/how/merge.md
  docs/understand/how/versioning-internals.md
  docs/understand/model.md
  docs/understand/performance-best-practices.md
  docs/understand/use_cases/cicd_for_data.md
  docs/understand/use_cases/etl_testing.md
  docs/understand/use_cases/rollback.md
Labels: bug, docs, exclude-changelog, minor-change

#6212 Overview of current dataset definitions and questons to ask users
  design/open/design-datasets.md
Labels: new-feature, docs, exclude-changelog, minor-change

#6302 Implement lakectl local list
  cmd/lakectl/cmd/index.go
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/local_list.go
  docs/reference/cli.md
  pkg/fileutil/io.go
  pkg/fileutil/io_test.go
  pkg/git/errors.go
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/local/index.go
  pkg/local/index_test.go
Labels: exclude-changelog, lakectl-local

#6317 test: fix git test temporary directory for macOS as symlink
  pkg/git/git_test.go
Labels: area/testing, exclude-changelog, minor-change

#6319 test: git test verify no error
  pkg/git/git_test.go
Labels: area/testing, exclude-changelog, minor-change

#6313 Refactor routing tree using <Outlet />
  webui/src/lib/components/layout.jsx
  webui/src/lib/components/repository/layout.jsx
  webui/src/pages/index.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/actions/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/index.jsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/settings/branches.jsx
  webui/src/pages/repositories/repository/settings/general.jsx
  webui/src/pages/repositories/repository/settings/layout.jsx
  webui/src/pages/repositories/repository/settings/retention.jsx
  webui/src/pages/repositories/repository/tags.jsx
Labels: area/UI, include-changelog

#6318 feat: add `diff_branch` to Lua hook
  docs/howto/hooks/lua.md
  pkg/actions/lua/lakefs/client.go
Labels: area/hooks, contributor, include-changelog, minor-change

#6325 Simplify issue/PR templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pull_request_template.md
Labels: exclude-changelog, minor-change

#6316 Split communication preferences from lakefs setup
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ConfigApi.md
  clients/java/docs/NextStep.md
  clients/java/docs/SetupState.md
  clients/java/src/main/java/io/lakefs/clients/api/ConfigApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/NextStep.java
  clients/java/src/main/java/io/lakefs/clients/api/model/SetupState.java
  clients/java/src/test/java/io/lakefs/clients/api/ConfigApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/NextStepTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/SetupStateTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/ConfigApi.md
  clients/python/docs/NextStep.md
  clients/python/docs/SetupState.md
  clients/python/lakefs_client/api/config_api.py
  clients/python/lakefs_client/model/next_step.py
  clients/python/lakefs_client/model/setup_state.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_next_step.py
  cmd/lakefs/cmd/setup.go
  docs/assets/js/swagger.yml
  pkg/api/auth_middleware_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/auth/metadata.go
  webui/src/lib/api/index.js
  webui/src/pages/auth/login.tsx
  webui/src/pages/setup/index.jsx
  webui/src/pages/setup/userConfiguration.tsx
Labels: BI, include-changelog

#6335 Revert "Refactor routing tree using <Outlet /> (#6313)"
  webui/src/lib/components/layout.jsx
  webui/src/lib/components/repository/layout.jsx
  webui/src/pages/index.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/actions/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/index.jsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/settings/branches.jsx
  webui/src/pages/repositories/repository/settings/general.jsx
  webui/src/pages/repositories/repository/settings/layout.jsx
  webui/src/pages/repositories/repository/settings/retention.jsx
  webui/src/pages/repositories/repository/tags.jsx
Labels: area/UI, exclude-changelog, minor-change

#6217 Add lakefs instrumentation
  .secretsignore
  README.md
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/root.go
  cmd/lakefs/cmd/run.go
  docs/quickstart/launch.md
  pkg/api/serve_test.go
  pkg/auth/metadata.go
  pkg/auth/metadata_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/defaults.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/loadtest/local_load_test.go
  pkg/samplerepo/assets/sample/README.md.tmpl
Labels: BI, exclude-changelog

#6344 Remove mentions of "DDL" in build, CI infrastructure
  .github/workflows/esti.yaml
  Makefile
Labels: area/DB, area/MVCC, infrastructure, exclude-changelog, area/KV, tech debt, minor-change

#6338 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6320 Implement lakectl local clone
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/local_list.go
  docs/reference/cli.md
  go.mod
  go.sum
  pkg/fileutil/io.go
  pkg/fileutil/io_test.go
  pkg/local/errors.go
  pkg/local/index.go
  pkg/local/index_test.go
  pkg/local/progress.go
  pkg/local/sync.go
  pkg/uri/parser.go
Labels: exclude-changelog, lakectl-local

#6336 Fix cosmosdb pagination bug
  pkg/kv/cosmosdb/store.go
  pkg/kv/kvtest/store.go
Labels: bug, include-changelog, minor-change

#6297 docs: python sdk uses package api names
  docs/integrations/python.md
Labels: docs, exclude-changelog

#6360 Implement lakectl local checkout
  cmd/lakectl/cmd/diff.go
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/local_list.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/local_status.go
  docs/reference/cli.md
  pkg/diff/diff.go
  pkg/local/diff.go
  pkg/local/sync.go
Labels: area/lakectl, exclude-changelog, lakectl-local

#6339 Graveler: use result from memory on seek
  pkg/kv/cosmosdb/store.go
  pkg/kv/dynamodb/store.go
  pkg/kv/iterators.go
  pkg/kv/iterators_test.go
  pkg/kv/kvtest/iterators.go
  pkg/kv/kvtest/store.go
  pkg/kv/local/iterator.go
  pkg/kv/mem/store.go
  pkg/kv/mock/store.go
  pkg/kv/postgres/store.go
  pkg/kv/scan.go
  pkg/kv/store.go
Labels: include-changelog

#6364 Feature/checkout all
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/local_list.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/local_status.go
  docs/reference/cli.md
  pkg/local/index.go
Labels: exclude-changelog

#6367 Fix: pass nil reader when content size is 0
  pkg/api/helpers/upload.go
Labels: bug, include-changelog

#6371 lakectl local: support homedir expansion
  cmd/lakectl/cmd/local.go
  pkg/local/index.go
Labels: area/lakectl, exclude-changelog, lakectl-local

#6369 Implement lakectl local commit
  cmd/lakectl/cmd/commit.go
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_commit.go
  docs/reference/cli.md
  pkg/git/errors.go
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/local/progress.go
  pkg/local/sync.go
Labels: area/lakectl, exclude-changelog, lakectl-local

#6376 lakectl local: add init esti tests
  cmd/lakectl/cmd/diff.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/local_status.go
  esti/golden/lakectl_empty.golden
  esti/golden/lakectl_local_commit_not_found.golden
  esti/golden/lakectl_local_init.golden
  esti/golden/lakectl_local_init_twice.golden
  esti/golden/lakectl_local_list.golden
  esti/golden/lakectl_local_repo_not_found.golden
  esti/lakectl_local_test.go
  pkg/diff/diff.go
Labels: area/system-tests, area/lakectl, exclude-changelog, lakectl-local

#6382 Fix strings representation in lakectl
  cmd/lakectl/cmd/config/config.go
  cmd/lakectl/cmd/doctor.go
  cmd/lakectl/cmd/log.go
  cmd/lakectl/cmd/root.go
Labels: exclude-changelog

#6378 lakectl local: add clone esti tests
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/local.go
  esti/golden/lakectl_local_clone_non_empty.golden
  esti/golden/lakectl_local_init.golden
  esti/golden/lakectl_local_list.golden
  esti/lakectl_local_test.go
  esti/lakectl_util.go
Labels: area/system-tests, area/lakectl, exclude-changelog, lakectl-local

#6381 Add a warning in lakectl when catalog id is empty
  pkg/metastore/glue/metastore_client.go
Labels: include-changelog, minor-change

#6383 Task/add lakectl local pull tests 6380
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/local_pull.go
  esti/golden/lakectl_local_init.golden
  esti/golden/lakectl_local_no_index.golden
  esti/lakectl_local_test.go
Labels: area/system-tests, area/lakectl, exclude-changelog, lakectl-local

#6384 lakectl local: handle signals
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
Labels: area/lakectl, exclude-changelog, lakectl-local

#6387 lakectl local: allow skip gitignore update
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/local_pull.go
  docs/reference/cli.md
Labels: area/lakectl, exclude-changelog, lakectl-local

#6388 lakectl local: GA
  cmd/lakectl/cmd/local.go
  docs/reference/cli.md
  esti/golden/lakectl_help.golden
Labels: area/lakectl, include-changelog, lakectl-local

#6390 lakectl local: block file traversal and symlinks
  pkg/fileutil/io.go
  pkg/local/sync.go
Labels: area/lakectl, exclude-changelog, lakectl-local

#6394 lakectl local: Add message template
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
  esti/lakectl_local_test.go
  pkg/local/sync.go
Labels: area/lakectl, exclude-changelog, minor-change, lakectl-local

#6395 Fix/lakectl local ref flag
  cmd/lakectl/cmd/local_checkout.go
  docs/reference/cli.md
Labels: area/lakectl, exclude-changelog, minor-change, lakectl-local

#6396 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6397 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#6402 Fix: quickstart validation
  cmd/lakefs/cmd/root.go
Labels: bug, include-changelog

#6404 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6399 Metaclient: deprecate Hadoop 2
  .github/workflows/esti.yaml
  clients/spark/README.md
  clients/spark/build.sbt
  clients/spark/project/types.scala
  docs/howto/garbage-collection/index.md
  docs/reference/spark-client.md
Labels: exclude-changelog

#6406 Update CHANGELOG.md
  clients/spark/CHANGELOG.md
Labels: exclude-changelog, minor-change

#6407 Update build.sbt
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#6410 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#6411 Update tests and docs to new metaclient package name
  .github/workflows/esti.yaml
  clients/spark/README.md
  docs/howto/export.md
  docs/howto/garbage-collection/index.md
  docs/reference/spark-client.md
Labels: exclude-changelog

#6408 Fix: Add meaningful error on block unsupported operation and check pre-sign capabilities in lakectl local
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/AuthApi.md
  clients/java/docs/ConfigApi.md
  clients/java/docs/ObjectsApi.md
  clients/java/docs/StatisticsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/AuthApi.java
  clients/java/src/main/java/io/lakefs/clients/api/ConfigApi.java
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/StatisticsApi.java
  clients/python/docs/AuthApi.md
  clients/python/docs/ConfigApi.md
  clients/python/docs/ObjectsApi.md
  clients/python/docs/StatisticsApi.md
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/block/local/adapter.go
  pkg/local/sync.go
Labels: bug, exclude-changelog

#6392 Presign S3 URLs using fresh credentials and cap their TTL
  pkg/block/factory/build.go
  pkg/block/params/block.go
  pkg/block/s3/adapter.go
  pkg/block/s3/client_cache.go
  pkg/block/s3/client_cache_test.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/ingest/store/factory.go
Labels: area/API, area/block-adapter, area/integrations, include-changelog, AWS

#6418 Delta diff bug fix: Unknown op
  pkg/plugins/diff/delta_diff_server/src/diff.rs
  pkg/plugins/diff/delta_diff_server/src/utils.rs
  pkg/plugins/diff/service.go
  pkg/plugins/diff/table_diff.pb.go
  pkg/plugins/diff/table_diff.proto
  pkg/plugins/diff/table_diff_grpc.pb.go
  webui/src/styles/globals.css
Labels: bug, include-changelog

#6419 Update CHANGELOG
  CHANGELOG.md
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#6422 Docs: fix broken redirect
  docs/howto/garbage-collection/committed.md
  docs/howto/garbage-collection/internals.md
  docs/howto/garbage-collection/uncommitted.md
Labels: docs, exclude-changelog, minor-change

#6420 Update compatibility tests to run with 0.106.2
  .github/workflows/compatibility-tests.yaml
Labels: pr/merge-if-approved, area/system-tests, exclude-changelog, minor-change

#6433 [Docs] Move lakeFS Enterprise and lakeFS Cloud docs out into the relevant sections
  docs/cloud/sso.md
  docs/howto/garbage-collection/index.md
  docs/howto/garbage-collection/internals.md
  docs/howto/garbage-collection/managed-gc.md
  docs/howto/index.md
  docs/howto/private-link.md
  docs/howto/unity-delta-sharing.md
  docs/reference/auditing.md
  docs/reference/index.md
  docs/reference/security/rbac.md
  docs/reference/security/sso.md
  docs/understand/glossary.md
  docs/understand/index.md
  docs/understand/lakefs-cloud.md
  docs/understand/lakefs-enterprise.md
Labels: docs, exclude-changelog, minor-change

#6434 Test: local KV - seek past end
  pkg/kv/kvtest/iterators.go
Labels: area/testing, area/KV, minor-change

#6439 test: local KV seek past end suggest
  pkg/kv/kvtest/iterators.go
Labels: area/testing, area/KV, minor-change

#6435 Fix kv local SeekGE fail to skip common prefix
  pkg/kv/kvtest/iterators.go
  pkg/kv/local/iterator.go
Labels: bug, include-changelog

#6430 docs: fix how-to copying with rclone provider for lakeFS
  docs/howto/copying.md
Labels: pr/merge-if-approved, docs, exclude-changelog

#6441 Experiment: Batch staging get operations for DBIO transaction markers
  pkg/catalog/catalog.go
  pkg/config/config.go
  pkg/graveler/staging/manager.go
  pkg/graveler/staging/manager_test.go
Labels: include-changelog, minor-change

#6437 Fix: lakectl local commit to use lakefs upload with user metadata
  cmd/lakectl/cmd/fs_upload.go
  cmd/lakectl/cmd/local_commit.go
  esti/lakectl_local_test.go
  pkg/api/controller.go
  pkg/api/helpers/upload.go
  pkg/local/sync.go
Labels: bug, area/lakectl, include-changelog, lakectl-local

#6444 copy when doing compose key
  pkg/kv/local/store.go
Labels: exclude-changelog

#6445 reduce calls to kv lovel composeKey
  pkg/kv/local/store.go
Labels: exclude-changelog, area/KV, minor-change

#6442 lakectl: simplify working with configuration
  cmd/lakectl/cmd/config.go
  cmd/lakectl/cmd/config/config.go
  cmd/lakectl/cmd/doctor.go
  cmd/lakectl/cmd/log.go
  cmd/lakectl/cmd/metastore.go
  cmd/lakectl/cmd/metastore_copy.go
  cmd/lakectl/cmd/metastore_copy_all.go
  cmd/lakectl/cmd/metastore_create_symlink.go
  cmd/lakectl/cmd/metastore_import_all.go
  cmd/lakectl/cmd/root.go
  pkg/config/types.go
  pkg/metastore/glue/metastore_client.go
Labels: area/lakectl, exclude-changelog, minor-change

#6446 Update CHANGELOG for 0.107.0 release
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6454 [Docs] Fix surge.sh preview teardowns when PR is closed
  .github/workflows/docs-pr.yaml
Labels: docs, exclude-changelog, minor-change

#6453 Code refactor simplify access to config - part 2
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  go.mod
  pkg/catalog/catalog.go
  pkg/cloud/aws/metadata.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/kv/migrations/rbac_to_acl.go
  pkg/pyramid/params/params.go
  pkg/stats/metadata.go
Labels: exclude-changelog, refactor, minor-change

#6449 Code refactor simplify access to config - part 1
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/kv.go
  cmd/lakefs/cmd/migrate.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  go.mod
  pkg/api/auth_middleware.go
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/catalog/catalog.go
  pkg/cloud/aws/metadata.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/git/git_test.go
  pkg/kv/cosmosdb/main_test.go
  pkg/kv/cosmosdb/store.go
  pkg/kv/cosmosdb/store_test.go
  pkg/kv/dynamodb/main_test.go
  pkg/kv/dynamodb/store.go
  pkg/kv/dynamodb/store_test.go
  pkg/kv/kvparams/database.go
  pkg/kv/kvtest/store.go
  pkg/kv/local/driver.go
  pkg/kv/local/store_test.go
  pkg/kv/mem/store.go
  pkg/kv/mem/store_test.go
  pkg/kv/migration.go
  pkg/kv/migrations/rbac_to_acl.go
  pkg/kv/mock/store.go
  pkg/kv/msg_test.go
  pkg/kv/params/database.go
  pkg/kv/postgres/store.go
  pkg/kv/postgres/store_test.go
  pkg/kv/store.go
  pkg/kv/store_test.go
  pkg/loadtest/local_load_test.go
  pkg/pyramid/params/params.go
  pkg/stats/metadata.go
  pkg/testutil/dynamodb.go
Labels: exclude-changelog, refactor

#6462 Fix disable presigned for google storage block adapter
  pkg/block/gs/adapter.go
Labels: bug, include-changelog

#6460 [Docs] Bump just-the-docs to 0.6.0
  docs/_config.yml
  docs/_layouts/default.html
Labels: docs, exclude-changelog, minor-change

#6459 Minor glue doc fixes
  docs/integrations/glue_hive_metastore.md
  pkg/metastore/metastore_utils.go
Labels: exclude-changelog, minor-change

#6464 Fix lakectl local with windows
  go.mod
  go.sum
  pkg/fileutil/io.go
  pkg/local/sync.go
Labels: bug, area/lakectl, include-changelog, lakectl-local

#6476 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6443 Quote asterisk in YAML config file in lDS docs
  docs/howto/unity-delta-sharing.md
Labels: pr/merge-if-approved, docs, area/integrations, exclude-changelog, minor-change, area/integrations/table-formats

#6478 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#6477 [Bug]: UI ignores pre-sign URL configuration for GetObject requests
  webui/src/pages/repositories/repository/objectViewer.tsx
Labels: include-changelog

#6473 Add details for using Delta Lake with lakeFS from Python
  docs/integrations/delta.md
Labels: docs, exclude-changelog, minor-change

#6455 lakectl local handle interrupts in a better way
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/local_status.go
  esti/lakectl_local_test.go
  esti/lakectl_util.go
  pkg/local/index.go
  pkg/local/index_test.go
Labels: include-changelog

#6480 Depracate lakectl fs --direct flag
  cmd/lakectl/cmd/fs_cat.go
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_upload.go
  docs/reference/cli.md
  docs/understand/performance-best-practices.md
Labels: area/lakectl, include-changelog

#6485 Fix: local sync parallelism
  pkg/local/sync.go
Labels: bug, area/lakectl, include-changelog, lakectl-local

#6489 Increase DDB concurrent requests
  pkg/kv/dynamodb/store.go
Labels: include-changelog

#6492 Support vertex AI (Datasets + Fuse)
  docs/assets/img/logos/vertex_ai.png
  docs/howto/hooks/lua.md
  docs/integrations/index.md
  docs/integrations/vertex_ai.md
  examples/hooks/gcsfuse_symlink_exporter.lua
  pkg/actions/lua/open.go
  pkg/actions/lua/storage/aws/s3.go
  pkg/actions/lua/storage/gcloud/gcs.go
Labels: new-feature, area/hooks, include-changelog

#6490 Fix lakectl local interrupted tests
  esti/lakectl_local_test.go
Labels: exclude-changelog, minor-change

#6498 Docs: Update vertex_ai.md (fix broken link)
  docs/integrations/vertex_ai.md
Labels: docs, exclude-changelog, minor-change

#6501 Fix: UI object information slide outside the modal dialog
  webui/src/lib/components/repository/tree.jsx
Labels: bug, area/UI, include-changelog

#6505 test: additional kv partition iterator SeekGE testing
  pkg/kv/cosmosdb/store.go
  pkg/kv/kvtest/iterators.go
Labels: exclude-changelog, area/KV, minor-change

#6503 Fix cosmosdb SeekGE query from start key
  pkg/kv/cosmosdb/store.go
Labels: bug, contributor, include-changelog, area/KV

#6500 Ensure merge operations have a metadata field
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
Labels: bug, area/cataloger, include-changelog

#6497 dummy file location change
  CHANGELOG.md
  cmd/lakefs/cmd/run.go
  docs/howto/deploy/upgrade.md
  docs/reference/configuration.md
  pkg/api/controller.go
  pkg/config/config.go
  pkg/config/defaults.go
Labels: include-changelog

#6509 Fix: UI ADLS import validity regex
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/StorageConfig.md
  clients/java/src/main/java/io/lakefs/clients/api/model/StorageConfig.java
  clients/java/src/test/java/io/lakefs/clients/api/model/StorageConfigTest.java
  clients/python/docs/StorageConfig.md
  clients/python/lakefs_client/model/storage_config.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/block/azure/adapter.go
  pkg/block/namespace.go
  webui/src/lib/hooks/storageConfig.tsx
  webui/src/pages/repositories/services/import_data.jsx
Labels: bug, area/UI, include-changelog

#6483 docs: update python integration ssl ca configuration
  docs/integrations/python.md
Labels: docs, exclude-changelog

#6511 test: compatibility test for v0.108.0
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#6510 Restrict lakectl local to common prefixes only
  cmd/lakectl/cmd/local_init.go
  esti/golden/lakectl_local_init_is_object.golden
  esti/lakectl_local_test.go
Labels: bug, area/lakectl, include-changelog, lakectl-local

#6512 minimal permissions
  docs/howto/deploy/aws.md
Labels: docs, exclude-changelog

#6515 Fix: lakectl import with adls
  cmd/lakectl/cmd/import.go
Labels: bug, area/lakectl, include-changelog
