Repository treeverse/lakeFS, pull requests merged in 2023-11, with the labels that each got.

#6916 Fix python links - cont.
  clients/python-legacy/setup.py
  clients/python-legacy/templates/setup.mustache
  clients/python/setup.py
  clients/python/templates/setup.mustache
Labels: exclude-changelog, minor-change

#6921 Update README.md
  README.md
Labels: exclude-changelog, minor-change

#6925 Remove unused code - reset password token
  go.mod
  pkg/auth/token.go
Labels: exclude-changelog, minor-change

#6918 Update close-stale-issues.yaml
  .github/workflows/close-stale-issues.yaml
Labels: exclude-changelog

#6902 External auth remove required id from user model
  .github/workflows/openapi-breaking-changes.yaml
  api/authorization.yml
  pkg/auth/service.go
  pkg/auth/service_test.go
Labels: area/API, area/auth, include-changelog

#6922 Report Data Catalog Export metrics
  pkg/actions/airflow.go
  pkg/actions/hook.go
  pkg/actions/lua.go
  pkg/actions/lua_test.go
  pkg/actions/service.go
  pkg/actions/webhook.go
Labels: exclude-changelog, minor-change

#6929 docs: use site.url to render full path to sitemap.xml
  docs/robots.txt
Labels: docs, exclude-changelog, minor-change

#6928 Refactor DynamoDB create-table code
  pkg/kv/dynamodb/store.go
Labels: exclude-changelog, refactor, area/KV

#6924 Lakefs was crashing when using database.type=”dynamodb” and using
  pkg/kv/dynamodb/store.go
Labels: area/integrations, contributor, include-changelog, area/KV

#6932 docs: set base url to https://docs.lakefs.io
  .github/workflows/docs-latest.yaml
  .github/workflows/docs-pr.yaml
  .github/workflows/docs-release.yaml
Labels: docs, exclude-changelog, minor-change

#6933 docs: enable manual trigegr of docs latest workflow
  .github/workflows/docs-latest.yaml
Labels: docs, infrastructure, exclude-changelog, minor-change

#6935 Revert "docs: set base url to https://docs.lakefs.io (#6932)"
  .github/workflows/docs-latest.yaml
  .github/workflows/docs-pr.yaml
  .github/workflows/docs-release.yaml
Labels: docs, exclude-changelog, minor-change

#6936 add link to import blog post
  docs/howto/import.md
Labels: exclude-changelog, minor-change

#6942 docs: trigger docs build on docs-* workflow changes
  .github/workflows/docs-latest.yaml
  .github/workflows/docs-pr.yaml
Labels: docs, exclude-changelog

#6934 Log time.Duration _twice_ in all modes, as string and as nanoseconds
  cmd/lakectl/cmd/root.go
  pkg/config/config.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Labels: include-changelog

#6944 remove the use of godirwalk for prune empty directories
  go.mod
  go.sum
  pkg/fileutil/io.go
Labels: exclude-changelog

#6953 docs: update robots.txt with full docs url
  .github/workflows/docs-latest.yaml
  .github/workflows/docs-pr.yaml
  .github/workflows/docs-release.yaml
Labels: docs, exclude-changelog, minor-change

#6955 docs: fix workflow yaml syntax
  .github/workflows/docs-latest.yaml
  .github/workflows/docs-pr.yaml
  .github/workflows/docs-release.yaml
Labels: docs, exclude-changelog, minor-change

#6912 Change 'committer' field from UserID to Email, when Email is available
  pkg/api/controller.go
  pkg/auth/model/model.go
Labels: include-changelog

#6945 Python Wrapper Part1: Client and Object IO
  clients/python-wrapper/lakefs/__init__.py
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/config.py
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/lakefs/object_io.py
  clients/python-wrapper/lakefs/server_config.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.cfg
  clients/python-wrapper/setup.py
  clients/python-wrapper/test/__init__.py
  clients/python-wrapper/test/test_client.py
  clients/python-wrapper/test/test_object_io.py
Labels: exclude-changelog, python-wrapper

#6958 UI: change 'integartion user' to 'API user'
  webui/src/pages/auth/users/index.jsx
Labels: exclude-changelog

#6943 [Design] Delta and Unity catalog exporters implementation
  design/open/delta-catalog-exporter.md
  design/open/unity-catalog-exporter.md
Labels: exclude-changelog, minor-change

#6967 API: CreateRepository check if repository exists before trying to validate storage namespace
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: bug, area/API, include-changelog

#6979 Upgrade to use Go v1.21.3
  .github/workflows/codeql-analysis.yaml
  .github/workflows/compatibility-tests.yaml
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/test.yaml
  Dockerfile
  clients/spark/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  go.mod
  go.sum
Labels: infrastructure, exclude-changelog

#6952 Python Wrapper: utests and esti workflows
  .github/workflows/esti.yaml
  .github/workflows/python-wrapper-unit-tests.yaml
  clients/python-wrapper/lakefs/.pylintrc
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/.pylintrc
  clients/python-wrapper/tests/__init__.py
  clients/python-wrapper/tests/system_tests/README.md
  clients/python-wrapper/tests/system_tests/__init__.py
  clients/python-wrapper/tests/system_tests/test_sanity.py
  clients/python-wrapper/tests/utests/__init__.py
  clients/python-wrapper/tests/utests/test_client.py
  clients/python-wrapper/tests/utests/test_object_io.py
Labels: exclude-changelog, python-wrapper

#6976 test: wait for gs fake container to be ready
  pkg/block/gs/main_test.go
Labels: area/testing, exclude-changelog

#6983 Optimization - Extend current range to include additional information
  pkg/kv/cosmosdb/store.go
  pkg/kv/dynamodb/store.go
Labels: include-changelog

#6987 Changelog v1.2.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6982 Python Wrapper: Implement Repository Class
  .github/workflows/esti.yaml
  clients/python-wrapper/lakefs/.pylintrc
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/branch_manager.py
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/config.py
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/lakefs/object_io.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/lakefs/server_config.py
  clients/python-wrapper/lakefs/tag.py
  clients/python-wrapper/lakefs/tag_manager.py
  clients/python-wrapper/tests/integration/README.md
  clients/python-wrapper/tests/integration/__init__.py
  clients/python-wrapper/tests/integration/conftest.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/system_tests/test_sanity.py
  clients/python-wrapper/tests/utests/common.py
  clients/python-wrapper/tests/utests/test_branch.py
  clients/python-wrapper/tests/utests/test_client.py
  clients/python-wrapper/tests/utests/test_object_io.py
  clients/python-wrapper/tests/utests/test_reference.py
  clients/python-wrapper/tests/utests/test_repository.py
  clients/python-wrapper/tests/utests/test_tag.py
Labels: exclude-changelog, python-wrapper

#6993 link-to-pr github action update to v1.4.28
  .github/workflows/link-issue-to-pr.yaml
Labels: infrastructure, exclude-changelog, minor-change

#6990 Docs: minor fixes to lakeFS quickstart
  docs/assets/img/quickstart/quickstart-repo.gif
  docs/assets/img/quickstart/quickstart-repo.png
  docs/quickstart/actions-and-hooks.md
  docs/quickstart/branch.md
Labels: exclude-changelog, minor-change

#6994 Include SSO in security index
  docs/reference/index.md
  docs/reference/security/index.md
  docs/reference/security/sso.md
Labels: exclude-changelog, minor-change

#6974 Update index.md
  docs/index.md
Labels: docs, include-changelog

#6997 python-wrapper add delete object
  clients/python-wrapper/lakefs/object_io.py
Labels: exclude-changelog, python-wrapper

#6985 Python Wrapper: Implement Object Create No Pre-Sign
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/object_io.py
  clients/python-wrapper/lakefs/server_config.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/utests/test_object_io.py
Labels: exclude-changelog, python-wrapper

#6334 Refactor auth routes with <Outlet />s
  webui/src/lib/components/auth/layout.jsx
  webui/src/lib/components/layout.jsx
  webui/src/lib/components/repository/layout.jsx
  webui/src/pages/auth/credentials.jsx
  webui/src/pages/auth/groups/group/index.jsx
  webui/src/pages/auth/groups/group/members.jsx
  webui/src/pages/auth/groups/group/policies.jsx
  webui/src/pages/auth/groups/index.tsx
  webui/src/pages/auth/index.jsx
  webui/src/pages/auth/login.tsx
  webui/src/pages/auth/policies/index.jsx
  webui/src/pages/auth/policies/policy.jsx
  webui/src/pages/auth/users/create-user-with-password.jsx
  webui/src/pages/auth/users/index.jsx
  webui/src/pages/auth/users/user/credentials.jsx
  webui/src/pages/auth/users/user/groups.jsx
  webui/src/pages/auth/users/user/index.jsx
  webui/src/pages/index.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/actions/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/commit/index.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/index.jsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/settings/branches.jsx
  webui/src/pages/repositories/repository/settings/general.jsx
  webui/src/pages/repositories/repository/settings/layout.jsx
  webui/src/pages/repositories/repository/settings/retention.jsx
  webui/src/pages/repositories/repository/tags.jsx
  webui/src/pages/setup/index.jsx
Labels: include-changelog

#7002 fix misc style and lint warning
  pkg/auth/service.go
  pkg/block/gs/main_test.go
Labels: exclude-changelog, minor-change

#6992 Python Wrapper: Implement Reference Classes
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/object_io.py
  clients/python-wrapper/lakefs/object_manager.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/lakefs/tag.py
  clients/python-wrapper/tests/.pylintrc
  clients/python-wrapper/tests/integration/conftest.py
  clients/python-wrapper/tests/integration/test_reference.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/test_object_io.py
  clients/python-wrapper/tests/utests/test_reference.py
  clients/python-wrapper/tests/utests/test_repository.py
Labels: exclude-changelog, python-wrapper

#7003 Do not warn on missing permissions / bad migrate while setting group acl
  pkg/api/controller.go
Labels: exclude-changelog, minor-change

#7012 Remove leftover page layout components
  webui/src/pages/auth/users/user/effectivePolicies.jsx
  webui/src/pages/auth/users/user/policies.jsx
  webui/src/pages/repositories/repository/actions/run/index.jsx
Labels: area/UI, exclude-changelog, minor-change

#7009 Use Go 1.21.4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/compatibility-tests.yaml
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/test.yaml
  Dockerfile
  clients/spark/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
Labels: infrastructure, exclude-changelog

#7006 Python Wrapper: Packaging and publish workflow
  .github/workflows/publish-python-wrapper-client.yaml
  Makefile
  clients/python-wrapper/lakefs/__init__.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
Labels: exclude-changelog, python-wrapper

#7010 Add SQL Warehouse to Spark integrations
  docs/integrations/spark.md
Labels: docs, exclude-changelog

#7018 S3gateway put-object-tagging to return NotImplemented
  esti/s3_gateway_test.go
  pkg/gateway/operations/putobject.go
Labels: include-changelog

#7020 Fix branch protection in sample repo
  pkg/samplerepo/samplecontent.go
Labels: exclude-changelog

#7019 python-wrapper implement branch class
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/object_manager.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/test_branch.py
Labels: exclude-changelog, python-wrapper

#7014 Python Wrapper: Implement Object
  clients/python-wrapper/lakefs/__init__.py
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/config.py
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/object_io.py
  clients/python-wrapper/lakefs/object_manager.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/tests/integration/conftest.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/test_branch.py
  clients/python-wrapper/tests/utests/test_object.py
  clients/python-wrapper/tests/utests/test_object_io.py
  clients/python-wrapper/tests/utests/test_repository.py
Labels: exclude-changelog, python-wrapper

#7026 API: StatsObject non nil on empty metadata
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: bug, area/API, include-changelog

#7017 Python Wrapper: Generate Docs
  .github/workflows/publish-python-wrapper-client.yaml
  .github/workflows/python-wrapper-unit-tests.yaml
  .gitignore
  Makefile
  clients/python-wrapper/README.md
  clients/python-wrapper/docs/Makefile
  clients/python-wrapper/docs/conf.py
  clients/python-wrapper/docs/index.rst
  clients/python-wrapper/docs/lakefs.branch.rst
  clients/python-wrapper/docs/lakefs.branch_manager.rst
  clients/python-wrapper/docs/lakefs.client.rst
  clients/python-wrapper/docs/lakefs.config.rst
  clients/python-wrapper/docs/lakefs.exceptions.rst
  clients/python-wrapper/docs/lakefs.object.rst
  clients/python-wrapper/docs/lakefs.object_io.rst
  clients/python-wrapper/docs/lakefs.object_manager.rst
  clients/python-wrapper/docs/lakefs.reference.rst
  clients/python-wrapper/docs/lakefs.repository.rst
  clients/python-wrapper/docs/lakefs.rst
  clients/python-wrapper/docs/lakefs.tag.rst
  clients/python-wrapper/docs/lakefs.tag_manager.rst
  clients/python-wrapper/docs/make.bat
  clients/python-wrapper/lakefs/.pylintrc
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/lakefs/tag.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/tests/integration/README.md
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/test_branch.py
  clients/python-wrapper/tests/utests/test_client.py
  clients/python-wrapper/tests/utests/test_object.py
  clients/python-wrapper/tests/utests/test_reference.py
  clients/python-wrapper/tests/utests/test_repository.py
  clients/python-wrapper/tests/utests/test_tag.py
Labels: exclude-changelog, python-wrapper

#7031 Python Wrapper: Implement IO interface
  clients/python-wrapper/README.md
  clients/python-wrapper/lakefs/__init__.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/integration/test_object.py
Labels: exclude-changelog, python-wrapper

#7034 Add python-wrapper client header
  clients/python-wrapper/lakefs/client.py
Labels: exclude-changelog

#7005 Python Wrapper: LenientNamedTuple
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/config.py
  clients/python-wrapper/lakefs/namedtuple.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/tests/.pylintrc
  clients/python-wrapper/tests/integration/conftest.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/common.py
  clients/python-wrapper/tests/utests/test_branch.py
  clients/python-wrapper/tests/utests/test_namedtuple.py
  clients/python-wrapper/tests/utests/test_object.py
  clients/python-wrapper/tests/utests/test_repository.py
Labels: exclude-changelog, python-wrapper

#7035 Use delete objects in lakectl rm recursive
  cmd/lakectl/cmd/fs_rm.go
Labels: exclude-changelog

#7038 Explicitly make ObjectReader a context
  .github/workflows/python-wrapper-unit-tests.yaml
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/tests/utests/test_object.py
Labels: new-feature, release-blocker, include-changelog, python-wrapper

#7041 Python Wrapper: Rename default client
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/tests/integration/conftest.py
  clients/python-wrapper/tests/utests/common.py
  clients/python-wrapper/tests/utests/test_client.py
Labels: exclude-changelog, python-wrapper

#7044 Python Wrapper: Refactor object create
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/test_object.py
Labels: exclude-changelog, python-wrapper

#7039 Python Wrapper: Reference tests
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/namedtuple.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/tests/integration/conftest.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/integration/test_reference.py
  clients/python-wrapper/tests/utests/test_namedtuple.py
  clients/python-wrapper/tests/utests/test_repository.py
Labels: exclude-changelog, python-wrapper

#7045 Python Wrapper: ObjectWriter
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/test_object.py
Labels: exclude-changelog, python-wrapper

#7050 Python Wrapper: Minor fixes
  .github/workflows/python-wrapper-unit-tests.yaml
  Makefile
  clients/python-wrapper/README.md
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/pylint.sh
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/utests/test_object.py
Labels: exclude-changelog, python-wrapper

#7053 Python Wrapper: Fix pagination
  clients/python-wrapper/lakefs/reference.py
Labels: exclude-changelog, minor-change

#7052 Python Wrapper: Documentation fixes
  .github/workflows/publish-python-wrapper-client.yaml
  clients/python-wrapper/README.md
  clients/python-wrapper/docs/conf.py
  clients/python-wrapper/docs/index.rst
  clients/python-wrapper/docs/lakefs.namedtuple.rst
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/config.py
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/integration/README.md
  docs/integrations/python.md
Labels: exclude-changelog, minor-change, python-wrapper

#7051 Return default per page
  pkg/api/controller.go
Labels: include-changelog

#7056 kv dynamodb check if table exists before we try to create
  pkg/kv/dynamodb/store.go
Labels: include-changelog

#7046 Fix metrics middleware create router on each call
  pkg/api/metrics_middleware.go
Labels: bug, exclude-changelog, minor-change

#7060 Use the go action build-in cache
  .github/workflows/test.yaml
Labels: infrastructure, exclude-changelog, minor-change

#7064 Python Client Wrapper: use List for better type hinting
  clients/python-wrapper/lakefs/reference.py
Labels: exclude-changelog

#7067 Python Wrapper: Bug bash fixes
  clients/python-wrapper/docs/conf.py
  clients/python-wrapper/lakefs/namedtuple.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/test_object.py
Labels: exclude-changelog, minor-change, python-wrapper

#7058 Glue Exporter: Support Hadoop directory markers + test
  esti/catalog_export_test.go
  pkg/actions/lua/lakefs/catalogexport/hive.lua
Labels: include-changelog

#7069 Update documentation for Importing a single object for local blockstore
  docs/howto/deploy/onprem.md
  docs/howto/import.md
Labels: exclude-changelog

#7070 Implement object writer manager directly on branch
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/import_manager.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/object_manager.py
  clients/python-wrapper/tests/integration/test_branch.py
  clients/python-wrapper/tests/integration/test_sanity.py
Labels: exclude-changelog, python-wrapper

#7083 Update aws go sdk v2
  esti/adapters_test.go
  esti/multipart_test.go
  go.mod
  go.sum
  pkg/actions/lua/storage/aws/s3.go
  pkg/block/s3/adapter.go
  pkg/block/s3/walker.go
  test/lakefsfs_contract/docker-compose.yaml
Labels: include-changelog

#7089 lakeFS 1.3.0 changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7092 Add version 1.2.0 and 1.3.0 to compatibility-tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change
