Repository treeverse/lakeFS, pull requests merged in 2023-06, with the labels that each got.

#5993 Publish docker lakefs+duckdb with latest tag
  .github/workflows/docker-publish.yaml
  docs/quickstart/launch.md
Labels: include-changelog

#5876 Onboarding progress indicator - repository level
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectsApi.md
  clients/java/docs/RepositoriesApi.md
  clients/java/docs/RetentionApi.md
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/RepositoriesApi.java
  clients/java/src/main/java/io/lakefs/clients/api/RetentionApi.java
  clients/java/src/test/java/io/lakefs/clients/api/ObjectsApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/RepositoriesApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/RetentionApiTest.java
  clients/python/README.md
  clients/python/docs/ObjectsApi.md
  clients/python/docs/RepositoriesApi.md
  clients/python/docs/RetentionApi.md
  clients/python/lakefs_client/api/objects_api.py
  clients/python/lakefs_client/api/repositories_api.py
  clients/python/lakefs_client/api/retention_api.py
  clients/python/test/test_objects_api.py
  clients/python/test/test_repositories_api.py
  clients/python/test/test_retention_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  webui/package-lock.json
  webui/package.json
  webui/pub/trophy.svg
  webui/src/lib/api/apiUtils.tsx
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/layout.jsx
  webui/src/lib/components/repository/repoOnboardingChecklist.tsx
  webui/src/lib/components/repository/repoOnboardingChecklistItem.tsx
  webui/src/lib/components/repository/repoOnboardingChecklistSlider.tsx
  webui/src/lib/components/repository/repoOnboardingComplete.tsx
  webui/src/lib/hooks/storageConfig.tsx
  webui/src/lib/onboarding/repoOnboardingService.tsx
  webui/src/lib/onboarding/types.ts
  webui/src/pages/repositories/repository/actions/index.jsx
  webui/src/pages/repositories/repository/actions/run/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/commit/index.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/index.jsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/settings/branches.jsx
  webui/src/pages/repositories/repository/settings/general.jsx
  webui/src/pages/repositories/repository/settings/retention.jsx
  webui/src/pages/repositories/repository/tags.jsx
  webui/src/styles/checklist.scss
Labels: include-changelog

#5994 Add list of companies that use lakeFS
  README.md
Labels: docs, exclude-changelog, minor-change

#5996 Fix import start permissions
  pkg/api/controller.go
Labels: include-changelog

#5986 Allow lakeFSFS to work with Azure
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  docs/integrations/spark.md
Labels: exclude-changelog

#6003 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6002 Docker experimental image: Change lakefs-lakectl target to lakefs
  .github/workflows/docker-publish-exp-image.yaml
Labels: exclude-changelog, minor-change

#6005 Update compatability-tests.yaml
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#6006 docs: remove the use of TARGET_DIRECTORY in publish docs release
  .github/scripts/push-repo.sh
Labels: pr/merge-if-approved, docs, exclude-changelog, minor-change, docs-platform

#6007 Non-Blocking write to wakeup channel
  pkg/graveler/staging/manager.go
Labels: include-changelog

#6009 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6010 Update compatability-tests.yaml
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#6012 Add documentation for disabling presigned url
  docs/reference/configuration.md
Labels: exclude-changelog, minor-change

#6004 Ranges cache: add ownership check
  pkg/graveler/committed/value.go
  pkg/graveler/sstable/range_manager.go
Labels: exclude-changelog, minor-change

#6014 Fix pre sign url ui config default and property name
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/StorageConfig.md
  clients/java/src/main/java/io/lakefs/clients/api/model/StorageConfig.java
  clients/java/src/test/java/io/lakefs/clients/api/model/StorageConfigTest.java
  clients/python/lakefs_client/model/storage_config.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/block/s3/adapter.go
  pkg/config/defaults.go
  webui/src/lib/components/repository/layout.jsx
  webui/src/lib/hooks/storageConfig.tsx
Labels: bug, area/UI, include-changelog

#6018 Diff plugin assume lakefs on localhost when no interface is specified
  pkg/api/controller.go
Labels: exclude-changelog, minor-change

#6017 Stats sample data used in create repository as additional event
  pkg/api/controller.go
  pkg/api/errors.go
Labels: BI, exclude-changelog

#6019 lakeFS: Changelog - 0.102.2
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6020 Add 0.102.2 to compatibility tests
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#6011 docs/quickstart nits 01
  docs/quickstart/rollback.md
  pkg/samplerepo/assets/sample/README.md.tmpl
Labels: docs, exclude-changelog, minor-change

#6021 Fix typo in README.md.tmpl
  pkg/samplerepo/assets/sample/README.md.tmpl
Labels: exclude-changelog, minor-change

#6025 Fix gateway list bucket 1k limit
  pkg/catalog/interface.go
  pkg/gateway/operations/listbuckets.go
Labels: bug, area/gateway, include-changelog

#6030 HadoopFS lakeFS 0.1.15 Changelog
  clients/hadoopfs/CHANGELOG.md
Labels: docs, exclude-changelog, minor-change, area/client/hadoopfs

#6031 Compatibility tests update with lakefsfs 0.1.15
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#6032 docs: update lakefsfs version to 0.1.15
  docs/integrations/spark.md
Labels: docs, exclude-changelog, minor-change, area/client/hadoopfs

#6034 Pebble: Copy not owned data in all places
  pkg/graveler/committed/value.go
  pkg/graveler/committed/value_test.go
  pkg/graveler/sstable/helpers.go
  pkg/graveler/sstable/iterator.go
  pkg/graveler/sstable/range_manager.go
Labels: exclude-changelog, minor-change

#6042 Fix links broken by changes to samples repo
  docs/index.md
  docs/use_cases/cicd_for_data.md
Labels: docs, exclude-changelog, minor-change

#6045 [docs] Lua is now fully support hook
  docs/hooks/airflow.md
  docs/hooks/index.md
  docs/hooks/lua.md
  docs/hooks/overview.md
Labels: docs, exclude-changelog, minor-change

#6050 show object's user metadata in UI and CLI
  cmd/lakectl/cmd/fs.go
  webui/src/lib/components/repository/tree.jsx
Labels: area/UI, area/lakectl, include-changelog

#6044 UI: Allow writing to lakeFS from duckdb-wasm
  cmd/lakefs/cmd/run.go
  pkg/api/auth_middleware.go
  pkg/api/serve.go
  pkg/gateway/handler.go
  pkg/gateway/middleware.go
  webui/package-lock.json
  webui/package.json
  webui/src/pages/repositories/repository/fileRenderers/data.tsx
  webui/src/pages/repositories/repository/fileRenderers/duckdb.tsx
Labels: area/gateway, area/UI, include-changelog

#6051 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6052 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#6036 Update migration docs
  docs/howto/upgrade.md
  docs/reference/access-control-lists.md
Labels: exclude-changelog

#6057 Add relative ./ path support for MD images
  webui/src/lib/remark-plugins/imageUriReplacer.spec.ts
  webui/src/lib/remark-plugins/imageUriReplacer.ts
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
Labels: include-changelog

#6063 Add link to Cloud signup to quickstart
  docs/quickstart/index.md
  docs/quickstart/launch.md
Labels: docs, exclude-changelog, minor-change

#6073 Presigned URL: address presigned and presigned from UI configurations
  pkg/config/config.go
Labels: exclude-changelog

#6074 UI: Support uploading multiple files and directories
  webui/package-lock.json
  webui/package.json
  webui/src/lib/api/index.js
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/styles/globals.css
Labels: area/UI, include-changelog

#6065 Delta Diff fails on certain operations
  docs/integrations/delta.md
  pkg/plugins/diff/delta_diff_server/src/delta_ops.rs
  pkg/plugins/diff/delta_diff_server/src/utils.rs
Labels: include-changelog

#6079 UI: show summary of uploaded files
  webui/src/pages/repositories/repository/objects.jsx
Labels: area/UI, include-changelog, minor-change

#6070 Add repository metadata in Graveler
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/model.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog

#6080 Fix: URI parse with whitespace
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/PhysicalAddressTranslator.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/PresignedStorageAccessStrategy.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/SimpleStorageAccessStrategy.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
Labels: bug, include-changelog

#6087 Remove adls hint from import docs
  docs/howto/import.md
Labels: exclude-changelog, minor-change

#6086 Add get repository metadata API
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/RepositoriesApi.md
  clients/java/src/main/java/io/lakefs/clients/api/RepositoriesApi.java
  clients/java/src/test/java/io/lakefs/clients/api/RepositoriesApiTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/RepositoriesApi.md
  clients/python/docs/RepositoryMetadata.md
  clients/python/lakefs_client/api/repositories_api.py
  clients/python/lakefs_client/model/repository_metadata.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_repositories_api.py
  clients/python/test/test_repository_metadata.py
  docs/assets/js/swagger.yml
  esti/import_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/interface.go
  pkg/graveler/graveler.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
Labels: exclude-changelog

#6093 test: fix panic in delete repositoies esti
  esti/main_test.go
Labels: area/testing, exclude-changelog, minor-change

#6108 Fix dynamodb error format and query failed
  pkg/kv/dynamodb/store.go
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#6101 Fix: s3 gateway returning 200 instead of 206 for range requests
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/headobject.go
  pkg/httputil/range.go
  pkg/httputil/range_test.go
Labels: area/gateway, include-changelog

#6109 duckdb: handle line breaks after a string constant
  webui/src/pages/repositories/repository/fileRenderers/duckdb.tsx
Labels: area/UI, include-changelog

#6097 Revert "Remove adls hint from import docs (#6087)"
  docs/howto/import.md
Labels: exclude-changelog, minor-change

#6111 logging: enable external caller prettyfier func
  pkg/logging/logger.go
Labels: exclude-changelog, minor-change

#6113 Release: Changelog 0.104.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6114 Compatibility tests: lakeFS 0.104.0
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#6091 Fix: container cleanup for cosmos DB
  .github/workflows/esti.yaml
Labels: exclude-changelog, minor-change

#6116 Local Storage Range Allow 0:0
  pkg/block/local/adapter.go
Labels: include-changelog

#6120 Fix broken Onboarding link
  docs/hooks/index.md
  webui/src/lib/onboarding/repoOnboardingService.tsx
Labels: exclude-changelog, minor-change

#6123 CHANGELOG - add missing bug fix
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6121 Fix broken link to WAP notebook
  docs/index.md
Labels: docs, include-changelog, minor-change

#6118 Add GCS to block adapter unit tests
  pkg/block/gs/adapter_test.go
  pkg/block/gs/main_test.go
Labels: exclude-changelog

#5825 Design: Iceberg support
  design/open/iceberg-branching.md
Labels: exclude-changelog

#6129 Publish lakeFS Cloud Delta Sharing service docs
  docs/cloud/unity-delta-sharing-create-catalog.png
  docs/cloud/unity-delta-sharing-m0-users.md
  docs/cloud/unity-delta-sharing-provider.png
  docs/cloud/unity-delta-sharing-schema-per-branch.png
  docs/cloud/unity-delta-sharing-shares.png
Labels: pr/merge-if-approved, docs, area/integrations, exclude-changelog, minor-change

#6136 Add Jekyll tags to Delta Sharing docs, move images to img folder
  docs/assets/img/unity-delta-sharing-create-catalog.png
  docs/assets/img/unity-delta-sharing-provider.png
  docs/assets/img/unity-delta-sharing-schema-per-branch.png
  docs/assets/img/unity-delta-sharing-shares.png
  docs/cloud/unity-delta-sharing.md
Labels: bug, pr/merge-if-approved, docs, exclude-changelog, minor-change

#6126 Remove metrics dynamo_{request_duration_seconds,failures_total}
  pkg/kv/dynamodb/stats.go
  pkg/kv/dynamodb/store.go
  pkg/kv/metrics.go
Labels: improvement, include-changelog, area/KV

#6128 Added basic documentation for iceberg support
  docs/integrations/iceberg.md
Labels: exclude-changelog

#6141 Stop publishing lakeFS DuckDB image
  .github/workflows/docker-publish.yaml
  Dockerfile.duckdb
  Makefile
Labels: include-changelog, minor-change

#6135 Fix create and delete branch protection error and lakectl output
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/RepositoriesApi.md
  clients/java/src/main/java/io/lakefs/clients/api/RepositoriesApi.java
  clients/python/docs/RepositoriesApi.md
  cmd/lakectl/cmd/branch_protect.go
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/graveler/branch/protection_manager.go
Labels: bug, area/API, include-changelog

#6146 Remove Everything Bagel
  deployments/compose/301_moved.png
  deployments/compose/README.md
  deployments/compose/dbt/Dockerfile
  deployments/compose/dbt/dbt-project/.gitignore
  deployments/compose/dbt/dbt-project/README.md
  deployments/compose/dbt/dbt-project/analysis/.gitkeep
  deployments/compose/dbt/dbt-project/data/.gitkeep
  deployments/compose/dbt/dbt-project/dbt_project.yml
  deployments/compose/dbt/dbt-project/macros/.gitkeep
  deployments/compose/dbt/dbt-project/macros/create-schema.sql
  deployments/compose/dbt/dbt-project/models/example/my_first_dbt_model.sql
  deployments/compose/dbt/dbt-project/models/example/my_second_dbt_model.sql
  deployments/compose/dbt/dbt-project/models/example/schema.yml
  deployments/compose/dbt/dbt-project/other/.gitignore
  deployments/compose/dbt/dbt-project/other/README.md
  deployments/compose/dbt/dbt-project/other/analysis/.gitkeep
  deployments/compose/dbt/dbt-project/other/data/.gitkeep
  deployments/compose/dbt/dbt-project/other/dbt_project.yml
  deployments/compose/dbt/dbt-project/other/macros/.gitkeep
  deployments/compose/dbt/dbt-project/other/models/example/my_first_dbt_model.sql
  deployments/compose/dbt/dbt-project/other/models/example/my_second_dbt_model.sql
  deployments/compose/dbt/dbt-project/other/models/example/schema.yml
  deployments/compose/dbt/dbt-project/other/snapshots/.gitkeep
  deployments/compose/dbt/dbt-project/other/tests/.gitkeep
  deployments/compose/dbt/dbt-project/out.txt
  deployments/compose/dbt/dbt-project/snapshots/.gitkeep
  deployments/compose/dbt/dbt-project/tests/.gitkeep
  deployments/compose/dbt/profiles.yml
  deployments/compose/dbt/requirements.txt
  deployments/compose/docker-compose-airflow.yml
  deployments/compose/docker-compose.yml
  deployments/compose/etc/hive-site.xml
  deployments/compose/etc/jvm.config
  deployments/compose/etc/s3.properties
  deployments/compose/etc/spark-thrift-entrypoint.sh
  deployments/compose/hive/Dockerfile
  deployments/compose/hive/entrypoint.sh
  deployments/compose/jupyter/Dockerfile
  deployments/compose/jupyter/ipython/startup/00-prettytables.py
  deployments/compose/jupyter/ipython/startup/README
  deployments/compose/jupyter/requirements.txt
Labels: include-changelog, minor-change

#6137 Monitor (& log) KV retries during Graveler operations
  pkg/graveler/graveler.go
Labels: area/cataloger, improvement, include-changelog, area/KV

#6149 Add links to sample repo from hooks docs
  docs/hooks/index.md
  docs/hooks/lua.md
Labels: docs, exclude-changelog, minor-change
