Repository treeverse/lakeFS, pull requests merged in 2023-01, with the labels that each got.

#4904 Refactor lakefs_export script output
  .github/workflows/esti.yaml
  deployments/tools/export/lakefs_export.py
  docs/howto/export.md
  test/rclone_export/docker-compose.yaml
Labels: area/gateway, include-changelog, tech debt, minor-change

#4887 Consistently shade everything as io.lakefs.<client>.shade.*
  clients/hadoopfs/pom.xml
  clients/spark/build.sbt
  test/lakefsfs/build.sbt
Labels: pr/merge-if-approved, area/client/spark, include-changelog, team/ecosystem, area/client/hadoopfs

#4899 Use batch param in SeekGE
  pkg/kv/iterators.go
Labels: exclude-changelog, minor-change

#4910 Configurable repository and commit cache
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/config/template.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
Labels: include-changelog

#4914 Report all errors as messages not as Exceptions
  deployments/tools/export/lakefs_export.py
Labels: bug, pr/merge-if-approved, area/tools, include-changelog

#4859 Audit check use installation_id
  pkg/version/audit.go
  pkg/version/audit_test.go
Labels: exclude-changelog

#4884 Code cleanup
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/actions/iterator.go
  pkg/actions/kv_run_results_iterator_test.go
  pkg/actions/lua.go
  pkg/actions/lua_test.go
  pkg/actions/secure_string_test.go
  pkg/actions/service.go
  pkg/api/serve_test.go
  pkg/auth/arn.go
  pkg/auth/email/emailer.go
  pkg/auth/email/emailer_test.go
  pkg/auth/email/testdata/invite_user.golden
  pkg/auth/email/testdata/reset_password.golden
  pkg/auth/metadata.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, minor-change

#4921 UncommittedGC fix for azure support
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedAddressLister.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog, GC+

#4922 API GetCommit return empty array instead of nil for no parent
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
Labels: bug, pr/merge-if-approved, area/API, include-changelog

#4903 fix: loading of duckdb every query
  webui/src/pages/repositories/repository/fileRenderers/data.tsx
  webui/src/pages/repositories/repository/fileRenderers/duckdb.tsx
  webui/src/styles/globals.css
Labels: bug, include-changelog, minor-change

#4930 Performance: Optimize Delete flow
  pkg/graveler/graveler.go
  pkg/graveler/staging/manager.go
  pkg/graveler/staging/manager_test.go
  pkg/kv/dynamodb/store.go
  pkg/kv/kvtest/store.go
  pkg/kv/local/store.go
  pkg/kv/mem/store.go
  pkg/kv/postgres/store.go
  pkg/kv/store.go
Labels: exclude-changelog, team/versioning-engine

#4911 Proposal to simplify config pkg
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/diagnostics.go
  cmd/lakefs/cmd/kv.go
  cmd/lakefs/cmd/migrate.go
  cmd/lakefs/cmd/root.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  esti/gc_test.go
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/auth/params/auth.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/block/azure/adapter.go
  pkg/block/errors.go
  pkg/block/factory/build.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/params/block.go
  pkg/block/s3/adapter.go
  pkg/catalog/catalog.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/defaults.go
  pkg/config/template.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/ingest/store/factory.go
  pkg/kv/dynamodb/store.go
  pkg/kv/dynamodb/store_test.go
  pkg/kv/kvtest/store.go
  pkg/kv/local/driver.go
  pkg/kv/local/store_test.go
  pkg/kv/mem/store.go
  pkg/kv/mem/store_test.go
  pkg/kv/migration.go
  pkg/kv/params/database.go
  pkg/kv/postgres/store.go
  pkg/kv/postgres/store_test.go
  pkg/kv/store.go
  pkg/kv/store_message_test.go
  pkg/kv/store_test.go
  pkg/loadtest/local_load_test.go
  pkg/stats/collector.go
  pkg/stats/metadata.go
  pkg/testutil/dynamodb.go
Labels: exclude-changelog, minor-change

#4915 KV scan ensure we use batch size while iterate
  pkg/kv/dynamodb/store.go
  pkg/kv/local/store.go
  pkg/kv/postgres/store.go
  pkg/testutil/db.go
Labels: exclude-changelog, area/KV, minor-change

#4944 4476/fix hadoopfs close twice
  clients/hadoopfs/src/main/java/io/lakefs/LinkOnCloseOutputStream.java
Labels: exclude-changelog, GC+

#4933 Test GC with Spark 3 / Hadoop 2
  .github/workflows/esti.yaml
  deployments/utils/spark3-hadoop2/Dockerfile
  test/spark/docker-compose.yaml
Labels: exclude-changelog

#4945 Return secondary key for secondary iterator
  pkg/kv/iterators.go
Labels: include-changelog

#4902 Delta Table Diff - MVP design
  design/open/delta-diff.md
  design/open/diagrams/delta-diff-flow.excalidraw
  design/open/diagrams/delta-diff-flow.png
  design/open/diagrams/microkernel-overview.excalidraw
  design/open/diagrams/microkernel-overview.png
Labels: exclude-changelog

#4950 Create release v0.89.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#4874 add an endpoint for sending statistics (when enabled)
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/StatisticsApi.md
  clients/java/docs/StatsEvent.md
  clients/java/docs/StatsEventsList.md
  clients/java/src/main/java/io/lakefs/clients/api/StatisticsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/StatsEvent.java
  clients/java/src/main/java/io/lakefs/clients/api/model/StatsEventsList.java
  clients/java/src/test/java/io/lakefs/clients/api/StatisticsApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/StatsEventTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/StatsEventsListTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/StatisticsApi.md
  clients/python/docs/StatsEvent.md
  clients/python/docs/StatsEventsList.md
  clients/python/lakefs_client/api/statistics_api.py
  clients/python/lakefs_client/apis/__init__.py
  clients/python/lakefs_client/model/stats_event.py
  clients/python/lakefs_client/model/stats_events_list.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_statistics_api.py
  clients/python/test/test_stats_event.py
  clients/python/test/test_stats_events_list.py
  docs/assets/js/swagger.yml
  pkg/actions/service_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/stats/collector.go
  pkg/stats/nullcollector.go
Labels: exclude-changelog

#4943 Docs: Added Lua library reference
  docs/hooks/airflow.md
  docs/hooks/index.md
  docs/hooks/lua.md
  docs/hooks/overview.md
  docs/hooks/webhooks.md
  docs/reference/hooks.md
  docs/understand/data_lifecycle_management/index.md
  pkg/actions/lua/crypto/hmac/hmac.go
  pkg/actions/lua/crypto/md5/md5.go
  pkg/actions/lua/encoding/base64/base64.go
  pkg/actions/lua/regexp/regexp.go
  pkg/actions/lua/time/time.go
Labels: docs, exclude-changelog, minor-change

#4956 Optional Blockstore S3 region
  pkg/config/config.go
Labels: area/block-adapter, include-changelog

#4952 Fix test secondary iterator
  pkg/kv/kvtest/iterators.go
Labels: area/testing, exclude-changelog, area/KV, minor-change

#4953 change to dynamodb on-demand capacity
  docs/howto/sizing-guide.md
  docs/reference/configuration.md
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/kv/dynamodb/main_test.go
  pkg/kv/dynamodb/store.go
  pkg/kv/params/database.go
  pkg/testutil/dynamodb.go
Labels: include-changelog, team/cloud-native

#4920 Include aws-java-sdk-bundle in assembled jar
  clients/spark/build.sbt
Labels: exclude-changelog

#4955 [metadata client] Start scalacheck-ing jpebble
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/jpebble/BlockParser.scala
  clients/spark/core/src/test/scala/io/treeverse/jpebble/BlockParserCheck.scala
Labels: area/testing, area/client/spark, exclude-changelog, team/ecosystem, minor-change

#4936 GC+ delete expired tokens
  cmd/lakefs/cmd/run.go
  go.mod
  go.sum
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/graveler/graveler.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog

#4997 Fix: CopyBlob using wrong path format
  pkg/gateway/operations/putobject.go
  pkg/upload/write_blob.go
Labels: bug, exclude-changelog, team/versioning-engine

#4925 GC test scenarios to Golang infra
  .github/workflows/esti.yaml
  esti/gc_test.go
  esti/main_test.go
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose.yaml
  esti/scripts/runner.sh
Labels: exclude-changelog

#4999 Parallelize metaclient packaging
  .github/workflows/esti.yaml
Labels: exclude-changelog, minor-change

#4987 Delta Diff: Compare Delta Tables button
  webui/src/lib/api/index.js
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/modals.tsx
  webui/src/pages/repositories/repository/compare.jsx
Labels: exclude-changelog

#5006 Fix metaclient artifact name
  .github/workflows/esti.yaml
Labels: exclude-changelog, minor-change

#4960 Check-in mock gen code into the project
  .gitignore
  Makefile
  pkg/actions/mock/mock_actions.go
  pkg/auth/mock/mock_auth_client.go
  pkg/graveler/committed/mock/batch_write_closer.go
  pkg/graveler/committed/mock/meta_range.go
  pkg/graveler/committed/mock/range_manager.go
  pkg/graveler/mock/graveler.go
  pkg/kv/mock/store.go
  pkg/pyramid/mock/pyramid.go
Labels: area/testing, infrastructure, exclude-changelog

#4992 Document graveler's repository and commmit cache configuration
  docs/reference/configuration.md
Labels: docs, exclude-changelog, minor-change

#5013 Added references to a step by step Databricks integration tutorial
  docs/integrations/spark.md
Labels: docs, exclude-changelog

#4900 GC+ Link/Get physical address
  clients/hadoopfs/src/main/java/io/lakefs/LinkOnCloseOutputStream.java
  cmd/lakefs/cmd/run.go
  go.mod
  go.sum
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/graveler_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/model.go
  pkg/graveler/ref/link_address_iterator.go
  pkg/graveler/ref/link_addresss_iterator_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/testutil/fakes.go
  pkg/upload/path_provider.go
  pkg/upload/path_provider_test.go
Labels: exclude-changelog, team/versioning-engine, GC+

#4927 Propose a uniform way for "borrowing" S3 clients from S3AFileSystem
  design/open/spark/grand-theft-s3-client.html
  design/open/spark/grand-theft-s3-client.md
Labels: proposal, area/client/spark, exclude-changelog, team/ecosystem, refactor, minor-change, area/client/hadoopfs

#5008 GC golang tests: matrix
  .github/workflows/esti.yaml
  esti/gc_test.go
  esti/main_test.go
  test/spark/README.md
Labels: exclude-changelog

#5016 GC+ tests: use assembled metaclient jar
  .github/workflows/esti.yaml
Labels: exclude-changelog, minor-change

#5019 Fix spelling of configuration option
  docs/reference/configuration.md
Labels: pr/merge-if-approved, area/UI, docs, exclude-changelog, team/ecosystem

#5015 Gateway copy object if object on different repository or branch
  pkg/gateway/operations/putobject.go
Labels: exclude-changelog, GC+

#4995 Reduce the use of specific catalog errors to fix missing checks
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/errors.go
  pkg/catalog/validate.go
  pkg/catalog/walk_entry_iterator.go
  pkg/gateway/middleware.go
  pkg/gateway/operations/deleteobject.go
  pkg/gateway/operations/deleteobjects.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/headobject.go
  pkg/gateway/operations/listobjects.go
  pkg/graveler/errors.go
Labels: bug, area/cataloger, include-changelog

#4986 Fix graveler to work with empty key
  go.mod
  go.sum
  pkg/api/controller_test.go
  pkg/graveler/sstable/iterator.go
  pkg/graveler/sstable/range_manager.go
  pkg/graveler/sstable/writer.go
Labels: bug, include-changelog

#4942 Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: exclude-changelog, minor-change

#5023 move common methods to utils file
  esti/gc_test.go
  esti/gc_utils_test.go
Labels: exclude-changelog, minor-change

#5007 Delta Lake Diff MVP: Add Protobuf
  go.mod
  go.sum
  pkg/plugins/diff/diff.pb.go
  pkg/plugins/diff/diff.proto
  pkg/plugins/diff/diff_grpc.pb.go
Labels: exclude-changelog

#5020 API to expose ugc grace period
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ConfigApi.md
  clients/java/docs/GarbageCollectionConfig.md
  clients/java/src/main/java/io/lakefs/clients/api/ConfigApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/GarbageCollectionConfig.java
  clients/java/src/test/java/io/lakefs/clients/api/ConfigApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/GarbageCollectionConfigTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/ConfigApi.md
  clients/python/docs/GarbageCollectionConfig.md
  clients/python/lakefs_client/api/config_api.py
  clients/python/lakefs_client/model/garbage_collection_config.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_config_api.py
  clients/python/test/test_garbage_collection_config.py
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: exclude-changelog, team/versioning-engine, GC+

#5014 Fix code-review changes dropped before merging grand-theft-s3-client
  design/open/spark/grand-theft-s3-client.html
  design/open/spark/grand-theft-s3-client.md
Labels: pr/merge-if-approved, docs, exclude-changelog, team/ecosystem, minor-change

#4947 [lakeFSFS] Use UploadObject IfNotExists to "create" "directories"
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
Labels: performance, include-changelog, team/ecosystem, area/client/hadoopfs

#5011 Update readme.md for SEO
  README.md
Labels: docs, exclude-changelog, minor-change

#5031 Deeper explanation of project
  README.md
Labels: docs, exclude-changelog, minor-change

#5017 GC+ tests to unified Golang flow
  .github/workflows/esti.yaml
  esti/gc_test.go
  esti/gc_utils_test.go
  esti/ugc_test.go
Labels: exclude-changelog

#4985 Add support for presigned URLs in the lakeFS API
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectStats.md
  clients/java/docs/ObjectsApi.md
  clients/java/docs/StagingApi.md
  clients/java/docs/StagingLocation.md
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/StagingApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/ObjectStats.java
  clients/java/src/main/java/io/lakefs/clients/api/model/StagingLocation.java
  clients/java/src/test/java/io/lakefs/clients/api/ObjectsApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/StagingApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/StagingLocationTest.java
  clients/python/docs/ObjectStats.md
  clients/python/docs/ObjectsApi.md
  clients/python/docs/StagingApi.md
  clients/python/docs/StagingLocation.md
  clients/python/lakefs_client/api/objects_api.py
  clients/python/lakefs_client/api/staging_api.py
  clients/python/lakefs_client/model/object_stats.py
  clients/python/lakefs_client/model/staging_location.py
  docs/assets/js/swagger.yml
  esti/presign_test.go
  go.mod
  go.sum
  pkg/api/controller.go
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/errors.go
  pkg/block/factory/build.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/namespace.go
  pkg/block/s3/adapter.go
  pkg/block/transient/adapter.go
  pkg/gateway/operations/mock_adapter_test.go
  pkg/ingest/store/factory.go
Labels: area/API, new-feature, include-changelog

#5033 Fixed a link in about lakeFS section
  README.md
Labels: docs, exclude-changelog, minor-change

#5022 Refactor config's package defaults
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  docs/reference/configuration.md
  esti/gc_test.go
  esti/import_test.go
  esti/ugc_test.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/defaults.go
  pkg/config/logger.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/loadtest/local_load_test.go
  pkg/stats/collector.go
  pkg/stats/collector_test.go
Labels: exclude-changelog, minor-change

#5034 upgraded to bootstrap-5, react-bootstrap-2.7
  webui/package-lock.json
  webui/package.json
  webui/src/lib/components/auth/forms.jsx
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/navbar.jsx
  webui/src/lib/components/policy.jsx
  webui/src/lib/components/repository/ChangeSummary.jsx
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/refDropdown.jsx
  webui/src/lib/components/repository/tree.jsx
  webui/src/lib/components/repositoryCreateForm.jsx
  webui/src/pages/auth/login.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/actions/index.jsx
  webui/src/pages/repositories/repository/actions/run/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/commit/index.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/fileRenderers/data.tsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/settings/branches.jsx
  webui/src/pages/repositories/repository/settings/retention.jsx
  webui/src/pages/repositories/repository/tags.jsx
  webui/src/pages/repositories/services/import_data.jsx
  webui/src/pages/setup/adminUser.tsx
  webui/src/pages/setup/communicationPreferences.tsx
  webui/src/pages/setup/setupComplete.tsx
  webui/src/styles/globals.css
Labels: area/UI, improvement, include-changelog, minor-change

#5036 ui: added a "go to prefix" button
  webui/src/pages/repositories/repository/objects.jsx
Labels: area/UI, include-changelog, minor-change

#5035 presign: added esti tests that call the pre-signed URL
  esti/main_test.go
  esti/presign_test.go
  pkg/testutil/setup.go
Labels: area/system-tests, include-changelog, minor-change

#5027 Support ADLS Gen2
  .github/workflows/esti.yaml
  cmd/lakefs/cmd/run.go
  esti/import_test.go
  esti/multipart_test.go
  esti/s3_gateway_test.go
  go.mod
  go.sum
  pkg/block/azure/adapter.go
  pkg/block/azure/chunkwriting.go
  pkg/block/azure/credentials.go
  pkg/block/azure/multipart_block_writer.go
  pkg/block/factory/build.go
  pkg/block/gs/adapter.go
  pkg/block/s3/adapter.go
  pkg/ingest/store/azure.go
  pkg/ingest/store/factory.go
Labels: include-changelog, team/versioning-engine

#5045 Update README.md
  README.md
Labels: exclude-changelog, minor-change

#5028 Use copy instead of stage object in lakeFSFS rename
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
Labels: exclude-changelog, team/versioning-engine, GC+

#5050 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5032 GC test refactor: run on Azure
  .github/workflows/esti.yaml
  esti/gc_test.go
  esti/gc_utils_test.go
  esti/main_test.go
  pkg/testutil/setup.go
Labels: exclude-changelog

#5056 Remove an unused variable from GUI
  webui/src/pages/repositories/repository/compare.jsx
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#5038 Update changelog for lakeFSFS 0.1.10
  .github/ISSUE_TEMPLATE/bug-report.yml
  clients/hadoopfs/CHANGELOG.md
  docs/integrations/spark.md
Labels: pr/merge-if-approved, docs, exclude-changelog, team/ecosystem, minor-change, area/client/hadoopfs

#5060 UI: allow filtering tags and branches by prefix
  webui/src/lib/components/controls.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/tags.jsx
Labels: area/UI, contributor, include-changelog, minor-change

#4993 Display email when adding users to groups
  webui/src/lib/api/index.js
  webui/src/lib/components/auth/forms.jsx
Labels: include-changelog

#5055 Identify delta table rows and add an option to calculate table diff
  webui/src/constants.ts
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/treeRows.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/util/tablesUtil.jsx
Labels: exclude-changelog

#5057 Cleanup GC tests directory
  test/spark/README.md
  test/spark/gc-tests/sample_file
  test/spark/gc-tests/test_scenarios.json
  test/spark/run-gc-test.sh
Labels: exclude-changelog, minor-change

#5024 Delta Lake Diff MVP: Plugins manager
  go.mod
  go.sum
  pkg/logging/dummy.go
  pkg/logging/logger.go
  pkg/plugins/Logger.go
  pkg/plugins/client.go
  pkg/plugins/diff/diff.pb.go
  pkg/plugins/diff/diff_grpc.pb.go
  pkg/plugins/manager.go
  pkg/version/audit_test.go
Labels: exclude-changelog

#5049 Delta Diff MVP: Diff Service
  cmd/lakefs/cmd/run.go
  design/open/delta-diff.md
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/loadtest/local_load_test.go
  pkg/plugins/diff/diff.pb.go
  pkg/plugins/diff/diff.proto
  pkg/plugins/diff/diff_grpc_client.go
  pkg/plugins/diff/service.go
  pkg/plugins/manager.go
Labels: exclude-changelog

#5064 Delta Diff MVP: Add endpoint
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ExperimentalApi.md
  clients/java/docs/OtfDiff.md
  clients/java/docs/OtfDiffApi.md
  clients/java/docs/OtfDiffList.md
  clients/java/src/main/java/io/lakefs/clients/api/ExperimentalApi.java
  clients/java/src/main/java/io/lakefs/clients/api/OtfDiffApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/OtfDiff.java
  clients/java/src/main/java/io/lakefs/clients/api/model/OtfDiffList.java
  clients/java/src/test/java/io/lakefs/clients/api/ExperimentalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/OtfDiffApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/OtfDiffListTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/OtfDiffTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/ExperimentalApi.md
  clients/python/docs/OtfDiff.md
  clients/python/docs/OtfDiffApi.md
  clients/python/docs/OtfDiffList.md
  clients/python/lakefs_client/api/experimental_api.py
  clients/python/lakefs_client/api/otf_diff_api.py
  clients/python/lakefs_client/apis/__init__.py
  clients/python/lakefs_client/model/otf_diff.py
  clients/python/lakefs_client/model/otf_diff_list.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_experimental_api.py
  clients/python/test/test_otf_diff.py
  clients/python/test/test_otf_diff_api.py
  clients/python/test/test_otf_diff_list.py
  design/open/delta-diff.md
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/plugins/diff/diff_grpc_client.go
  pkg/plugins/diff/errors.go
Labels: exclude-changelog

#5062 CopyObject api and gateway using copy-table tracking
  .secretsignore
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/diagnostics.go
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
  esti/s3_gateway_test.go
  go.mod
  go.sum
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/gateway/operations/base.go
  pkg/gateway/operations/headobject.go
  pkg/gateway/operations/putobject.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/loadtest/local_load_test.go
  pkg/upload/write_blob.go
Labels: area/API, area/gateway, exclude-changelog, GC+

#5071 Delta diff prototype: show a delta diff container and go back to objects comparison
  webui/src/lib/components/repository/TableDiff.jsx
  webui/src/lib/components/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/commit/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/util/tablesUtil.jsx
Labels: exclude-changelog

#5074 Added notes that Authentication and Authorization are deprecated
  docs/reference/authentication.md
  docs/reference/authorization.md
Labels: pr/merge-if-approved, docs, exclude-changelog

#5046 Stats collector handle post with retry and graceful shutdown
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  go.mod
  go.sum
  pkg/actions/service_test.go
  pkg/api/serve_test.go
  pkg/logging/logger.go
  pkg/stats/collector.go
  pkg/stats/collector_test.go
  pkg/stats/nullcollector.go
  pkg/stats/sender.go
  pkg/version/audit.go
Labels: exclude-changelog, minor-change

#5078 fix: Chi breaks lua client routing
  pkg/actions/lua/lakefs/client.go
Labels: bug, include-changelog

#5075 Fix new repo getting started UI
  webui/src/lib/components/repository/tree.jsx
Labels: pr/merge-if-approved, include-changelog

#5066 Fix Azure walker
  pkg/ingest/store/azure.go
Labels: bug, include-changelog, azure

#5079 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5081 Delta diff prototype: Expanded delta table diff
  webui/src/constants.ts
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/TableDiff.jsx
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/treeRows.jsx
  webui/src/pages/repositories/repository/commits/commit/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog

#5059 UGC safeness integration tests
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/gc/UncommittedGarbageCollectorSpec.scala
  esti/ugc_test.go
Labels: exclude-changelog

#5080 Uncommitted GC prepare include tracked physical addresses
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/catalog/gc_write_uncommitted.go
  pkg/catalog/testutils/testutils.go
  pkg/graveler/testutil/graveler_mock.go
Labels: exclude-changelog, GC+

#5090 Delta bugfixes
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/TableDiff.jsx
Labels: exclude-changelog

#5063 Deprecate OIDC
  CHANGELOG.md
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/AuthApi.md
  clients/java/docs/SetupState.md
  clients/java/src/main/java/io/lakefs/clients/api/AuthApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/SetupState.java
  clients/java/src/test/java/io/lakefs/clients/api/AuthApiTest.java
  clients/python/docs/AuthApi.md
  clients/python/docs/SetupState.md
  clients/python/lakefs_client/api/auth_api.py
  clients/python/lakefs_client/model/setup_state.py
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
Labels: new-feature, area/integrations, area/auth, include-changelog

#5092 Github Workflows: docker publish manual workflow
  .github/workflows/docker-publish-exp-image.yaml
Labels: exclude-changelog, minor-change

#5086 Async comm prefs
  pkg/api/controller.go
  pkg/stats/collector.go
Labels: exclude-changelog, minor-change

#5108 Drop support in GC b&r using distCp
  clients/spark/core/src/main/hadoop3/scala/io/treeverse/clients/conditional/GCBackupAndRestore.scala
  docs/howto/garbage-collection.md
Labels: exclude-changelog

#5099 lakectl use of pre-sign capabilities
  Makefile
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/StorageConfig.md
  clients/java/src/main/java/io/lakefs/clients/api/model/StorageConfig.java
  clients/java/src/test/java/io/lakefs/clients/api/model/StorageConfigTest.java
  clients/python/docs/StorageConfig.md
  clients/python/lakefs_client/model/storage_config.py
  cmd/lakectl/cmd/fs.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  esti/golden/lakectl_stat_default.golden
  esti/golden/lakectl_stat_pre_sign.golden
  esti/lakectl_test.go
  esti/lakectl_util.go
  pkg/api/controller.go
  pkg/api/helpers/errors.go
  pkg/api/helpers/upload.go
  pkg/block/azure/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/namespace.go
  pkg/block/transient/adapter.go
  pkg/gateway/operations/mock_adapter_test.go
Labels: new-feature, area/lakectl, include-changelog

#5096 Support multiple storage accounts in Azure
  go.mod
  go.sum
  pkg/api/controller_test.go
  pkg/block/azure/adapter.go
  pkg/block/azure/client_cache.go
  pkg/block/azure/client_test.go
  pkg/block/factory/build.go
  pkg/ingest/store/azure.go
  pkg/ingest/store/factory.go
Labels: bug, include-changelog, team/versioning-engine, azure

#5095 Fix: Ingest walk function and tests
  .github/workflows/esti.yaml
  esti/gc_test.go
  esti/ops/docker-compose.yaml
  esti/ugc_test.go
  pkg/block/azure/client_cache.go
  pkg/ingest/store/azure.go
  pkg/ingest/store/factory.go
  pkg/ingest/store/s3.go
  pkg/testutil/setup.go
Labels: exclude-changelog, team/versioning-engine

#5114 Fix gcs walker relative key for import
  pkg/ingest/store/gcs.go
Labels: bug, area/block-adapter, include-changelog

#5112 Naming helper func from ClientUpload to ClientUploadDirect
  cmd/lakectl/cmd/fs.go
  esti/system_test.go
  pkg/api/helpers/upload.go
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#5121 Improve ingest walkter and cover import from parent directory test
  esti/import_test.go
  pkg/ingest/store/azure.go
  pkg/ingest/store/factory.go
  pkg/ingest/store/gcs.go
  pkg/ingest/store/s3.go
Labels: area/testing, exclude-changelog, minor-change

#5119 Merge result summary deprecation
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/MergeResult.md
  clients/java/docs/MergeResultSummary.md
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/MergeResult.java
  clients/java/src/main/java/io/lakefs/clients/api/model/MergeResultSummary.java
  clients/python/docs/MergeResult.md
  clients/python/docs/MergeResultSummary.md
  clients/python/docs/RefsApi.md
  clients/python/lakefs_client/model/merge_result.py
  clients/python/lakefs_client/model/merge_result_summary.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
Labels: area/API, include-changelog, minor-change

#5083 Automated playground deployment trigger for new lakeFS release
  .github/workflows/docker-publish.yaml
Labels: exclude-changelog, minor-change

#5130 Upgrade lakeFS client in HadoopFS & Spark client
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
  clients/spark/build.sbt
Labels: exclude-changelog, team/versioning-engine, minor-change

#5132 Changelogs for lakeFSFS and spark metadata client
  clients/hadoopfs/CHANGELOG.md
  clients/spark/CHANGELOG.md
Labels: exclude-changelog, team/versioning-engine, minor-change

#5134 Spark metadata client: SBT fix
  clients/spark/build.sbt
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#5135 add client to audit logs
  pkg/httputil/logging.go
Labels: pr/merge-if-approved, exclude-changelog, team/cloud-native, minor-change

#5137 Azure: Fix Azure ingest walker
  esti/import_test.go
  pkg/ingest/store/azure.go
Labels: exclude-changelog, team/versioning-engine

#5147 docs: security update
  docs/posts/index.md
  docs/posts/security_update.md
  docs/reference/authentication.md
  docs/reference/authorization.md
Labels: docs, exclude-changelog, minor-change

#5148 update configure-aws-credentials github action
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/publish-hadoop-lakefs.yaml
Labels: exclude-changelog, minor-change

#5150 Update policies page with note about RBAC deprecation
  webui/src/pages/auth/policies/index.jsx
Labels: include-changelog

#5144 Configurable pre-signed url expiry
  docs/reference/configuration.md
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/factory/build.go
  pkg/block/gs/adapter.go
  pkg/block/params/block.go
  pkg/block/s3/adapter.go
  pkg/config/config.go
  pkg/config/defaults.go
Labels: include-changelog

#5116 docs: Expand instructions on building docs locally
  .gitignore
  docs/contributing.md
Labels: docs, exclude-changelog, minor-change

#5133 Limited kv store to control background work rate limit
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/diagnostics.go
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  go.mod
  go.sum
  pkg/api/serve_test.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/config/config.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/staging/iterator.go
  pkg/graveler/staging/manager.go
  pkg/graveler/staging/manager_test.go
  pkg/kv/store_limiter.go
  pkg/kv/store_limiter_test.go
  pkg/kv/store_message.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, area/KV

#5154 Fix configure aws credentials in system tests secrets check
  .github/workflows/esti.yaml
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#5146 doc: Code formatting for URLs on GC page
  docs/howto/garbage-collection.md
Labels: docs, exclude-changelog, minor-change
