Repository treeverse/lakeFS, pull requests merged in 2023-02, with the labels that each got.

#5109 doc: Minor tweaks to clarify and update `contributing.html`
  docs/contributing.md
Labels: exclude-changelog, minor-change

#5161 Fix lakeFSFS stage<->copy fallback mechanism
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
Labels: exclude-changelog

#5162 Update CHANGELOG.md
  clients/hadoopfs/CHANGELOG.md
Labels: exclude-changelog, minor-change

#5164 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5167 UI: fix lakectl configuration download format after setup
  webui/src/pages/setup/setupComplete.tsx
Labels: bug, area/UI, contributor, include-changelog

#5118 Azure: Add support for async copy
  docs/reference/configuration.md
  esti/auth_test.go
  esti/commit_test.go
  esti/copy_test.go
  esti/delete_objects_test.go
  esti/delete_test.go
  esti/hooks_failure_test.go
  esti/hooks_test.go
  esti/identity_test.go
  esti/import_test.go
  esti/main_test.go
  esti/merge_test.go
  esti/multipart_test.go
  esti/ops/docker-compose.yaml
  esti/presign_test.go
  esti/rollback_test.go
  esti/s3_gateway_test.go
  esti/sanity_api_test.go
  esti/system_test.go
  esti/ugc_test.go
  pkg/block/azure/adapter.go
  pkg/block/azure/client_cache.go
  pkg/block/errors.go
  pkg/block/factory/build.go
  pkg/block/params/block.go
  pkg/config/config.go
  pkg/config/defaults.go
Labels: include-changelog, team/versioning-engine, azure

#5159 Point the spark clients release checklists
  clients/hadoopfs/README.md
  clients/spark/README.md
Labels: exclude-changelog, minor-change

#5177 Update CHANGELOG for v0.92.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5157 Audit log docs
  docs/assets/img/audit-log.png
  docs/audit.md
Labels: docs, exclude-changelog, minor-change

#5153 Delta Diff MVP: Plugins manager
  go.mod
  go.sum
  pkg/logging/dummy.go
  pkg/logging/logger.go
  pkg/plugins/Logger.go
  pkg/plugins/manager.go
  pkg/plugins/manager_test.go
  pkg/plugins/test.pb.go
  pkg/plugins/test.proto
  pkg/plugins/test_grpc.pb.go
  pkg/plugins/test_utils.go
  pkg/version/audit_test.go
Labels: exclude-changelog

#5189 fix/ UI import compare link
  webui/src/pages/repositories/services/import_data.jsx
Labels: exclude-changelog

#5184 Export gob registration to let external services to use auth.Claims
  pkg/api/controller.go
  pkg/auth/oidc/authenticator.go
  pkg/auth/oidc/encoding/encoding.go
Labels: area/API, area/UI, area/auth, include-changelog, team/cloud-native, minor-change

#5165 Remove kv's StoreMessage
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/diagnostics.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/actions/kv_run_results_iterator.go
  pkg/actions/kv_run_results_iterator_test.go
  pkg/actions/kv_task_results_iterator.go
  pkg/actions/kv_task_results_iterator_test.go
  pkg/actions/service_test.go
  pkg/actions/store.go
  pkg/api/serve_test.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/catalog/catalog.go
  pkg/gateway/multipart/tracker.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/graveler/branch/protection_manager_test.go
  pkg/graveler/ref/branch_iterator.go
  pkg/graveler/ref/commit_ordered_iterator.go
  pkg/graveler/ref/commit_ordered_iterator_test.go
  pkg/graveler/ref/link_address_iterator.go
  pkg/graveler/ref/main_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/repository_iterator.go
  pkg/graveler/ref/repository_iterator_test.go
  pkg/graveler/ref/tag_iterator.go
  pkg/graveler/ref/tag_iterator_test.go
  pkg/graveler/settings/manager.go
  pkg/graveler/settings/manager_test.go
  pkg/kv/kvtest/iterators.go
  pkg/kv/msg.go
  pkg/kv/msg_test.go
  pkg/kv/store_message.go
  pkg/kv/store_message_test.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, area/KV

#5185 UI: Add copy URI to navigator
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/styles/globals.css
Labels: area/UI, include-changelog, team/versioning-engine

#5093 Configure webui login URLs and details dynamically
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/LoginConfig.md
  clients/java/src/main/java/io/lakefs/clients/api/model/LoginConfig.java
  clients/java/src/test/java/io/lakefs/clients/api/model/LoginConfigTest.java
  clients/python/docs/LoginConfig.md
  clients/python/lakefs_client/model/login_config.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/config/config.go
  pkg/config/defaults.go
  webui/src/pages/auth/login.tsx
Labels: new-feature, area/UI, area/auth, include-changelog, team/cloud-native

#5168 Delta Diff MVP - Protobuf
  pkg/plugins/diff/table_diff.pb.go
  pkg/plugins/diff/table_diff.proto
  pkg/plugins/diff/table_diff_grpc.pb.go
Labels: exclude-changelog

#5193 KV postgres use advisory lock while performing table creation
  pkg/kv/postgres/store.go
Labels: bug, include-changelog, area/KV

#5194 Misc test code cleanup and sync fix
  esti/copy_test.go
  esti/ugc_test.go
  pkg/kv/msg_test.go
Labels: pr/merge-if-approved, area/testing, exclude-changelog, minor-change

#5188 Delta diff: identify delta tables and add a calculate diff button
  webui/src/constants.ts
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/treeRows.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/util/tablesUtil.jsx
Labels: exclude-changelog

#5203 Enable configurable logout URL in the UI
  webui/src/lib/components/navbar.jsx
Labels: include-changelog, team/cloud-native

#5149 Add compatibility checks for lakeFSFS
  .github/workflows/compatability-tests.yaml
  test/spark/run-test.sh
Labels: area/testing, exclude-changelog

#5200 Add an exchange refs option to UI compare view
  webui/src/pages/repositories/repository/compare.jsx
Labels: include-changelog

#5210 Add 0.93.0 to compatability checks
  .github/workflows/compatability-tests.yaml
Labels: pr/merge-if-approved, area/system-tests, infrastructure, exclude-changelog, team/cloud-native, minor-change

#5201 fix the credentials not found error message
  pkg/auth/service.go
Labels: pr/merge-if-approved, exclude-changelog, team/cloud-native, minor-change

#5204 Lua hook encode URL parameters for internal server requests
  pkg/actions/lua.go
  pkg/actions/lua/lakefs/client.go
Labels: area/hooks, exclude-changelog

#5206 Reuse changes tree container in compare, commit, and uncommitted changes pages
  webui/src/lib/components/repository/changes.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/commit/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
Labels: exclude-changelog

#5197 Create pull_request_template.md
  .github/pull_request_template.md
Labels: exclude-changelog, minor-change

#5208 Delta Lake Diff MVP: Diff Service
  pkg/plugins/diff/service.go
  pkg/plugins/diff/service_test.go
  pkg/plugins/diff/table_diff.pb.go
  pkg/plugins/diff/table_diff.proto
  pkg/plugins/diff/table_diff_grpc.pb.go
  pkg/plugins/internal/Logger.go
  pkg/plugins/internal/client_store.go
  pkg/plugins/internal/manager.go
  pkg/plugins/internal/manager_test.go
  pkg/plugins/internal/test.pb.go
  pkg/plugins/internal/test.proto
  pkg/plugins/internal/test_grpc.pb.go
  pkg/plugins/internal/test_utils.go
Labels: exclude-changelog

#5225 Add number of marked/sweeped objects to GC stdout
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: include-changelog

#5240 Delete temporary copies of ranges on closing their SSTables
  clients/spark/core/src/main/scala/io/treeverse/clients/SSTableReader.scala
Labels: bug, pr/merge-if-approved, area/client/spark, include-changelog, team/ecosystem

#5235 Docs footer - replace Treeverse with lakeFS logo (#devex-internal/103)
  docs/_includes/footer.html
Labels: docs, exclude-changelog, minor-change

#5238 Add redirect for old /quickstart/try.html page (Fixes #devex-internal/104)
  docs/quickstart/run.md
Labels: docs, exclude-changelog, minor-change

#5256 Making the Databricks step by step tutorial more accessible in the docs
  docs/integrations/spark.md
Labels: docs, exclude-changelog

#5232 Delta diff: client side implementation of an expanded delta lake diff
  webui/src/constants.ts
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/TableDiff.jsx
  webui/src/lib/components/repository/changes.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog

#5227 Delta Diff: Add dummy OTF endpoint
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ExperimentalApi.md
  clients/java/docs/OtfDiffApi.md
  clients/java/docs/OtfDiffEntry.md
  clients/java/docs/OtfDiffList.md
  clients/java/src/main/java/io/lakefs/clients/api/ExperimentalApi.java
  clients/java/src/main/java/io/lakefs/clients/api/OtfDiffApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/OtfDiffEntry.java
  clients/java/src/main/java/io/lakefs/clients/api/model/OtfDiffList.java
  clients/java/src/test/java/io/lakefs/clients/api/ExperimentalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/OtfDiffApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/OtfDiffEntryTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/OtfDiffListTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/ExperimentalApi.md
  clients/python/docs/OtfDiffApi.md
  clients/python/docs/OtfDiffEntry.md
  clients/python/docs/OtfDiffList.md
  clients/python/lakefs_client/api/experimental_api.py
  clients/python/lakefs_client/api/otf_diff_api.py
  clients/python/lakefs_client/apis/__init__.py
  clients/python/lakefs_client/model/otf_diff_entry.py
  clients/python/lakefs_client/model/otf_diff_list.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_experimental_api.py
  clients/python/test/test_otf_diff_api.py
  clients/python/test/test_otf_diff_entry.py
  clients/python/test/test_otf_diff_list.py
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog

#5249 Fix: Search Widget
  pkg/api/controller.go
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/repositories/repository/objects.jsx
Labels: bug, include-changelog, team/versioning-engine

#5228 Delta Diff MVP: Endpoint impl
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/plugins/diff/service.go
  pkg/plugins/diff/service_test.go
  pkg/plugins/diff/test_utils.go
  pkg/plugins/internal/manager_test.go
  pkg/plugins/internal/test_utils.go
Labels: exclude-changelog

#5258 Disable Lua package's require the option to load file from OS
  pkg/actions/lua/load.go
  pkg/actions/lua/open.go
  pkg/actions/lua/stdlib.go
Labels: area/hooks, exclude-changelog

#5269 UI: Tweaks for final setup screen
  webui/src/pages/setup/setupComplete.tsx
Labels: area/UI, improvement, exclude-changelog

#5236 Delta Lake Diff MVP: Add Delta Lake differ
  pkg/api/controller.go
  pkg/plugins/data.go
  pkg/plugins/diff/delta_differ.go
  pkg/plugins/diff/delta_differ_test.go
  pkg/plugins/diff/service.go
  pkg/plugins/diff/service_test.go
  pkg/plugins/diff/table_diff.pb.go
  pkg/plugins/diff/table_diff.proto
  pkg/plugins/internal/manager.go
  pkg/plugins/internal/manager_test.go
Labels: exclude-changelog

#5270 Remove unused table operation type enum
  webui/src/constants.ts
  webui/src/lib/components/repository/TableDiff.jsx
Labels: exclude-changelog, minor-change

#5265 Deprecate Message for LDAP
  CHANGELOG.md
  cmd/lakefs/cmd/run.go
  docs/reference/authentication.md
Labels: include-changelog, team/cloud-native

#5268 Delta Lake diff: add operation type
  pkg/api/controller.go
  pkg/plugins/diff/delta_differ.go
  pkg/plugins/diff/delta_differ_test.go
  pkg/plugins/diff/service.go
  pkg/plugins/diff/table_diff.pb.go
  pkg/plugins/diff/table_diff.proto
  pkg/plugins/diff/table_diff_grpc.pb.go
  pkg/plugins/diff/test_utils.go
Labels: exclude-changelog, minor-change

#5248 Delta Lake Diff service: Minor refactors
  pkg/api/controller.go
  pkg/plugins/diff/delta_differ.go
  pkg/plugins/diff/delta_differ_test.go
  pkg/plugins/diff/service.go
  pkg/plugins/diff/test_utils.go
  pkg/plugins/internal/manager.go
Labels: exclude-changelog, minor-change

#5284 include LDAP in the deprecation notice
  docs/posts/security_update.md
Labels: exclude-changelog, minor-change

#5233 Remove OIDC from code
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/AuthApi.md
  clients/java/docs/SetupState.md
  clients/java/src/main/java/io/lakefs/clients/api/AuthApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/SetupState.java
  clients/java/src/test/java/io/lakefs/clients/api/AuthApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/SetupStateTest.java
  clients/python/README.md
  clients/python/docs/AuthApi.md
  clients/python/docs/SetupState.md
  clients/python/lakefs_client/api/auth_api.py
  clients/python/lakefs_client/model/setup_state.py
  clients/python/test/test_auth_api.py
  cmd/lakefs/cmd/run.go
  design/rejected/oidc-support.md
  docs/assets/js/swagger.yml
  pkg/api/auth_middleware.go
  pkg/api/controller.go
  pkg/api/logout_handler.go
  pkg/api/oidc_login_handler.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/auth/oidc/authenticator.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/defaults.go
  pkg/config/testdata/valid_oidc_config.yaml
  pkg/loadtest/local_load_test.go
Labels: area/API, area/auth, include-changelog, team/cloud-native, team/versioning-engine, refactor

#5280 Delete entry reader temporary local files before exit
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
Labels: exclude-changelog

#5271 Fix and simplify local install quickstart
  docs/quickstart/more_quickstart_options.md
Labels: docs, exclude-changelog, minor-change

#5261 lakefs lua run command to evaluate lua script
  cmd/lakefs/cmd/lua.go
Labels: area/hooks, exclude-changelog, minor-change

#5278 Show delta diff results for tables created or dropped
  webui/src/constants.ts
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/TableDiff.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog

#5291 Add an ASCIIlotl to the boot screen
  cmd/lakefs/cmd/run.go
Labels: exclude-changelog, minor-change

#5283 Delta diff MVP: add an experimental merge delta diff button
  webui/src/lib/components/modals.tsx
  webui/src/lib/components/repository/changes.jsx
  webui/src/pages/repositories/repository/compare.jsx
Labels: exclude-changelog

#5298 go mod tidy
  go.mod
  go.sum
Labels: pr/merge-if-approved, exclude-changelog, tech debt, minor-change

#5277 local block adaptor import support
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/ImportApi.md
  clients/java/docs/StorageConfig.md
  clients/java/src/main/java/io/lakefs/clients/api/ImportApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/StorageConfig.java
  clients/java/src/test/java/io/lakefs/clients/api/model/StorageConfigTest.java
  clients/python/docs/ImportApi.md
  clients/python/docs/StorageConfig.md
  clients/python/lakefs_client/model/storage_config.py
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
  docs/reference/configuration.md
  esti/import_test.go
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose.yaml
  pkg/api/controller.go
  pkg/block/azure/adapter.go
  pkg/block/factory/build.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/namespace.go
  pkg/block/params/block.go
  pkg/block/transient/adapter.go
  pkg/catalog/actions_output_writer.go
  pkg/catalog/actions_source.go
  pkg/catalog/catalog.go
  pkg/config/config.go
  pkg/gateway/operations/deleteobject.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/mock_adapter_test.go
  pkg/gateway/operations/postobject.go
  pkg/gateway/operations/putobject.go
  pkg/ingest/store/factory.go
  pkg/ingest/store/local.go
  pkg/pyramid/tier_fs.go
  pkg/upload/write_blob.go
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/repositories/repository/objects.jsx
Labels: area/block-adapter, include-changelog

#5303 Bug: Clearing internal auth cookie at login
  pkg/api/controller.go
Labels: bug, pr/merge-if-approved, exclude-changelog, minor-change

#5089 UGC docs update for milesone 2
  docs/howto/garbage-collection.md
Labels: docs, exclude-changelog, minor-change

#5309 add vmo tracking to docs
  docs/_includes/head_custom.html
Labels: docs, exclude-changelog, team/cloud-native, minor-change

#5310 Remove production warning while using local blockstore
  cmd/lakefs/cmd/run.go
  webui/src/lib/api/index.js
Labels: area/block-adapter, exclude-changelog

#5289 [DX] WebUI Setup: Replace first two screens with one
  webui/src/pages/setup/adminUser.tsx
  webui/src/pages/setup/index.jsx
  webui/src/pages/setup/userConfiguration.tsx
Labels: area/UI, exclude-changelog

#5252 Add merge strategy to commit data
  cmd/lakectl/cmd/log.go
  esti/golden/lakectl_log_initial.golden
  esti/golden/lakectl_log_with_commit.golden
  esti/golden/lakectl_log_with_commit_custom_date.golden
  esti/golden/lakectl_show_commit.golden
  esti/golden/lakectl_show_commit_metarange.golden
  esti/merge_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/graveler/committed/merge.go
  pkg/graveler/committed/merge_test.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
Labels: include-changelog, team/versioning-engine

#5318 Revert "add vmo tracking to docs (#5309)"
  docs/_includes/head_custom.html
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#5308 Configurable pre-signed URL support
  pkg/block/azure/adapter.go
  pkg/block/factory/build.go
  pkg/block/gs/adapter.go
  pkg/block/params/block.go
  pkg/block/s3/adapter.go
  pkg/block/transient/adapter.go
  pkg/config/config.go
Labels: area/block-adapter, include-changelog

#5282 KV health check for DynamoDB
  docs/reference/configuration.md
  pkg/config/config.go
  pkg/kv/dynamodb/store.go
  pkg/kv/metrics.go
  pkg/kv/params/database.go
Labels: include-changelog

#5320 Release - Spark metadata client 0.6.2
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#5307 Add mastodon icon and profile link to docs footer
  docs/_config.yml
  docs/_includes/head_custom.html
  docs/assets/icons/mastodon-hover.svg
  docs/assets/icons/mastodon.svg
Labels: docs, exclude-changelog, minor-change

#5313 [DX] Web UI: Add spinner to setup screen button
  webui/src/pages/setup/userConfiguration.tsx
Labels: area/UI, exclude-changelog

#5323 Change docs to reflect version 0.6.2 of the spark metadata client
  docs/howto/export.md
  docs/howto/garbage-collection.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#5312 Docs import using local block adapter
  docs/howto/import.md
Labels: docs, exclude-changelog

#5314 Docs using local blockstore for on-prem
  docs/deploy/onprem.md
Labels: docs, exclude-changelog

#5273 Branch protection status code should be 403
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/BranchesApi.md
  clients/java/docs/CommitsApi.md
  clients/java/docs/ImportApi.md
  clients/java/docs/ObjectsApi.md
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/BranchesApi.java
  clients/java/src/main/java/io/lakefs/clients/api/CommitsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/ImportApi.java
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/python/docs/BranchesApi.md
  clients/python/docs/CommitsApi.md
  clients/python/docs/ImportApi.md
  clients/python/docs/ObjectsApi.md
  clients/python/docs/RefsApi.md
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/graveler/errors.go
Labels: bug, area/API, include-changelog, team/versioning-engine

#5281 Add find-merge-base plumbing command to lakectl
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/FindMergeBaseResult.md
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/FindMergeBaseResult.java
  clients/java/src/test/java/io/lakefs/clients/api/RefsApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/FindMergeBaseResultTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/FindMergeBaseResult.md
  clients/python/docs/RefsApi.md
  clients/python/lakefs_client/api/refs_api.py
  clients/python/lakefs_client/model/find_merge_base_result.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_find_merge_base_result.py
  clients/python/test/test_refs_api.py
  cmd/lakectl/cmd/find_merge_base.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
Labels: area/lakectl, exclude-changelog, team/versioning-engine

#5328 Update Changelog for v0.94.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5327 Log actual error when reporting it to an API call
  pkg/api/controller.go
Labels: pr/merge-if-approved, area/API, new-feature, include-changelog, minor-change

#5330 Minor update for changelog
  CHANGELOG.md
Labels: pr/merge-if-approved, area/API, exclude-changelog, minor-change

#5315 [DX] WebUI: Add lakeFS header bar to setup screens
  webui/src/lib/components/navbar.jsx
  webui/src/pages/setup/index.jsx
Labels: area/UI, exclude-changelog

#5331 Fix playground trigger credentials
  .github/workflows/docker-publish.yaml
Labels: exclude-changelog, minor-change

#5337 Fix: import button disabled eventhough config enabled (#5336)
  webui/src/pages/repositories/repository/objects.jsx
Labels: include-changelog

#5339 UI minor warnings
  webui/src/pages/repositories/repository/objectViewer.tsx
Labels: area/UI, exclude-changelog, minor-change

#5267 Add TLD for lakeFS Simplified Authorization
  design/open/acl/groups-with-perms.png
  design/open/acl/rbac-to-acl.md
Labels: new-feature, area/UI, docs, area/auth, exclude-changelog, team/cloud-native

#5332 Connect delta diff ui client with otfDiff endpoint
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/TableDiff.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog

#5343 Update changelog for v0.94.1
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#5275 Do not clean client
  pkg/stats/collector.go
Labels: exclude-changelog, minor-change

#5324 Make otfDiff use an id property instead of version
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/OtfDiffEntry.md
  clients/java/src/main/java/io/lakefs/clients/api/model/OtfDiffEntry.java
  clients/python/docs/OtfDiffEntry.md
  clients/python/lakefs_client/model/otf_diff_entry.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/plugins/diff/delta_differ.go
  pkg/plugins/diff/delta_differ_test.go
  pkg/plugins/diff/service.go
  pkg/plugins/diff/test_utils.go
Labels: exclude-changelog, minor-change

#5230 Fix doc images: branch protection rules
  docs/assets/img/add_branch_protection_rule.png
  docs/assets/img/delete_branch_protection_rule.png
  docs/howto/protect-branches.md
Labels: exclude-changelog

#5344 lakeFS v0.94.1 part of compatability tests
  .github/workflows/compatability-tests.yaml
Labels: area/API, area/testing, exclude-changelog, minor-change

#5335 Remove adapter walk
  cmd/lakefs/cmd/diagnostics.go
  esti/ugc_test.go
  pkg/api/controller.go
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/local/adapter_test.go
  pkg/block/mem/adapter.go
  pkg/block/mem/adapter_test.go
  pkg/block/s3/adapter.go
  pkg/block/test/adapter.go
  pkg/block/transient/adapter.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/diagnostics/collector.go
  pkg/gateway/operations/mock_adapter_test.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/retention/garbage_collection_manager.go
Labels: exclude-changelog

#5274 UI: fix object browser uri wrapping on long uris
  webui/src/styles/globals.css
Labels: include-changelog, minor-change

#5350 Docs: updated roadmap
  docs/_includes/mermaid_setup.html
  docs/_layouts/default.html
  docs/roadmap.md
Labels: docs, exclude-changelog, minor-change

#5216 Log source IP in operations logs
  pkg/api/controller.go
  pkg/httputil/logging.go
Labels: new-feature, contributor, include-changelog, team/ecosystem

#5333 Tidy up RBAC docs page
  docs/reference/authorization.md
Labels: docs, exclude-changelog, minor-change

#5352 UI: merge directly from import wizard
  webui/src/lib/components/repository/changes.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/services/import_data.jsx
  webui/src/pages/repositories/wizard/import_data_wizard_step.jsx
  webui/src/pages/repositories/wizard/spark_config_step.jsx
  webui/src/pages/repositories/wizard/spark_quickstart_wizard.jsx
  webui/src/pages/repositories/wizard/wizard.jsx
  webui/src/styles/globals.css
Labels: area/UI, include-changelog

#5356 Fix trigger playground release condition
  .github/workflows/docker-publish.yaml
Labels: bug, exclude-changelog, minor-change

#5362 Update glossary.md with data lake governance
  docs/understand/glossary.md
Labels: exclude-changelog, minor-change
