Repository treeverse/lakeFS, pull requests merged in 2023-09, with the labels that each got.

#6520 Fix UI pdf viewer by X-Frame-Options set to SAMEORIGIN
  pkg/api/controller.go
  pkg/gateway/operations/getobject.go
Labels: bug, area/UI, include-changelog

#6522 lakectl local gitignore end marker
  cmd/lakectl/cmd/bisect.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_init.go
  esti/lakectl_util.go
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/local/index.go
Labels: area/lakectl, include-changelog

#6528 Remove logBranchCommits
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/CommitsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/CommitsApi.java
  clients/java/src/test/java/io/lakefs/clients/api/CommitsApiTest.java
  clients/python/README.md
  clients/python/docs/CommitsApi.md
  clients/python/lakefs_client/api/commits_api.py
  clients/python/test/test_commits_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
Labels: include-changelog, v1.0.0-blocker

#6530 Minor links fixes in quickstart
  docs/quickstart/learning-more-lakefs.md
  pkg/samplerepo/assets/sample/README.md.tmpl
Labels: exclude-changelog, minor-change

#6545 lua package for yaml support
  pkg/actions/lua/encoding/yaml/yaml.go
  pkg/actions/lua/open.go
Labels: new-feature, area/hooks, include-changelog

#6547 Fix lua gs client close
  pkg/actions/lua/crypto/aes/aes.go
  pkg/actions/lua/crypto/hmac/hmac.go
  pkg/actions/lua/storage/aws/s3.go
  pkg/actions/lua/storage/gcloud/gcs.go
  pkg/actions/lua/strings/strings.go
Labels: bug, area/hooks, include-changelog

#6549 Fix lua path.Join to handle concatenation of two separators
  pkg/actions/lua/path/path.go
  pkg/actions/lua/path/path_test.go
Labels: bug, area/hooks, include-changelog

#6563 Remove otf diff APIs from non experimental tag/category
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/OtfDiffApi.md
  clients/java/src/main/java/io/lakefs/clients/api/OtfDiffApi.java
  clients/java/src/test/java/io/lakefs/clients/api/OtfDiffApiTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/OtfDiffApi.md
  clients/python/lakefs_client/api/otf_diff_api.py
  clients/python/lakefs_client/apis/__init__.py
  clients/python/lakefs_client/client.py
  clients/python/test/test_otf_diff_api.py
  docs/assets/js/swagger.yml
Labels: include-changelog

#6556 Propogate slowdown from cosmosdb
  pkg/api/ui_handler.go
  pkg/catalog/catalog_test.go
  pkg/gateway/handler.go
  pkg/gateway/middleware.go
  pkg/gateway/operations/base.go
  pkg/gateway/operations/deleteobject.go
  pkg/gateway/operations/deleteobjects.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/headobject.go
  pkg/gateway/operations/listbuckets.go
  pkg/gateway/operations/listobjects.go
  pkg/gateway/operations/postobject.go
  pkg/gateway/operations/putbucket.go
  pkg/gateway/operations/putobject.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/staging/iterator.go
  pkg/graveler/staging/manager.go
  pkg/graveler/staging/manager_test.go
  pkg/graveler/testutil/fakes.go
  pkg/kv/cosmosdb/store.go
  pkg/kv/store.go
Labels: include-changelog

#6567 test: remove system tests skip flag support
  esti/gc_test.go
  esti/lakectl_doctor_test.go
  esti/lakectl_test.go
  esti/main_test.go
  esti/repository_test.go
  esti/store_test.go
  esti/system_test.go
  esti/ugc_test.go
  esti/unified_gc_test.go
Labels: area/testing, area/system-tests, exclude-changelog

#6572 Fix latest version cache and remove the use of go-github
  cmd/lakectl/cmd/root.go
  go.mod
  go.sum
  pkg/config/defaults.go
  pkg/version/audit.go
  pkg/version/latest.go
Labels: bug, improvement, include-changelog, refactor

#6569 logging and lakectl NO_COLOR support
  cmd/lakectl/cmd/root.go
  docs/reference/cli.md
  pkg/logging/logger.go
Labels: area/lakectl, include-changelog

#6561 Fix SeekGE in DDB
  pkg/gateway/testutil/gateway_setup.go
  pkg/kv/cosmosdb/main_test.go
  pkg/kv/cosmosdb/store_test.go
  pkg/kv/dynamodb/main_test.go
  pkg/kv/dynamodb/store.go
  pkg/kv/dynamodb/store_test.go
  pkg/kv/kvtest/iterators.go
  pkg/kv/kvtest/store.go
  pkg/kv/local/store_test.go
  pkg/kv/mem/store_test.go
  pkg/kv/msg_test.go
  pkg/kv/postgres/main_test.go
  pkg/kv/postgres/store_test.go
  pkg/testutil/dynamodb.go
Labels: include-changelog

#6577 test: fix lakectl helm golden file
  esti/golden/lakectl_help.golden
Labels: area/testing, exclude-changelog, minor-change

#6576 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6565 lakectl: deprecate dbt and metastore commands
  .github/workflows/check-ui-links.yaml
  .github/workflows/docs-pr.yaml
  cmd/lakectl/cmd/dbt.go
  cmd/lakectl/cmd/dbt_create_branch_schema.go
  cmd/lakectl/cmd/dbt_generate_schema_macro.go
  cmd/lakectl/cmd/metastore.go
  cmd/lakectl/cmd/metastore_copy.go
  cmd/lakectl/cmd/metastore_copy_all.go
  cmd/lakectl/cmd/metastore_copy_schema.go
  cmd/lakectl/cmd/metastore_create_symlink.go
  cmd/lakectl/cmd/metastore_diff.go
  cmd/lakectl/cmd/metastore_import_all.go
  docs/integrations/athena.md
  docs/integrations/dbt.md
  docs/integrations/glue_hive_metastore.md
  docs/integrations/presto_trino.md
  esti/golden/lakectl_help.golden
Labels: include-changelog

#6583 test: block parser spec longer timeout for container
  clients/spark/core/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
Labels: area/testing, exclude-changelog, minor-change

#6586 Update aws_cli.md
  docs/integrations/aws_cli.md
Labels: exclude-changelog, minor-change

#6588 test: fix err check and extra create schema
  pkg/kv/msg_test.go
  pkg/kv/postgres/store_test.go
Labels: area/testing, exclude-changelog, minor-change

#6587 Remove expand template API
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/TemplatesApi.md
  clients/java/src/main/java/io/lakefs/clients/api/TemplatesApi.java
  clients/java/src/test/java/io/lakefs/clients/api/TemplatesApiTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/TemplatesApi.md
  clients/python/lakefs_client/api/templates_api.py
  clients/python/lakefs_client/apis/__init__.py
  clients/python/lakefs_client/client.py
  clients/python/test/test_templates_api.py
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/loadtest/local_load_test.go
  pkg/templater/expander.go
  pkg/templater/funcmap.go
  pkg/templater/funcmap_test.go
  pkg/templater/funcs.go
  pkg/templater/service.go
  templates/content.go
  templates/content/fail.tt
  templates/content/python.notebook.ipynb.tt
  templates/content/spark.core.site.conf.tt
  templates/content/spark.databricks.conf.tt
  templates/content/spark.metastore.readme.tt
  templates/content/spark.submit.conf.tt
Labels: area/API, include-changelog

#6597 Add URL parser to lua runtime
  CHANGELOG.md
  docs/howto/hooks/lua.md
  pkg/actions/lua/net/url/url.go
  pkg/actions/lua/open.go
Labels: include-changelog

#6591 Remove update and forgot password APIs
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/AuthApi.md
  clients/java/docs/ForgotPasswordRequest.md
  clients/java/docs/UpdatePasswordByToken.md
  clients/java/docs/User.md
  clients/java/docs/UserCreation.md
  clients/java/src/main/java/io/lakefs/clients/api/AuthApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/ForgotPasswordRequest.java
  clients/java/src/main/java/io/lakefs/clients/api/model/UpdatePasswordByToken.java
  clients/java/src/main/java/io/lakefs/clients/api/model/User.java
  clients/java/src/main/java/io/lakefs/clients/api/model/UserCreation.java
  clients/java/src/test/java/io/lakefs/clients/api/AuthApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/ForgotPasswordRequestTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/UpdatePasswordByTokenTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/UserTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/AuthApi.md
  clients/python/docs/ForgotPasswordRequest.md
  clients/python/docs/UpdatePasswordByToken.md
  clients/python/docs/User.md
  clients/python/docs/UserCreation.md
  clients/python/lakefs_client/api/auth_api.py
  clients/python/lakefs_client/model/forgot_password_request.py
  clients/python/lakefs_client/model/update_password_by_token.py
  clients/python/lakefs_client/model/user.py
  clients/python/lakefs_client/model/user_creation.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_auth_api.py
  clients/python/test/test_forgot_password_request.py
  clients/python/test/test_update_password_by_token.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/auth/service.go
  webui/src/lib/api/index.js
  webui/src/pages/auth/index.jsx
  webui/src/pages/auth/login.tsx
  webui/src/pages/auth/reset-password.jsx
Labels: area/API, include-changelog, v1.0.0-blocker

#6602 Fix lakectl local verify bad path error on Windows
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_clone.go
  pkg/fileutil/io.go
  pkg/local/sync.go
Labels: bug, area/lakectl, include-changelog

#6594 Fix azure pre-signed url for blob from different account
  pkg/block/azure/adapter.go
  pkg/block/azure/client_cache.go
Labels: bug, include-changelog, azure

#6593 UI: Commit info consistent across screens
  webui/src/lib/components/repository/commits.jsx
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/repositories/repository/commits/commit/index.jsx
Labels: area/UI, include-changelog, minor-change

#6605 v0.110.0 change log
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#6606 Fix broken links
  cmd/lakectl/cmd/docs.go
  docs/howto/deploy/onprem.md
  docs/howto/garbage-collection/index.md
  docs/howto/hooks/index.md
  docs/howto/unity-delta-sharing.md
  docs/reference/cli.md
  docs/understand/data_lifecycle_management/data-devenv.md
  docs/understand/data_lifecycle_management/production.md
  docs/understand/how/versioning-internals.md
  docs/understand/use_cases/cicd_for_data.md
Labels: exclude-changelog

#6607 Update compatibility-tests with latest lakeFS versions
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#6608 Fix ui pkg update and unused code
  webui/package-lock.json
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/auth/login.tsx
Labels: exclude-changelog, minor-change

#6611 UI: remove unused template API code
  webui/src/lib/api/index.js
Labels: exclude-changelog, minor-change

#6609 lakectl endpoint configure and endpoint path reuse
  cmd/lakectl/cmd/config.go
  cmd/lakectl/cmd/docs.go
  cmd/lakectl/cmd/log.go
  docs/reference/cli.md
  esti/gc_utils_test.go
  esti/lakectl_doctor_test.go
  pkg/actions/lua.go
  pkg/actions/lua/lakefs/client.go
Labels: area/lakectl, include-changelog

#6619 Support both HTTP and HTTPS schemes in esti lakectl doctor tests
  .gitallowed
  esti/golden/lakectl_doctor_wrong_endpoint.golden
  esti/golden/lakectl_doctor_wrong_endpoint_verbose.golden
  esti/lakectl_doctor_test.go
Labels: bug, area/testing, area/system-tests, exclude-changelog

#6589 Table Extractor Hook and _lakefs_tables format
  pkg/actions/lua.go
  pkg/actions/lua/lakefs/catalogexport/hive.lua
  pkg/actions/lua/lakefs/catalogexport/internal.lua
  pkg/actions/lua/lakefs/catalogexport/table_extractor.lua
  pkg/actions/lua/load.go
Labels: include-changelog

#6624 test: use private members to make linters happy
  pkg/config/struct_keys_test.go
Labels: area/testing, exclude-changelog, minor-change

#6625 load test: check err using error.Is
  cmd/lakefs-loadtest/cmd/root.go
Labels: exclude-changelog, minor-change

#6623 Remove lakectl direct deprecated functionality
  .github/workflows/esti.yaml
  cmd/lakectl/cmd/fs.go
  cmd/lakectl/cmd/fs_cat.go
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_upload.go
  docs/howto/deploy/aws.md
  esti/adapters_test.go
  esti/auth_test.go
  esti/commit_test.go
  esti/delete_objects_test.go
  esti/delete_test.go
  esti/gc_test.go
  esti/identity_test.go
  esti/lakectl_util.go
  esti/main_test.go
  esti/merge_test.go
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  esti/presign_test.go
  esti/rollback_test.go
  esti/s3_gateway_test.go
  esti/sanity_api_test.go
  esti/system_test.go
  esti/ugc_test.go
  esti/unified_gc_test.go
  esti/webhook_server_test.go
  pkg/api/auth_middleware.go
  pkg/api/helpers/download.go
  pkg/api/helpers/upload.go
  pkg/auth/acl/permission.go
  pkg/auth/remoteauthenticator/authenticator.go
  pkg/block/blocktest/adapter.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/transient/adapter.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/testutils/testutils.go
  pkg/graveler/committed/manager_test.go
  pkg/graveler/retention/garbage_collection_manager_test.go
  pkg/ident/ident.go
  pkg/kv/import.go
  pkg/kv/migrations/rbac_to_acl.go
  pkg/kv/postgres/store_test.go
  pkg/logging/logger.go
  pkg/permissions/permission.go
  pkg/plugins/internal/manager_test.go
  pkg/plugins/internal/test_utils.go
  pkg/upload/path_provider_test.go
Labels: include-changelog

#6629 fix lua s3 client endpoint configure if set
  pkg/actions/lua/storage/aws/s3.go
Labels: bug, area/hooks, include-changelog

#6627 misc: code cleanup
  esti/webhook_server_test.go
  pkg/api/auth_middleware.go
  pkg/api/controller.go
  pkg/auth/acl/name.go
  pkg/auth/acl/permission.go
  pkg/auth/acl/write.go
  pkg/auth/service_test.go
  pkg/auth/setup/setup.go
  pkg/block/blocktest/adapter.go
  pkg/block/gs/adapter_test.go
  pkg/block/gs/main_test.go
  pkg/gateway/operations/listbuckets.go
  pkg/graveler/committed/diff_test.go
  pkg/graveler/committed/import_test.go
  pkg/graveler/committed/merge_test.go
  pkg/graveler/graveler_test.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/settings/manager_test.go
  pkg/kv/kvtest/store.go
  pkg/kv/migrations/migrations_test.go
  pkg/kv/migrations/rbac_to_acl.go
  pkg/loadtest/local_load_test.go
  pkg/samplerepo/samplecontent.go
Labels: exclude-changelog, minor-change

#6622 Fix UI alert if "quickstart" repository failed on local
  webui/src/pages/repositories/index.jsx
Labels: bug, area/UI, include-changelog

#6633 do not use cache for navs
  docs/_layouts/default.html
Labels: exclude-changelog, minor-change

#6630 API cleanup: make createSymlinkFile internal
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/InternalApi.md
  clients/java/docs/MetadataApi.md
  clients/java/src/main/java/io/lakefs/clients/api/InternalApi.java
  clients/java/src/main/java/io/lakefs/clients/api/MetadataApi.java
  clients/java/src/test/java/io/lakefs/clients/api/InternalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/MetadataApiTest.java
  clients/python/README.md
  clients/python/docs/InternalApi.md
  clients/python/docs/MetadataApi.md
  clients/python/lakefs_client/api/internal_api.py
  clients/python/lakefs_client/api/metadata_api.py
  clients/python/test/test_internal_api.py
  clients/python/test/test_metadata_api.py
  docs/assets/js/swagger.yml
Labels: include-changelog

#6634 Remove expired commits from prepare_gc_commits response
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/GarbageCollectionPrepareRequest.md
  clients/java/docs/RetentionApi.md
  clients/java/src/main/java/io/lakefs/clients/api/RetentionApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/GarbageCollectionPrepareRequest.java
  clients/java/src/test/java/io/lakefs/clients/api/RetentionApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/GarbageCollectionPrepareRequestTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/GarbageCollectionPrepareRequest.md
  clients/python/docs/RetentionApi.md
  clients/python/lakefs_client/api/retention_api.py
  clients/python/lakefs_client/model/garbage_collection_prepare_request.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_garbage_collection_prepare_request.py
  clients/python/test/test_retention_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/retention/active_commits.go
  pkg/graveler/retention/active_commits_test.go
  pkg/graveler/retention/garbage_collection_manager.go
Labels: include-changelog

#6636 Export Hooks: Symlink Exporter
  pkg/actions/lua/lakefs/catalogexport/internal.lua
  pkg/actions/lua/lakefs/catalogexport/symlink_exporter.lua
Labels: include-changelog

#6612 OpenAPI breaking changes CI tests
  .github/workflows/openapi-breaking-changes.yaml
  api/swagger.yml
Labels: exclude-changelog, v1.0.0-blocker

#6655 Bug: Lua runtime - marshaling arrays
  docs/howto/hooks/lua.md
  pkg/actions/lua/open.go
Labels: include-changelog

#6657 Disable CI for swagger (until we reach version 1.0)
  .github/workflows/openapi-breaking-changes.yaml
Labels: exclude-changelog, minor-change

#6651 Change to Default expiry due to bug in package
  pkg/block/azure/adapter.go
  pkg/block/azure/client_cache.go
Labels: bug, include-changelog, azure
