Repository treeverse/lakeFS, pull requests merged in 2023-12, with the labels that each got.

#7084 Python Wrapper: Implement Import Manager
  clients/python-wrapper/docs/lakefs.import_manager.rst
  clients/python-wrapper/docs/lakefs.models.rst
  clients/python-wrapper/lakefs/.pylintrc
  clients/python-wrapper/lakefs/__init__.py
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/config.py
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/lakefs/import_manager.py
  clients/python-wrapper/lakefs/models.py
  clients/python-wrapper/lakefs/namedtuple.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/tests/integration/test_import.py
  clients/python-wrapper/tests/utests/test_import.py
  clients/python-wrapper/tests/utests/test_repository.py
Labels: exclude-changelog, python-wrapper

#7098 Python Wrapper: Documentation alignment
  Makefile
  clients/python-wrapper/docs/lakefs.rst
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change, python-wrapper

#7080 docs: update AWS policy for s3 express support
  docs/howto/deploy/aws.md
Labels: docs, exclude-changelog

#7028 Fix gateway handle list objects versions
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  esti/s3_gateway_test.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/gateway/handler.go
  pkg/gateway/middleware.go
  pkg/gateway/operations/base.go
  pkg/gateway/operations/deleteobject.go
  pkg/gateway/operations/deleteobjects.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/headbucket.go
  pkg/gateway/operations/listbuckets.go
  pkg/gateway/operations/listobjects.go
  pkg/gateway/operations/postobject.go
  pkg/gateway/operations/putbucket.go
  pkg/gateway/operations/putobject.go
  pkg/gateway/serde/xml.go
  pkg/gateway/testutil/gateway_setup.go
Labels: area/gateway, include-changelog

#7096 Upgrade github action docker build and push action to v5
  .github/workflows/compatibility-tests.yaml
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
Labels: infrastructure, exclude-changelog, minor-change

#7101 Update buf version and pass github token to step
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/test.yaml
  Makefile
Labels: infrastructure, exclude-changelog, minor-change

#7105 test: update esti to use LAKEFSACTION prefix for env
  esti/action_files/action_pre_commit.yaml
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  esti/scripts/set_env_vars.sh
Labels: area/testing, exclude-changelog, minor-change

#7110 Python Wrapper: Objects generator
  clients/python-wrapper/docs/lakefs.object_manager.rst
  clients/python-wrapper/docs/lakefs.rst
  clients/python-wrapper/lakefs/__init__.py
  clients/python-wrapper/lakefs/import_manager.py
  clients/python-wrapper/lakefs/models.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/object_manager.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/tests/.pylintrc
  clients/python-wrapper/tests/integration/test_branch.py
  clients/python-wrapper/tests/integration/test_reference.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/test_namedtuple.py
  clients/python-wrapper/tests/utests/test_reference.py
Labels: exclude-changelog, python-wrapper

#7113 API object head - set status code after headers
  pkg/api/controller.go
Labels: exclude-changelog, minor-change

#7097 fix client is None
  clients/python-wrapper/lakefs/reference.py
Labels: bug, contributor, exclude-changelog, python-wrapper

#7115 webui: update typesync package
  webui/package-lock.json
  webui/package.json
Labels: pr/merge-if-approved, area/UI, exclude-changelog, minor-change

#7117 Python Wrapper: Fix commit message parameter
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/import_manager.py
Labels: exclude-changelog, minor-change, python-wrapper

#7114 Python Wrapper: Add examples to documentation + prettify
  clients/python-wrapper/README.md
  clients/python-wrapper/docs/_static/custom.css
  clients/python-wrapper/docs/conf.py
  clients/python-wrapper/docs/index.rst
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/config.py
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/lakefs/import_manager.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/lakefs/tag.py
  clients/python-wrapper/tests/integration/test_import.py
Labels: exclude-changelog, python-wrapper

#7118 Change demo.lakefs.io to lakefs.cloud
  docs/understand/use_cases/etl_testing.md
Labels: exclude-changelog, minor-change

#7119 Python Wrapper: Implement repository list
  clients/python-wrapper/lakefs/__init__.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/tests/integration/test_repository.py
Labels: exclude-changelog, python-wrapper

#7116 Python Wrapper: Handle no client exception
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/lakefs/import_manager.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/tests/integration/conftest.py
  clients/python-wrapper/tests/integration/test_repository.py
  clients/python-wrapper/tests/utests/common.py
  clients/python-wrapper/tests/utests/test_client.py
  clients/python-wrapper/tests/utests/test_repository.py
Labels: exclude-changelog, python-wrapper

#7126 Python Wrapper: Simple readline
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.cfg
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/integration/conftest.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/test_files/mock.csv
  clients/python-wrapper/tests/test_files/mock.json
  clients/python-wrapper/tests/test_files/mock.xml
  clients/python-wrapper/tests/test_files/mock.yaml
Labels: exclude-changelog, python-wrapper

#7132 UI Etag support for embedded content
  pkg/api/etag_middleware.go
  pkg/api/ui_handler.go
Labels: area/UI, include-changelog

#7133 UI: min node version with update packages
  webui/package-lock.json
  webui/package.json
  webui/tsconfig.json
Labels: area/UI, exclude-changelog, minor-change

#7124 Python Wrapper: Add ID field to repository model
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/models.py
  clients/python-wrapper/lakefs/namedtuple.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/lakefs/tag.py
Labels: improvement, exclude-changelog, minor-change, python-wrapper

#7112 Improve documentation of "create tag" API
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/TagCreation.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/TagCreation.java
  clients/java/api/openapi.yaml
  clients/java/docs/TagCreation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/TagCreation.java
  clients/python-legacy/docs/TagCreation.md
  clients/python-legacy/lakefs_client/model/tag_creation.py
  clients/python/docs/TagCreation.md
  clients/python/lakefs_sdk/models/tag_creation.py
  docs/assets/js/swagger.yml
Labels: area/API, docs, exclude-changelog, minor-change

#7136 Update github action configure-aws-credentials to v4
  .github/actions/bootstrap-test-lakefs/action.yaml
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/publish-hadoop-lakefs.yaml
Labels: infrastructure, exclude-changelog, minor-change

#6954 Remove certificate mention from Azure AD manual
  docs/reference/security/sso.md
Labels: exclude-changelog, minor-change, stale

#7129 UI remove query-string package and unused commit arg
  webui/package-lock.json
  webui/package.json
  webui/src/lib/api/index.js
Labels: area/UI, exclude-changelog, minor-change

#7139 Python Wrapper: Fix reader iteration
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/tests/integration/test_object.py
Labels: exclude-changelog, python-wrapper

#7141 Fix ipynb style and update UI packages
  webui/package-lock.json
  webui/package.json
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/styles/ipynb.css
Labels: bug, area/UI, include-changelog

#7140 High Level Python SDK: Release Official Version
  .github/workflows/publish-python-wrapper-client.yaml
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/README.md
  clients/python-wrapper/docs/lakefs.rst
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change, python-wrapper

#7142 Update changelog for v1.3.1
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#7123 Docs: Replace Python SDK with new High Level SDK
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/namedtuple.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/repository.py
  clients/python-wrapper/tests/integration/test_import.py
  clients/python-wrapper/tests/integration/test_reference.py
  clients/python-wrapper/tests/integration/test_sanity.py
  docs/integrations/python.md
Labels: docs, exclude-changelog, python-wrapper

#7143 Include v1.3.1 in compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#7078 Delta Lake Catalog Exporter
  cmd/lakefs/cmd/run.go
  docs/howto/hooks/lua.md
  examples/hooks/delta_lake_S3_export.lua
  go.mod
  go.sum
  pkg/actions/airflow.go
  pkg/actions/hook.go
  pkg/actions/kv_run_results_iterator_test.go
  pkg/actions/lua.go
  pkg/actions/lua/encoding/json/json.go
  pkg/actions/lua/formats/delta.go
  pkg/actions/lua/formats/formats.go
  pkg/actions/lua/lakefs/catalogexport/delta_exporter.lua
  pkg/actions/lua/lakefs/catalogexport/glue_exporter.lua
  pkg/actions/lua/lakefs/catalogexport/internal.lua
  pkg/actions/lua/lakefs/catalogexport/symlink_exporter.lua
  pkg/actions/lua/lakefs/client.go
  pkg/actions/lua/open.go
  pkg/actions/lua/stdlib.go
  pkg/actions/lua_test.go
  pkg/actions/service.go
  pkg/actions/service_test.go
  pkg/actions/testdata/lua/json_marshal_action.lua
  pkg/actions/webhook.go
  pkg/api/serve_test.go
  pkg/loadtest/local_load_test.go
Labels: include-changelog

#7147 Python SDK: Support seek from end
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/integration/conftest.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/test_files/data.csv
  clients/python-wrapper/tests/test_files/data.json
  clients/python-wrapper/tests/test_files/data.parquet
  clients/python-wrapper/tests/test_files/data.xml
  clients/python-wrapper/tests/test_files/data.yaml
Labels: exclude-changelog, python-wrapper, python-sdk-changelog

#7148 Unity exporter: Update design with instructions regarding databricks permissions
  design/open/unity-catalog-exporter.md
Labels: exclude-changelog, minor-change

#7149 Python SDK: v0.1.1 Release
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/README.md
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#7079 Delta Lake catalog exporter Lua docs
  docs/howto/hooks/lua.md
  pkg/actions/lua/lakefs/catalogexport/delta_exporter.lua
Labels: exclude-changelog

#7156 Catalog exporter - Delta: refine the arguments for delta log exporter
  docs/howto/hooks/lua.md
  examples/hooks/delta_lake_S3_export.lua
Labels: exclude-changelog, minor-change

#7144 Tests/catalogexport/delta
  pkg/actions/lua/lakefs/catalogexport/delta_exporter.lua
  pkg/actions/lua_test.go
  pkg/actions/testdata/lua/catalogexport_delta.lua
Labels: exclude-changelog

#7158 Playwright E2E testing infra
  .gitallowed
  .github/actions/test-results-pr-comment/action.yaml
  .github/workflows/esti.yaml
  webui/.gitignore
  webui/package-lock.json
  webui/package.json
  webui/playwright.config.ts
  webui/src/pages/setup/index.jsx
  webui/test/.gitignore
  webui/test/e2e/common/README.md
  webui/test/e2e/common/repositoriesPage.spec.ts
  webui/test/e2e/common/setup.spec.ts
  webui/test/e2e/consts.ts
  webui/test/e2e/poms/loginPage.ts
  webui/test/e2e/poms/repositoriesPage.ts
  webui/test/e2e/poms/setupPage.ts
  webui/test/e2e/types.ts
  webui/tsconfig.json
  webui/vite.config.mts
Labels: area/system-tests, include-changelog, e2e-tests

#7165 Update unity export design doc
  design/open/unity-catalog-exporter.md
Labels: exclude-changelog, minor-change

#7163 Minor fixes to esti workflow
  .github/workflows/esti.yaml
Labels: exclude-changelog, minor-change

#7166 Change the delta lake catalog export behavior to read a table descriptor
  docs/howto/hooks/lua.md
  examples/hooks/delta_lake_S3_export.lua
  pkg/actions/lua/lakefs/catalogexport/delta_exporter.lua
  pkg/actions/testdata/lua/catalogexport_delta.lua
Labels: exclude-changelog, minor-change

#7175 Report statistics for commit metadata button clicks
  webui/src/pages/repositories/repository/commits/commit/metadata.tsx
Labels: area/UI, area/integrations, BI, include-changelog

#7170 HL Python SDK: Fix urllib3 dependency
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/setup.py
Labels: bug, exclude-changelog, python-sdk-changelog

#7172 HL Python SDK: Improve reference types docs
  clients/python-wrapper/docs/conf.py
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/tag.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/test_object.py
Labels: docs, exclude-changelog, python-wrapper

#7182 HL Python SDK: v0.1.2 release
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#7164 Unity catalog exporter: Databricks client
  go.mod
  go.sum
  pkg/actions/lua/databricks/client.go
  pkg/actions/lua/databricks/databricks.go
  pkg/actions/lua/open.go
Labels: exclude-changelog

#7187 Fix lua error using format string pattern on error
  pkg/actions/lua/crypto/aes/aes.go
  pkg/actions/lua/databricks/client.go
  pkg/actions/lua/encoding/base64/base64.go
  pkg/actions/lua/encoding/hex/hex.go
  pkg/actions/lua/encoding/json/json.go
  pkg/actions/lua/encoding/parquet/parquet.go
  pkg/actions/lua/encoding/yaml/yaml.go
  pkg/actions/lua/formats/delta.go
  pkg/actions/lua/lakefs/client.go
  pkg/actions/lua/net/http/request.go
  pkg/actions/lua/net/url/url.go
  pkg/actions/lua/regexp/regexp.go
  pkg/actions/lua/storage/aws/glue.go
  pkg/actions/lua/storage/aws/s3.go
  pkg/actions/lua/time/time.go
  pkg/actions/lua/util/deep_push.go
Labels: exclude-changelog

#7189 Lua: Insert format to all `lua.Errorf` calls
  pkg/actions/lua/databricks/client.go
Labels: exclude-changelog, minor-change

#7176 Unity catalog exporter: tests
  pkg/actions/lua/lakefs/catalogexport/unity_exporter.lua
  pkg/actions/lua_test.go
  pkg/actions/testdata/lua/catalogexport_unity.lua
Labels: exclude-changelog

#7190 HL Python SDK: Allow create reference types with commit object
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/reference.py
  clients/python-wrapper/lakefs/tag.py
  clients/python-wrapper/tests/integration/test_sanity.py
Labels: exclude-changelog, python-sdk-changelog

#7192 Metaclient: Skip dummy file when scanning metadata prefix
  clients/spark/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
  clients/spark/src/test/scala/io/treeverse/clients/LakeFSInputFormatSpec.scala
Labels: exclude-changelog

#7193 Update LakeFSInputFormatSpec.scala
  clients/spark/src/test/scala/io/treeverse/clients/LakeFSInputFormatSpec.scala
Labels: exclude-changelog, minor-change

#7194 Update build.sbt
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#7198 Update spark client changelog
  clients/spark/CHANGELOG.md
Labels: exclude-changelog, minor-change

#7183 Unity Catalog Export: Documentation
  docs/assets/img/unity_export_hook_result_log.png
  docs/assets/img/unity_exported_table_columns.png
  docs/howto/catalog_exports.md
  docs/howto/hooks/lua.md
  docs/integrations/unity_catalog.md
Labels: docs, exclude-changelog, team/devex

#7167 Unity catalog export implementation
  docs/assets/img/unity_export_hook_result_log.png
  docs/assets/img/unity_exported_table_columns.png
  docs/howto/catalog_exports.md
  docs/howto/hooks/lua.md
  docs/integrations/unity_catalog.md
  examples/hooks/delta_lake_S3_export.lua
  examples/hooks/unity_table_export.lua
  pkg/actions/lua/databricks/client.go
  pkg/actions/lua/lakefs/catalogexport/delta_exporter.lua
  pkg/actions/lua/lakefs/catalogexport/internal.lua
  pkg/actions/lua/lakefs/catalogexport/unity_exporter.lua
  pkg/actions/lua_test.go
  pkg/actions/testdata/lua/catalogexport_delta.lua
  pkg/actions/testdata/lua/catalogexport_unity.lua
Labels: include-changelog

#7196 Fix object access of uninitialized client
  clients/python-wrapper/lakefs/object.py
Labels: bug, contributor, exclude-changelog, python-sdk-changelog

#7204 Lua: add query unescape and fix Delta Export
  go.mod
  go.sum
  pkg/actions/lua/lakefs/catalogexport/delta_exporter.lua
  pkg/actions/lua/net/url/url.go
Labels: exclude-changelog, minor-change

#7201 Changelog 1.4.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7205 Add lakeFS version 1.4.0 to the compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7206 Unity Catalog Export: Docs update
  docs/integrations/unity_catalog.md
Labels: exclude-changelog, minor-change

#7200 HL Python SDK: Fix handling of buffers on exception
  .github/workflows/esti.yaml
  .github/workflows/python-wrapper-unit-tests.yaml
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/utests/common.py
  clients/python-wrapper/tests/utests/test_object.py
Labels: bug, contributor, exclude-changelog, python-wrapper, python-sdk-changelog

#7202 HL Python SDK: Implement Transactions
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/tests/integration/test_branch.py
  clients/python-wrapper/tests/integration/test_repository.py
  clients/python-wrapper/tests/integration/test_sanity.py
  clients/python-wrapper/tests/utests/test_branch.py
  docs/integrations/python.md
Labels: exclude-changelog, python-wrapper, python-sdk-changelog

#7212 HL Python SDK: Release 0.2.0
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#7213 fix typo in README.md.tmpl
  pkg/samplerepo/assets/sample/README.md.tmpl
Labels: exclude-changelog, minor-change

#7218 Link to docs over https
  clients/python-wrapper/README.md
Labels: pr/merge-if-approved, security, docs, exclude-changelog, minor-change, P3

#7223 Add nil check on flows that can cause panic
  pkg/auth/service.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/value.go
Labels: exclude-changelog, minor-change

#7210 Fix: return bad request on reset branch with unknown type
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/BranchesApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/BranchesApi.java
  clients/java/api/openapi.yaml
  clients/java/docs/BranchesApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/BranchesApi.java
  clients/python-legacy/docs/BranchesApi.md
  clients/python/docs/BranchesApi.md
  docs/assets/js/swagger.yml
  pkg/api/controller.go
Labels: bug, area/API, include-changelog

#7222 Add StopAt field to CommitLog action
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/RefsApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/RefsApiTest.java
  clients/java/api/openapi.yaml
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/RefsApi.java
  clients/java/src/test/java/io/lakefs/clients/sdk/RefsApiTest.java
  clients/python-legacy/docs/RefsApi.md
  clients/python-legacy/lakefs_client/api/refs_api.py
  clients/python/docs/RefsApi.md
  clients/python/lakefs_sdk/api/refs_api.py
  cmd/lakectl/cmd/log.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
Labels: area/API, area/lakectl, include-changelog

#7224 Dereference stop_at parameter for LogCommit action
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/RefsApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/java/api/openapi.yaml
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/RefsApi.java
  clients/python-legacy/docs/RefsApi.md
  clients/python-legacy/lakefs_client/api/refs_api.py
  clients/python/docs/RefsApi.md
  clients/python/lakefs_sdk/api/refs_api.py
  docs/assets/js/swagger.yml
  pkg/catalog/catalog.go
Labels: exclude-changelog, minor-change
