Repository treeverse/lakeFS, pull requests merged in 2023-03, with the labels that each got.

#5369 GetCommit API should return the commit reference for tag and branch
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
Labels: bug, area/API, include-changelog

#5374 [DX] Nit: remove ambiguity on wording
  cmd/lakectl/cmd/fs.go
  esti/golden/lakectl_fs_download.golden
  esti/golden/lakectl_fs_download_custom.golden
  esti/golden/lakectl_fs_download_recursive.golden
  esti/golden/lakectl_fs_download_recursive_custom.golden
Labels: exclude-changelog, minor-change

#5380 (fix) maven 3.0 finalName readonly in jar plugin
  .github/workflows/compatability-tests.yaml
  .github/workflows/esti.yaml
  clients/hadoopfs/pom.xml
Labels: exclude-changelog, minor-change

#5376 Update compatibility test GitHub workflow actions
  .github/workflows/compatability-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#5375 Fix test create branch with conflict
  pkg/api/controller_test.go
Labels: area/testing, exclude-changelog, minor-change

#5373 Use default storage namespace in local settings
  pkg/api/controller.go
  pkg/block/local/adapter.go
  pkg/block/namespace.go
  pkg/config/config.go
Labels: exclude-changelog

#5391 Update changelog v0.95.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5396 Update compatability-tests.yaml
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#5400 UI: Warn when no gc rules are defined for long living repos
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/settings/layout.jsx
Labels: include-changelog

#5405 nits
  docs/integrations/delta.md
Labels: docs, exclude-changelog, minor-change

#5402 Show delta table name with its operation-wise diff
  webui/src/lib/components/repository/changes.jsx
Labels: exclude-changelog, minor-change

#5292 Delta Diff plugin server
  pkg/api/controller.go
  pkg/plugins/diff/delta_diff_server/Cargo.lock
  pkg/plugins/diff/delta_diff_server/Cargo.toml
  pkg/plugins/diff/delta_diff_server/build.rs
  pkg/plugins/diff/delta_diff_server/src/delta_ops.rs
  pkg/plugins/diff/delta_diff_server/src/diff.rs
  pkg/plugins/diff/delta_diff_server/src/main.rs
  pkg/plugins/diff/delta_diff_server/src/utils.rs
Labels: exclude-changelog

#5397 lakectl: output commit log as dotgraph
  cmd/lakectl/cmd/log.go
  docs/reference/cli.md
Labels: area/lakectl, include-changelog, minor-change

#5412 Docs: fix copy-code button
  docs/_sass/custom/custom.scss
Labels: exclude-changelog, minor-change

#5410 Fix inconsistant setup state
  webui/src/pages/setup/index.jsx
Labels: include-changelog, minor-change

#5377 Improve GC prepare-commits call performance
  pkg/graveler/retention/expired_commits.go
  pkg/graveler/retention/expired_commits_test.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/graveler/testutil/fakes.go
Labels: performance, include-changelog

#5417 Changelog for v0.96.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5384 Add remote authenticator docs
  docs/reference/remote-authenticator.md
Labels: exclude-changelog, minor-change

#5420 Fix registration form
  webui/src/pages/setup/index.jsx
Labels: include-changelog, minor-change

#5423 Fix dispatch step
  .github/workflows/docker-publish.yaml
Labels: bug, exclude-changelog, minor-change

#5388 Add generated list of all actions
  Makefile
  pkg/permissions/actions.gen.go
  pkg/permissions/actions.go
  pkg/permissions/actions_test.go
  pkg/permissions/codegen/main.go
Labels: infrastructure, area/auth, exclude-changelog, team/cloud-native, refactor, minor-change

#5424 v0.96 compatibility tests
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#5425 Bug fix: identify treeItem types consistently
  webui/src/constants.ts
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/treeRows.jsx
Labels: exclude-changelog

#5429 Bump lakefs-spark-client version to 0.6.3
  clients/spark/build.sbt
Labels: area/client/spark, exclude-changelog, minor-change

#5418 DOCS - ACL migration
  docs/reference/ACL-migration.md
Labels: docs, exclude-changelog, minor-change

#5409 (Fix) Inconsistent marshaling in DDB KV
  pkg/kv/dynamodb/store.go
  pkg/kv/kvtest/store.go
Labels: bug, include-changelog

#5446 docs: update export client version 0.6.3
  docs/howto/export.md
Labels: docs, area/client/spark, exclude-changelog, minor-change

#5445 docs: update spark-client version 0.6.3
  docs/reference/spark-client.md
Labels: docs, area/client/spark, exclude-changelog, minor-change

#5444 docs: update garbage-collection client version 0.6.3
  docs/howto/garbage-collection.md
Labels: docs, area/client/spark, exclude-changelog, minor-change

#5447 Fix: S3 accept header prefer application/xml
  pkg/gateway/handler.go
Labels: bug, include-changelog

#5407 Delta Diff MVP: add makefile target
  Makefile
Labels: exclude-changelog

#5430 Improvement/duckdb dx
  webui/package-lock.json
  webui/package.json
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/repositories/repository/fileRenderers/data.tsx
  webui/src/pages/repositories/repository/fileRenderers/duckdb.tsx
  webui/src/pages/repositories/repository/fileRenderers/editor.jsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/styles/ghsyntax.css
  webui/src/styles/globals.css
Labels: include-changelog

#5451 Fix: UGC no uncommitted data
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
Labels: bug, exclude-changelog, team/versioning-engine

#5440 Pin just-the-docs version
  docs/_config.yml
Labels: docs, exclude-changelog, minor-change

#5442 Move Audit Logs from top-level to under 'Reference'
  docs/reference/audit.md
Labels: docs, exclude-changelog, minor-change

#5353 [docs] Add note re. running lakectl under Docker
  cmd/lakectl/cmd/docs.go
  docs/reference/cli.md
Labels: docs, exclude-changelog, minor-change

#5456 docs: update client changelog for v0.6.4
  clients/spark/CHANGELOG.md
Labels: docs, area/client/spark, exclude-changelog, minor-change

#5458 Update spark client version 0.6.4
  clients/spark/build.sbt
Labels: area/client/spark, exclude-changelog, minor-change

#5461 docs: spark client version 0.6.4
  docs/howto/export.md
  docs/howto/garbage-collection.md
  docs/reference/spark-client.md
Labels: docs, area/client/spark, exclude-changelog, minor-change

#5466 Add dependency note re. linting
  docs/contributing.md
Labels: docs, exclude-changelog, minor-change

#5398 Delta Diff MVP: add configurations and registration of Delta plugin
  cmd/lakefs/cmd/run.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/plugins/diff/service.go
  pkg/plugins/diff/service_test.go
  pkg/plugins/diff/table_diff.pb.go
  pkg/plugins/diff/table_diff_grpc.pb.go
  pkg/plugins/diff/test_utils.go
Labels: exclude-changelog

#5449 Display images in markdown with support for lakefs:// URIs
  package-lock.json
  webui/jest.config.ts
  webui/package-lock.json
  webui/package.json
  webui/src/lib/api/index.js
  webui/src/lib/remark-plugins/imageUriReplacer.spec.ts
  webui/src/lib/remark-plugins/imageUriReplacer.ts
  webui/src/main.test.ts
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
  webui/vite.config.js
Labels: include-changelog, team/cloud-native

#5467 fix uncommitted fs.exist negation
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: bug, exclude-changelog, team/versioning-engine, minor-change, GC+

#5469 Tidy up README and add link to lakeFS samples
  README.md
Labels: docs, exclude-changelog, minor-change

#5459 Doc nits
  docs/reference/authentication.md
  docs/reference/remote-authenticator.md
Labels: docs, exclude-changelog, minor-change

#5475 Clarify local import doc
  docs/howto/import.md
Labels: docs

#5479 Fix: read marked addresses
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: bug, exclude-changelog, team/versioning-engine, minor-change, GC+

#5474 Add tooltip for import button
  docs/howto/import.md
  webui/src/pages/repositories/repository/objects.jsx
Labels: include-changelog

#5476 docs: spark client update CHANGELOG for 0.6.5
  clients/spark/CHANGELOG.md
Labels: docs, area/client/spark, exclude-changelog, minor-change

#5478 Clients spark update version to 0.6.5
  clients/spark/build.sbt
Labels: area/client/spark, exclude-changelog, minor-change

#5490 Fix wrong package in package.json
  webui/package-lock.json
  webui/package.json
Labels: exclude-changelog, minor-change

#5488 docs: fix link to GitHub runner maven
  docs/contributing.md
Labels: docs, exclude-changelog, minor-change

#5500 Fix lakectl table write to non tty non string column
  cmd/lakectl/cmd/common_helpers.go
Labels: bug, area/lakectl, include-changelog

#5499 Fix s3 adapter access content length without nil check
  pkg/block/s3/adapter.go
Labels: bug, area/block-adapter, include-changelog

#5503 Use background context for batched code execution
  pkg/batch/executor.go
  pkg/batch/executor_test.go
  pkg/graveler/ref/manager.go
Labels: bug, area/API, include-changelog

#5483 cherry-pick a commit to a branch
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/BranchesApi.md
  clients/java/docs/CherryPickCreation.md
  clients/java/src/main/java/io/lakefs/clients/api/BranchesApi.java
  clients/java/src/main/java/io/lakefs/clients/api/JSON.java
  clients/java/src/main/java/io/lakefs/clients/api/model/CherryPickCreation.java
  clients/java/src/test/java/io/lakefs/clients/api/BranchesApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/CherryPickCreationTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/apis/tags/BranchesApi.md
  clients/python/docs/models/CherryPickCreation.md
  clients/python/lakefs_client/apis/path_to_api.py
  clients/python/lakefs_client/apis/paths/repositories_repository_branches_branch_cherry_pick.py
  clients/python/lakefs_client/apis/tags/branches_api.py
  clients/python/lakefs_client/model/cherry_pick_creation.py
  clients/python/lakefs_client/model/cherry_pick_creation.pyi
  clients/python/lakefs_client/models/__init__.py
  clients/python/lakefs_client/paths/__init__.py
  clients/python/lakefs_client/paths/repositories_repository_branches_branch_cherry_pick/__init__.py
  clients/python/lakefs_client/paths/repositories_repository_branches_branch_cherry_pick/post.py
  clients/python/lakefs_client/paths/repositories_repository_branches_branch_cherry_pick/post.pyi
  clients/python/test/test_models/test_cherry_pick_creation.py
  clients/python/test/test_paths/test_repositories_repository_branches_branch_cherry_pick/__init__.py
  clients/python/test/test_paths/test_repositories_repository_branches_branch_cherry_pick/test_post.py
  cmd/lakectl/cmd/cherry_pick.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  esti/golden/lakectl_cherry_pick.golden
  esti/golden/lakectl_help.golden
  esti/lakectl_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/interface.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/mock/graveler.go
  pkg/uri/parser.go
  pkg/validator/validate.go
Labels: area/lakectl, include-changelog

#5481 Esti: Avoid using bash
  .github/workflows/esti.yaml
  test/spark/docker-compose.yaml
  test/spark/requirements.txt
  test/spark/run-test.py
  test/spark/run-test.sh
  test/spark/setup-exporter-test.sh
  test/spark/setup-test.sh
  test/spark/tester.env
Labels: exclude-changelog

#5515 docs: Update branch protection RBAC information
  docs/reference/rbac.md
Labels: docs, exclude-changelog, minor-change

#5511 Fix compatibility tests
  .github/workflows/compatability-tests.yaml
  test/spark/requirements.txt
  test/spark/run-test.py
Labels: exclude-changelog, minor-change

#5516 Fix BranchSimpleIterator panic on close after failed SeekGE
  pkg/graveler/ref/branch_iterator.go
Labels: bug, include-changelog

#5512 DynamoDB KV error count without context cancellation
  pkg/kv/dynamodb/store.go
Labels: include-changelog, area/KV

#5317 Add block adapters unit tests
  cmd/lakectl/cmd/ingest.go
  esti/store_test.go
  esti/ugc_test.go
  go.mod
  go.sum
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/azure/adapter_test.go
  pkg/block/azure/client_cache.go
  pkg/block/azure/client_test.go
  pkg/block/azure/main_test.go
  pkg/block/azure/walker.go
  pkg/block/blocktest/adapter.go
  pkg/block/errors.go
  pkg/block/factory/build.go
  pkg/block/gs/adapter.go
  pkg/block/gs/walker.go
  pkg/block/local/adapter.go
  pkg/block/local/adapter_test.go
  pkg/block/local/walker.go
  pkg/block/mem/adapter.go
  pkg/block/mem/adapter_test.go
  pkg/block/namespace.go
  pkg/block/namespace_test.go
  pkg/block/params/block.go
  pkg/block/s3/adapter.go
  pkg/block/s3/walker.go
  pkg/block/transient/adapter.go
  pkg/block/walker.go
  pkg/catalog/catalog.go
  pkg/catalog/interface.go
  pkg/catalog/testutils/testutils.go
  pkg/catalog/walk_entry_iterator.go
  pkg/config/config.go
  pkg/gateway/operations/mock_adapter_test.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/ingest/store/factory.go
  pkg/kv/dynamodb/store_test.go
  pkg/kv/kvtest/store.go
  pkg/kv/local/store_test.go
  pkg/kv/mem/store_test.go
  pkg/kv/postgres/store_test.go
  pkg/templater/expander.go
Labels: exclude-changelog, team/versioning-engine

#5527 Use SetMsgIf in policy update
  pkg/auth/service.go
Labels: exclude-changelog

#5523 5522 remove stack trace from UI
  webui/src/lib/components/controls.jsx
Labels: include-changelog

#5519 Fix: Local adapter check address on stage
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/python/docs/apis/tags/ObjectsApi.md
  clients/python/lakefs_client/paths/repositories_repository_branches_branch_objects/put.py
  clients/python/lakefs_client/paths/repositories_repository_branches_branch_objects/put.pyi
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/block/local/adapter.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/loadtest/local_load_test.go
Labels: bug, exclude-changelog, team/versioning-engine

#5514 test: fix controller test missing checks
  pkg/api/controller_test.go
Labels: area/testing, exclude-changelog, minor-change

#5529 Cherry picks manual: proofreading
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/BranchesApi.md
  clients/java/src/main/java/io/lakefs/clients/api/BranchesApi.java
  clients/java/src/test/java/io/lakefs/clients/api/BranchesApiTest.java
  clients/python/README.md
  clients/python/docs/apis/tags/BranchesApi.md
  clients/python/lakefs_client/paths/repositories_repository_branches_branch_cherry_pick/post.py
  clients/python/lakefs_client/paths/repositories_repository_branches_branch_cherry_pick/post.pyi
  clients/python/test/test_paths/test_repositories_repository_branches_branch_cherry_pick/test_post.py
  cmd/lakectl/cmd/cherry_pick.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  esti/golden/lakectl_help.golden
  pkg/catalog/interface.go
Labels: exclude-changelog, minor-change

#5534 Delta Diff: fix bug hunt bugs
  pkg/plugins/diff/delta_diff_server/src/main.rs
Labels: exclude-changelog, minor-change

#5536 Fix UI DuckDB fix re-query updated data
  webui/src/pages/repositories/repository/fileRenderers/data.tsx
  webui/src/pages/repositories/repository/fileRenderers/duckdb.tsx
Labels: bug, area/UI, include-changelog

#5239 UI presigned URL
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/StorageConfig.md
  clients/java/src/main/java/io/lakefs/clients/api/model/StorageConfig.java
  clients/java/src/test/java/io/lakefs/clients/api/model/StorageConfigTest.java
  clients/python/docs/models/StorageConfig.md
  clients/python/lakefs_client/model/storage_config.py
  clients/python/lakefs_client/model/storage_config.pyi
  docs/assets/js/swagger.yml
  docs/reference/configuration.md
  docs/reference/presigned-url.md
  pkg/api/controller.go
  pkg/block/azure/adapter.go
  pkg/block/factory/build.go
  pkg/block/gs/adapter.go
  pkg/block/namespace.go
  pkg/block/params/block.go
  pkg/block/s3/adapter.go
  pkg/block/transient/adapter.go
  pkg/config/config.go
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
  webui/src/pages/repositories/repository/fileRenderers/types.tsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/pages/repositories/repository/objects.jsx
Labels: exclude-changelog

#5346 HadoopFS with pre-signed links
  .github/workflows/esti.yaml
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/Constants.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSClient.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/CreateOutputStreamParams.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/HttpRangeInputStream.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/LakeFSFileSystemOutputStream.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/LinkOnCloseOutputStream.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/MetadataClient.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/PhysicalAddressTranslator.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/PresignedStorageAccessStrategy.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/SimpleStorageAccessStrategy.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/StorageAccessStrategy.java
  clients/hadoopfs/src/main/resources/log4j.properties
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemPresignedModeTest.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemSimpleModeTest.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemTest.java
  clients/hadoopfs/src/test/java/io/lakefs/contract/LakeFSContract.java
  clients/hadoopfs/src/test/java/io/lakefs/storage/HttpRangeInputStreamTest.java
  test/spark/run-test.py
Labels: include-changelog

#5541 Fix/compatibility tests
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#5532 UI fix object name wrap
  webui/src/styles/globals.css
Labels: area/UI, include-changelog

#5540 Hadoopfs/fix abstraction leak
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSLinker.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/LakeFSFileSystemOutputStream.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/LinkOnCloseOutputStream.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/PresignedStorageAccessStrategy.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/SimpleStorageAccessStrategy.java
Labels: exclude-changelog

#5506 Delta Lake diff: Add documentation for the Delta Lake diff plugin
  docs/assets/img/delta-diff-operations.png
  docs/assets/img/delta-diff-table-icon.png
  docs/contributing.md
  docs/integrations/delta.md
  docs/reference/configuration.md
Labels: include-changelog

#5546 Delta Lake: Update Dockerfile base images to Alpine
  Dockerfile
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose.yaml
Labels: exclude-changelog, minor-change

#5508 Delta Lake Diff: Enable feature
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  Dockerfile
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose.yaml
  pkg/plugins/diff/delta_diff_server/src/main.rs
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/treeRows.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/styles/globals.css
  webui/src/util/tablesUtil.jsx
Labels: include-changelog

#5496 Delta Lake Diff: Dockerfile
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  Dockerfile
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose.yaml
  pkg/plugins/diff/delta_diff_server/src/main.rs
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/treeRows.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/styles/globals.css
  webui/src/util/tablesUtil.jsx
Labels: exclude-changelog, pr/do-not-merge

#5547 Change DockerHub repo for the experimental docker workflow
  .github/workflows/docker-publish-exp-image.yaml
Labels: exclude-changelog, minor-change

#5495 Delta Lake Diff: Change default plugin loading
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  Dockerfile
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose.yaml
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/plugins/diff/delta_diff_server/src/main.rs
  pkg/plugins/diff/service.go
  pkg/plugins/diff/service_test.go
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/treeRows.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/styles/globals.css
  webui/src/util/tablesUtil.jsx
Labels: exclude-changelog, minor-change

#5427 Delta Lake Diff MVP: Update releaser and rename plugin artifact
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/goreleaser.yaml
  .goreleaser.yml
  Dockerfile
  Makefile
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose.yaml
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/plugins/diff/delta_diff_server/Cargo.lock
  pkg/plugins/diff/delta_diff_server/Cargo.toml
  pkg/plugins/diff/delta_diff_server/src/main.rs
  pkg/plugins/diff/service.go
  pkg/plugins/diff/service_test.go
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/treeRows.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/styles/globals.css
  webui/src/util/tablesUtil.jsx
Labels: include-changelog, pr/do-not-merge

#5551 changelog-v0.97.0
  CHANGELOG.md
Labels: exclude-changelog

#5535 Docs: GC - cleanup
  docs/howto/garbage-collection-committed.md
  docs/howto/garbage-collection-index.md
  docs/howto/garbage-collection-uncommitted.md
  docs/howto/garbage-collection.md
  docs/howto/gc-internals.md
Labels: exclude-changelog, minor-change

#5554 Add /delta to gitignore so it will not fail goreleaser + manual release
  .github/workflows/goreleaser.yaml
  .gitignore
Labels: exclude-changelog, minor-change

#5555 docs/fix typo
  docs/deploy/aws.md
Labels: exclude-changelog, minor-change

#5556 fix doc redirect
  docs/howto/garbage-collection-committed.md
Labels: exclude-changelog, minor-change

#5558 Fix goreleaser + promote to 0.97.2
  .goreleaser.yml
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5559 Write correct files in the releaser workflow + Replace deprecated flag
  .github/workflows/goreleaser.yaml
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5561 Add lakeFS version 0.97.3 to the compatibility tests workflow
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#5562 Fix broken image, add redirect, fix text
  docs/hooks/overview.md
  docs/reference/audit.md
Labels: docs, exclude-changelog, minor-change

#5457 Add default Utc TZ env var to jekyll example
  docs/contributing.md
Labels: docs, exclude-changelog, minor-change

#5543 Tidy up and make config page easier to read
  docs/reference/configuration.md
Labels: docs, exclude-changelog, minor-change

#5533 Docs: import to lakeFS - cleanup
  docs/assets/img/UI-Import-Dialog.png
  docs/assets/img/ui-import-completed.png
  docs/assets/img/ui-import-waiting.png
  docs/howto/import.md
Labels: exclude-changelog, minor-change

#5573 Max width change: docs
  docs/_sass/custom/custom.scss
Labels: exclude-changelog, minor-change

#5574 Update lakeFS changelog to 0.97.4
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5576 Compatibility tests: add 0.97.4
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#5579 Docs: tabs with borders
  docs/_sass/custom/custom.scss
Labels: exclude-changelog, minor-change

#5583 Fix: dotgraph commit urls are broken
  cmd/lakectl/cmd/log.go
Labels: bug, area/UI, include-changelog, minor-change

#5584 Spark docs: move S3-compatible API to top
  docs/integrations/spark.md
Labels: exclude-changelog, minor-change

#5563 Fix azure data lake v2 import
  .github/workflows/esti.yaml
  docs/howto/import.md
  esti/import_test.go
  esti/ops/docker-compose.yaml
  pkg/block/azure/client_test.go
  pkg/block/azure/walker.go
  pkg/ingest/store/factory.go
Labels: bug, include-changelog

#5585 Docs: HadoopFS presigned mode
  docs/_sass/custom/custom.scss
  docs/integrations/spark.md
Labels: exclude-changelog, minor-change

#5589 Update compatability-tests.yaml
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#5592 Fix goreleaser binary names
  .goreleaser.yml
Labels: exclude-changelog, minor-change

#5578 Bump SBT version
  clients/spark/build.sbt
  clients/spark/project/build.properties
Labels: infrastructure, area/client/spark, exclude-changelog, team/ecosystem, minor-change

#5595 Docker experimental image publish: Add target input
  .github/workflows/docker-publish-exp-image.yaml
Labels: exclude-changelog, minor-change

#5596 Docker publish on release only
  .github/workflows/docker-publish.yaml
Labels: exclude-changelog, minor-change

#5601 Preview Build and Check links for any doc PRs
  .github/workflows/docs-pr.yaml
Labels: docs, include-changelog, minor-change
