Repository treeverse/lakeFS, pull requests merged in 2023-05, with the labels that each got.

#5773 Esti: caching improvements
  .github/workflows/esti.yaml
Labels: exclude-changelog, minor-change

#5365 Proposal/pull checks
  design/open/DOLLAR_PULLS.md
  design/open/diagrams/pulls-create.excalidraw
  design/open/diagrams/pulls-create.png
  design/open/diagrams/pulls-list.excalidraw
  design/open/diagrams/pulls-list.png
Labels: exclude-changelog, team/versioning-engine, minor-change

#5776 Uncommitted gc always read deleted addresses for bulk remove
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: include-changelog, GC+

#5742 GC: Incremental GC added condition and comments
  pkg/graveler/retention/expired_commits.go
  pkg/graveler/retention/expired_commits_test.go
Labels: exclude-changelog

#5785 System test check auth with multiple group names
  esti/auth_test.go
Labels: area/testing, exclude-changelog, minor-change

#5786 Test fix auth group name
  esti/auth_test.go
Labels: area/testing, exclude-changelog, minor-change

#5655 Correctly read command pipes in esti/gc runCommand
  esti/gc_utils_test.go
Labels: pr/merge-if-approved, area/system-tests, area/client/spark, exclude-changelog, team/ecosystem

#5700 More proofreading
  docs/_sass/custom/custom.scss
  docs/cloud/auditing.md
  docs/deploy/azure.md
  docs/hooks/overview.md
  docs/hooks/webhooks.md
  docs/howto/export.md
  docs/howto/garbage-collection-committed.md
  docs/integrations/aws_cli.md
  docs/integrations/dremio.md
  docs/integrations/iceberg.md
  docs/integrations/kubeflow.md
  docs/integrations/presto_trino.md
  docs/posts/security_update.md
  docs/quickstart/commit-and-merge.md
  docs/quickstart/launch.md
  docs/quickstart/learning-more-lakefs.md
  docs/quickstart/query.md
  docs/reference/access-control-lists.md
  docs/reference/authentication.md
  docs/reference/remote-authenticator.md
  docs/understand/architecture.md
  docs/understand/glossary.md
  docs/understand/how/kv.md
  docs/use_cases/cicd_for_data.md
  docs/use_cases/rollback.md
Labels: exclude-changelog, minor-change

#5788 Chore/client spark v0.7.2
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
Labels: area/client/spark, exclude-changelog, minor-change

#5789 Fix ACL redirect
  docs/reference/access-control-lists.md
Labels: docs, exclude-changelog, minor-change

#5790 docs: update spark client version from 0.6.5 to 0.7.2
  docs/howto/export.md
  docs/howto/garbage-collection-committed.md
  docs/reference/spark-client.md
Labels: docs, area/client/spark, exclude-changelog, minor-change

#5794 Fix lakectl docs link - prevent redirect
  webui/src/pages/setup/setupComplete.tsx
Labels: area/UI, exclude-changelog

#5792 Fix warning on write group for ACL while setup lakeFS
  pkg/auth/setup/setup.go
Labels: pr/merge-if-approved, include-changelog

#5796 Update playground references to "playground environment" instead of p…
  docs/use_cases/etl_testing.md
Labels: docs, exclude-changelog, minor-change

#5814 Rename branch operation to reset
  webui/src/lib/api/index.js
  webui/src/pages/repositories/repository/changes.jsx
Labels: exclude-changelog, team/versioning-engine

#5818 UI: require admin username on initial setup
  webui/src/pages/setup/index.jsx
Labels: bug, area/UI, include-changelog

#5817 Fix uncommitted gc to handle no uncommitted location
  clients/spark/build.sbt
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: bug, include-changelog, GC+

#5819 lakectl: validate fs upload path is not empty
  cmd/lakectl/cmd/fs.go
Labels: area/lakectl, include-changelog

#5799 Add permissions explanation to import
  docs/howto/import.md
Labels: exclude-changelog

#5821 Update spark client release to 0.7.3
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
  docs/howto/export.md
  docs/howto/garbage-collection-committed.md
  docs/reference/spark-client.md
Labels: area/client/spark, exclude-changelog, minor-change

#5820 test: fix local flakiness while keeping unique identifiers
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/block/mem/adapter.go
  pkg/catalog/catalog_test.go
  pkg/catalog/uncommitted_iterator_test.go
  pkg/graveler/retention/garbage_collection_manager_test.go
  pkg/pyramid/tier_fs_test.go
Labels: area/testing, exclude-changelog

#5822 Add cookie consent to docs
  docs/_includes/head_custom.html
  docs/assets/css/cookieconsent.css
  docs/assets/img/cookies.png
  docs/assets/js/cookieconsent-init.js
  docs/assets/js/cookieconsent.js
Labels: exclude-changelog, minor-change

#5826 GC: return presigned URL together with prepared commits
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/GarbageCollectionPrepareResponse.md
  clients/java/src/main/java/io/lakefs/clients/api/model/GarbageCollectionPrepareResponse.java
  clients/java/src/test/java/io/lakefs/clients/api/model/GarbageCollectionPrepareResponseTest.java
  clients/python/docs/GarbageCollectionPrepareResponse.md
  clients/python/lakefs_client/model/garbage_collection_prepare_response.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
Labels: exclude-changelog, minor-change

#5831 Fix lakectl refs-dump output should be valid JSON
  cmd/lakectl/cmd/refs.go
Labels: bug, area/lakectl, include-changelog

#5833 Add metarange creation perm to Developers & Writers
  pkg/auth/base.go
  pkg/auth/migrate/rbac_to_acl_test.go
  pkg/auth/service_test.go
Labels: area/auth, include-changelog

#5834 Remove rbac to acl migration
  cmd/lakefs/cmd/migrate.go
  pkg/auth/migrate/rbac_to_acl.go
  pkg/auth/migrate/rbac_to_acl_test.go
Labels: exclude-changelog, minor-change

#5828 Add metarange ID to gc commits
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/GarbageCollectorSpec.scala
  pkg/graveler/retention/expired_commits.go
  pkg/graveler/retention/expired_commits_test.go
  pkg/graveler/retention/garbage_collection_manager.go
Labels: exclude-changelog, minor-change

#5824 UI | Remove permission tab from Groups view in RBAC mode
  webui/src/pages/auth/groups/index.tsx
Labels: exclude-changelog, minor-change

#5838 Remove auth API pass and use username with credentials
  api/authorization.yml
  cmd/lakefs-loadtest/cmd/root.go
  pkg/auth/errors.go
  pkg/auth/service.go
Labels: area/API, area/auth, include-changelog

#5846 Fixed a couple of typos in index.md
  docs/index.md
Labels: contributor, exclude-changelog, minor-change

#5839 Split treeverse/lakefs into 2 images, without duckdb by default
  Dockerfile
  Makefile
Labels: bug, infrastructure, include-changelog

#5848 Add CHANGELOG for v0.100.0
  CHANGELOG.md
Labels: release-blocker, infrastructure, exclude-changelog, minor-change

#5850 Fix brew tap to use the right token
  .goreleaser.yml
Labels: infrastructure, exclude-changelog, minor-change

#5852 Add v0.100.0 to compatibility tests
  .github/workflows/compatability-tests.yaml
Labels: pr/merge-if-approved, area/testing, infrastructure, exclude-changelog, minor-change

#5782 CGC: Log Run ID after sweep
  clients/spark/core/src/main/scala/io/treeverse/clients/BulkRemoverFactory.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/StorageClients.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/StorageUtils.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog

#5856 Upgrade from using pgx v4 to v5
  go.mod
  go.sum
  pkg/config/config.go
  pkg/kv/postgres/main_test.go
  pkg/kv/postgres/store.go
  pkg/testutil/db.go
Labels: exclude-changelog, minor-change

#5853 Remove unused playground related step
  .github/workflows/docker-publish.yaml
Labels: exclude-changelog, minor-change

#5864 Fix permissions for read-write policy
  docs/reference/rbac.md
  pkg/api/controller.go
  pkg/auth/base.go
  pkg/permissions/actions.go
Labels: exclude-changelog

#5860 lakeFS setup for non-external RBAC mode
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  docs/reference/configuration.md
  docs/reference/rbac.md
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/auth/setup/setup.go
  pkg/config/config.go
Labels: area/auth, include-changelog

#5870 Upgrade go packages with dependencies to fix some code vulnerabilities
  go.mod
  go.sum
  pkg/version/latest.go
Labels: exclude-changelog, minor-change

#5322 Support TLS for lakeFS
  cmd/lakefs/cmd/run.go
  docs/deploy/onprem.md
  docs/reference/configuration.md
  pkg/config/config.go
Labels: new-feature, include-changelog

#5883 Docs for Azure Private Link
  docs/cloud/azure-private-link.md
Labels: exclude-changelog, minor-change

#5880 Listing first user faster while asking for amount:1
  pkg/auth/service.go
  pkg/auth/service_test.go
Labels: performance, area/auth, exclude-changelog

#5881 Fix after-setup page line breaks
  webui/src/pages/setup/setupComplete.tsx
Labels: bug, area/UI, exclude-changelog

#5878 Add signup step back in to Quickstart
  docs/quickstart/branch.md
  docs/quickstart/launch.md
  pkg/samplerepo/assets/sample/README.md
Labels: include-changelog, minor-change

#5865 CGC: Incremental Run - Default behavior
  clients/spark/core/src/main/scala/io/treeverse/clients/BulkRemoverFactory.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/StorageClients.scala
  clients/spark/core/src/main/scala/io/treeverse/gc/UncommittedGarbageCollector.scala
Labels: exclude-changelog

#5897 Disable version upgrade notification on dev versions
  pkg/version/latest.go
  pkg/version/latest_test.go
Labels: exclude-changelog, minor-change

#5867 CGC: Incremental Run - Higher iteration run
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
Labels: exclude-changelog

#5899 Accept lakeFS / Airflow metadata design
  design/accepted/commit-metadata/airflow.md
Labels: pr/merge-if-approved, docs, exclude-changelog, minor-change

#5907 Fix UI rename Error control to AlertError fixing conflict with class
  webui/src/lib/components/auth/credentials.jsx
  webui/src/lib/components/auth/forms.jsx
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/policy.jsx
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/lib/components/repository/TableDiff.jsx
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/tree.jsx
  webui/src/pages/auth/credentials.jsx
  webui/src/pages/auth/groups/group/members.jsx
  webui/src/pages/auth/groups/group/policies.jsx
  webui/src/pages/auth/groups/index.tsx
  webui/src/pages/auth/login.tsx
  webui/src/pages/auth/policies/index.jsx
  webui/src/pages/auth/policies/policy.jsx
  webui/src/pages/auth/reset-password.jsx
  webui/src/pages/auth/users/create-user-with-password.jsx
  webui/src/pages/auth/users/index.jsx
  webui/src/pages/auth/users/user/credentials.jsx
  webui/src/pages/auth/users/user/effectivePolicies.jsx
  webui/src/pages/auth/users/user/groups.jsx
  webui/src/pages/auth/users/user/policies.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/actions/index.jsx
  webui/src/pages/repositories/repository/actions/run/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/commits/commit/index.tsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/error.jsx
  webui/src/pages/repositories/repository/fileRenderers/data.tsx
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/settings/branches.jsx
  webui/src/pages/repositories/repository/settings/general.jsx
  webui/src/pages/repositories/repository/settings/retention.jsx
  webui/src/pages/repositories/repository/tags.jsx
  webui/src/pages/setup/userConfiguration.tsx
Labels: bug, area/UI, include-changelog

#5894 Generate JWT while working with auth API when non is configured
  cmd/lakefs/cmd/run.go
  go.mod
  pkg/api/auth_middleware.go
  pkg/auth/service.go
  pkg/auth/service_test.go
Labels: area/auth, include-changelog

#5908 Remove obsolete docker-compose.yml from root of repo
  docker-compose.yaml
Labels: exclude-changelog, minor-change

#5890 Incremental GC: Keep reachable previously expired GC commits
  pkg/graveler/retention/expired_commits.go
  pkg/graveler/retention/expired_commits_test.go
Labels: bug, exclude-changelog

#5911 Incremental CGC: Add full GC fallback flag
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
Labels: exclude-changelog, minor-change

#5912 CGC - Release
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#5910 Create repository action use ref for additional information
  pkg/api/controller.go
Labels: BI, exclude-changelog, minor-change

#5909 Update quickstart URL
  cmd/lakefs/cmd/run.go
Labels: exclude-changelog, minor-change

#5920 Remove unused package-lock.json
  package-lock.json
Labels: exclude-changelog, minor-change

#5919 Update spark metadata client docs to version 0.8.0
  docs/howto/export.md
  docs/howto/garbage-collection-committed.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#5922 Fix loading metadata cache with path separator prefix
  pkg/pyramid/tier_fs.go
Labels: include-changelog

#5884 Remove email authenticator middleware
  cmd/lakefs/cmd/run.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/auth/authenticator.go
  pkg/loadtest/local_load_test.go
Labels: improvement, area/auth, include-changelog

#5918 Pyramid (TierFS): Random temporary file name
  pkg/pyramid/directory.go
  pkg/pyramid/directory_test.go
  pkg/pyramid/tier_fs.go
Labels: exclude-changelog, minor-change

#5925 docs: update changelog for v0.101.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5929 docs: fix release github workflow git push
  .github/workflows/docs-release.yaml
Labels: docs, infrastructure, exclude-changelog, minor-change

#5882 Deprecate ingest command
  cmd/lakectl/cmd/ingest.go
  docs/howto/import.md
  esti/golden/lakectl_help.golden
Labels: include-changelog, import-refactor

#5933 Changelog v101.0 with import
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5931 docs: fix github release documentation flow
  .github/scripts/push-repo.sh
  .github/workflows/docs-release.yaml
Labels: docs, infrastructure, exclude-changelog, minor-change

#5935 Detach stats-auth packages dependency
  pkg/auth/metadata.go
  pkg/stats/metadata.go
Labels: exclude-changelog, minor-change

#5936 GC: Read provided mark ID's run id in case that the run is a sweep-only run
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: bug, include-changelog, minor-change

#5938 GC: Update to version to 0.8.1
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#5939 Docs: GC version 0.8.1
  docs/howto/export.md
  docs/howto/garbage-collection-committed.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change, CGC

#5944 Fix breadcrumb nav visibility
  docs/_sass/custom/custom.scss
Labels: docs, exclude-changelog, minor-change

#5956 Avoid panics after errors in log-commits
  pkg/catalog/catalog.go
Labels: area/cataloger, include-changelog

#5958 docs: update ruby and gem packages for docs generation
  .github/workflows/docs-latest.yaml
  .github/workflows/docs-pr.yaml
  .github/workflows/docs-release.yaml
  .github/workflows/python-api-client.yaml
  docs/Gemfile.lock
Labels: docs, exclude-changelog, minor-change

#5961 docs: python client docs gem update
  clients/python/Gemfile.lock
Labels: docs, area/sdk/python, exclude-changelog, minor-change

#5927 SSO/RBAC Docs update
  docs/enterprise/sso.md
Labels: docs, exclude-changelog

#5963 Update cargo packages for delta diff server
  pkg/plugins/diff/delta_diff_server/Cargo.lock
Labels: exclude-changelog, minor-change

#5964 delta diff use clippy to fix lint issues
  pkg/plugins/diff/delta_diff_server/src/delta_ops.rs
  pkg/plugins/diff/delta_diff_server/src/main.rs
  pkg/plugins/diff/delta_diff_server/src/utils.rs
Labels: exclude-changelog, minor-change

#5970 Fix extended stats user id report
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: include-changelog

#5969 UGC prepare configurable max file size and produce time
  docs/reference/configuration.md
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/catalog/gc_write_uncommitted.go
  pkg/config/config.go
  pkg/config/defaults.go
Labels: include-changelog

#5975 docs: fix links and some text in enterprise sso
  docs/enterprise/sso.md
Labels: docs, exclude-changelog, minor-change

#5977 UI remove console.log from metadata edit
  webui/src/lib/components/repository/changes.jsx
Labels: pr/merge-if-approved, area/UI, exclude-changelog, minor-change

#5966 Delta Diff: Restore delta diff configurations docs
  docs/reference/configuration.md
Labels: exclude-changelog, minor-change

#5953 Import with MergeFromMetaRange
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/ImportStatusResp.md
  clients/java/src/main/java/io/lakefs/clients/api/model/ImportStatusResp.java
  clients/java/src/test/java/io/lakefs/clients/api/model/ImportStatusRespTest.java
  clients/python/docs/ImportStatusResp.md
  clients/python/lakefs_client/model/import_status_resp.py
  cmd/lakectl/cmd/commit.go
  cmd/lakectl/cmd/import.go
  docs/assets/img/UI-Import-Dialog.png
  docs/assets/js/swagger.yml
  docs/howto/import.md
  docs/reference/cli.md
  docs/reference/rbac.md
  esti/golden/lakectl_help.golden
  esti/golden/lakectl_import.golden
  esti/golden/lakectl_import_and_merge.golden
  esti/golden/lakectl_import_with_message.golden
  esti/import_test.go
  esti/lakectl_test.go
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/catalog/import.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/merge.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/graveler_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/model.go
  webui/src/lib/api/index.js
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/services/import_data.jsx
Labels: include-changelog, team/versioning-engine, import-refactor

#5979 Add repo naming requirements
  docs/understand/model.md
Labels: docs, exclude-changelog, minor-change

#5982 Fix branch truncation in object viewer
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/pages/repositories/repository/objects.jsx
Labels: bug, area/UI, include-changelog

#5942 Migrations: Revert remove ACL migration
  cmd/lakefs/cmd/migrate.go
  cmd/lakefs/cmd/migrate_test.go
  pkg/auth/base.go
  pkg/kv/migration.go
  pkg/kv/migrations/import_permissions.go
  pkg/kv/migrations/migrations_test.go
  pkg/kv/migrations/rbac_to_acl.go
  pkg/kv/migrations/utils.go
Labels: include-changelog, team/versioning-engine

#5115 Merge API response - remove summary field
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/MergeResult.md
  clients/java/docs/MergeResultSummary.md
  clients/java/src/main/java/io/lakefs/clients/api/model/MergeResult.java
  clients/java/src/main/java/io/lakefs/clients/api/model/MergeResultSummary.java
  clients/java/src/test/java/io/lakefs/clients/api/model/MergeResultSummaryTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/MergeResultTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/MergeResult.md
  clients/python/docs/MergeResultSummary.md
  clients/python/lakefs_client/model/merge_result.py
  clients/python/lakefs_client/model/merge_result_summary.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_merge_result.py
  clients/python/test/test_merge_result_summary.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
Labels: area/API, include-changelog

#5985 Split and publish lakefs duckdb build and images
  .github/workflows/docker-publish.yaml
  Dockerfile
  Dockerfile.duckdb
Labels: include-changelog

#5988 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5989 fix lakefs release tag in docker duckdb build
  .github/workflows/docker-publish.yaml
Labels: infrastructure, exclude-changelog, minor-change

#5990 docker publish workflow manual control tag
  .github/workflows/docker-publish.yaml
Labels: infrastructure, exclude-changelog, minor-change
