Repository treeverse/lakeFS, pull requests merged in 2023-04, with the labels that each got.

#5570 Performance: LogCommits to fetch ranges only when needed
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/meta_range.go
  pkg/graveler/committed/meta_range_manager.go
  pkg/graveler/committed/mock/meta_range.go
  pkg/graveler/committed/range_manager.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/sstable/range_manager.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog

#5600 Fix 404s and redirecting links
  docs/howto/garbage-collection-uncommitted.md
  docs/howto/sizing-guide.md
  docs/integrations/athena.md
  docs/integrations/dbt.md
  docs/integrations/delta.md
  docs/integrations/kubeflow.md
  docs/reference/authentication.md
  docs/reference/configuration.md
  docs/understand/architecture.md
  docs/understand/glossary.md
  docs/use_cases/etl_testing.md
Labels: docs, exclude-changelog, minor-change

#5567 Delta Lake Diff: Structured config + Error handling
  pkg/api/controller.go
  pkg/config/config.go
  pkg/plugins/diff/service.go
  pkg/plugins/diff/service_test.go
  pkg/plugins/internal/manager.go
Labels: exclude-changelog

#5581 Delta Lake diff: Upgrade delta-rs crate version
  pkg/plugins/diff/delta_diff_server/Cargo.lock
  pkg/plugins/diff/delta_diff_server/Cargo.toml
  pkg/plugins/diff/delta_diff_server/src/delta_ops.rs
  pkg/plugins/diff/delta_diff_server/src/main.rs
  pkg/plugins/diff/delta_diff_server/src/utils.rs
Labels: exclude-changelog, minor-change

#5615 Bump Java version in SBT
  clients/spark/build.sbt
Labels: pr/merge-if-approved, infrastructure, area/client/spark, include-changelog, team/ecosystem, tech debt, minor-change

#5602 Safer fs for config in HadoopFS
  clients/hadoopfs/CHANGELOG.md
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
Labels: include-changelog

#5565 New Quickstart
  docs/_config.yml
  docs/_layouts/default.html
  docs/_sass/custom/custom.scss
  docs/assets/img/quickstart/axolotl.png
  docs/assets/img/quickstart/duckdb-main-01.png
  docs/assets/img/quickstart/duckdb-main-02.png
  docs/assets/img/quickstart/duckdb-main-03.png
  docs/assets/img/quickstart/lakefs-login-screen.png
  docs/assets/img/quickstart/quickstart-step-01.png
  docs/assets/img/quickstart/quickstart-step-02.png
  docs/assets/img/quickstart/quickstart-step-03.png
  docs/assets/img/quickstart/quickstart-step-04.png
  docs/assets/img/quickstart/quickstart-step-05.png
  docs/assets/img/quickstart/repo-contents.png
  docs/assets/img/quickstart/repo-list.png
  docs/deploy/onprem.md
  docs/howto/import.md
  docs/integrations/airflow.md
  docs/integrations/delta.md
  docs/integrations/kubeflow.md
  docs/quickstart/add_data.md
  docs/quickstart/branch.md
  docs/quickstart/commit-and-merge.md
  docs/quickstart/first_commit.md
  docs/quickstart/index.md
  docs/quickstart/launch.md
  docs/quickstart/learning-more-lakefs.md
  docs/quickstart/more_quickstart_options.md
  docs/quickstart/query.md
  docs/quickstart/repository.md
  docs/quickstart/rollback.md
  docs/quickstart/run.md
  quickstart/Dockerfile
  quickstart/docker-compose.yml
  quickstart/lakes.parquet
  quickstart/lakes.source.md
  quickstart/lakes.source.txt
Labels: docs, exclude-changelog, minor-change

#5575 Cloud and Enterprise Docs
  docs/cloud/auditing.md
  docs/cloud/index.md
  docs/cloud/managed-gc.md
  docs/cloud/private-link.md
  docs/cloud/setup-azure.md
  docs/cloud/sso.md
  docs/commitment.md
  docs/contributing.md
  docs/enterprise/index.md
  docs/enterprise/sso.md
  docs/reference/access-control-list.md
  docs/reference/index.md
  docs/reference/rbac.md
  docs/roadmap.md
  docs/understand/glossary.md
  docs/understand/index.md
Labels: docs, exclude-changelog

#5607 Change repo resource to contain wildcard
  pkg/auth/acl/permission.go
  pkg/auth/base.go
  webui/src/lib/components/auth/nav.jsx
  webui/src/lib/components/navbar.jsx
  webui/src/pages/auth/groups/group/acl.tsx
  webui/src/pages/auth/groups/group/index.jsx
  webui/src/pages/repositories/repository/settings/general.jsx
Labels: exclude-changelog, minor-change

#5624 404 nits / Move lychee linkcheck exclusions to a file
  .github/workflows/docs-pr.yaml
  README.md
  docs/.lycheeignore
  docs/cloud/auditing.md
  docs/contributing.md
  docs/hooks/airflow.md
  docs/howto/garbage-collection-committed.md
  docs/howto/garbage-collection-uncommitted.md
  docs/howto/import.md
  docs/reference/access-control-lists.md
  docs/reference/configuration.md
  docs/reference/rbac.md
  docs/understand/glossary.md
Labels: docs, exclude-changelog, minor-change

#5608 Notify new lakefs version in lakectl and Web UI
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/VersionConfig.md
  clients/java/src/main/java/io/lakefs/clients/api/model/VersionConfig.java
  clients/java/src/test/java/io/lakefs/clients/api/model/VersionConfigTest.java
  clients/python/docs/VersionConfig.md
  clients/python/lakefs_client/model/version_config.py
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/root.go
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  esti/golden/lakectl_help.golden
  go.mod
  go.sum
  pkg/api/audit.go
  pkg/api/controller.go
  pkg/api/serve_test.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/loadtest/local_load_test.go
  pkg/version/audit.go
  pkg/version/audit_test.go
  pkg/version/latest.go
  pkg/version/latest_test.go
  pkg/version/version.go
  webui/src/lib/components/navbar.jsx
  webui/src/styles/globals.css
Labels: include-changelog, team/cloud-native

#5627 Move ACL migration to migrate up command, and force migration
  cmd/lakefs/cmd/migrate.go
  pkg/kv/migration.go
  pkg/kv/store.go
Labels: exclude-changelog, minor-change

#5633 Fix broken redirects & make all others absolute
  cmd/lakectl/cmd/docs.go
  docs/commitment.md
  docs/deploy/aws.md
  docs/deploy/azure.md
  docs/deploy/gcp.md
  docs/deploy/onprem.md
  docs/hooks/index.md
  docs/howto/copying.md
  docs/howto/export.md
  docs/howto/import.md
  docs/howto/migrate-away.md
  docs/howto/protect-branches.md
  docs/howto/sizing-guide.md
  docs/howto/upgrade.md
  docs/index.md
  docs/integrations/airflow.md
  docs/integrations/athena.md
  docs/integrations/aws_cli.md
  docs/integrations/dbt.md
  docs/integrations/dremio.md
  docs/integrations/glue_hive_metastore.md
  docs/integrations/hive.md
  docs/integrations/index.md
  docs/integrations/kafka.md
  docs/integrations/python.md
  docs/integrations/sagemaker.md
  docs/integrations/spark.md
  docs/quickstart/index.md
  docs/reference/cli.md
  docs/reference/monitor.md
  docs/roadmap.md
  docs/understand/architecture.md
  docs/understand/data_lifecycle_management/ci.md
  docs/understand/data_lifecycle_management/data-devenv.md
  docs/understand/data_lifecycle_management/index.md
  docs/understand/data_lifecycle_management/production.md
  docs/understand/glossary.md
  docs/understand/how/kv.md
  docs/understand/how/merge.md
  docs/understand/how/versioning-internals.md
  docs/understand/model.md
Labels: docs, exclude-changelog, minor-change

#5625 Fix adls import
  .github/workflows/esti.yaml
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ImportPagination.md
  clients/java/docs/StageRangeCreation.md
  clients/java/docs/StagingApi.md
  clients/java/docs/UpdateToken.md
  clients/java/src/main/java/io/lakefs/clients/api/StagingApi.java
  clients/java/src/main/java/io/lakefs/clients/api/model/ImportPagination.java
  clients/java/src/main/java/io/lakefs/clients/api/model/StageRangeCreation.java
  clients/java/src/main/java/io/lakefs/clients/api/model/UpdateToken.java
  clients/java/src/test/java/io/lakefs/clients/api/StagingApiTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/ImportPaginationTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/StageRangeCreationTest.java
  clients/java/src/test/java/io/lakefs/clients/api/model/UpdateTokenTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/ImportApi.md
  clients/python/docs/ImportPagination.md
  clients/python/docs/StageRangeCreation.md
  clients/python/docs/StagingApi.md
  clients/python/docs/UpdateToken.md
  clients/python/lakefs_client/api/staging_api.py
  clients/python/lakefs_client/model/import_pagination.py
  clients/python/lakefs_client/model/stage_range_creation.py
  clients/python/lakefs_client/model/update_token.py
  clients/python/lakefs_client/models/__init__.py
  clients/python/test/test_staging_api.py
  clients/python/test/test_update_token.py
  cmd/lakectl/cmd/import.go
  cmd/lakectl/cmd/ingest.go
  docs/assets/js/swagger.yml
  docs/howto/import.md
  esti/import_test.go
  esti/main_test.go
  esti/system_test.go
  pkg/api/controller.go
  pkg/block/azure/walker.go
  pkg/block/gs/walker.go
  pkg/block/local/walker.go
  pkg/block/s3/walker.go
  pkg/block/walker.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/catalog/testutils/testutils.go
  pkg/catalog/walk_entry_iterator.go
  pkg/catalog/walk_entry_iterator_test.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/testutil/fakes.go
  pkg/ingest/store/factory.go
  webui/src/lib/api/index.js
  webui/src/pages/repositories/services/import_data.jsx
Labels: include-changelog, team/versioning-engine, azure

#5643 Edit change log
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5645 Add version 0.98.0 to compatability test
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#5644 update acl docs
  docs/reference/access-control-lists.md
Labels: exclude-changelog, minor-change

#5618 [GC] Partition and aggregate expired addresses more efficiently
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/SSTableReader.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/DumpSSTable.scala
  clients/spark/core/src/test/scala/io/treeverse/clients/GarbageCollectorSpec.scala
Labels: improvement, performance, area/client/spark, include-changelog, team/ecosystem

#5631 Write expired addresses once
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
Labels: bug, pr/high-priority, performance, area/client/spark, include-changelog

#5656 Revert "Remove simplified configuration and conclude from auth api"
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  pkg/api/controller.go
  pkg/api/serve_test.go
  pkg/auth/setup/setup.go
  pkg/config/config.go
  pkg/config/defaults.go
Labels: exclude-changelog, minor-change

#5657 Migrate up to ACL if there are no warning
  cmd/lakefs/cmd/migrate.go
Labels: include-changelog, minor-change

#5638 docs: dynamic roadmap
  docs/roadmap.md
Labels: docs, exclude-changelog, minor-change

#5634 GC: Add test to validate imported data isn't deleted
  clients/spark/core/src/test/scala/io/treeverse/clients/GarbageCollectorSpec.scala
Labels: exclude-changelog

#5666 Proofreading
  docs/cloud/index.md
  docs/cloud/managed-gc.md
  docs/cloud/setup-azure.md
  docs/cloud/sso.md
  docs/deploy/index.md
  docs/hooks/lua.md
  docs/howto/export.md
  docs/howto/gc-internals.md
  docs/howto/import.md
  docs/howto/sizing-guide.md
  docs/howto/upgrade.md
  docs/index.md
  docs/quickstart/branch.md
  docs/quickstart/commit-and-merge.md
  docs/quickstart/index.md
  docs/quickstart/launch.md
  docs/quickstart/learning-more-lakefs.md
  docs/quickstart/query.md
  docs/quickstart/rollback.md
  docs/reference/authentication.md
  docs/reference/configuration.md
  docs/reference/saml-authentication-integration.md
  docs/slack/index.md
  docs/understand/glossary.md
  docs/use_cases/etl_testing.md
Labels: exclude-changelog, minor-change

#5668 Fix priority queue used by merge find base
  pkg/graveler/ref/commit_generation_priority_queue.go
  pkg/graveler/ref/commit_generation_priority_queue_test.go
Labels: bug, include-changelog

#5673 Fix hclogger filename
  pkg/plugins/internal/hclogger.go
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#5674 Fix plugins test proto package
  pkg/plugins/internal/test.proto
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#5390 Update/clarify S3 gateway config notes
  docs/integrations/duckdb.md
Labels: docs, exclude-changelog, minor-change

#5628 Fix clients publish on released versions only
  .github/workflows/java-api-client.yaml
  .github/workflows/python-api-client.yaml
Labels: exclude-changelog, team/versioning-engine, minor-change

#5681 Docs: support azure service principal in GC
  docs/howto/garbage-collection-committed.md
Labels: exclude-changelog

#5686 Fix unused err in azure test main
  pkg/block/azure/main_test.go
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#5685 Fix getAllFirstParents comment and simplify the code
  pkg/graveler/ref/commit_ordered_iterator.go
Labels: exclude-changelog, minor-change

#5679 Lua optional net http request
  cmd/lakefs/cmd/lua.go
  cmd/lakefs/cmd/run.go
  docs/hooks/lua.md
  docs/reference/configuration.md
  pkg/actions/airflow.go
  pkg/actions/hook.go
  pkg/actions/kv_run_results_iterator_test.go
  pkg/actions/lua.go
  pkg/actions/lua/encoding/parquet/parquet_test.go
  pkg/actions/lua/net/http/request.go
  pkg/actions/lua/open.go
  pkg/actions/lua/stdlib.go
  pkg/actions/lua_test.go
  pkg/actions/service.go
  pkg/actions/service_test.go
  pkg/actions/webhook.go
  pkg/api/serve_test.go
  pkg/config/config.go
  pkg/loadtest/local_load_test.go
Labels: new-feature, area/hooks, include-changelog

#5695 Docs: GC on GCP - mark objects for deletion
  docs/_sass/custom/custom.scss
  docs/howto/garbage-collection-committed.md
Labels: exclude-changelog

#5381 bisect lakectl support
  cmd/lakectl/cmd/bisect.go
  docs/reference/cli.md
  esti/golden/lakectl_bisect_bad1.golden
  esti/golden/lakectl_bisect_bad_invalid.golden
  esti/golden/lakectl_bisect_good1.golden
  esti/golden/lakectl_bisect_good_invalid.golden
  esti/golden/lakectl_bisect_log1.golden
  esti/golden/lakectl_bisect_log2.golden
  esti/golden/lakectl_bisect_reset.golden
  esti/golden/lakectl_bisect_start.golden
  esti/golden/lakectl_bisect_view1.golden
  esti/golden/lakectl_bisect_view2.golden
  esti/lakectl_test.go
  esti/lakectl_util.go
Labels: area/lakectl, include-changelog

#5698 Add redirect for some dead links
  docs/deploy/index.md
Labels: docs, exclude-changelog, minor-change

#5687 Remove repositories from ACLs
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/ACL.md
  clients/java/src/main/java/io/lakefs/clients/api/model/ACL.java
  clients/java/src/test/java/io/lakefs/clients/api/model/ACLTest.java
  clients/python/docs/ACL.md
  clients/python/docs/AuthApi.md
  clients/python/lakefs_client/model/acl.py
  cmd/lakectl/cmd/auth.go
  cmd/lakefs/cmd/migrate.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  esti/auth_test.go
  pkg/api/controller.go
  pkg/auth/acl/permission.go
  pkg/auth/migrate/rbac_to_acl.go
  pkg/auth/migrate/rbac_to_acl_test.go
  pkg/auth/model/model.go
  pkg/auth/model/model.pb.go
  pkg/auth/model/model.proto
  pkg/auth/service_test.go
  pkg/auth/setup/setup.go
  pkg/kv/migration.go
  pkg/kv/store.go
Labels: exclude-changelog, minor-change

#5683 Reduce listObjects calls and amount
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
Labels: include-changelog

#5680 Remove Repositories from ACL in UI
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/ACL.md
  clients/java/src/main/java/io/lakefs/clients/api/model/ACL.java
  clients/java/src/test/java/io/lakefs/clients/api/model/ACLTest.java
  clients/python/docs/ACL.md
  clients/python/docs/AuthApi.md
  clients/python/lakefs_client/model/acl.py
  cmd/lakectl/cmd/auth.go
  cmd/lakefs/cmd/migrate.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  esti/auth_test.go
  pkg/api/controller.go
  pkg/auth/acl/permission.go
  pkg/auth/migrate/rbac_to_acl.go
  pkg/auth/migrate/rbac_to_acl_test.go
  pkg/auth/model/model.go
  pkg/auth/model/model.pb.go
  pkg/auth/model/model.proto
  pkg/auth/service_test.go
  pkg/auth/setup/setup.go
  pkg/kv/migration.go
  pkg/kv/store.go
  webui/src/lib/components/auth/nav.jsx
  webui/src/pages/auth/groups/group/acl.tsx
  webui/src/pages/auth/groups/group/index.jsx
  webui/src/pages/auth/groups/index.tsx
Labels: include-changelog

#5699 Change migration message
  pkg/kv/migration.go
Labels: exclude-changelog, minor-change

#5701 Update CHANGELOG for v0.99.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#5702 Update CHANGELOG.md
  clients/hadoopfs/CHANGELOG.md
Labels: exclude-changelog, minor-change

#5703 Update compatability-tests.yaml
  .github/workflows/compatability-tests.yaml
Labels: exclude-changelog, minor-change

#5704 Update docs hadoopFS version
  docs/integrations/spark.md
Labels: exclude-changelog, minor-change

#5705 Docs: formatting fixes
  docs/_config.yml
  docs/_sass/custom/custom.scss
  docs/assets/js/copy-code.js
Labels: exclude-changelog, minor-change

#5709 Fix misleading error message
  pkg/api/controller.go
Labels: exclude-changelog

#5713 Update ACL docs to reflect current version
  docs/reference/access-control-lists.md
Labels: exclude-changelog, minor-change

#5697 Refresh docs index/landing page
  docs/assets/img/waving-axolotl-transparent.gif
  docs/index.md
Labels: docs, exclude-changelog, minor-change

#5717 Retitle para and add link
  docs/index.md
Labels: docs, exclude-changelog, minor-change

#5710 Move docs readme to separate file
  Makefile
  docs/README.md
  docs/_config.yml
  docs/contributing.md
Labels: docs, exclude-changelog, minor-change

#5721 Bump Just the Docs from 0.4.1 to 0.5.0
  docs/_config.yml
Labels: docs, exclude-changelog, minor-change

#5726 UI: Remove unused import useEffect from changes.jsx
  webui/src/lib/components/repository/changes.jsx
Labels: pr/merge-if-approved, area/UI, exclude-changelog, minor-change

#5727 Fix API LinkPhysicalAddress twice should fail with status code 400
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/graveler/ref/manager.go
Labels: bug, area/API, include-changelog

#5718 GC - enable incremental run id
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
  clients/spark/core/src/main/scala/io/treeverse/clients/LakeFSContext.scala
Labels: include-changelog, minor-change

#5731 Add back the copy URI button + add cache-control header to GET objects
  pkg/api/controller.go
  webui/src/pages/repositories/repository/objectViewer.tsx
Labels: include-changelog

#5736 Docs: tabs for configuring GC rules
  docs/assets/img/gc_rules_from_ui.png
  docs/howto/garbage-collection-committed.md
Labels: docs, exclude-changelog, minor-change

#5735 Small improvement in commit log
  pkg/graveler/ref/commit_iterator.go
Labels: exclude-changelog, minor-change

#5733 Support `--first-parent` option for commit log
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/RefsApi.md
  clients/java/src/main/java/io/lakefs/clients/api/RefsApi.java
  clients/java/src/test/java/io/lakefs/clients/api/RefsApiTest.java
  clients/python/docs/RefsApi.md
  clients/python/lakefs_client/api/refs_api.py
  cmd/lakectl/cmd/annotate.go
  cmd/lakectl/cmd/log.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/interface.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/ref/commit_iterator.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/resolve_ref_test.go
  pkg/graveler/testutil/fakes.go
Labels: include-changelog

#5743 [GC] Release Spark metadata client v0.70.1
  clients/spark/CHANGELOG.md
  clients/spark/build.sbt
Labels: pr/merge-if-approved, area/client/spark, exclude-changelog, team/ecosystem, minor-change

#5732 GC: SaveGarbageCollectionCommits- change the run ID format
  pkg/graveler/retention/garbage_collection_manager.go
Labels: exclude-changelog, minor-change

#5749 Add work dir for jupyter
  deployments/compose/docker-compose.yml
Labels: docs, exclude-changelog, minor-change

#5750 Minor Everything Bagel improvements
  deployments/compose/docker-compose.yml
  deployments/compose/etc/jupyter_notebook_config.py
  deployments/compose/jupyter/Dockerfile
  deployments/compose/jupyter/ipython/startup/00-prettytables.py
  deployments/compose/jupyter/ipython/startup/README
  deployments/compose/jupyter/requirements.txt
Labels: exclude-changelog, minor-change

#5660 Add TLD for Airflow commit metadata integration
  design/open/commit-metadata/airflow.md
Labels: exclude-changelog

#5752 Everything Bagel: Switch back to Spark 3.3.2
  deployments/compose/jupyter/Dockerfile
Labels: exclude-changelog, minor-change

#5755 Fix lakefs export docker image to use python 3.11
  deployments/tools/export/Dockerfile
Labels: bug, include-changelog

#5725 Fix s3 multipart upload abort
  esti/multipart_test.go
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose.yaml
  pkg/block/s3/adapter.go
  pkg/gateway/operations/deleteobject.go
Labels: bug, area/gateway, include-changelog

#5707 Actions control hook execution expression
  docs/hooks/overview.md
  go.mod
  go.sum
  pkg/actions/action.go
  pkg/actions/service.go
  pkg/actions/service_test.go
Labels: new-feature, area/hooks, include-changelog

#5766 Documented Cloudera Spark integration
  docs/assets/img/cloudera/ClouderaManager.png
  docs/assets/img/cloudera/ManagementConsole.png
  docs/assets/img/cloudera/hadoopFileSystems.png
  docs/assets/img/cloudera/spark_on_yarn.png
  docs/integrations/cloudera.md
  docs/integrations/spark.md
Labels: docs, exclude-changelog

#5769 Added Cloudera Partner listing link
  docs/integrations/cloudera.md
Labels: docs, exclude-changelog

#5760 lakefs export docker specify multiple platforms
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
Labels: improvement, exclude-changelog, minor-change

#5762 Update github action aws-actions/configure-aws-credentials to v2
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/publish-hadoop-lakefs.yaml
Labels: infrastructure, exclude-changelog

#5770 Setup buildx for lakefs export docker
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
Labels: exclude-changelog, minor-change

#5767 Remove redundant SAML doc page
  docs/reference/configuration.md
  docs/reference/saml-authentication-integration.md
Labels: docs, exclude-changelog, minor-change

#5772 Update lakefs rclone export to v1.62
  .github/workflows/docker-publish-lakefs-rclone-export.yaml
  deployments/tools/export/Dockerfile
Labels: exclude-changelog, minor-change

#5764 GC: honor commit partition config
  .github/workflows/esti.yaml
  clients/spark/core/src/main/scala/io/treeverse/clients/GarbageCollector.scala
Labels: exclude-changelog, minor-change

#5763 Display buttons to open (Airflow) metadata from UI
  webui/src/pages/repositories/repository/commits/commit/index.tsx
  webui/src/pages/repositories/repository/commits/commit/metadata.tsx
Labels: new-feature, area/UI, area/integrations, roadmap/airflow-operators, include-changelog, team/ecosystem
