Repository treeverse/lakeFS, pull requests merged in 2024-02, with the labels that each got.

#7356 HL Python SDK: Release 3.0
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#7357 HL Python SDK: Fix changelog
  clients/python-wrapper/CHANGELOG.md
Labels: exclude-changelog, minor-change

#7364 Handle empty metadata in import
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
Labels: include-changelog

#7360 Detect forward compatibility breaking changes
  .github/workflows/openapi-breaking-changes.yaml
Labels: include-changelog

#7362 Remove CreateBranch permission check from Import
  pkg/api/controller.go
Labels: include-changelog

#7359 Docs: SCIM setup guide
  docs/assets/img/scim/entra-id-provisioning-setup.png
  docs/assets/img/scim/lakefs_cloud_scim_configuration.png
  docs/assets/img/scim/lakefs_cloud_scim_settings.png
  docs/howto/scim.md
Labels: docs, exclude-changelog

#7435 lakeFS v1.10.0 changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7436 Add lakeFS v1.10.0 to compat tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7437 Makefile and goreleaser delta cleanup
  .goreleaser.yml
  Makefile
Labels: infrastructure, exclude-changelog, minor-change

#7315 Unconditionally assign body in ServerException constructor
  clients/python-wrapper/lakefs/exceptions.py
Labels: include-changelog, minor-change

#7308 catch when there are no changes in revert
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/RevertCreation.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/RevertCreation.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/RevertCreationTest.java
  clients/java/api/openapi.yaml
  clients/java/docs/RevertCreation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/RevertCreation.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/RevertCreationTest.java
  clients/python-legacy/docs/BranchesApi.md
  clients/python-legacy/docs/RevertCreation.md
  clients/python-legacy/lakefs_client/model/revert_creation.py
  clients/python/docs/RevertCreation.md
  clients/python/lakefs_sdk/models/revert_creation.py
  clients/python/test/test_revert_creation.py
  cmd/lakectl/cmd/branch_revert.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/graveler/graveler.go
Labels: include-changelog

#7449 Skip ensureStorageNamespace when creating a read-only repository
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: area/API, new-feature, include-changelog

#7353 Return revert commit from `Branch.revert()` instead of None
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/tests/integration/test_branch.py
  clients/python-wrapper/tests/utests/test_branch.py
Labels: contributor, exclude-changelog, python-wrapper, python-sdk-changelog

#7450 add lakectl local ang lakeFS<>Git integration docs
  docs/assets/img/lakectl-local/axolotl.png
  docs/assets/img/lakectl-local/code_repo.png
  docs/assets/img/lakectl-local/experiment-branch.png
  docs/assets/img/lakectl-local/lakefs-commit-git-commit-id.png
  docs/assets/img/lakectl-local/lakefs-repo-with-train-dataset.png
  docs/assets/img/lakectl-local/sponge-bob.png
  docs/assets/img/lakectl-local/tes-and-train-dataset.png
  docs/howto/index.md
  docs/howto/local-checkouts.md
  docs/integrations/git.md
Labels: docs, exclude-changelog

#7454 Show email or group name in place of ID in AttachModal
  webui/src/lib/components/auth/forms.jsx
  webui/src/pages/auth/groups/group/members.jsx
  webui/src/pages/auth/groups/group/policies.jsx
  webui/src/pages/auth/users/user/groups.jsx
  webui/src/pages/auth/users/user/policies.jsx
Labels: bug, area/UI, include-changelog

#7456 Show email when available in the create credentials confirmation modal
  webui/src/pages/auth/credentials.jsx
Labels: bug, area/UI, include-changelog

#7458 Fix bug on creating bare repository as read-only
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
Labels: bug, include-changelog

#7444 Delta Exporter: Azure Support
  .github/workflows/esti.yaml
  docs/howto/hooks/lua.md
  esti/catalog_export_test.go
  esti/export_hooks_files/delta/azure/_lakefs_actions/delta_export.yaml
  esti/export_hooks_files/delta/data/_lakefs_tables/test-table.yaml
  esti/export_hooks_files/delta/data/tables/test-table/0-845b8a42-579e-47ee-9935-921dd8d2ba7d-0.parquet
  esti/export_hooks_files/delta/data/tables/test-table/_delta_log/00000000000000000000.json
  esti/export_hooks_files/delta/s3/_lakefs_actions/delta_export.yaml
  esti/export_hooks_files/glue/_lakefs_actions/glue_export.yaml
  esti/export_hooks_files/glue/_lakefs_actions/symlink_export.yaml
  esti/export_hooks_files/glue/scripts/glue_exporter.lua
  esti/export_hooks_files/glue/scripts/symlink_exporter.lua
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  examples/hooks/delta_lake_azure_export.lua
  pkg/actions/lua.go
  pkg/actions/lua/formats/delta.go
  pkg/actions/lua/lakefs/catalogexport/table_extractor.lua
  pkg/actions/lua/open.go
  pkg/actions/lua/storage/aws/s3.go
  pkg/actions/lua/storage/azure/azure.go
  pkg/actions/lua/storage/azure/blob.go
  test/lakefsfs_contract/docker-compose.yaml
  test/spark/docker-compose.yaml
Labels: include-changelog

#7459 HL Python SDK: allow kwargs in commit creation
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/tests/utests/test_branch.py
Labels: area/sdk/python, exclude-changelog

#7461 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7462 docs: fix join slack link
  docs/integrations/sagemaker.md
Labels: docs, exclude-changelog, minor-change

#7463 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7464 HL Python SDK: Release 0.4.0
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#7468 Fix S3 gateway cross-repo copies
  esti/s3_gateway_test.go
  esti/system_test.go
  pkg/block/azure/adapter.go
  pkg/block/azure/multipart_block_writer.go
  pkg/block/local/adapter.go
  pkg/gateway/operations/putobject.go
  pkg/gateway/sig/v2.go
  pkg/testutil/checksum.go
  pkg/testutil/random.go
Labels: bug, area/gateway, include-changelog

#7471 Disable GC and branch protection for read-only repositories
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/InternalApi.md
  clients/java-legacy/docs/RepositoriesApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/InternalApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/RepositoriesApi.java
  clients/java/api/openapi.yaml
  clients/java/docs/InternalApi.md
  clients/java/docs/RepositoriesApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/InternalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/RepositoriesApi.java
  clients/python-legacy/docs/InternalApi.md
  clients/python-legacy/docs/RepositoriesApi.md
  clients/python/docs/InternalApi.md
  clients/python/docs/RepositoriesApi.md
  clients/python/lakefs_sdk/api/internal_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
Labels: include-changelog

#7478 Add lakeFS 1.11.1 to Spark client compatibility matrix
  .github/workflows/compatibility-tests.yaml
Labels: pr/merge-if-approved, area/client/spark, exclude-changelog, minor-change

#7477 Skip actions for read-only repositories
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
Labels: include-changelog

#7481 Docs: updated auditing feature docs
  docs/assets/img/audit-log.png
  docs/reference/auditing.md
Labels: docs, exclude-changelog, minor-change

#7470 Python Wrapper: Allow passing args/kwargs to `lakefs.repository()`
  clients/python-wrapper/lakefs/__init__.py
Labels: include-changelog, minor-change, python-wrapper

#7487 Fix: If-None-Match
  CHANGELOG.md
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/StagingApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/StagingApi.java
  clients/java/api/openapi.yaml
  clients/java/docs/StagingApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/StagingApi.java
  clients/python-legacy/docs/StagingApi.md
  clients/python/docs/StagingApi.md
  clients/python/lakefs_sdk/api/staging_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller_test.go
Labels: exclude-changelog, minor-change

#7483 Docs: mirroring
  .github/workflows/check-ui-links.yaml
  .lycheeignore
  docs/assets/img/mirroring/arch.png
  docs/howto/mirroring.md
Labels: docs, exclude-changelog, minor-change

#7489 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7492 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7494 Use If-None-Match in LakeFSLinker
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSLinker.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/PresignedStorageAccessStrategy.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/SimpleStorageAccessStrategy.java
  clients/hadoopfs/src/main/java/io/lakefs/storage/StorageAccessStrategy.java
Labels: include-changelog, area/client/hadoopfs

#7495 Add missing comma in compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: bug, pr/merge-if-approved, area/testing, exclude-changelog, minor-change, area/client/hadoopfs

#7496 Update CHANGELOG.md
  clients/hadoopfs/CHANGELOG.md
Labels: exclude-changelog, minor-change

#7498 Audit logs docs: Remove bucket name
  docs/reference/auditing.md
Labels: exclude-changelog, minor-change

#7442 Staging compaction 1st draft
  design/open/staging-compaction.md
Labels: improvement, proposal, exclude-changelog, area/KV, minor-change

#7510 Fix createDirectoryMarkerIfNotExists
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/test/java/io/lakefs/LakeFSFileSystemServerTest.java
Labels: include-changelog, area/client/hadoopfs

#7512 Fix bug in multipart upload s3
  pkg/block/s3/adapter.go
Labels: include-changelog

#7506 Add test jar to deployment
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/test/java/io/lakefs/FSTestBase.java
  clients/hadoopfs/src/test/java/io/lakefs/S3FSTestBase.java
Labels: exclude-changelog, minor-change

#7514 lakeFSFS changelog
  clients/hadoopfs/CHANGELOG.md
Labels: exclude-changelog, minor-change

#7516 HL Python SDK: Fix Client SSL configuration
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/config.py
  clients/python-wrapper/tests/integration/test_sanity.py
  docs/integrations/python.md
Labels: bug, area/sdk/python, exclude-changelog, python-sdk-changelog

#7522 Improve the Delta Lake integration docs
  docs/assets/img/delta-lake/change-override.excalidraw
  docs/assets/img/delta-lake/concurrent-file-overwrite.png
  docs/assets/img/delta-lake/merge-conflict.excalidraw
  docs/assets/img/delta-lake/merge-conflict.png
  docs/assets/img/delta-lake/multi-writers-with-lakefs-branches-merges.png
  docs/assets/img/delta-lake/multi-writers-with-lakefs-branches.excalidraw
  docs/assets/img/delta-record-addition.png
  docs/assets/img/delta-schema-change.png
  docs/integrations/delta.md
Labels: docs, exclude-changelog, minor-change
