Repository treeverse/lakeFS, pull requests merged in 2024-07, with the labels that each got.

#7887 Docs: Update mount presign and .gitignore
  docs/reference/mount.md
Labels: docs, exclude-changelog

#7936 Experimental: Unix Perm add support for SyncManager's download
  cmd/lakectl/cmd/local_commit_test.go
  go.mod
  go.sum
  pkg/local/progress.go
  pkg/local/sync.go
  pkg/local/sync_test.go
  pkg/local/unix_permissions.go
Labels: exclude-changelog, minor-change

#7930 Experimental: lakectl local diff includes sub-directories
  cmd/lakectl/cmd/local.go
  pkg/local/diff.go
  pkg/local/diff_test.go
  pkg/local/errors.go
Labels: exclude-changelog, minor-change

#7941 Remove from graveler usage of genapi
  pkg/api/controller.go
  pkg/graveler/graveler.go
Labels: exclude-changelog, minor-change

#7945 Document cosmosdb database type in fluffy
  docs/enterprise/fluffy-configuration.md
Labels: exclude-changelog

#7948 Experimental: Unix Perm add support for SyncManager's upload
  pkg/local/sync.go
  pkg/local/sync_test.go
  pkg/local/unix_permissions.go
Labels: exclude-changelog, minor-change

#7876 Docs: Add lakefs-spec DuckDB example
  docs/integrations/duckdb.md
Labels: docs, exclude-changelog, minor-change

#7931 Optimize seo
  docs/assets/img/docs_logo.jpg
  docs/howto/deploy/gcp.md
  docs/integrations/kubeflow.md
  docs/reference/security/sso.md
  docs/understand/images/1.0-is-coming.jpeg
Labels: docs, exclude-changelog

#7942 Simply WalkS3 callback
  pkg/local/diff.go
Labels: exclude-changelog, minor-change

#7944 Experimental: lakectl local diff compares unix permissions
  cmd/lakectl/cmd/local.go
  pkg/local/diff.go
  pkg/local/diff_test.go
  pkg/local/unix_permissions.go
Labels: exclude-changelog, minor-change

#7949 Rename unix <-> posix
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/root.go
  cmd/lakectl/cmd/root_test.go
  pkg/local/diff.go
  pkg/local/diff_test.go
  pkg/local/posix_permissions.go
  pkg/local/sync.go
  pkg/local/sync_test.go
Labels: exclude-changelog, minor-change

#7950 Fix posix permissions directories diff
  cmd/lakectl/cmd/local.go
  pkg/local/diff.go
  pkg/local/diff_test.go
  pkg/local/posix_permissions.go
  pkg/local/sync.go
Labels: exclude-changelog, minor-change

#7954 Update changelog for v1.28.1
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7951 Experimental lakectl local posix permission docs
  docs/experimental/dir_marker.png
  docs/experimental/lakectl_local_posix.md
  docs/experimental/object_stats.png
Labels: exclude-changelog, minor-change

#7956 Fix posix permissions build constraints
  pkg/local/posix_permissions.go
  pkg/local/posix_permissions_darwin.go
  pkg/local/posix_permissions_freebsd.go
  pkg/local/posix_permissions_linux.go
  pkg/local/posix_permissions_openbsd.go
  pkg/local/posix_permissions_windows.go
Labels: exclude-changelog, minor-change

#7955 [Bug]: Spark client panics when reading DataFrame from entire repository / storageNamespace
  clients/spark/build.sbt
  clients/spark/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
Labels: bug, include-changelog

#7959 Update CHANGELOG for Spark client
  clients/spark/CHANGELOG.md
  docs/howto/export.md
  docs/howto/garbage-collection/gc.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#7960 Added 1.28.0 and 1.28.1 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7962 Add esti tests for lakectl local with POSIX permissions
  esti/lakectl_local_test.go
  esti/lakectl_util.go
  pkg/local/sync.go
Labels: exclude-changelog, minor-change

#7963 Fix local POSIX permissions docs
  docs/experimental/lakectl_local_posix.md
Labels: docs, exclude-changelog, minor-change

#7968 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7969 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#7971 Fix docs preview permissions
  .github/workflows/docs-pr.yaml
  docs/.lycheeignore
  docs/enterprise/orchestration.md
Labels: exclude-changelog

#7972 Add flare docs for enterprise
  docs/assets/img/flare_existing_ticket.png
  docs/assets/img/flare_new_ticket.png
  docs/enterprise/troubleshooting.md
Labels: docs, exclude-changelog

#7953 Multipart Bug (#7822)
  pkg/block/blocktest/adapter.go
  pkg/block/blocktest/basic_suite.go
  pkg/block/blocktest/multipart_suite.go
  pkg/block/gs/adapter.go
  pkg/block/gs/compose.go
  pkg/block/gs/compose_test.go
Labels: include-changelog

#7957 Docs: Removing backslashes from examples to better support Windows users
  docs/quickstart/actions-and-hooks.md
  docs/quickstart/branch.md
  docs/quickstart/commit-and-merge.md
  docs/quickstart/launch.md
  docs/quickstart/rollback.md
  docs/quickstart/work-with-data-locally.md
Labels: docs, exclude-changelog, minor-change

#7986 fix: show deprecation warnings from the Python wrapper by default
  clients/python-wrapper/lakefs/branch.py
Labels: include-changelog

#7985 Auditing for OSS documentation
  .secretsignore
  docs/enterprise/orchestration.md
Labels: docs, exclude-changelog, minor-change

#7987 fix: show deprecation warnings from the Python wrapper by default
  clients/python-wrapper/lakefs/__init__.py
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/tests/utests/test_branch.py
Labels: include-changelog

#7984 Fix lakectl upload from standard input
  cmd/lakectl/cmd/fs_upload.go
  esti/lakectl_test.go
Labels: include-changelog

#7989 Use the correct user
  pkg/api/auth_middleware.go
Labels: include-changelog

#7977 Remove empty local folders when using lakectl local sync
  esti/lakectl_local_test.go
  pkg/local/diff.go
  pkg/local/diff_test.go
  pkg/local/sync.go
Labels: exclude-changelog, minor-change

#7993 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7994 Update compatibility-tests.yaml 1.29.0
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#7961 (fix) Add `w`rite to opening mode in object writer
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/tests/integration/test_object.py
Labels: bug, contributor, include-changelog, python-wrapper

#7996 Reduce abuse amount and parallelism in abuse test
  esti/lakectl_test.go
Labels: exclude-changelog, minor-change

#7990 Restructure lakeFS Enterprise docs
  docs/enterprise/architecture.md
  docs/enterprise/configuration.md
  docs/enterprise/getstarted/index.md
  docs/enterprise/getstarted/install.md
  docs/enterprise/getstarted/migrate-from-oss.md
  docs/enterprise/getstarted/quickstart.md
  docs/enterprise/index.md
  docs/enterprise/orchestration.md
  docs/enterprise/troubleshooting.md
  docs/enterprise/upgrade.md
  docs/reference/security/external-principals-aws.md
Labels: docs, exclude-changelog

#7999 Docs: Edit lakeFS cloud docs page
  docs/cloud/index.md
Labels: docs, exclude-changelog, minor-change

#8001 Docs: explain mounts on quickstart, working locally
  docs/howto/local-checkouts.md
  docs/quickstart/work-with-data-locally.md
Labels: docs, exclude-changelog, minor-change, product-task

#8002 KV Scan - paginate with exponential jumps
  pkg/kv/cosmosdb/store.go
  pkg/kv/dynamodb/store.go
  pkg/kv/postgres/store.go
Labels: include-changelog

#8007 Add DynamoDB log for scans
  pkg/kv/dynamodb/store.go
Labels: exclude-changelog, minor-change

#8009 Add changelog for version v1.30.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8010 Update contact us link to the dedicated lakeFS Mount registration page
  docs/reference/mount.md
Labels: docs, exclude-changelog, minor-change

#8011 Add 1.30.0 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#8012 Implement the Quickstart walkthrough with Playwright
  .github/workflows/esti.yaml
  webui/playwright.config.ts
  webui/test/e2e/common/quickstart.spec.ts
  webui/test/e2e/poms/objectViewerPage.ts
  webui/test/e2e/poms/repositoryPage.ts
Labels: exclude-changelog, e2e-tests
