Repository treeverse/lakeFS, pull requests merged in 2024-01, with the labels that each got.

#7211 Fix gateway delete with branch protection should return 200 with error
  pkg/gateway/operations/deleteobject.go
Labels: bug, area/gateway, include-changelog

#7229 Add missing tests
  pkg/api/controller_test.go
Labels: exclude-changelog, minor-change

#7226 Read-only repository indications
  .github/workflows/esti.yaml
  webui/playwright.config.ts
  webui/src/lib/components/badges.tsx
  webui/src/lib/components/repository/layout.jsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/changes.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/settings/general.jsx
  webui/src/pages/repositories/repository/tags.jsx
  webui/test/e2e/common/readOnlyRepository.spec.ts
  webui/test/e2e/common/repositoriesPage.spec.ts
  webui/test/e2e/common/setup.spec.ts
  webui/test/e2e/poms/repositoriesPage.ts
  webui/test/e2e/poms/repositoryPage.ts
Labels: include-changelog

#7197 [Proposal] OpenAPI for S3 multipart upload
  design/accepted/openapi-multipart-upload.md
Labels: proposal, exclude-changelog, minor-change

#7231 Delta Catalog exporter: Update delta-go version
  go.mod
  go.sum
Labels: exclude-changelog, minor-change

#7155 add rbac wildcards arn examples
  docs/reference/security/rbac.md
Labels: exclude-changelog, minor-change

#7159 Clarify the connection settings for duckdb and lakeFS
  docs/integrations/duckdb.md
Labels: exclude-changelog, minor-change

#7152 Added the explanation about using '*' at the end
  docs/reference/security/rbac.md
Labels: docs, exclude-changelog

#7233 1.5.0 changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7234 Add lakeFS 1.5.0 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7186 added optional allow empty commits
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/CommitCreation.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/CommitCreation.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/CommitCreationTest.java
  clients/java/api/openapi.yaml
  clients/java/docs/CommitCreation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/CommitCreation.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/CommitCreationTest.java
  clients/python-legacy/docs/CommitCreation.md
  clients/python-legacy/docs/CommitsApi.md
  clients/python-legacy/docs/ImportApi.md
  clients/python-legacy/lakefs_client/model/commit_creation.py
  clients/python/docs/CommitCreation.md
  clients/python/lakefs_sdk/models/commit_creation.py
  clients/python/test/test_commit_creation.py
  clients/python/test/test_import_creation.py
  cmd/lakectl/cmd/commit.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/graveler/committed/manager.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/testutil/fakes.go
  pkg/samplerepo/samplecontent.go
Labels: include-changelog

#7239 Remove unused mem block adapter from settings manager test
  pkg/graveler/settings/manager_test.go
Labels: bug, pr/merge-if-approved, area/testing, exclude-changelog, tech-debt, minor-change, P3

#7244 1.6.0 changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7245 Add lakeFS 1.6.0 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7243 docs: Explain zero-copy branching and use the term throughout the docs
  docs/index.md
  docs/quickstart/branch.md
  docs/understand/faq.md
  docs/understand/model.md
  docs/understand/use_cases/etl_testing.md
Labels: docs, exclude-changelog, minor-change

#7248 docs: fix aws s3 express permission hides minimal permissions
  docs/howto/deploy/aws.md
Labels: docs, exclude-changelog, minor-change

#7250 test: fix missing err checks
  esti/copy_test.go
  esti/delete_test.go
  pkg/api/controller_test.go
Labels: area/testing, exclude-changelog, minor-change

#7247 docs: Update presign multipart upload support proposal
  design/accepted/openapi-presign-multipart-upload.md
Labels: docs, proposal, exclude-changelog, minor-change

#7252 Fix duckdb cached files using cache buster
  webui/src/pages/repositories/repository/fileRenderers/duckdb.tsx
Labels: bug, area/UI, include-changelog

#7255 Update compatibility tests to include v1.7.0
  .github/workflows/compatibility-tests.yaml
Labels: area/system-tests, exclude-changelog, minor-change

#7238 HL Python SDK: fileno to throw exception
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/integration/conftest.py
  clients/python-wrapper/tests/integration/test_object.py
  clients/python-wrapper/tests/test_files/waving-axolotl.gif
  clients/python-wrapper/tests/utests/test_object.py
Labels: bug, exclude-changelog, python-wrapper, python-sdk-changelog

#7203 Allow setting per-item expiry in cache
  pkg/cache/cache.go
  pkg/cache/cache_test.go
  pkg/cache/no_cache.go
  pkg/graveler/settings/manager_test.go
Labels: improvement, exclude-changelog, minor-change

#7262 [Docs] Remove colon from tag name examples and add note on tag name limitations
  docs/understand/model.md
Labels: docs, exclude-changelog

#7263 Add "hard reset" operation
  api/swagger.yml
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/ExperimentalApi.md
  clients/java-legacy/docs/ResetCreation.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/ExperimentalApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/ResetCreation.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/ExperimentalApiTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ExperimentalApi.md
  clients/java/docs/ResetCreation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ExperimentalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/ResetCreation.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ExperimentalApiTest.java
  clients/python-legacy/README.md
  clients/python-legacy/docs/ExperimentalApi.md
  clients/python-legacy/docs/ResetCreation.md
  clients/python-legacy/lakefs_client/api/experimental_api.py
  clients/python-legacy/lakefs_client/model/reset_creation.py
  clients/python-legacy/test/test_experimental_api.py
  clients/python/README.md
  clients/python/docs/ExperimentalApi.md
  clients/python/docs/ResetCreation.md
  clients/python/lakefs_sdk/api/experimental_api.py
  clients/python/lakefs_sdk/models/reset_creation.py
  clients/python/test/test_experimental_api.py
  docs/assets/js/swagger.yml
  esti/rollback_test.go
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
Labels: area/API, new-feature, include-changelog

#7227 HL Python SDK: Fix transaction cleanup
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/tests/integration/test_branch.py
Labels: bug, exclude-changelog, python-sdk-changelog

#7271 HL Python SDK: allow import Client from package root
  clients/python-wrapper/lakefs/__init__.py
Labels: exclude-changelog, python-wrapper

#7275 HL Python SDK: Remove urllib3 dependency
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/utests/test_object.py
Labels: exclude-changelog, python-wrapper

#7272 HL Python SDK: Release 2.0.1
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#7279 HL Python SDK: Fix branch documentation
  clients/python-wrapper/docs/lakefs.branch.rst
  clients/python-wrapper/lakefs/branch.py
Labels: exclude-changelog, python-wrapper

#7282 test: fix multipart test to use crypto rand instead of math rand
  esti/presign_multipart_test.go
Labels: area/testing, exclude-changelog, minor-change

#7285 test: hard reset check second commit response
  esti/rollback_test.go
Labels: area/testing, exclude-changelog, minor-change

#7269 Expose internal API endpoint for setting and deleting repository meta…
  api/swagger.yml
  clients/java-legacy/.openapi-generator/FILES
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/InternalApi.md
  clients/java-legacy/docs/RepositoryMetadataKeys.md
  clients/java-legacy/docs/RepositoryMetadataSet.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/InternalApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/RepositoryMetadataKeys.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/RepositoryMetadataSet.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/InternalApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/RepositoryMetadataKeysTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/RepositoryMetadataSetTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/InternalApi.md
  clients/java/docs/RepositoryMetadataKeys.md
  clients/java/docs/RepositoryMetadataSet.md
  clients/java/src/main/java/io/lakefs/clients/sdk/InternalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/JSON.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/RepositoryMetadataKeys.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/RepositoryMetadataSet.java
  clients/java/src/test/java/io/lakefs/clients/sdk/InternalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/RepositoryMetadataKeysTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/RepositoryMetadataSetTest.java
  clients/python-legacy/.openapi-generator/FILES
  clients/python-legacy/README.md
  clients/python-legacy/docs/InternalApi.md
  clients/python-legacy/docs/RepositoryMetadataKeys.md
  clients/python-legacy/docs/RepositoryMetadataSet.md
  clients/python-legacy/lakefs_client/api/internal_api.py
  clients/python-legacy/lakefs_client/model/repository_metadata_keys.py
  clients/python-legacy/lakefs_client/model/repository_metadata_set.py
  clients/python-legacy/lakefs_client/models/__init__.py
  clients/python-legacy/test/test_internal_api.py
  clients/python-legacy/test/test_repository_metadata_keys.py
  clients/python-legacy/test/test_repository_metadata_set.py
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/InternalApi.md
  clients/python/docs/RepositoryMetadataKeys.md
  clients/python/docs/RepositoryMetadataSet.md
  clients/python/lakefs_sdk/__init__.py
  clients/python/lakefs_sdk/api/internal_api.py
  clients/python/lakefs_sdk/models/__init__.py
  clients/python/lakefs_sdk/models/repository_metadata_keys.py
  clients/python/lakefs_sdk/models/repository_metadata_set.py
  clients/python/test/test_internal_api.py
  clients/python/test/test_repository_metadata_keys.py
  clients/python/test/test_repository_metadata_set.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve.go
  pkg/catalog/catalog.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/permissions/actions.gen.go
  pkg/permissions/actions.go
Labels: exclude-changelog, minor-change

#7286 Fix dockerfile cross compile
  .dockerignore
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  Dockerfile
Labels: infrastructure, include-changelog

#7287 Update changelog for v1.8.0
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#7291 Update compatibility-tests for lakefs 1.8.0
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#7284 lakectl presign large presigned download using multipart
  cmd/lakectl/cmd/fs_download.go
  docs/reference/cli.md
  esti/lakectl_test.go
  pkg/api/helpers/download.go
Labels: area/lakectl, include-changelog

#7288 Remove rust releaser - delta plugin build
  .github/workflows/goreleaser.yaml
  Makefile
Labels: infrastructure, exclude-changelog, minor-change

#7292 Separate group id displayname
  api/authorization.yml
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/Group.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/Group.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/GroupTest.java
  clients/java/api/openapi.yaml
  clients/java/docs/Group.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/Group.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/GroupTest.java
  clients/python-legacy/docs/Group.md
  clients/python-legacy/lakefs_client/model/group.py
  clients/python/docs/Group.md
  clients/python/lakefs_sdk/models/group.py
  clients/python/test/test_group.py
  clients/python/test/test_group_list.py
  docs/assets/js/swagger.yml
  esti/auth_test.go
  pkg/api/controller.go
  pkg/auth/model/model.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/auth/setup/setup.go
  webui/src/lib/api/index.js
  webui/src/lib/components/auth/forms.jsx
  webui/src/lib/components/auth/layout.tsx
  webui/src/lib/components/layout.tsx
  webui/src/lib/components/modals.tsx
  webui/src/lib/hooks/conf.tsx
  webui/src/pages/auth/groups/index.tsx
  webui/src/pages/auth/users/user/groups.jsx
Labels: area/auth, include-changelog

#7304 lakectl usage report
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/usage.go
  cmd/lakectl/cmd/usage_summay.go
  docs/reference/cli.md
  esti/golden/lakectl_usage_summary.golden
  esti/lakectl_test.go
Labels: area/lakectl, exclude-changelog

#7294 [spark metadata client] Shade scalapb and bump its version
  clients/spark/build.sbt
  clients/spark/project/protoc.sbt
  clients/spark/src/main/resources/google/protobuf/timestamp.proto
Labels: bug, area/client/spark, java, include-changelog

#7312 esti improve generated code cache
  .github/workflows/esti.yaml
Labels: area/testing, area/system-tests, exclude-changelog, minor-change

#7316 Update changelog for v1.9.0
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#7320 fix esti generated must upload for next workflow steps
  .github/workflows/esti.yaml
Labels: area/testing, exclude-changelog, minor-change

#7318 Update compatibility-tests for lakefs v1.9.0
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#7323 Make version and generation fields optional for commit
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/Commit.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/Commit.java
  clients/java/api/openapi.yaml
  clients/java/docs/Commit.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/Commit.java
  clients/python-legacy/docs/Commit.md
  clients/python-legacy/lakefs_client/model/commit.py
  clients/python/docs/Commit.md
  clients/python/lakefs_sdk/models/commit.py
  clients/python/test/test_commit.py
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: include-changelog

#7321 Return conflict for creating already existing commit
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/CommitsApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/CommitsApi.java
  clients/java/api/openapi.yaml
  clients/java/docs/CommitsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/CommitsApi.java
  clients/python-legacy/docs/CommitsApi.md
  clients/python/docs/CommitsApi.md
  clients/python/lakefs_sdk/api/commits_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller_test.go
  pkg/graveler/errors.go
  pkg/graveler/ref/manager.go
Labels: exclude-changelog

#7325 Add v1.9.1 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7328 Fix esti tests for group ID
  esti/auth_test.go
Labels: exclude-changelog, minor-change

#7337 Fix esti tests for group IDs #2
  esti/auth_test.go
Labels: exclude-changelog, minor-change

#7338 Fix esti tests for group IDs #3
  esti/auth_test.go
Labels: exclude-changelog, minor-change

#7331 Fix create commit record creation date
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
Labels: exclude-changelog

#7339 Change timestamp to int
  pkg/api/controller.go
  pkg/catalog/catalog.go
Labels: exclude-changelog, minor-change

#7327 Fix sql command in iceberg documentation
  docs/integrations/iceberg.md
Labels: exclude-changelog

#7341 Fix esti tests for group IDs #4
  esti/auth_test.go
  esti/main_test.go
Labels: exclude-changelog, minor-change

#7329 Add wrapper to run lakeFS containers in integration tests
  pkg/dockertest/lakefs_container.go
  pkg/dockertest/lakefs_container_test.go
Labels: pr/merge-if-approved, area/system-tests, area/integrations, exclude-changelog, minor-change

#7344 docs: redirect and remove underscore from links
  docs/howto/catalog_exports.md
  docs/howto/hooks/lua.md
  docs/integrations/unity-catalog.md
Labels: docs, exclude-changelog, minor-change

#7348 Implement `Branch.cherry_pick()`
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/CherryPickCreation.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/CherryPickCreation.java
  clients/java/api/openapi.yaml
  clients/java/docs/CherryPickCreation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/CherryPickCreation.java
  clients/python-legacy/docs/CherryPickCreation.md
  clients/python-legacy/lakefs_client/model/cherry_pick_creation.py
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/tests/integration/test_branch.py
  clients/python/docs/CherryPickCreation.md
  clients/python/lakefs_sdk/models/cherry_pick_creation.py
  docs/assets/js/swagger.yml
Labels: contributor, area/sdk/python, include-changelog

#7352 Update dockertest package dependencies
  go.mod
  go.sum
Labels: exclude-changelog, minor-change
