Repository treeverse/lakeFS, pull requests merged in 2024-06, with the labels that each got.

#7820 HL Python SDK: Expose allow_empty flag for Merge
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/integration/test_reference.py
Labels: exclude-changelog, python-sdk-changelog

#7823 HL Python SDK: Release version 0.6.2
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change, area/ci

#7825 Update reasoning for Rust and Cargo installation
  docs/project/contributing.md
Labels: docs, exclude-changelog, minor-change

#7809 Introduce support of GCS encryption for both CMEK and CSEK
  docs/reference/configuration.md
  pkg/block/factory/build.go
  pkg/block/gs/adapter.go
  pkg/block/params/block.go
  pkg/config/config.go
Labels: include-changelog

#7834 Mount docs fixes
  docs/reference/mount.md
Labels: docs, exclude-changelog

#7828 Return an informative error message when using 'api/v1' for S3 GW endpoint
  esti/catalog_export_test.go
  esti/delete_objects_test.go
  esti/s3_gateway_test.go
  pkg/gateway/errors/errors.go
  pkg/gateway/middleware.go
  pkg/testutil/setup.go
Labels: area/gateway, include-changelog

#7839 fix esti tests incorrect regex matching in command output sanitization
  esti/lakectl_util.go
Labels: exclude-changelog

#7832 support prefix parameter in lakectl diff command
  cmd/lakectl/cmd/diff.go
  docs/reference/cli.md
  esti/golden/lakectl_diff.golden
  esti/lakectl_command.go
  esti/lakectl_diff_test.go
Labels: include-changelog

#7843 Always use compressed generated.tar.gz
  .github/workflows/compatibility-tests.yaml
Labels: bug, exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#7838 Update cli.md
  cmd/lakectl/cmd/docs.go
  docs/reference/cli.md
Labels: docs, exclude-changelog

#7845 Organize configuration.md
  docs/reference/configuration.md
Labels: docs, exclude-changelog, nice-to-have, minor-change

#7850 Update configuration.md
  docs/reference/configuration.md
Labels: exclude-changelog, minor-change

#7851 Move lakeFS Enterprise and lakeFS Cloud doc pages to top level
  docs/cloud/index.md
  docs/enterprise/architecture.md
  docs/enterprise/fluffy-configuration.md
  docs/enterprise/index.md
  docs/enterprise/orchestration.md
  docs/howto/garbage-collection/managed-gc.md
  docs/howto/mirroring.md
  docs/reference/auditing.md
  docs/reference/security/access-control-lists.md
  docs/reference/security/external-principals-aws.md
  docs/reference/security/rbac.md
  docs/understand/index.md
Labels: docs, exclude-changelog, minor-change

#7701 Read from branch with compaction data
  pkg/catalog/catalog_test.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/gc_write_uncommitted.go
  pkg/catalog/uncommitted_iterator.go
  pkg/catalog/uncommitted_iterator_test.go
  pkg/graveler/combined_iterator_test.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/joined_diff_iterator.go
  pkg/graveler/joined_diff_iterator_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog

#7857 Update feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: exclude-changelog, minor-change

#7858 Update feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: exclude-changelog, minor-change

#7859 Add wrapper generate "unit" test
  Makefile
  tools/wrapgen/testcode/interface.go
  tools/wrapgen/testcode/wrapped_gen.go
  tools/wrapgen/testcode/wrapped_test.go
Labels: pr/merge-if-approved, area/testing, infrastructure, exclude-changelog, minor-change

#7869 Fix esti Azure workflow
  .github/workflows/esti.yaml
Labels: exclude-changelog, minor-change

#7862 lakectl local: add git context tracking
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/root.go
Labels: exclude-changelog, minor-change

#7873 Enrich error on no staging token
  pkg/graveler/graveler.go
Labels: exclude-changelog, minor-change

#7847 Enforce same-region storage for new repositories
  docs/reference/configuration.md
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/s3/adapter.go
  pkg/block/s3/client_cache.go
  pkg/block/transient/adapter.go
  pkg/block/validations.go
  pkg/block/validations_test.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/gateway/operations/mock_adapter_test.go
  pkg/gateway/operations/putobject_test.go
  pkg/testutil/adapter.go
Labels: new-feature, area/block-adapter, include-changelog, AWS

#7865 allow changing commit data in cherry-pick and revert
  api/swagger.yml
  clients/java-legacy/.openapi-generator/FILES
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/CherryPickCreation.md
  clients/java-legacy/docs/RevertCreation.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/CherryPickCreation.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/RevertCreation.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/CherryPickCreationTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/RevertCreationTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/CherryPickCreation.md
  clients/java/docs/RevertCreation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/JSON.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/CherryPickCreation.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/RevertCreation.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/CherryPickCreationTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/RevertCreationTest.java
  clients/python-legacy/.openapi-generator/FILES
  clients/python-legacy/README.md
  clients/python-legacy/docs/BranchesApi.md
  clients/python-legacy/docs/CherryPickCreation.md
  clients/python-legacy/docs/RevertCreation.md
  clients/python-legacy/lakefs_client/model/cherry_pick_creation.py
  clients/python-legacy/lakefs_client/model/revert_creation.py
  clients/python-legacy/lakefs_client/models/__init__.py
  clients/python-legacy/test/test_cherry_pick_creation.py
  clients/python-legacy/test/test_revert_creation.py
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/CherryPickCreation.md
  clients/python/docs/RevertCreation.md
  clients/python/lakefs_sdk/__init__.py
  clients/python/lakefs_sdk/models/__init__.py
  clients/python/lakefs_sdk/models/cherry_pick_creation.py
  clients/python/lakefs_sdk/models/revert_creation.py
  clients/python/test/test_cherry_pick_creation.py
  clients/python/test/test_revert_creation.py
  clients/rust/.openapi-generator/FILES
  clients/rust/README.md
  clients/rust/docs/CherryPickCreation.md
  clients/rust/docs/RevertCreation.md
  clients/rust/src/models/cherry_pick_creation.rs
  clients/rust/src/models/mod.rs
  clients/rust/src/models/revert_creation.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/mock/graveler.go
Labels: include-changelog

#7875 Make batch_size in kv.Scan effective for first Scan of iterator
  pkg/kv/cosmosdb/store.go
  pkg/kv/dynamodb/store.go
  pkg/kv/postgres/store.go
Labels: include-changelog

#7844 prevent unnecessary operations on write actions to read-only repository in s3 gateway
  esti/s3_gateway_test.go
  esti/system_test.go
  esti/zero_reader.go
  pkg/gateway/operations/deleteobject.go
  pkg/gateway/operations/deleteobjects.go
  pkg/gateway/operations/postobject.go
  pkg/gateway/operations/putobject.go
Labels: include-changelog

#7860 Docs: add lakeFS Mount Use Cases and FAQs
  docs/cloud/index.md
  docs/enterprise/index.md
  docs/reference/mount.md
Labels: docs, exclude-changelog, minor-change

#7879 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7883 Update compatibility-tests.yaml - app version 1.26.1
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#7886 Expose user metadata in Spark client
  clients/spark/src/main/scala/io/treeverse/clients/LakeFSContext.scala
Labels: area/client/spark, include-changelog

#7874 lakeFS Client from aws role
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/setup.py
  docs/integrations/python.md
  docs/reference/security/external-principals-aws.md
Labels: exclude-changelog, minor-change, python-wrapper, python-sdk-changelog

#7893 Fix: Docs typos
  docs/reference/security/external-principals-aws.md
Labels: exclude-changelog, minor-change

#7894 Release python wrapper version 0.7.0
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#7897 Update CHANGELOG.md
  clients/spark/CHANGELOG.md
Labels: exclude-changelog, minor-change

#7892 CosmosDB iterator to use dynamic batch size after the first list
  pkg/kv/cosmosdb/store.go
Labels: include-changelog

#7898 Update build.sbt
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#7899 fix: add missing files after "make gen"
  clients/java-legacy/docs/CommitOverrides.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/CommitOverrides.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/CommitOverridesTest.java
  clients/java/docs/CommitOverrides.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/CommitOverrides.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/CommitOverridesTest.java
  clients/python-legacy/docs/CommitOverrides.md
  clients/python-legacy/lakefs_client/model/commit_overrides.py
  clients/python-legacy/test/test_commit_overrides.py
  clients/python/docs/CommitOverrides.md
  clients/python/lakefs_sdk/models/commit_overrides.py
  clients/python/test/test_commit_overrides.py
  clients/rust/docs/CommitOverrides.md
  clients/rust/src/models/commit_overrides.rs
Labels: exclude-changelog

#7901 Update docs for Spark client v0.14.0
  clients/spark/README.md
  docs/howto/export.md
  docs/howto/garbage-collection/gc.md
  docs/reference/spark-client.md
Labels: exclude-changelog, minor-change

#7891 Addresses the vertical misalignment between the branch name and the "…
  webui/src/pages/repositories/repository/branches.jsx
Labels: area/UI, exclude-changelog

#7903 HL Python SDK: ObjectWriter write buffer as binary always
  clients/python-wrapper/lakefs/object.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
Labels: bug, exclude-changelog, python-sdk-changelog

#7895 Use typechecking to overcome sphynx error
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/lakefs/client.py
Labels: exclude-changelog, minor-change

#7896 Fix S3 bucket validation for inter-region storage
  pkg/block/s3/adapter.go
Labels: bug, include-changelog

#7906 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7908 HL Python SDK: Add docs generation to unit test workflow
  .github/workflows/python-wrapper-unit-tests.yaml
Labels: area/sdk/python, exclude-changelog, minor-change

#7905 CI: verify no untracked files in the clients folder
  .github/workflows/test.yaml
  Makefile
  scripts/verify_clients_untracked_files.sh
Labels: exclude-changelog

#7854 Add flare command
  cmd/lakefs/cmd/common_helpers.go
  cmd/lakefs/cmd/flare.go
  go.mod
  go.sum
  pkg/config/struct_fields.go
  pkg/config/types.go
  pkg/flare/flare.go
  pkg/flare/flare_test.go
  pkg/flare/writers.go
  pkg/logging/logger.go
Labels: include-changelog

#7916 Fix auth service monitor wrapper to maintain EmailInviter implementation when required
  .github/workflows/esti.yaml
  Makefile
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/run_test.go
  pkg/auth/monitored.go
  pkg/auth/service.go
Labels: include-changelog, minor-change

#7920 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7921 Fix build failing with Windows target
  cmd/lakefs/cmd/flare.go
  pkg/flare/permissions_darwin.go
  pkg/flare/permissions_freebsd.go
  pkg/flare/permissions_linux.go
  pkg/flare/permissions_openbsd.go
  pkg/flare/permissions_windows.go
Labels: exclude-changelog, minor-change

#7913 Metric for open connections
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/block/adapter.go
  pkg/block/factory/build.go
  pkg/block/metrics.go
  pkg/config/config_test.go
  pkg/httputil/client_trace.go
  pkg/kv/metrics.go
Labels: include-changelog

#7923 Document that size_bytes is optional for clients but not for lakeFS
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/ObjectStats.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/ObjectStats.java
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectStats.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/ObjectStats.java
  clients/python-legacy/docs/ObjectStats.md
  clients/python-legacy/lakefs_client/model/object_stats.py
  clients/python/docs/ObjectStats.md
  clients/python/lakefs_sdk/models/object_stats.py
  clients/rust/docs/ObjectStats.md
  clients/rust/src/models/object_stats.rs
  docs/assets/js/swagger.yml
Labels: pr/merge-if-approved, docs, contributor, exclude-changelog, minor-change

#7922 Edit documentation for Login with python
  docs/reference/security/external-principals-aws.md
Labels: exclude-changelog, minor-change

#7918 Add Spark client user metadata search example to spark-client.md
  docs/reference/spark-client.md
Labels: docs, exclude-changelog, minor-change

#7927 Experimental: lakectl local unix perm configuration
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_upload.go
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/root.go
  cmd/lakectl/cmd/root_test.go
  pkg/local/sync.go
Labels: exclude-changelog, minor-change

#7934 Docs: Re-add virtual host addressing
  docs/howto/virtual-host-addressing.md
Labels: docs, exclude-changelog

#7889 Test debt
  pkg/block/adapter.go
  pkg/block/azure/main_test.go
  pkg/block/blocktest/adapter.go
  pkg/block/blocktest/multipart.go
  pkg/block/local/adapter_test.go
  pkg/block/s3/adapter.go
  pkg/block/s3/adapter_test.go
  pkg/block/s3/main_test.go
Labels: exclude-changelog, tech-debt
