Repository treeverse/lakeFS, pull requests merged in 2024-08, with the labels that each got.

#8025 Docs: refactor sts-login.md
  docs/reference/security/sts-login.md
Labels: exclude-changelog, minor-change

#8034 Expand security documentation
  docs/reference/security/index.md
Labels: docs, exclude-changelog, minor-change

#8035 Docs: Fix feedback button
  docs/assets/js/feedback.js
Labels: docs, exclude-changelog, minor-change

#8030 Optimize welcome doc
  docs/assets/img/lakeFSArchitecture.excalidraw
  docs/assets/img/lakeFSArchitecture.png
  docs/assets/what_is.png
  docs/index.md
Labels: docs, exclude-changelog, minor-change

#8020 Change jekyll version for document contribution
  docs/project/docs/index.md
Labels: exclude-changelog, minor-change

#8023 Add an embedded video for importing data
  docs/howto/import.md
Labels: exclude-changelog, minor-change

#8024 Added video for Mount feature
  docs/quickstart/work-with-data-locally.md
  docs/reference/mount.md
Labels: exclude-changelog, minor-change

#8029 Add ETL Testing tutorial link
  docs/understand/use_cases/etl_testing.md
Labels: exclude-changelog, minor-change

#8033 Docs: add Azure ADLS Gen2 support for Unity Catalog Export
  docs/integrations/unity-catalog.md
Labels: exclude-changelog, minor-change

#8045 Add Unity Catalog tutorial link
  docs/integrations/unity-catalog.md
Labels: exclude-changelog, minor-change

#8046 Improve ACL deprication message
  docs/reference/security/access-control-lists.md
Labels: docs, exclude-changelog, minor-change

#8047 Add lakectl local reference guide
  docs/quickstart/work-with-data-locally.md
Labels: docs, exclude-changelog, minor-change

#8043 Removed public preview mirroring.md
  docs/howto/mirroring.md
Labels: docs, exclude-changelog, minor-change

#8040 updated title name protect-branches.md
  docs/howto/protect-branches.md
Labels: docs, exclude-changelog, minor-change

#8048 Add Enterprise tag for Auditing feature
  docs/reference/auditing.md
Labels: docs, exclude-changelog, minor-change

#8049 Docs: Refactor Security section
  docs/cloud/index.md
  docs/enterprise/configuration.md
  docs/enterprise/getstarted/install.md
  docs/enterprise/getstarted/quickstart.md
  docs/enterprise/index.md
  docs/howto/deploy/aws.md
  docs/howto/mirroring.md
  docs/integrations/duckdb.md
  docs/integrations/python.md
  docs/integrations/spark.md
  docs/reference/index.md
  docs/reference/mount.md
  docs/reference/security/index.md
  docs/security/access-control-lists.md
  docs/security/authentication.md
  docs/security/external-principals-aws.md
  docs/security/index.md
  docs/security/presigned-url.md
  docs/security/rbac.md
  docs/security/remote-authenticator.md
  docs/security/sso.md
  docs/security/sts-login.md
  docs/understand/glossary.md
Labels: docs, exclude-changelog, minor-change

#8039 Docs: Add data-structure.md
  docs/quickstart/commit-and-merge.md
  docs/understand/data-structure.md
Labels: docs, exclude-changelog, minor-change

#8016 Exclude specific-version docs from search engines
  .github/workflows/docs-release.yaml
  docs/_config.version.yml
  docs/_includes/head_custom.html
  docs/robots.txt
Labels: exclude-changelog, minor-change, docs-platform, area/ci

#8004 Fixed Insufficient permissions ("unauthorized") bug
  webui/src/lib/api/index.js
Labels: bug, area/UI, exclude-changelog

#8053 Bump ws from 8.16.0 to 8.18.0
  webui/package-lock.json
Labels: exclude-changelog, minor-change

#8055 lakectl local: add option to ignore symlinks
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_upload.go
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/root.go
  esti/lakectl_local_test.go
  pkg/fileutil/io.go
  pkg/local/config.go
  pkg/local/diff.go
  pkg/local/diff_test.go
  pkg/local/sync.go
  pkg/local/sync_test.go
Labels: area/lakectl, include-changelog, lakectl-local

#8058 Bump docker dep 26.0.6+incompatible
  go.mod
  go.sum
Labels: exclude-changelog, minor-change

#8057 ACLs: add deprecation banner
  webui/src/lib/components/auth/layout.tsx
Labels: exclude-changelog

#8000 create db lua 7970
  docs/howto/hooks/lua.md
  esti/export_hooks_files/glue/scripts/glue_exporter.lua
  pkg/actions/lua/lakefs/catalogexport/glue_exporter.lua
  pkg/actions/lua/storage/aws/glue.go
Labels: include-changelog

#8051 Enhanced logs for advanced auth capabilities
  cmd/lakefs/cmd/run.go
  pkg/api/serve.go
  pkg/config/config.go
  pkg/gateway/handler.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/httputil/logging.go
  pkg/httputil/tracing.go
Labels: exclude-changelog, minor-change

#8059 Update docs about audit logs
  docs/enterprise/getstarted/install.md
Labels: exclude-changelog, minor-change

#8060 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8061 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8066 Handle empty page when CosmosDB Iterator uses dynamic batch size
  pkg/kv/cosmosdb/store.go
  pkg/kv/kvtest/store.go
Labels: include-changelog, area/KV

#8067 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8068 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8064 ACLs: Extract AuthService implementation
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  contrib/auth/acl/service.go
  contrib/auth/acl/service_test.go
  contrib/auth/acl/testutil/service.go
  esti/delete_objects_test.go
  pkg/api/serve_test.go
  pkg/auth/cache.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/kv/migrations/migrations_test.go
  pkg/kv/migrations/rbac_to_acl.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog

#8073 Add base-url to sitemap.xml
  .github/workflows/docs-latest.yaml
Labels: new-feature, exclude-changelog, docs-platform

#8075 UI: Fix ACLs message
  webui/src/lib/components/auth/layout.tsx
Labels: exclude-changelog, minor-change

#8074 ACLs: Add ACL Server
  .github/workflows/esti.yaml
  api/authorization.yml
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/kv.go
  cmd/lakefs/cmd/migrate.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  contrib/auth/acl/Dockerfile
  contrib/auth/acl/cmd/acl/cmd/root.go
  contrib/auth/acl/cmd/acl/cmd/run.go
  contrib/auth/acl/cmd/acl/main.go
  contrib/auth/acl/config.go
  contrib/auth/acl/controller.go
  contrib/auth/acl/name.go
  contrib/auth/acl/permission.go
  contrib/auth/acl/serve.go
  contrib/auth/acl/service.go
  contrib/auth/acl/service_test.go
  contrib/auth/acl/setup.go
  contrib/auth/acl/testutil/service.go
  contrib/auth/acl/write.go
  contrib/auth/apigen/authapi.gen.go
  esti/ops/docker-compose-acl.yaml
  go.mod
  go.sum
  pkg/api/controller.go
  pkg/api/serve_test.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/auth/setup/setup.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/kv/kvparams/database.go
  pkg/kv/migrations/migrations_test.go
  pkg/kv/migrations/rbac_to_acl.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog

#8082 Bump lakeFS to golang 1.22.6
  .github/workflows/codeql-analysis.yaml
  .github/workflows/compatibility-tests.yaml
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/test.yaml
  Dockerfile
  clients/spark/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
  contrib/auth/acl/Dockerfile
  esti/ops/docker-compose-acl.yaml
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  go.mod
  go.sum
  pkg/actions/actions.pb.go
  pkg/auth/model/model.pb.go
  pkg/catalog/catalog.pb.go
  pkg/gateway/multipart/multipart.pb.go
  pkg/graveler/committed/committed.pb.go
  pkg/graveler/committed/manager_test.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/settings/test_settings.pb.go
  pkg/kv/kvtest/test_model.pb.go
  pkg/kv/secondary_index.pb.go
Labels: exclude-changelog

#8076 Made few minor changes in Enterprise docs
  docs/enterprise/getstarted/quickstart.md
  docs/enterprise/index.md
  docs/enterprise/troubleshooting.md
  docs/howto/mirroring.md
  docs/howto/scim.md
Labels: docs, exclude-changelog, minor-change

#8087 ACLs: Modify superuser command and add migrate flow
  .github/workflows/esti.yaml
  cmd/lakefs/cmd/superuser.go
  contrib/auth/acl/service.go
  esti/golden/lakefs/help.golden
  esti/lakectl_test.go
  esti/lakectl_util.go
  esti/lakefs_test.go
  esti/lakefs_util.go
  esti/main_test.go
  esti/ops/docker-compose-acl.yaml
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  pkg/auth/basic_service.go
  pkg/auth/basic_service_test.go
  pkg/auth/model/model.go
  pkg/testutil/setup.go
Labels: exclude-changelog

#8093 lakectl: add --no-progress flag
  cmd/lakectl/cmd/root.go
  docs/reference/cli.md
  pkg/fileutil/fs_case.go
  pkg/local/config.go
  pkg/local/sync.go
Labels: bug, include-changelog, feature

#8097 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8099 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8100 lakectl: Fix dir handling in local commands
  cmd/lakectl/cmd/local_clone.go
  esti/lakectl_local_test.go
  pkg/local/sync.go
Labels: bug, exclude-changelog, minor-change

#8105 lakectl local: fix dir seek
  pkg/local/progress.go
  pkg/local/sync.go
Labels: include-changelog

#8106 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8107 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8090 ACLs: Add migration flow on startup
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/run_test.go
  pkg/auth/basic_service.go
  pkg/auth/basic_service_test.go
  pkg/auth/errors.go
Labels: exclude-changelog
