Repository treeverse/lakeFS, pull requests merged in 2024-09, with the labels that each got.

#8109 Fix broken link to pyspark.sql.DataFrame.printSchema
  docs/reference/auditing.md
Labels: docs, include-changelog, area/ci

#8116 Update go.mod
  go.mod
Labels: exclude-changelog, minor-change

#8121 ACLs: Remove server usage in tests
  esti/auth_test.go
  esti/system_test.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/auth/basic_service.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog

#8117 S3 GW CopyObject to allow metadata (copy and replace)
  esti/s3_gateway_test.go
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/gateway/operations/operation_utils.go
  pkg/gateway/operations/putobject.go
Labels: include-changelog

#8126 ACLs: Remove server usage
  .github/workflows/esti.yaml
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/LoginConfig.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/LoginConfig.java
  clients/java/api/openapi.yaml
  clients/java/docs/LoginConfig.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/LoginConfig.java
  clients/python-legacy/lakefs_client/model/login_config.py
  clients/python/lakefs_sdk/models/login_config.py
  clients/python/test/test_login_config.py
  clients/python/test/test_setup_state.py
  clients/rust/src/models/login_config.rs
  cmd/lakectl/cmd/auth.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/run_test.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  contrib/auth/acl/Dockerfile
  contrib/auth/acl/controller.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/security/access-control-lists.md
  docs/security/rbac.md
  esti/lakefs_util.go
  esti/ops/docker-compose-acl.yaml
  esti/ops/docker-compose.yaml
  pkg/api/serve_test.go
  pkg/auth/basic_service.go
  pkg/auth/setup/setup.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/loadtest/local_load_test.go
  webui/src/lib/components/auth/layout.tsx
Labels: include-changelog

#8129 ACLs: Remove migration code
  cmd/lakefs/cmd/migrate.go
  cmd/lakefs/cmd/migrate_test.go
  pkg/kv/migrations/import_permissions.go
  pkg/kv/migrations/migrations_test.go
  pkg/kv/migrations/rbac_to_acl.go
  pkg/kv/migrations/utils.go
Labels: exclude-changelog

#8131 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8132 Update CHANGELOG.md - Fix typo
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8133 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8146 make blockstore type config to be not case sensitive
  pkg/block/factory/build.go
Labels: include-changelog

#8130 Add Databricks integration page
  docs/assets/img/Databricks-arch.excalidraw
  docs/assets/img/databricks-arch.png
  docs/integrations/databricks.md
  docs/integrations/delta.md
  docs/integrations/spark.md
Labels: exclude-changelog, minor-change

#8147 Fix image rendering in Databricks docs
  docs/integrations/databricks.md
Labels: exclude-changelog, minor-change

#8154 HL Python SDK: Fix objects() return type
  clients/python-wrapper/lakefs/reference.py
Labels: bug, exclude-changelog, python-sdk-changelog

#8148 Minor corrections to databricks docs
  docs/assets/img/logos/databricks.png
  docs/integrations/databricks.md
  docs/integrations/index.md
Labels: docs, exclude-changelog, minor-change

#8137 WebUI Dark Mode
  pkg/samplerepo/assets/sample/images/quickstart-step-00-launch.png
  pkg/samplerepo/assets/sample/images/quickstart-step-01-query.png
  pkg/samplerepo/assets/sample/images/quickstart-step-02-branch.png
  pkg/samplerepo/assets/sample/images/quickstart-step-03-merge.png
  pkg/samplerepo/assets/sample/images/quickstart-step-04-rollback.png
  pkg/samplerepo/assets/sample/images/quickstart-step-05-actions.png
  webui/package-lock.json
  webui/package.json
  webui/src/lib/components/auth/credentials.jsx
  webui/src/lib/components/darkModeToggle.tsx
  webui/src/lib/components/layout.tsx
  webui/src/lib/components/navbar.jsx
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/lib/components/repository/commits.jsx
  webui/src/lib/hooks/appContext.tsx
  webui/src/pages/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/fileRenderers/CustomMarkdownRenderer.jsx
  webui/src/pages/repositories/repository/tags.jsx
  webui/src/pages/setup/setupComplete.tsx
  webui/src/styles/globals.css
  webui/src/styles/quickstart.css
Labels: area/UI, include-changelog

#8162 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8163 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#8155 Use ACL server for CI
  .github/workflows/esti.yaml
  .gitignore
  esti/auth_test.go
  esti/lakectl_test.go
  esti/lakefs_test.go
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose-fluffy.yaml
  esti/ops/docker-compose.yaml
  esti/system_test.go
Labels: exclude-changelog

#8171 PRfD - List Pull Requests UI
  webui/package.json
  webui/src/lib/api/index.js
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/tabs.jsx
  webui/src/pages/index.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
  webui/src/pages/repositories/repository/pulls/pulls.jsx
  webui/src/pages/repositories/repository/tags.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog

#8170 Add presigned url endpoint configuration to AWS
  docs/reference/configuration.md
  docs/security/presigned-url.md
  pkg/block/azure/adapter_test.go
  pkg/block/blocktest/adapter.go
  pkg/block/factory/build.go
  pkg/block/gs/adapter_test.go
  pkg/block/local/adapter_test.go
  pkg/block/params/block.go
  pkg/block/s3/adapter.go
  pkg/block/s3/adapter_test.go
  pkg/config/config.go
Labels: include-changelog

#8178 Pull Requests: Add proto and ref manager logic
  pkg/actions/kv_run_results_iterator.go
  pkg/actions/service_test.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/mock/graveler.go
  pkg/graveler/model.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog, pull-requests

#8191 Remove typesync from webui dev packages
  webui/package-lock.json
  webui/package.json
Labels: pr/merge-if-approved, area/UI, javascript, exclude-changelog, tech-debt, minor-change

#8184 Pull Requests: List pull requests
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/model.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/pulls_iterator.go
  pkg/graveler/ref/pulls_iterator_test.go
  pkg/graveler/ref/tag_iterator_test.go
  pkg/graveler/testutil/fakes.go
Labels: exclude-changelog, pull-requests

#8196 Document tag/branch lookup in branch/tag creation
  pkg/catalog/catalog.go
Labels: exclude-changelog

#8185 PRfD - PR Details page
  webui/src/constants.ts
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/components/repository/compareBranches.jsx
  webui/src/lib/components/repository/compareBranchesActionBar.jsx
  webui/src/pages/index.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/pulls/createPull.jsx
  webui/src/pages/repositories/repository/pulls/pullDetails.jsx
  webui/src/pages/repositories/repository/pulls/pulls.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog, pull-requests

#8208 Docs: Fix broken links
  docs/.lycheeignore
  docs/project/contributing.md
  docs/understand/architecture.md
Labels: exclude-changelog, minor-change

#8207 Pull Requests: Add update / remove delete
  api/swagger.yml
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/ExperimentalApi.md
  clients/java-legacy/docs/PullsApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/ExperimentalApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/PullsApi.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/ExperimentalApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/PullsApiTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ExperimentalApi.md
  clients/java/docs/PullsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ExperimentalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/PullsApi.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ExperimentalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/PullsApiTest.java
  clients/python-legacy/README.md
  clients/python-legacy/docs/ExperimentalApi.md
  clients/python-legacy/docs/PullsApi.md
  clients/python-legacy/lakefs_client/api/experimental_api.py
  clients/python-legacy/lakefs_client/api/pulls_api.py
  clients/python-legacy/test/test_experimental_api.py
  clients/python-legacy/test/test_pulls_api.py
  clients/python/README.md
  clients/python/docs/ExperimentalApi.md
  clients/python/docs/PullsApi.md
  clients/python/lakefs_sdk/api/experimental_api.py
  clients/python/lakefs_sdk/api/pulls_api.py
  clients/python/test/test_experimental_api.py
  clients/python/test/test_pulls_api.py
  clients/rust/README.md
  clients/rust/docs/ExperimentalApi.md
  clients/rust/docs/PullsApi.md
  clients/rust/src/apis/experimental_api.rs
  clients/rust/src/apis/pulls_api.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/validate.go
Labels: exclude-changelog, pull-requests

#8206 PRfD - Create PR page
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/compareBranches.jsx
  webui/src/lib/components/repository/compareBranchesActionBar.jsx
  webui/src/lib/components/repository/compareBranchesSelection.jsx
  webui/src/pages/repositories/repository/compare.jsx
  webui/src/pages/repositories/repository/pulls/createPull.jsx
  webui/src/pages/repositories/repository/pulls/pullDetails.jsx
  webui/src/pages/repositories/repository/pulls/pulls.jsx
Labels: exclude-changelog, pull-requests

#8209 PRfd - Merge PR and change PR status
  webui/package-lock.json
  webui/package.json
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/compareBranchesActionBar.jsx
  webui/src/pages/index.jsx
  webui/src/pages/repositories/repository/pulls/pullDetails.jsx
  webui/src/pages/repositories/repository/pulls/pullsList.jsx
  webui/src/styles/globals.css
Labels: exclude-changelog, pull-requests

#8214 Release 1.35.0: Update changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8217 Add version 1.35.0 to compatibilty tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#8213 Fix: lakectl local checkout src uri
  cmd/lakectl/cmd/local_checkout.go
Labels: bug, area/lakectl, include-changelog

#8212 Pull Requests: More tests and adjustments
  api/swagger.yml
  clients/java-legacy/.openapi-generator/FILES
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/ExperimentalApi.md
  clients/java-legacy/docs/PullRequestCreationResponse.md
  clients/java-legacy/docs/PullsApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/ExperimentalApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/PullsApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/PullRequestCreationResponse.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/ExperimentalApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/PullsApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/PullRequestCreationResponseTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ExperimentalApi.md
  clients/java/docs/PullRequestCreationResponse.md
  clients/java/docs/PullsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ExperimentalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/JSON.java
  clients/java/src/main/java/io/lakefs/clients/sdk/PullsApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/PullRequestCreationResponse.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ExperimentalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/PullsApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/PullRequestCreationResponseTest.java
  clients/python-legacy/.openapi-generator/FILES
  clients/python-legacy/README.md
  clients/python-legacy/docs/ExperimentalApi.md
  clients/python-legacy/docs/PullRequestCreationResponse.md
  clients/python-legacy/docs/PullsApi.md
  clients/python-legacy/lakefs_client/api/experimental_api.py
  clients/python-legacy/lakefs_client/api/pulls_api.py
  clients/python-legacy/lakefs_client/model/pull_request_creation_response.py
  clients/python-legacy/lakefs_client/models/__init__.py
  clients/python-legacy/test/test_pull_request_creation_response.py
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/ExperimentalApi.md
  clients/python/docs/PullRequestCreationResponse.md
  clients/python/docs/PullsApi.md
  clients/python/lakefs_sdk/__init__.py
  clients/python/lakefs_sdk/api/experimental_api.py
  clients/python/lakefs_sdk/api/pulls_api.py
  clients/python/lakefs_sdk/models/__init__.py
  clients/python/lakefs_sdk/models/pull_request_creation_response.py
  clients/python/test/test_pull_request_creation_response.py
  clients/rust/.openapi-generator/FILES
  clients/rust/README.md
  clients/rust/docs/ExperimentalApi.md
  clients/rust/docs/PullRequestCreationResponse.md
  clients/rust/docs/PullsApi.md
  clients/rust/src/apis/experimental_api.rs
  clients/rust/src/apis/pulls_api.rs
  clients/rust/src/models/mod.rs
  clients/rust/src/models/pull_request_creation_response.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
Labels: exclude-changelog, pull-requests

#8220 Adjust Create PR of WebUI to API
  webui/src/lib/api/index.js
Labels: exclude-changelog, minor-change

#8221 Adjust Create PR of WebUI to API (II)
  webui/src/pages/repositories/repository/pulls/createPull.jsx
Labels: exclude-changelog, minor-change

#8215 Add a function for enabling sys logs
  pkg/logging/logger.go
Labels: exclude-changelog

#8223 Pull Requests: Add closed date
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/PullRequest.md
  clients/java-legacy/docs/PullRequestAllOf.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/PullRequest.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/PullRequestAllOf.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/PullRequestAllOfTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/PullRequestTest.java
  clients/java/api/openapi.yaml
  clients/java/docs/PullRequest.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/PullRequest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/PullRequestTest.java
  clients/python-legacy/docs/PullRequest.md
  clients/python-legacy/docs/PullRequestAllOf.md
  clients/python-legacy/lakefs_client/model/pull_request.py
  clients/python-legacy/lakefs_client/model/pull_request_all_of.py
  clients/python/docs/PullRequest.md
  clients/python/lakefs_sdk/models/pull_request.py
  clients/python/test/test_pull_request.py
  clients/rust/docs/PullRequest.md
  clients/rust/src/models/pull_request.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/model.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/pulls_iterator_test.go
Labels: exclude-changelog, pull-requests

#8229 remove beta note
  docs/reference/mount.md
Labels: docs, exclude-changelog, minor-change

#8231 remove private preview tag
  docs/reference/mount.md
Labels: docs, exclude-changelog

#8225 PRfD UX UI Improvements
  webui/src/lib/components/repository/compareBranches.jsx
  webui/src/lib/hooks/diffContext.tsx
  webui/src/pages/repositories/repository/pulls/createPull.jsx
  webui/src/pages/repositories/repository/pulls/pullDetails.jsx
  webui/src/pages/repositories/repository/pulls/pullsList.jsx
Labels: exclude-changelog

#8228 Pull Requests: Add merge endpoint
  api/swagger.yml
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/ExperimentalApi.md
  clients/java-legacy/docs/PullRequestCreation.md
  clients/java-legacy/docs/PullsApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/ExperimentalApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/PullsApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/PullRequestCreation.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/ExperimentalApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/PullsApiTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ExperimentalApi.md
  clients/java/docs/PullRequestCreation.md
  clients/java/docs/PullsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ExperimentalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/PullsApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/PullRequestCreation.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ExperimentalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/PullsApiTest.java
  clients/python-legacy/README.md
  clients/python-legacy/docs/ExperimentalApi.md
  clients/python-legacy/docs/PullRequestCreation.md
  clients/python-legacy/docs/PullsApi.md
  clients/python-legacy/lakefs_client/api/experimental_api.py
  clients/python-legacy/lakefs_client/api/pulls_api.py
  clients/python-legacy/lakefs_client/model/pull_request_creation.py
  clients/python-legacy/test/test_experimental_api.py
  clients/python-legacy/test/test_pulls_api.py
  clients/python/README.md
  clients/python/docs/ExperimentalApi.md
  clients/python/docs/PullRequestCreation.md
  clients/python/docs/PullsApi.md
  clients/python/lakefs_sdk/api/experimental_api.py
  clients/python/lakefs_sdk/api/pulls_api.py
  clients/python/lakefs_sdk/models/pull_request_creation.py
  clients/python/test/test_experimental_api.py
  clients/python/test/test_pull_request_creation.py
  clients/python/test/test_pulls_api.py
  clients/rust/README.md
  clients/rust/docs/ExperimentalApi.md
  clients/rust/docs/PullRequestCreation.md
  clients/rust/docs/PullsApi.md
  clients/rust/src/apis/experimental_api.rs
  clients/rust/src/apis/pulls_api.rs
  clients/rust/src/models/pull_request_creation.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/model.go
  pkg/graveler/graveler.go
Labels: exclude-changelog, pull-requests

#8232 Integrate Merge PR API
  webui/package-lock.json
  webui/package.json
  webui/src/lib/api/index.js
  webui/src/pages/repositories/repository/pulls/createPull.jsx
  webui/src/pages/repositories/repository/pulls/pullDetails.jsx
Labels: exclude-changelog, minor-change

#8235 Pull Requests for Data
  webui/src/lib/components/repository/tabs.jsx
  webui/src/pages/repositories/repository/pulls/pullsList.jsx
  webui/test/e2e/common/quickstart.spec.ts
  webui/test/e2e/poms/pullsPage.ts
  webui/test/e2e/poms/repositoryPage.ts
Labels: include-changelog

#8248 Changed syslogs function to build only for non-windows OS
  pkg/logging/logger.go
  pkg/logging/syslogs.go
Labels: exclude-changelog, minor-change

#8250 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci
