Repository treeverse/lakeFS, pull requests merged in 2024-05, with the labels that each got.

#7704 Add lakefs-spec to list of Python integrations
  docs/integrations/python.md
Labels: docs, exclude-changelog, minor-change

#7718 DDB temp creds to refresh before expiry
  pkg/kv/dynamodb/store.go
Labels: include-changelog

#7720 UI: calculate total size of common prefix
  webui/src/lib/api/index.js
  webui/src/lib/components/controls.jsx
  webui/src/lib/components/repository/tree.jsx
Labels: area/UI, include-changelog, minor-change

#7723 7705 retryable http client
  cmd/lakectl/cmd/retry_client.go
  cmd/lakectl/cmd/retry_client_test.go
  cmd/lakectl/cmd/root.go
  go.mod
  go.sum
Labels: area/lakectl, include-changelog

#7728 Changelog v1.21.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7729 Add lakeFS 1.21.0 to compatibility test list
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7744 Handle KV slow down error
  pkg/api/controller.go
Labels: bug, area/API, include-changelog

#7725 Remove linked addresses from KV
  CHANGELOG.md
  cmd/lakefs/cmd/run.go
  docs/reference/configuration.md
  esti/lakectl_util.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/block/azure/adapter.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/ref/link_address_iterator.go
  pkg/graveler/ref/link_addresss_iterator_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/testutil/fakes.go
Labels: performance, include-changelog, area/KV

#7731 Add a section about the Cloud Scalability Model
  docs/understand/lakefs-cloud.md
Labels: exclude-changelog, minor-change

#7702 Organize Enterprise docs
  docs/assets/img/enterprise/enterprise-arch.excalidraw
  docs/assets/img/enterprise/enterprise-arch.png
  docs/reference/security/external-principals-aws.md
  docs/reference/security/rbac.md
  docs/reference/security/sso.md
  docs/understand/enterprise/architecture.md
  docs/understand/enterprise/fluffy-configuration.md
  docs/understand/enterprise/index.md
  docs/understand/enterprise/orchestration.md
  docs/understand/index.md
  docs/understand/lakefs-enterprise.md
Labels: docs, exclude-changelog, minor-change

#7743 Update lakectl abuse to use set/link physical address
  cmd/lakectl/cmd/abuse_commit.go
  cmd/lakectl/cmd/abuse_link_same_object.go
  cmd/lakectl/cmd/abuse_random_writes.go
  esti/lakectl_test.go
Labels: bug, area/lakectl, exclude-changelog

#7722 UI: Report progress when calculating size
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/tree.jsx
Labels: area/UI, include-changelog, minor-change

#7746 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7747 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7749 fix: broken link to support on "scalability model"
  docs/understand/lakefs-cloud.md
Labels: docs, exclude-changelog, minor-change

#7745 Support presigned image URLs in markdown
  webui/package-lock.json
  webui/package.json
  webui/src/lib/remark-plugins/imageUriReplacer.spec.ts
  webui/src/lib/remark-plugins/imageUriReplacer.ts
  webui/src/pages/repositories/repository/fileRenderers/CustomMarkdownRenderer.jsx
  webui/src/pages/repositories/repository/fileRenderers/CustomMarkdownRenderer.tsx
  webui/src/pages/repositories/repository/fileRenderers/rehype-wrap.d.ts
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
  webui/src/pages/repositories/repository/fileRenderers/useMarkdownProcessor.tsx
Labels: area/UI, include-changelog

#7751 Make the number of DynamoDB connections configurable
  docs/reference/configuration.md
  pkg/config/config.go
  pkg/kv/dynamodb/store.go
  pkg/kv/kvparams/database.go
Labels: include-changelog, minor-change

#7757 Docs/deprecate delta sharing
  docs/howto/unity-delta-sharing.md
  docs/understand/lakefs-cloud.md
Labels: docs, exclude-changelog, minor-change

#7750 fix: pre-merge is missing commit ID
  .github/workflows/docs-pr.yaml
  docs/.lycheeignore
  docs/howto/hooks/webhooks.md
  esti/hooks_test.go
  pkg/actions/service.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
Labels: include-changelog, minor-change

#7763 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7764 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7768 Update README.md
  README.md
Labels: docs, exclude-changelog

#7772 Explicitly mark Scala code in export docs
  docs/howto/export.md
Labels: bug, pr/merge-if-approved, docs, exclude-changelog, minor-change

#7774 Make MaxBatchDelay configurable
  docs/reference/configuration.md
  pkg/catalog/catalog.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/graveler/ref/manager.go
Labels: include-changelog

#7767 Handle empty commit messages
  webui/src/lib/components/repository/commits.jsx
  webui/src/pages/repositories/repository/commits/index.jsx
Labels: include-changelog

#7776 Update changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7777 Add v1.24.0 to our compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7778 Update golangci-lint version to 1.58.1
  .gitallowed
  .golangci.yml
  Makefile
  cmd/lakectl/cmd/annotate.go
  cmd/lakectl/cmd/import.go
  cmd/lakectl/cmd/ingest.go
  cmd/lakectl/cmd/retry_client.go
  cmd/lakefs-loadtest/cmd/db.go
  cmd/lakefs-loadtest/cmd/run.go
  cmd/lakefs/cmd/kv.go
  esti/lakectl_util.go
  pkg/api/controller.go
  pkg/block/azure/stats.go
  pkg/block/azure/walker.go
  pkg/block/gs/stats.go
  pkg/block/local/adapter.go
  pkg/block/s3/stats.go
  pkg/config/defaults.go
  pkg/gateway/middleware.go
  pkg/gateway/operations/putobject.go
  pkg/gateway/sig/v4.go
  pkg/gateway/sig/v4_streaming_reader.go
  pkg/httputil/range.go
  pkg/kv/kvtest/store.go
  pkg/loadtest/scenario.go
  pkg/logging/caller.go
  pkg/pyramid/metrics.go
  pkg/pyramid/tier_fs.go
  pkg/testutil/random.go
Labels: exclude-changelog

#7759 Add OS info to `lakectl` UA
  cmd/lakectl/cmd/root.go
  cmd/lakectl/cmd/root_test.go
  pkg/osinfo/osinfo.go
  pkg/osinfo/osinfo_darwin.go
  pkg/osinfo/osinfo_freebsd.go
  pkg/osinfo/osinfo_linux.go
  pkg/osinfo/osinfo_openbsd.go
  pkg/osinfo/osinfo_windows.go
Labels: area/lakectl, include-changelog

#7783 HL Python SDK: Bump version
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#7785 docs: added paragraph on S3 storage tiers
  docs/howto/deploy/aws.md
Labels: docs, exclude-changelog, minor-change

#7752 example hook: dataset metadata validation
  docs/howto/hooks/lua.md
  examples/hooks/dataset_validator.lua
  pkg/actions/lua.go
  pkg/actions/lua/hook/lib.go
  pkg/actions/lua/hook/lib_test.go
  pkg/actions/lua/open.go
  pkg/actions/lua/path/path_test.go
  pkg/actions/service.go
  pkg/api/controller.go
Labels: area/hooks, exclude-changelog, minor-change

#7786 Add internal API endpoint to download meta-ranges and ranges (w/pre-signed support)
  api/swagger.yml
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/InternalApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/InternalApi.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/InternalApiTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/InternalApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/InternalApi.java
  clients/java/src/test/java/io/lakefs/clients/sdk/InternalApiTest.java
  clients/python-legacy/README.md
  clients/python-legacy/docs/InternalApi.md
  clients/python-legacy/lakefs_client/api/internal_api.py
  clients/python-legacy/test/test_internal_api.py
  clients/python/README.md
  clients/python/docs/InternalApi.md
  clients/python/lakefs_sdk/api/internal_api.py
  clients/python/test/test_internal_api.py
  clients/rust/README.md
  clients/rust/docs/InternalApi.md
  clients/rust/src/apis/internal_api.rs
  docs/assets/js/swagger.yml
  esti/metadata_download_test.go
  esti/presign_test.go
  pkg/api/controller.go
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/blocktest/adapter.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/s3/adapter.go
  pkg/block/transient/adapter.go
  pkg/catalog/actions_source.go
  pkg/catalog/catalog_test.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/mock_adapter_test.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/graveler/retention/garbage_collection_manager_test.go
  pkg/pyramid/main_test.go
  pkg/pyramid/tier_fs.go
Labels: exclude-changelog

#7799 docs: fix a broken link in lakeFS Enterprise docs
  docs/understand/enterprise/index.md
Labels: docs, exclude-changelog, minor-change

#7801 UI: Fix dev routing for S3 GW
  webui/vite.config.mts
Labels: bug, area/UI, exclude-changelog

#7796 Fix lakectl local commits remote changes outside synced prefix
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_commit_test.go
  docs/reference/cli.md
  esti/lakectl_local_test.go
  esti/lakectl_util.go
Labels: include-changelog

#7802 Additional review fixes
  cmd/lakectl/cmd/local_commit.go
  esti/lakectl_local_test.go
Labels: exclude-changelog, minor-change

#7803 Propagate request ID from context to API auth service calls
  pkg/api/serve.go
  pkg/auth/client_trace.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/httputil/headers.go
Labels: area/API, area/gateway, area/auth, include-changelog, minor-change, go

#7804 Add more context-based logging
  pkg/auth/service.go
  pkg/auth/setup/setup.go
  pkg/batch/executor.go
  pkg/block/s3/adapter.go
Labels: area/cataloger, area/gateway, area/auth, include-changelog, minor-change

#7808 Bugfix: UI: restore colors in diff view
  webui/src/styles/globals.css
Labels: bug, area/UI, include-changelog, minor-change

#7810 deprecation notice for ACLs
  docs/reference/security/access-control-lists.md
Labels: docs, area/auth, exclude-changelog, minor-change

#7793 Add videos to docs
  docs/howto/hooks/index.md
  docs/howto/local-checkouts.md
  docs/howto/mirroring.md
  docs/index.md
  docs/integrations/airflow.md
  docs/integrations/delta.md
  docs/quickstart/index.md
  docs/reference/security/rbac.md
  docs/understand/architecture.md
Labels: docs, exclude-changelog

#7798 Add "allow-empty" flag to Merge
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/Merge.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/Merge.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/MergeTest.java
  clients/java/api/openapi.yaml
  clients/java/docs/Merge.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/Merge.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/MergeTest.java
  clients/python-legacy/docs/Merge.md
  clients/python-legacy/docs/RefsApi.md
  clients/python-legacy/lakefs_client/model/merge.py
  clients/python/docs/Merge.md
  clients/python/lakefs_sdk/models/merge.py
  clients/python/test/test_merge.py
  clients/rust/docs/Merge.md
  clients/rust/src/models/merge.rs
  cmd/lakectl/cmd/merge.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/graveler.go
Labels: include-changelog

#7815 Sync manager to use HTTP client with retries
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_upload.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/root.go
  pkg/api/helpers/upload.go
  pkg/local/sync.go
Labels: area/lakectl, include-changelog, lakectl-local

#7819 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#7821 Add lengths to GS validate multipart failure
  pkg/block/gs/adapter.go
Labels: exclude-changelog, minor-change
