Repository treeverse/lakeFS, pull requests merged in 2024-03, with the labels that each got.

#7527 Delta Lake +Unity Catalog exporter: Delta Lake table metadata
  docs/howto/hooks/lua.md
  esti/export_hooks_files/delta/azure/_lakefs_actions/delta_export.yaml
  esti/export_hooks_files/delta/data/tables/test-table/_delta_log/00000000000000000000.json
  esti/export_hooks_files/delta/s3/_lakefs_actions/delta_export.yaml
  examples/hooks/delta_lake_S3_export.lua
  examples/hooks/delta_lake_azure_export.lua
  pkg/actions/lua/databricks/client.go
  pkg/actions/lua/formats/delta.go
  pkg/actions/lua/lakefs/catalogexport/delta_exporter.lua
  pkg/actions/lua/lakefs/catalogexport/unity_exporter.lua
  pkg/actions/testdata/lua/catalogexport_delta.lua
Labels: include-changelog

#7526 Fix: Gateway wrong error description for copy object
  esti/s3_gateway_test.go
  pkg/gateway/errors/errors.go
  pkg/gateway/operations/putobject.go
Labels: bug, area/gateway, include-changelog

#7525 etag can be passed in the if-none-match in the header on getobject api
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/ObjectsApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/ObjectsApiTest.java
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ObjectsApi.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ObjectsApiTest.java
  clients/python-legacy/docs/ObjectsApi.md
  clients/python-legacy/lakefs_client/api/objects_api.py
  clients/python/docs/ObjectsApi.md
  clients/python/lakefs_sdk/api/objects_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: area/API, performance, include-changelog, feature

#7520 Handle Azure URLs for chinacloud
  docs/reference/configuration.md
  pkg/block/azure/adapter.go
  pkg/block/azure/adapter_test.go
  pkg/block/azure/client_cache.go
  pkg/block/params/block.go
  pkg/config/config.go
Labels: include-changelog

#7541 Count KV retries not tries in Graveler
  pkg/graveler/graveler.go
Labels: pr/merge-if-approved, performance, include-changelog, area/KV, minor-change

#7543 Fix: GetObject check if IfNoneMatch was passed
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/ObjectsApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/ObjectsApi.java
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ObjectsApi.java
  clients/python-legacy/docs/ObjectsApi.md
  clients/python/docs/ObjectsApi.md
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: bug, exclude-changelog

#7523 Feature/delete sensor
  cmd/lakectl/cmd/abuse_random_delete.go
  docs/reference/cli.md
  pkg/catalog/catalog.go
  pkg/config/config.go
  pkg/graveler/delete_sensor.go
  pkg/graveler/delete_sensor_test.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/testutil/graveler_mock.go
Labels: exclude-changelog

#7546 Fix delta export azure example
  examples/hooks/delta_lake_azure_export.lua
Labels: exclude-changelog, minor-change

#7547 Changelog for 1.13.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7548 Add 1.12.1 and 1.13.0 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7550 lakeFS 1.13.0: Update changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7554 Task: Support Azure Unity Catalog export
  docs/howto/hooks/lua.md
  esti/catalog_export_test.go
  esti/delete_test.go
  esti/export_hooks_files/delta/azure_adls/_lakefs_actions/delta_export.yaml
  esti/rollback_test.go
  examples/hooks/unity_table_export_azure.lua
  pkg/actions/lua/lakefs/catalogexport/delta_exporter.lua
  pkg/actions/lua/storage/azure/azure.go
  pkg/actions/lua/storage/azure/blob.go
Labels: include-changelog, export-hooks

#7556 [Bug]: Groups Pagination is broken in the WebUI
  webui/src/pages/auth/groups/index.tsx
Labels: include-changelog

#7560 lakeFS 1.14.0: Update changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7561 Add 1.14.0 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7549 Bump Ruby version for python client workflow
  .github/workflows/python-api-client.yaml
  docs/reference/index.md
Labels: exclude-changelog, minor-change

#7566 Integration: update experimental external principals API with auth service
  api/authorization.yml
  api/swagger.yml
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/AuthApi.md
  clients/java-legacy/docs/ExperimentalApi.md
  clients/java-legacy/docs/ExternalApi.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/AuthApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/ExperimentalApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/ExternalApi.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/AuthApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/ExperimentalApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/ExternalApiTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/AuthApi.md
  clients/java/docs/ExperimentalApi.md
  clients/java/docs/ExternalApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/AuthApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/ExperimentalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/ExternalApi.java
  clients/java/src/test/java/io/lakefs/clients/sdk/AuthApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ExperimentalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ExternalApiTest.java
  clients/python-legacy/README.md
  clients/python-legacy/docs/AuthApi.md
  clients/python-legacy/docs/ExperimentalApi.md
  clients/python-legacy/docs/ExternalApi.md
  clients/python-legacy/lakefs_client/api/auth_api.py
  clients/python-legacy/lakefs_client/api/experimental_api.py
  clients/python-legacy/lakefs_client/api/external_api.py
  clients/python-legacy/test/test_auth_api.py
  clients/python-legacy/test/test_experimental_api.py
  clients/python-legacy/test/test_external_api.py
  clients/python/README.md
  clients/python/docs/AuthApi.md
  clients/python/docs/ExperimentalApi.md
  clients/python/docs/ExternalApi.md
  clients/python/lakefs_sdk/api/auth_api.py
  clients/python/lakefs_sdk/api/experimental_api.py
  clients/python/lakefs_sdk/api/external_api.py
  clients/python/test/test_auth_api.py
  clients/python/test/test_experimental_api.py
  clients/python/test/test_external_api.py
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/auth/mock/mock_auth_client.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/permissions/actions.gen.go
  pkg/permissions/actions.go
  pkg/permissions/permission.go
Labels: include-changelog

#7567 Monitor appropriate slowdown responses from DynamoDB store
  pkg/kv/dynamodb/stats.go
  pkg/kv/dynamodb/store.go
Labels: exclude-changelog

#7563 Fix lakectl local diff
  esti/lakectl_local_test.go
  esti/lakectl_test.go
  pkg/block/local/adapter.go
  pkg/local/diff.go
Labels: include-changelog

#7576 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7577 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7569 Remove issues staleness
  .github/workflows/close-stale-prs.yaml
Labels: bug, infrastructure, exclude-changelog, minor-change, no stale, area/ci

#7581 Remove ADLS hint from import
  .github/workflows/esti.yaml
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/import.go
  docs/howto/import.md
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  pkg/actions/lua/storage/azure/blob.go
  pkg/block/azure/adapter.go
  pkg/block/azure/walker.go
  pkg/catalog/catalog.go
  pkg/ingest/store/factory.go
Labels: include-changelog

#7583 Close only PRs, never issues
  .github/workflows/close-stale-prs.yaml
Labels: bug, pr/merge-if-approved, exclude-changelog, minor-change, area/ci

#7587 Update monitor docs with kv metric
  docs/reference/monitor.md
Labels: docs, exclude-changelog, minor-change

#7588 Fix documentation typo
  docs/howto/import.md
Labels: docs, exclude-changelog, minor-change

#7592 Added NetApp StorageGRID to list of supported Object stores in architecture.md
  docs/understand/architecture.md
Labels: docs, exclude-changelog

#7590 Fix lakectl branch protection set 400 response
  cmd/lakectl/cmd/branch_protect.go
  esti/golden/lakectl_branch_protection_list.term.golden
  esti/lakectl_test.go
Labels: include-changelog

#7571 Integrate Support for Short-Lived Tokens (STS) in Remote Authentication
  .github/workflows/esti.yaml
  Makefile
  api/authentication.yml
  api/swagger.yml
  clients/java-legacy/.openapi-generator/FILES
  clients/java-legacy/README.md
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/ExperimentalApi.md
  clients/java-legacy/docs/StsAuthRequest.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/ExperimentalApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/StsAuthRequest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/ExperimentalApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/StsAuthRequestTest.java
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ExperimentalApi.md
  clients/java/docs/StsAuthRequest.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ExperimentalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/JSON.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/StsAuthRequest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ExperimentalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/StsAuthRequestTest.java
  clients/python-legacy/.openapi-generator/FILES
  clients/python-legacy/README.md
  clients/python-legacy/docs/ExperimentalApi.md
  clients/python-legacy/docs/StsAuthRequest.md
  clients/python-legacy/lakefs_client/api/experimental_api.py
  clients/python-legacy/lakefs_client/model/sts_auth_request.py
  clients/python-legacy/lakefs_client/models/__init__.py
  clients/python-legacy/test/test_experimental_api.py
  clients/python-legacy/test/test_sts_auth_request.py
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/ExperimentalApi.md
  clients/python/docs/StsAuthRequest.md
  clients/python/lakefs_sdk/__init__.py
  clients/python/lakefs_sdk/api/experimental_api.py
  clients/python/lakefs_sdk/models/__init__.py
  clients/python/lakefs_sdk/models/sts_auth_request.py
  clients/python/test/test_experimental_api.py
  clients/python/test/test_sts_auth_request.py
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
  pkg/api/auth_middleware_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/jwt_login.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/authentication/apiclient/.gitkeep
  pkg/authentication/errors.go
  pkg/authentication/mock/mock_authentication_client.go
  pkg/authentication/service.go
  pkg/authentication/service_test.go
  pkg/config/config.go
  pkg/loadtest/local_load_test.go
Labels: include-changelog

#7593 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7594 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7607 HL Python SDK: Fix import manager run race
  clients/python-wrapper/lakefs/import_manager.py
Labels: bug, area/sdk/python, include-changelog, python-sdk-changelog

#7603 lakectl: get presigned url for object
  cmd/lakectl/cmd/fs_presign.go
  cmd/lakectl/cmd/root.go
  docs/reference/cli.md
  esti/golden/lakectl_fs_presign.golden
  esti/lakectl_test.go
Labels: include-changelog, minor-change

#7612 Docs: Add linked issue to ListParts API
  docs/reference/s3.md
Labels: docs, exclude-changelog
