Repository treeverse/lakeFS, pull requests merged in 2024-11, with the labels that each got.

#8336 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#8335 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8342 Fix: lakectl identity nil email panic
  cmd/lakectl/cmd/identity.go
Labels: exclude-changelog

#8346 Fix: EnsureStorageNamespace close reader
  pkg/api/controller.go
Labels: bug, include-changelog

#8338 Optionally set mtime in linkPhysicalAddress
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/StagingMetadata.md
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/StagingMetadata.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/StagingMetadataTest.java
  clients/java/api/openapi.yaml
  clients/java/docs/StagingMetadata.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/StagingMetadata.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/StagingMetadataTest.java
  clients/python-legacy/docs/StagingApi.md
  clients/python-legacy/docs/StagingMetadata.md
  clients/python-legacy/lakefs_client/model/staging_metadata.py
  clients/python/docs/StagingMetadata.md
  clients/python/lakefs_sdk/models/staging_metadata.py
  clients/python/test/test_staging_metadata.py
  clients/rust/docs/StagingMetadata.md
  clients/rust/src/models/staging_metadata.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
Labels: area/cataloger, area/API, include-changelog

#8345 Fix: Git package error handling
  cmd/lakectl/cmd/local_init.go
  cmd/lakectl/cmd/root.go
  pkg/git/errors/errors.go
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/git/internal/shared.go
  pkg/git/internal/shared_test.go
Labels: bug, area/lakectl, include-changelog

#8350 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8351 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8343 Usage report saved by default
  docs/reference/configuration.md
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  pkg/config/defaults.go
Labels: exclude-changelog, minor-change

#8349 Fix OOM lakectl FS upload bug
  pkg/local/progress.go
Labels: bug, include-changelog

#8358 Link Python clients doc to deprecation notice
  docs/integrations/python.md
  docs/posts/deprecate-py-legacy.md
Labels: pr/merge-if-approved, docs, exclude-changelog, minor-change

#8314 8224 report required permissions when authorization fails
  contrib/auth/acl/service.go
  esti/auth_test.go
  pkg/api/controller_test.go
  pkg/auth/service.go
Labels: exclude-changelog

#8369 Add EOL note to java legacy client
  clients/java-legacy/pom.xml
Labels: java, include-changelog

#8371 Support Dark Mode for Text Viewer
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
Labels: area/UI, exclude-changelog, minor-change

#8367 Fix: CosmosDB EntriesIterator
  go.mod
  go.sum
  pkg/kv/cosmosdb/main_test.go
  pkg/kv/cosmosdb/store.go
  pkg/testutil/cosmosdb.go
  pkg/testutil/dynamodb.go
  pkg/testutil/random.go
Labels: bug, include-changelog

#8378 Auto-release all clients when publishing with Maven
  clients/pom.xml
Labels: pr/merge-if-approved, infrastructure, java, exclude-changelog

#8377 Add integrations to architecture drawing in docs index
  docs/assets/img/lakeFSArchitecture.excalidraw
  docs/assets/img/lakeFSArchitecture.png
  docs/index.md
Labels: exclude-changelog, minor-change

#8376 Add Pull Requests to docs
  docs/assets/img/pull-request-merged.png
  docs/assets/img/pull-request-open.png
  docs/assets/img/pull-request-review.png
  docs/howto/index.md
  docs/howto/pull-requests.md
Labels: docs, include-changelog

#8387 Add v1.43.0 to compatibility-tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#8375 Add support for hidden branches
  api/swagger.yml
  clients/java-legacy/api/openapi.yaml
  clients/java-legacy/docs/BranchCreation.md
  clients/java-legacy/docs/BranchesApi.md
  clients/java-legacy/pom.xml
  clients/java-legacy/src/main/java/io/lakefs/clients/api/BranchesApi.java
  clients/java-legacy/src/main/java/io/lakefs/clients/api/model/BranchCreation.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/BranchesApiTest.java
  clients/java-legacy/src/test/java/io/lakefs/clients/api/model/BranchCreationTest.java
  clients/java/api/openapi.yaml
  clients/java/docs/BranchCreation.md
  clients/java/docs/BranchesApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/BranchesApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/BranchCreation.java
  clients/java/src/test/java/io/lakefs/clients/sdk/BranchesApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/BranchCreationTest.java
  clients/python-legacy/docs/BranchCreation.md
  clients/python-legacy/docs/BranchesApi.md
  clients/python-legacy/lakefs_client/api/branches_api.py
  clients/python-legacy/lakefs_client/model/branch_creation.py
  clients/python/docs/BranchCreation.md
  clients/python/docs/BranchesApi.md
  clients/python/lakefs_sdk/api/branches_api.py
  clients/python/lakefs_sdk/models/branch_creation.py
  clients/python/test/test_branch_creation.py
  clients/rust/docs/BranchCreation.md
  clients/rust/docs/BranchesApi.md
  clients/rust/src/apis/branches_api.rs
  clients/rust/src/models/branch_creation.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/gc_write_uncommitted.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/mock/graveler.go
  pkg/graveler/ref/branch_iterator.go
  pkg/graveler/ref/branch_iterator_test.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/testutil/fakes.go
Labels: include-changelog

#8395 Update changelog guidelines
  docs/project/contributing.md
Labels: exclude-changelog, minor-change

#8396 Doc skip ensureStorageNamespace for read-only repositories
  pkg/api/controller.go
Labels: exclude-changelog, minor-change

#8392 [Docs] LDAP Enterprise improvement (+ minor link fix)
  docs/security/external-principals-aws.md
  docs/security/sso.md
Labels: exclude-changelog
