Repository treeverse/lakeFS, pull requests merged in 2024-12, with the labels that each got.

#8407 Fix: Auth no endpoint error
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/run_test.go
Labels: bug, include-changelog

#8409 Delta Exporter action: Handle vacuumed objects correctly
  pkg/actions/lua/lakefs/catalogexport/delta_exporter.lua
Labels: include-changelog, minor-change

#8411 Release: Changelog v1.44.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8412 Compatibility tests: Add 1.44.0
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/ci

#8427 Improve docs for Standalone GC
  docs/howto/garbage-collection/standalone-gc.md
Labels: docs, exclude-changelog, minor-change

#8430 Update changelog for release v1.45.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8431 Compatibility tests version v1.45.0
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8432 Fixing lint error
  webui/src/pages/auth/groups/group/members.jsx
Labels: exclude-changelog, minor-change

#8420 adjusted dockerfile so that build args can be provided to switch the …
  Dockerfile
Labels: infrastructure, contributor, include-changelog, area/ci

#8400 Added an explicit call out about the data and metadata flow differences between gateway and client
  docs/assets/img/s3gatewayvsclientdataflow.png
  docs/understand/architecture.md
Labels: docs, exclude-changelog, minor-change

#8394 Fix HF datasets link
  docs/integrations/huggingface_datasets.md
Labels: docs, exclude-changelog, minor-change

#8429 Added Red Hat OpenShift AI Integration doc
  docs/assets/img/logos/red_hat_openshift_ai.png
  docs/assets/img/red-hat/OpenShiftAIDemoArchitecture.png
  docs/assets/img/red-hat/OpenShiftDeploymentArchitecture.png
  docs/integrations/index.md
  docs/integrations/red_hat_openshift_ai.md
Labels: docs, exclude-changelog, minor-change

#8441 Remove cookieconsent js from Docs
  docs/_includes/head_custom.html
Labels: exclude-changelog, minor-change, docs-platform

#8446 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#8447 Minimal permissions for Everest mount
  docs/reference/mount.md
Labels: exclude-changelog, minor-change

#8218 Document the required query parameter for SCIM with Entra ID
  docs/howto/scim.md
Labels: exclude-changelog, minor-change

#8450 Modularize WebUI
  cmd/lakefs/cmd/root.go
  go.work
  go.work.sum
  webui/go.mod
Labels: exclude-changelog
