Repository treeverse/lakeFS, pull requests merged in 2024-04, with the labels that each got.

#7617 Announce our new development methodology
  docs/posts/tdd-semver.md
Labels: pr/merge-if-approved, infrastructure, exclude-changelog, nice-to-have, minor-change, breaking-change

#7572 Configurable persistence of friendly name to KV
  api/authorization.yml
  docs/reference/configuration.md
  docs/reference/security/authentication.md
  docs/reference/security/sso.md
  pkg/api/auth_middleware.go
  pkg/auth/mock/mock_auth_client.go
  pkg/auth/service.go
  pkg/config/config.go
  pkg/config/defaults.go
  webui/src/lib/utils.ts
  webui/src/pages/auth/credentials.jsx
  webui/src/pages/auth/groups/group/members.jsx
  webui/src/pages/auth/users/index.jsx
Labels: include-changelog, feature

#7619 [Docs] Improve consent visibility
  docs/_includes/head_custom.html
  docs/_layouts/default.html
  docs/assets/css/cookieconsent.css
  docs/assets/img/cookies.png
  docs/assets/js/cookieconsent-init.js
  docs/assets/js/cookieconsent.js
Labels: exclude-changelog, minor-change

#7622 Align S3 Gateway Prometheus Histogram Buckets with lakeFS API Buckets
  pkg/api/stats.go
  pkg/gateway/stats.go
Labels: include-changelog, minor-change

#7618 allow lakectl local to be "git data"
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_install.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/local_status.go
  cmd/lakectl/cmd/root.go
  docs/reference/cli.md
  esti/golden/lakectl_help.golden
  esti/lakectl_local_test.go
  esti/lakectl_util.go
Labels: improvement, include-changelog, minor-change

#7627 HL Python SDK: Release 0.5.0
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#7636 lock eslint version in make lint
  Makefile
Labels: exclude-changelog, minor-change

#7475 Add unit tests for Graveler Revert action
  pkg/graveler/graveler_test.go
Labels: exclude-changelog, stale

#7631 Quickstart: add instructions for how to work with lakeFS data locally
  docs/assets/img/quickstart/lakectl-local-01.png
  docs/assets/img/quickstart/lakectl-local-02.png
  docs/assets/img/quickstart/quickstart-step-07.png
  docs/quickstart/actions-and-hooks.md
  docs/quickstart/index.md
  docs/quickstart/work-with-data-locally.md
Labels: docs, exclude-changelog, minor-change

#7640 Docs: Fix on-prem pre-requisites
  docs/howto/deploy/onprem.md
Labels: docs, exclude-changelog, minor-change

#7638 Fix storage config loading state not updated
  webui/src/lib/hooks/storageConfig.tsx
  webui/test/e2e/common/setup.spec.ts
  webui/test/e2e/common/viewParquetObject.spec.ts
  webui/test/e2e/consts.ts
  webui/test/e2e/credentialsFile.ts
  webui/test/e2e/poms/repositoriesPage.ts
  webui/test/e2e/poms/repositoryPage.ts
Labels: area/UI, include-changelog

#7644 Walk over hidden files in `lakectl local`
  pkg/local/diff.go
  pkg/local/diff_test.go
  pkg/local/testdata/localdiff/t1/.hidden-file
Labels: bug, contributor, include-changelog, lakectl-local

#7635 Fix export test esti job
  .github/workflows/esti.yaml
  test/rclone_export/docker-compose.yaml
  test/rclone_export/run-test.sh
Labels: area/system-tests, exclude-changelog

#7637 Use username as token subject in STS login
  pkg/api/controller.go
Labels: include-changelog, minor-change

#7648 Update CHANGELOG for 1.17.0
  CHANGELOG.md
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#7649 Add 1.17.0 and 1.16.0 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: pr/merge-if-approved, area/system-tests, exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#7634 Make Hadoop 2/3 compatible with Java SDK for IAM
  clients/hadoopfs/src/main/java/io/lakefs/auth/AWSLakeFSTokenProvider.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/GeneratePresignGetCallerIdentityRequest.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/GeneratePresignGetCallerIdentityResponse.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/GetCallerIdentityV4Presigner.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/LakeFSExternalPrincipalIdentityRequest.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/STSGetCallerIdentityPresigner.java
  clients/hadoopfs/src/test/java/io/lakefs/auth/AWSLakeFSTokenProviderTest.java
  clients/hadoopfs/src/test/java/io/lakefs/auth/GetCallerIdentityV4PresignerTest.java
Labels: exclude-changelog, minor-change

#7604 LakeFSFS - TokenProvider AWS (no login yet)
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/Constants.java
  clients/hadoopfs/src/main/java/io/lakefs/FSConfiguration.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSClient.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/AWSLakeFSTokenProvider.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/GeneratePresignGetCallerIdentityRequest.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/GeneratePresignGetCallerIdentityResponse.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/GetCallerIdentityV4Presigner.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/LakeFSExternalPrincipalIdentityRequest.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/LakeFSTokenProvider.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/LakeFSTokenProviderFactory.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/STSGetCallerIdentityPresigner.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/TemporaryAWSCredentialsLakeFSTokenProvider.java
  clients/hadoopfs/src/test/java/io/lakefs/FSConfigurationTest.java
  clients/hadoopfs/src/test/java/io/lakefs/auth/AWSLakeFSTokenProviderTest.java
  clients/hadoopfs/src/test/java/io/lakefs/auth/GetCallerIdentityV4PresignerTest.java
  clients/hadoopfs/src/test/java/io/lakefs/auth/LakeFSTokenProviderFactoryTest.java
Labels: include-changelog

#7655 V1.18.0 change log
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7652 Document how to use the Python SDK with a custom trusted CA bundle
  docs/integrations/python.md
Labels: docs, contributor, area/sdk/python, exclude-changelog

#7660 Compatibility tests v1.18.0
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7629 Fix: S3 GW ListParts
  docs/reference/s3.md
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/blocktest/adapter.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/s3/adapter.go
  pkg/block/transient/adapter.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/mock_adapter_test.go
  pkg/gateway/serde/xml.go
Labels: bug, include-changelog

#7639 Document the STS flow
  docs/reference/security/index.md
  docs/reference/security/sts-login.md
Labels: exclude-changelog, minor-change

#7630 Experimental: Support pre-signed redirects for S3A
  .github/workflows/esti.yaml
  docs/integrations/spark.md
  esti/s3_gateway_test.go
  pkg/gateway/middleware.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/putobject_test.go
  pkg/gateway/sig/javav2.go
  pkg/gateway/sig/v2.go
  test/spark/docker-compose.yaml
  test/spark/run-test.py
Labels: area/gateway, include-changelog

#7661 Fix a typo in sts title
  docs/reference/security/sts-login.md
Labels: docs, exclude-changelog, minor-change

#7659 lakeFSFS: IAM Role Support Login call
  clients/hadoopfs/CHANGELOG.md
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/Constants.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSClient.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/AWSLakeFSTokenProvider.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/IdentityRequestRequestWrapper.java
  clients/hadoopfs/src/test/java/io/lakefs/auth/AWSLakeFSTokenProviderTest.java
Labels: include-changelog

#7664 Azure: Add support for Gov Cloud
  docs/reference/configuration.md
  pkg/actions/lua/storage/azure/blob.go
  pkg/api/helpers/upload.go
  pkg/block/azure/adapter.go
  pkg/block/azure/adapter_test.go
  pkg/block/azure/client_cache.go
  pkg/block/azure/main_test.go
  pkg/block/params/block.go
  pkg/config/config.go
Labels: area/block-adapter, include-changelog, azure

#7665 Update changelog lakeFSFS (lakefs-hadoop) 0.2.4
  clients/hadoopfs/CHANGELOG.md
Labels: exclude-changelog

#7654 Revert "allow lakectl local to be 'git data' (#7618)"
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_install.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/local_status.go
  cmd/lakectl/cmd/root.go
  docs/reference/cli.md
  esti/golden/lakectl_help.golden
  esti/lakectl_local_test.go
  esti/lakectl_util.go
Labels: include-changelog, lakectl-local

#7668 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7669 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7673 Fix S3 API docs
  docs/reference/s3.md
Labels: docs, exclude-changelog, minor-change

#7633 Document the Authentication endpoint configuration
  docs/reference/configuration.md
Labels: exclude-changelog, minor-change

#7656 Docs - iam role support
  docs/integrations/spark.md
  docs/reference/index.md
  docs/reference/security/external-principals-aws.md
  docs/reference/security/index.md
  docs/reference/security/rbac.md
Labels: docs, include-changelog

#7676 Bump Vite packages - dependabot + keep up to date
  webui/package-lock.json
  webui/package.json
Labels: exclude-changelog, minor-change

#7677 Bump ipynb renderer version
  webui/package-lock.json
  webui/package.json
Labels: exclude-changelog, minor-change

#7679 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#7680 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#7682 HL Python SDK: Support multiple pydantic versions
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
Labels: area/sdk/python, exclude-changelog, python-sdk-changelog

#7650 [local] Refuse to create lakectl locals on case-insensitive filesystems
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_init.go
  pkg/fileutil/fs_case.go
  pkg/fileutil/fs_case_test.go
Labels: bug, area/UI, area/lakectl, include-changelog, lakectl-local

#7685 S3 gateway - return slowdown on DynamoDB throttle
  pkg/kv/dynamodb/store.go
Labels: include-changelog, minor-change

#7690 Revert "Announce our new development methodology"
  docs/posts/tdd-semver.md
Labels: pr/merge-if-approved, docs, improvement, exclude-changelog, minor-change

#7697 HL Python SDK: Add body to http error
  clients/python-wrapper/lakefs/exceptions.py
Labels: area/sdk/python, exclude-changelog, python-sdk-changelog

#7703 fix: close resp body in lua s3 client
  pkg/actions/lua/storage/aws/s3.go
Labels: include-changelog, minor-change

#7708 Document the correct Spark client version (0.13.0, maybe assembled)
  docs/reference/spark-client.md
Labels: bug, pr/merge-if-approved, docs, area/client/spark
