Repository treeverse/lakeFS, pull requests merged in 2024-10, with the labels that each got.

#8252 Remove reference to ACLs
  docs/security/rbac.md
Labels: docs, exclude-changelog, minor-change

#8255 Fix Sample Data checkbox of the Repository Create form
  webui/src/lib/components/repositoryCreateForm.jsx
  webui/src/pages/repositories/index.jsx
Labels: area/UI, include-changelog, minor-change

#8254 Fix - Add Action to PR statement
  pkg/auth/base.go
Labels: include-changelog, minor-change

#8258 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8259 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8260 Python HL SDK: update dependency
  clients/python-wrapper/lakefs/.pylintrc
  clients/python-wrapper/requirements.txt
Labels: area/sdk/python, exclude-changelog

#8136 webui: add support for jsonl/ndjson file diffing as text files
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/pages/repositories/repository/fileRenderers/index.tsx
Labels: include-changelog

#8257 lakectl local: posix improvements
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/root.go
  pkg/local/config.go
  pkg/local/diff.go
  pkg/local/diff_test.go
  pkg/local/posix_permissions.go
  pkg/local/sync.go
Labels: exclude-changelog, minor-change

#8204 Separate hidden and non-hidden commands in lakectl docs
  cmd/lakectl/cmd/docs.go
  docs/reference/cli.md
Labels: area/lakectl, docs, include-changelog

#8266 Update cli.md
  docs/reference/cli.md
Labels: exclude-changelog, minor-change

#8265 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8267 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8142 lakectl log: add option to filter merge commits
  cmd/lakectl/cmd/common_helpers.go
  cmd/lakectl/cmd/log.go
  docs/reference/cli.md
  esti/golden/lakectl_log_no_merges.golden
  esti/golden/lakectl_log_no_merges_amount.golden
  esti/lakectl_test.go
  esti/lakectl_util.go
Labels: area/lakectl, include-changelog

#8270 Ignore process environment variables in Flare test
  pkg/flare/flare.go
  pkg/flare/flare_test.go
Labels: pr/merge-if-approved, area/testing, exclude-changelog, tech-debt, minor-change

#8195 Add a deprecation and upgrade warning to python-legacy client
  clients/python-legacy/setup.py
  clients/python-legacy/templates/setup.mustache
Labels: area/sdk/python, include-changelog, tech-debt, minor-change, python-sdk-changelog, breaking-change

#8264 Make update object metadata API atomic
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/fake_graveler_test.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
Labels: area/cataloger, area/API, include-changelog

#8276 Update sso.md
  docs/security/sso.md
Labels: exclude-changelog, minor-change

#8282 GC: Read commit explicitly when it is missing from prescanned commits
  pkg/graveler/retention/active_commits.go
  pkg/graveler/retention/active_commits_test.go
  pkg/graveler/retention/garbage_collection_manager.go
Labels: bug, include-changelog, GC+

#8281 Fixed ACL error (was referencing different key)
  contrib/auth/acl/service.go
Labels: exclude-changelog, minor-change

#8289 Docs: clarify auditing available on enterprise
  docs/reference/auditing.md
Labels: docs, exclude-changelog, minor-change

#8291 Fix: Copy object mtime
  pkg/api/controller.go
  pkg/catalog/catalog.go
Labels: bug, include-changelog

#8295 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8283 Added Parallelism configuration option to lakectl
  cmd/lakectl/cmd/root.go
Labels: area/lakectl, include-changelog

#8298 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8297 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8274 Add a deprecation notice for the legacy Python client
  docs/posts/deprecate-py-legacy.md
Labels: pr/merge-if-approved, area/API, docs, area/sdk/python, exclude-changelog, minor-change, python-wrapper, feature-deprecation

#8268 Experiment: Improve concurrent merge performance by weakly owning branch updates
  .github/workflows/esti.yaml
  Makefile
  buf.gen.yaml
  cmd/lakectl/cmd/abuse_merge.go
  docs/reference/cli.md
  pkg/catalog/catalog.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/distributed/mc_owner.go
  pkg/distributed/mc_owner.pb.go
  pkg/distributed/mc_owner.proto
  pkg/distributed/mc_owner_test.go
  pkg/graveler/ref/manager.go
  pkg/httputil/logging.go
  pkg/kv/msg.go
  pkg/testutil/stress/pool.go
  pkg/testutil/stress/stats.go
Labels: area/cataloger, performance, include-changelog, minor-change

#8296 Docs: Add pull request permissions
  docs/security/rbac.md
Labels: docs, exclude-changelog, minor-change

#8317 driver docs
  docs/reference/mount-csi-driver.md
Labels: exclude-changelog, minor-change, csi-driver

#8307 Add documentation for standalone (sparkless) GC
  docs/_includes/toc_2-4.html
  docs/howto/garbage-collection/standalone-gc.md
Labels: docs, include-changelog

#8318 remove beta note
  docs/reference/mount.md
Labels: docs, exclude-changelog, minor-change

#8320 Pass context to async tasks to keep context fields intact
  pkg/catalog/catalog.go
Labels: include-changelog

#8321 Minor fixes to standalone GC documentation
  docs/howto/garbage-collection/standalone-gc.md
Labels: exclude-changelog, minor-change

#8324 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8325 Update compatibility-tests.yaml - add lakefs 1.40.0
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#8311 Use time of create MPU on backend storage as time of MPU
  esti/multipart_test.go
  esti/system_test.go
  pkg/api/controller.go
  pkg/block/adapter.go
  pkg/block/azure/multipart_block_writer.go
  pkg/block/gs/adapter.go
  pkg/block/s3/adapter.go
  pkg/gateway/operations/operation_utils.go
  pkg/gateway/operations/postobject.go
  pkg/gateway/operations/putobject.go
Labels: bug, area/API, area/gateway, include-changelog

#8302 Fix: Pull Requests merge errors
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: bug, include-changelog

#8327 Add license note to standalone GC docs
  docs/howto/garbage-collection/standalone-gc.md
Labels: docs, exclude-changelog, minor-change

#8332 Fix "http: read on closed response body" error
  cmd/lakectl/cmd/retry_client.go
  esti/golden/lakectl_doctor_wrong_uri_format_endpoint.golden
  esti/golden/lakectl_doctor_wrong_uri_format_endpoint_verbose.golden
Labels: include-changelog

#8300 Trim patch versions from lakeFSFS / lakeFS compatibility tests vector
  .github/workflows/compatibility-tests.yaml
Labels: area/API, include-changelog, area/client/hadoopfs, area/ci

#8322 command to check current user in lakectl
  cmd/lakectl/cmd/identity.go
  docs/reference/cli.md
  esti/golden/lakectl_help.golden
  esti/golden/lakectl_identity.golden
  esti/lakectl_test.go
Labels: include-changelog

#8329 Fix: Get mtime from storage server
  pkg/api/controller.go
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/blocktest/adapter.go
  pkg/block/blocktest/basic_suite.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/metrics.go
  pkg/block/s3/adapter.go
  pkg/block/transient/adapter.go
  pkg/catalog/actions_output_writer.go
  pkg/catalog/catalog.go
  pkg/gateway/operations/putobject.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/pyramid/tier_fs.go
  pkg/samplerepo/samplecontent.go
  pkg/testutil/adapter.go
  pkg/upload/write_blob.go
Labels: bug, area/block-adapter, include-changelog
