Repository treeverse/lakeFS, pull requests merged in 2025-09, with the labels that each got.

#9476 hadoop client api timeout configuration
  clients/hadoopfs/src/main/java/io/lakefs/Constants.java
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSClient.java
  clients/hadoopfs/src/main/java/io/lakefs/auth/AWSLakeFSTokenProvider.java
Labels: include-changelog, area/client/hadoopfs

#9485 redis configurable default batch size
  docs/src/enterprise/configuration.md
  pkg/config/config.go
  pkg/kv/kvparams/database.go
Labels: exclude-changelog, area/KV

#9482 Delete entity with experimental option to reduce tombstone when possible
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/ObjectsApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ObjectsApi.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ObjectsApiTest.java
  clients/python/docs/ObjectsApi.md
  clients/python/lakefs_sdk/api/objects_api.py
  clients/rust/docs/ObjectsApi.md
  clients/rust/src/apis/objects_api.rs
  docs/src/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/graveler/graveler.go
Labels: include-changelog

#9487 Changelog for version 1.61.1
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#9488 Add 1.67.0 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#9501 Skip cloud metadata collection when stats are disabled
  cmd/lakefs/cmd/root.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  pkg/api/controller.go
  pkg/cloud/metadata.go
  pkg/cloud/metadata_provider.go
Labels: BI, exclude-changelog, minor-change

#9508 GS: Dual Adapter (Experimental)
  docs/src/reference/configuration.md
  pkg/block/factory/build.go
  pkg/block/gs/dual_adapter.go
  pkg/block/params/block.go
  pkg/config/config.go
Labels: include-changelog

#9510 changelog v1.68.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#9513 fix incorrect GetStorageNamespaceInfo arg
  pkg/api/controller.go
Labels: exclude-changelog, minor-change

#9516 Fix API routes for unsupported methods as part of module
  modules/api/factory/build.go
  pkg/api/serve.go
  pkg/api/serve_test.go
Labels: area/API, exclude-changelog, minor-change

#9425 Updated login page appearance
  webui/pub/logo.svg
  webui/src/lib/components/navbar.jsx
  webui/src/pages/auth/login.tsx
  webui/src/styles/auth.css
Labels: include-changelog

#9524 Metadata Search docs update
  docs/src/datamanagment/metadata-search.md
  docs/src/integrations/iceberg.md
Labels: docs, exclude-changelog, minor-change

#9532 API: get repository should specify 400 status code in openapi spec
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/RepositoriesApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/RepositoriesApi.java
  clients/python/docs/RepositoriesApi.md
  clients/python/lakefs_sdk/api/repositories_api.py
  clients/rust/src/apis/repositories_api.rs
  docs/src/assets/js/swagger.yml
Labels: bug, area/API, exclude-changelog

#9503 KV store dump and load support
  cmd/lakefs/cmd/kv.go
  pkg/kv/dump.go
  pkg/kv/store.go
Labels: exclude-changelog, area/KV

#9534 Refactor S3 upload logic - replace AWS CLI with SDK
  clients/spark/build.sbt
  clients/spark/project/s3-upload-sdk.sbt
Labels: exclude-changelog, minor-change

#9543 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#9556 Python HL SDK prep for release v0.14.0
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change, python-wrapper

#9500 API: copy object will clone object metadata when possible
  clients/python-wrapper/tests/integration/test_object.py
  esti/s3_gateway_test.go
  pkg/api/controller_test.go
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/s3/adapter.go
  pkg/catalog/catalog.go
  pkg/gateway/operations/putobject.go
  pkg/graveler/errors.go
Labels: area/API, include-changelog

#9552 Extend merge conflicts resolution [v2]
  cmd/lakefs/cmd/run.go
  go.work
  modules/catalog/factory/build.go
  modules/catalog/factory/go.mod
  pkg/catalog/catalog.go
  pkg/graveler/committed/import_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/manager_test.go
  pkg/graveler/committed/merge.go
  pkg/graveler/committed/merge_test.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, minor-change

#9560 Docs: remove experimental warning from SGC
  .lycheeignore
  docs/src/howto/garbage-collection/standalone-gc.md
Labels: docs, exclude-changelog, minor-change

#9559 Add config to BuildConflictResolvers
  cmd/lakefs/cmd/run.go
  modules/catalog/factory/build.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog, minor-change
