Repository treeverse/lakeFS, pull requests merged in 2025-04, with the labels that each got.

#8926 Document in OpenAPI spec replacements for old "internal" GC endpoints
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/InternalApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/InternalApi.java
  clients/java/src/test/java/io/lakefs/clients/sdk/InternalApiTest.java
  clients/python/docs/InternalApi.md
  clients/python/lakefs_sdk/api/internal_api.py
  clients/rust/docs/InternalApi.md
  clients/rust/src/apis/internal_api.rs
  docs/assets/js/swagger.yml
Labels: area/API, docs, exclude-changelog, minor-change

#8917 Import: prohibit import from storage namespace
  esti/import_test.go
  esti/s3_gateway_test.go
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/catalog/import.go
Labels: bug, include-changelog

#8920 Fix: Truncate Long Path Values in Upload Object Modal
  webui/src/pages/repositories/repository/objects.jsx
Labels: area/UI, include-changelog

#8896 gc ESTI test method visibility
  esti/gc_test_utils.go
  esti/unified_gc_test.go
Labels: exclude-changelog, tech-debt, minor-change

#8922 Truncated the display of overly long branch names in the dropdown.
  webui/src/lib/components/repository/refDropdown.jsx
Labels: area/UI, include-changelog

#8933 Support passing specific adapter options to factor
  pkg/block/factory/build.go
Labels: area/block-adapter, exclude-changelog, refactor, minor-change

#8936 test: Setup without cloud metadata detect
  pkg/api/serve_test.go
  pkg/cloud/metadata.go
  pkg/cloud/metadata_test.go
Labels: area/testing, exclude-changelog, minor-change

#8935 ESTI gc check reusability
  esti/esti_utils.go
  esti/unified_gc_test.go
Labels: exclude-changelog, tech-debt, minor-change

#8942 test: Fix running upload sync test fails on perm
  pkg/local/sync_test.go
Labels: area/testing, exclude-changelog

#8944 Use UI login placeholders
  docs/reference/configuration.md
  pkg/config/config.go
  pkg/config/defaults.go
Labels: exclude-changelog, minor-change

#8938 RBAC multiple resources - DOCS
  docs/security/rbac.md
Labels: exclude-changelog, minor-change

#8907 Support multiple resources policies PART 2
  pkg/api/controller_test.go
  pkg/auth/arn_test.go
  pkg/auth/service.go
Labels: include-changelog

#8798 Esti: Refactor gateway tests
  esti/delete_objects_test.go
  esti/esti_utils.go
  esti/ops/docker-compose-common.yaml
  esti/s3_gateway_test.go
  pkg/testutil/random.go
  pkg/testutil/setup.go
Labels: area/system-tests, exclude-changelog, minor-change

#8941 Fixed - A long branch name overflows the table view in the Branches tab
  webui/src/pages/repositories/repository/branches.jsx
Labels: area/UI, include-changelog

#8946 changing the log
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8947 compatibility test
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#8949 fix python docs bundler to work on x86_64
  clients/python-static/templates/Gemfile.lock
  clients/python/Gemfile.lock
Labels: docs, area/sdk/python, minor-change

#8950 Python sdk workflow enable skip pypi package publish
  .github/workflows/python-api-client.yaml
Labels: docs, infrastructure, exclude-changelog, minor-change

#8948 Fixed - long branch name overflows selected branch button and path
  webui/src/lib/components/repository/refDropdown.jsx
  webui/src/lib/components/repository/tree.jsx
Labels: area/UI, include-changelog

#8945 add NopLicenseManager
  cmd/lakefs/cmd/run.go
  go.work
  modules/license/factory/build.go
  modules/license/factory/go.mod
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/license/license.go
  pkg/loadtest/local_load_test.go
Labels: exclude-changelog

#8958 Feature – Added getLicense endpoint
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/ExperimentalApi.md
  clients/java/docs/License.md
  clients/java/docs/LicenseApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ExperimentalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/JSON.java
  clients/java/src/main/java/io/lakefs/clients/sdk/LicenseApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/License.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ExperimentalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/LicenseApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/LicenseTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/ExperimentalApi.md
  clients/python/docs/License.md
  clients/python/docs/LicenseApi.md
  clients/python/lakefs_sdk/__init__.py
  clients/python/lakefs_sdk/api/__init__.py
  clients/python/lakefs_sdk/api/experimental_api.py
  clients/python/lakefs_sdk/api/license_api.py
  clients/python/lakefs_sdk/client.py
  clients/python/lakefs_sdk/models/__init__.py
  clients/python/lakefs_sdk/models/license.py
  clients/python/test/test_experimental_api.py
  clients/python/test/test_license.py
  clients/python/test/test_license_api.py
  clients/rust/.openapi-generator/FILES
  clients/rust/README.md
  clients/rust/docs/ExperimentalApi.md
  clients/rust/docs/License.md
  clients/rust/docs/LicenseApi.md
  clients/rust/src/apis/experimental_api.rs
  clients/rust/src/apis/license_api.rs
  clients/rust/src/apis/mod.rs
  clients/rust/src/models/license.rs
  clients/rust/src/models/mod.rs
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
  modules/license/factory/build.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve_test.go
  pkg/license/license.go
  pkg/loadtest/local_load_test.go
Labels: include-changelog

#8953 Add pagination support to attachment modal
  webui/src/constants.ts
  webui/src/lib/components/auth/forms.jsx
  webui/src/pages/auth/groups/group/members.jsx
  webui/src/pages/auth/groups/group/policies.jsx
  webui/src/pages/auth/users/user/groups.jsx
  webui/src/pages/auth/users/user/policies.jsx
Labels: exclude-changelog

#8968 replace old go-jwt
  go.mod
Labels: exclude-changelog

#8962 Support separate per-part requests for MPU presigned URLs
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/CopyPartSource.md
  clients/java/docs/ExperimentalApi.md
  clients/java/docs/UploadPartCopyFrom.md
  clients/java/docs/UploadPartFrom.md
  clients/java/docs/UploadTo.md
  clients/java/src/main/java/io/lakefs/clients/sdk/ExperimentalApi.java
  clients/java/src/main/java/io/lakefs/clients/sdk/JSON.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/CopyPartSource.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/UploadPartCopyFrom.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/UploadPartFrom.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/UploadTo.java
  clients/java/src/test/java/io/lakefs/clients/sdk/ExperimentalApiTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/CopyPartSourceTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/UploadPartCopyFromTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/UploadPartFromTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/UploadToTest.java
  clients/python/.openapi-generator/FILES
  clients/python/README.md
  clients/python/docs/CopyPartSource.md
  clients/python/docs/ExperimentalApi.md
  clients/python/docs/UploadPartCopyFrom.md
  clients/python/docs/UploadPartFrom.md
  clients/python/docs/UploadTo.md
  clients/python/lakefs_sdk/__init__.py
  clients/python/lakefs_sdk/api/experimental_api.py
  clients/python/lakefs_sdk/models/__init__.py
  clients/python/lakefs_sdk/models/copy_part_source.py
  clients/python/lakefs_sdk/models/upload_part_copy_from.py
  clients/python/lakefs_sdk/models/upload_part_from.py
  clients/python/lakefs_sdk/models/upload_to.py
  clients/python/test/test_copy_part_source.py
  clients/python/test/test_experimental_api.py
  clients/python/test/test_upload_part_copy_from.py
  clients/python/test/test_upload_part_from.py
  clients/python/test/test_upload_to.py
  clients/rust/.openapi-generator/FILES
  clients/rust/README.md
  clients/rust/docs/CopyPartSource.md
  clients/rust/docs/ExperimentalApi.md
  clients/rust/docs/UploadPartCopyFrom.md
  clients/rust/docs/UploadPartFrom.md
  clients/rust/docs/UploadTo.md
  clients/rust/src/apis/experimental_api.rs
  clients/rust/src/models/copy_part_source.rs
  clients/rust/src/models/mod.rs
  clients/rust/src/models/upload_part_copy_from.rs
  clients/rust/src/models/upload_part_from.rs
  clients/rust/src/models/upload_to.rs
  docs/assets/js/swagger.yml
  esti/presign_multipart_test.go
  pkg/api/controller.go
  pkg/block/adapter.go
Labels: area/API, performance, include-changelog, feature

#8932 fix:No prompt after clicking the button #8610
  webui/src/lib/components/auth/layout.tsx
Labels: area/UI, include-changelog

#8980 Fix parse config from environment slice of any
  pkg/config/types.go
  pkg/config/types_test.go
Labels: include-changelog

#8954 Support MSB storage
  clients/hadoopfs/pom.xml
  clients/hadoopfs/src/main/java/io/lakefs/LakeFSFileSystem.java
  clients/hadoopfs/src/test/java/io/lakefs/FSTestBase.java
Labels: include-changelog, minor-change

#8957 Add table_def_changes function for lua unity exporter
  docs/howto/hooks/lua.md
  esti/catalog_export_test.go
  esti/export_hooks_files/delta/azure/_lakefs_actions/delta_export.yaml
  esti/export_hooks_files/delta/azure_adls/_lakefs_actions/delta_export.yaml
  esti/export_hooks_files/delta/s3/_lakefs_actions/delta_export.yaml
  examples/hooks/unity_table_export.lua
  examples/hooks/unity_table_export_azure.lua
  pkg/actions/lua/lakefs/catalogexport/delta_exporter.lua
  pkg/actions/lua/lakefs/catalogexport/table_extractor.lua
  pkg/actions/lua/path/path.go
Labels: include-changelog

#8978 Enable expand/collapse functionality for directory trees
  webui/package-lock.json
  webui/package.json
  webui/src/lib/components/repository/changes.jsx
  webui/src/lib/hooks/useExpandCollapseDirs.jsx
  webui/src/lib/hooks/useExpandCollapseDirs.test.jsx
Labels: area/UI, exclude-changelog

#8984 Update mount.md remove only read-only
  docs/reference/mount.md
Labels: docs, exclude-changelog, minor-change

#8982 IAM mount: lakectl config
  cmd/lakectl/cmd/root.go
Labels: exclude-changelog

#8918 Spark Client StorageID support
  clients/spark/build.sbt
  clients/spark/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/src/main/scala/io/treeverse/gc/GarbageCollection.scala
Labels: include-changelog, minor-change, msb

#8985 Get installation ID from license manager
  cmd/lakefs/cmd/run.go
Labels: exclude-changelog, minor-change

#8976 Lua Hooks: databricks alter table
  docs/howto/hooks/lua.md
  pkg/actions/lua/databricks/client.go
Labels: include-changelog

#8987 Update CHANGELOG for v1.55.0 release
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8988 Add lakefs v1.55.0 release version
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#8998 Fix - enhance repository tree layout and link behavior
  webui/src/lib/components/repository/layout.jsx
  webui/src/lib/components/repository/tree.jsx
  webui/src/styles/globals.css
Labels: include-changelog

#8972 `pip install lakefs` to also install lakefs and lakectl commands
  .gitignore
  README.md
  clients/python-wrapper/lakectl/__init__.py
  clients/python-wrapper/lakectl/__main__.py
  clients/python-wrapper/lakefs/__init__.py
  clients/python-wrapper/lakefs/__main__.py
  clients/python-wrapper/lakefs/download/__init__.py
  clients/python-wrapper/lakefs/download/__main__.py
  clients/python-wrapper/lakefs/quickstart/__init__.py
  clients/python-wrapper/lakefs/quickstart/__main__.py
  docs/quickstart/actions-and-hooks.md
  docs/quickstart/branch.md
  docs/quickstart/commit-and-merge.md
  docs/quickstart/index.md
  docs/quickstart/launch.md
  docs/quickstart/learning-more-lakefs.md
  docs/quickstart/rollback.md
  docs/quickstart/work-with-data-locally.md
Labels: include-changelog, minor-change, python-wrapper

#8999 HL Python SDK: Release 0.9.2
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change, python-sdk-changelog

#9000 Re-release the python HL SDK with minor version bump
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change, python-sdk-changelog

#9001 reaplce secrets-detector package with treeverse fork
  go.mod
  go.sum
  go.work.sum
  pkg/flare/flare.go
Labels: exclude-changelog, minor-change

#9004 Bump spark metadata client version
  clients/spark/build.sbt
Labels: exclude-changelog, minor-change

#9005 Changelog for lakeFSFS version 0.2.5
  clients/hadoopfs/CHANGELOG.md
Labels: exclude-changelog, minor-change

#9008 Update Docs with hadoop lakeFS version bump
  docs/integrations/spark.md
Labels: exclude-changelog, minor-change
