Repository treeverse/lakeFS, pull requests merged in 2025-08, with the labels that each got.

#9374 WebUI: Support custom-object-renderers plugin
  webui/src/extendable/plugins/impls/DefaultCustomObjectRenderers.tsx
  webui/src/extendable/plugins/pluginCustomObjectRenderers.ts
  webui/src/extendable/plugins/pluginManager.ts
  webui/src/lib/api/index.js
  webui/src/lib/hooks/configProvider.tsx
  webui/src/pages/repositories/repository/fileRenderers/index.tsx
  webui/src/pages/repositories/repository/fileRenderers/types.tsx
  webui/src/pages/repositories/repository/objectViewer.tsx
Labels: area/UI, exclude-changelog, minor-change

#9381 Fix missing Close call on graveler iterators
  pkg/graveler/graveler_test.go
  pkg/graveler/uncommitted_diff_iterator_test.go
  pkg/stats/usage_counter.go
Labels: bug, exclude-changelog

#9379 Fix: Remove uninitialized logger from joined diff iterator
  pkg/graveler/joined_diff_iterator.go
Labels: bug, include-changelog

#9383 Support custom static file path in mock server for UI tests
  webui/test/integration/utils/mockServer.ts
Labels: exclude-changelog, minor-change

#9335 chore: add .gitignore for Python cache files in python-wrapper
  .gitignore
  clients/python-wrapper/.gitignore
Labels: exclude-changelog, minor-change, python-wrapper

#9390 Fix possible infinite loop while listing action files
  pkg/catalog/actions_source.go
Labels: bug, include-changelog

#9385 Fix metrics reports
  modules/gateway/factory/build.go
  pkg/gateway/handler.go
  pkg/gateway/middleware.go
Labels: include-changelog

#9377 Feature/delete default branch error
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: area/API, include-changelog

#9392 objectwriter: ensure underlying file object gets closed on upload failure
  clients/python-wrapper/lakefs/object.py
Labels: bug, exclude-changelog, python-wrapper

#9396 ci: skip ui links check for forks
  .github/workflows/check-ui-links.yaml
Labels: exclude-changelog, area/ci

#9399 v1.65.0 changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#9400 v1.65.0 compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#9405 Fix WebUI merge conflict error message
  webui/src/lib/api/index.js
Labels: area/UI, include-changelog, minor-change

#9412 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#9413 Update go.mod
  go.mod
  go.sum
Labels: infrastructure, exclude-changelog, minor-change

#9414 Changelog update for v1.65.2
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#9418 test: improve test error messages for failed to upload
  esti/commit_test.go
  esti/delete_test.go
  esti/esti_utils.go
Labels: area/testing, exclude-changelog, minor-change

#8564 Feature/rclone export support s3 compatible
  deployments/tools/export/lakefs_export.py
  deployments/tools/export/rclone.conf.template
Labels: area/tools, area/integrations, include-changelog

#9415 IAM auth for lakectl
  cmd/lakectl/cmd/root.go
  pkg/authentication/errors.go
  pkg/authentication/externalidp/awsiam/aws_client.go
  pkg/authentication/externalidp/awsiam/iam_client.go
  pkg/authentication/externalidp/awsiam/iam_client_test.go
Labels: include-changelog, minor-change

#9431 Fix cloud metadata detection for BI
  cmd/lakefs/cmd/root.go
  pkg/api/controller.go
  pkg/cloud/metadata.go
  pkg/cloud/metadata_provider.go
  pkg/cloud/metadata_test.go
Labels: bug, BI, exclude-changelog

#9432 Fix lakectl fs download directory check
  cmd/lakectl/cmd/fs_download.go
Labels: exclude-changelog, minor-change

#9436 Update dockertest to v3.12.0
  go.mod
  go.sum
  go.work.sum
Labels: dependencies, exclude-changelog, minor-change

#9438 WebUI: Add security headers to all responses
  pkg/api/security_middleware.go
  pkg/api/security_middleware_test.go
  pkg/api/ui_handler.go
Labels: area/UI, include-changelog

#9423 Add config flag to enable new SSO/lakeFS login method selection page
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/LoginConfig.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/LoginConfig.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/LoginConfigTest.java
  clients/python/docs/LoginConfig.md
  clients/python/lakefs_sdk/models/login_config.py
  clients/python/test/test_login_config.py
  clients/python/test/test_setup_state.py
  clients/rust/docs/LoginConfig.md
  clients/rust/src/models/login_config.rs
  cmd/lakefs/cmd/migrate_test.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/run_test.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  docs/src/assets/js/swagger.yml
  modules/authentication/factory/build.go
  modules/config/factory/config.go
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/auth/factory/build.go
  pkg/auth/setup/setup.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/testdata/custom_login_url_method.yaml
  pkg/config/testdata/no_ui_config.yaml
  pkg/config/testdata/partial_ui_config.yaml
Labels: include-changelog

#9439 IAM auth for lakectl - JWT caching
  cmd/lakectl/cmd/root.go
  pkg/authentication/externalidp/awsiam/iam_client.go
  pkg/authentication/externalidp/awsiam/iam_client_test.go
  pkg/authentication/externalidp/awsiam/token_caching.go
  pkg/authentication/externalidp/awsiam/token_caching_test.go
Labels: exclude-changelog, minor-change

#9448 kv: enable reading redis database config
  pkg/config/config.go
  pkg/kv/kvparams/database.go
Labels: exclude-changelog, area/KV, minor-change

#9453 webui: upgrade vite to 7.1.3
  webui/package-lock.json
  webui/package.json
  webui/vite.config.mts
Labels: area/UI, infrastructure, exclude-changelog

#9456 WebUI: Update prismjs packagge version to 1.30.0 and require it
  webui/package-lock.json
  webui/package.json
Labels: area/UI, dependencies, exclude-changelog, minor-change

#9449 Use bitnami images from treeverse's repo
  .github/workflows/esti.yaml
  deployments/utils/spark3-hadoop2/Dockerfile
  esti/gc_test_utils.go
  test/spark/docker-compose.yaml
Labels: exclude-changelog

#9469 Remove metastore-client-with-trino job from esti workflow
  .github/workflows/esti.yaml
Labels: area/testing, exclude-changelog, minor-change

#9467 DOCS lakectl iam authentication
  docs/src/reference/mount.md
  docs/src/security/external-principals-aws.md
Labels: exclude-changelog

#9429 Added plugin support for login method selection in Enterprise
  pkg/config/testdata/custom_login_url_method.yaml
  pkg/config/testdata/no_ui_config.yaml
  pkg/config/testdata/partial_ui_config.yaml
  webui/src/extendable/plugins/impls/RedirectToSSOStrategyPlugin.tsx
  webui/src/extendable/plugins/pluginLoginStrategy.ts
  webui/src/extendable/plugins/pluginManager.ts
  webui/src/lib/hooks/api.jsx
  webui/src/pages/auth/login.tsx
  webui/src/styles/auth.css
Labels: exclude-changelog
