Repository treeverse/lakeFS, pull requests merged in 2025-02, with the labels that each got.

#8578 adjusted github docs workflow
  .github/workflows/link-issue-to-pr.yaml
Labels: exclude-changelog

#8565 List mpu docs
  docs/reference/s3.md
Labels: exclude-changelog, minor-change

#8590 Groups UI bug
  webui/src/lib/components/auth/forms.jsx
Labels: exclude-changelog, minor-change

#8592 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8593 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8549 Add storageID to tier_fs
  pkg/catalog/catalog_test.go
  pkg/graveler/committed/import_test.go
  pkg/graveler/committed/iterator.go
  pkg/graveler/committed/iterator_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/manager_test.go
  pkg/graveler/committed/merge_test.go
  pkg/graveler/committed/meta_range.go
  pkg/graveler/committed/meta_range_manager.go
  pkg/graveler/committed/meta_range_writer.go
  pkg/graveler/committed/meta_range_writer_test.go
  pkg/graveler/committed/mock/meta_range.go
  pkg/graveler/committed/mock/range_manager.go
  pkg/graveler/committed/range_manager.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/sstable/range_manager.go
  pkg/graveler/sstable/range_manager_test.go
  pkg/graveler/sstable/writer.go
  pkg/graveler/sstable/writer_test.go
  pkg/graveler/testutil/fakes.go
  pkg/pyramid/mock/pyramid.go
  pkg/pyramid/pyramid.go
  pkg/pyramid/tier_fs.go
  pkg/pyramid/tier_fs_test.go
Labels: exclude-changelog

#8585 Changed the error message for the repo name verify
  webui/src/lib/components/repositoryCreateForm.jsx
Labels: area/UI, include-changelog

#8608 Update documentation for standalone garbage collector
  docs/howto/garbage-collection/standalone-gc.md
  docs/security/sso.md
Labels: pr/merge-if-approved, docs, exclude-changelog, minor-change

#8604 UI - Fix Create user
  webui/src/lib/components/auth/forms.jsx
Labels: include-changelog

#8607 Changelog update: time-to-first-byte metric for ObjectObject API
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8609 Changelog for 1.49.1
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8591 Add support for no-check flag in setup command
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  docs/enterprise/getstarted/migrate-from-oss.md
  pkg/auth/metadata.go
  pkg/auth/setup/setup.go
Labels: include-changelog

#8611 Add version 1.49.1 to compatibility-tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8599 Add docs for lakeFS<> mlflow integration
  docs/assets/img/logos/MLflow-logo.png
  docs/assets/img/mlflow_inspect_experiment_run.png
  docs/integrations/index.md
  docs/integrations/mlflow.md
Labels: docs, exclude-changelog

#8619 Validate storage ID on repository creation
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/config/config.go
Labels: exclude-changelog, msb

#8621 Fix: Validate storage ID location
  pkg/api/controller.go
  pkg/config/config.go
Labels: exclude-changelog, minor-change

#8620 Add StorageID to some validations
  pkg/api/controller.go
  pkg/block/local/adapter.go
Labels: exclude-changelog, minor-change, msb

#8629 Upgrade github workflow codeql to v3
  .github/workflows/codeql-analysis.yaml
Labels: area/testing, exclude-changelog

#8588 Add WebUI plugins infra
  webui/src/extendable/lakefsApp.tsx
  webui/src/extendable/plugins/pluginManager.ts
  webui/src/extendable/plugins/pluginsContext.tsx
  webui/src/main.tsx
Labels: exclude-changelog, minor-change

#8625 Update config parameters
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/StorageConfig.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/StorageConfig.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/StorageConfigTest.java
  clients/python/docs/StorageConfig.md
  clients/python/lakefs_sdk/models/storage_config.py
  clients/python/test/test_config.py
  clients/python/test/test_storage_config.py
  clients/rust/docs/StorageConfig.md
  clients/rust/src/models/storage_config.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/config/config.go
Labels: exclude-changelog, msb

#8632 Validate repo adapter type from config
  cmd/lakefs/cmd/run.go
Labels: exclude-changelog, msb

#8557 Add --storage-id flag to Repo Create CLI
  cmd/lakectl/cmd/repo_create.go
  cmd/lakectl/cmd/repo_create_bare.go
  cmd/lakectl/cmd/root.go
  esti/golden/lakectl_repo_create_with_storage_id.golden
  esti/lakectl_test.go
Labels: exclude-changelog, minor-change, msb

#8631 E2E upload object test
  webui/test/e2e/common/uploadFile.spec.ts
  webui/test/e2e/poms/repositoryPage.ts
Labels: exclude-changelog

#8635 Catalog: use signing key interface
  pkg/api/controller.go
  pkg/catalog/catalog.go
  pkg/config/config.go
Labels: exclude-changelog, msb

#8589 Make Repository Creation form pluggable
  webui/src/extendable/plugins/impls/DefaultRepoCreationFormPlugin.tsx
  webui/src/extendable/plugins/pluginManager.ts
  webui/src/extendable/plugins/pluginRepoCreationForm.ts
  webui/src/lib/api/index.js
  webui/src/lib/components/repositoryCreateForm.jsx
  webui/src/pages/repositories/index.jsx
Labels: exclude-changelog, minor-change

#8633 Display StorageID if exists
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/settings/general.jsx
Labels: exclude-changelog, minor-change, msb

#8636 Update enterprise docs to use lakeFS Enterprise
  docs/enterprise/architecture.md
  docs/enterprise/getstarted/migrate-from-oss.md
  docs/enterprise/getstarted/quickstart.md
Labels: docs, exclude-changelog, minor-change

#8022 Linked sample repo to kafka.md
  docs/integrations/kafka.md
Labels: exclude-changelog, minor-change

#8626 test: client disconnect check metric with retry
  pkg/api/controller_test.go
Labels: area/testing, exclude-changelog, minor-change

#8541 Update python.md
  docs/integrations/python.md
Labels: exclude-changelog, minor-change

#8647 blocktest: Support "other" adapter type
  pkg/block/blocktest/multipart_suite.go
Labels: exclude-changelog, minor-change

#8646 Update config response
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/StorageConfig.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/StorageConfig.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/StorageConfigTest.java
  clients/python/docs/StorageConfig.md
  clients/python/lakefs_sdk/models/storage_config.py
  clients/python/test/test_config.py
  clients/python/test/test_storage_config.py
  clients/rust/docs/StorageConfig.md
  clients/rust/src/models/storage_config.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/config/config.go
Labels: exclude-changelog, msb

#8649 Fix committed iterator
  pkg/graveler/committed/iterator.go
  pkg/graveler/committed/iterator_test.go
  pkg/graveler/committed/meta_range_manager.go
Labels: exclude-changelog, msb

#8643 Compose tweaks
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
Labels: exclude-changelog, tech-debt, minor-change

#8651 Actions: support storage ID
  pkg/actions/event.go
  pkg/actions/hook_output_writer.go
  pkg/actions/hook_output_writer_test.go
  pkg/actions/lua.go
  pkg/actions/lua_test.go
  pkg/actions/mock/mock_actions.go
  pkg/actions/output_writer.go
  pkg/actions/service.go
  pkg/actions/service_test.go
  pkg/catalog/actions_output_writer.go
  pkg/catalog/actions_source.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/hooks_handler.go
Labels: exclude-changelog, msb

#8657 Enable parse config map properties from environment string value
  pkg/config/config.go
  pkg/config/types.go
  pkg/config/types_test.go
Labels: include-changelog

#8663 Duplicate specification for apache commons-lang3 in HadoopFS client lib
  clients/hadoopfs/pom.xml
Labels: pr/merge-if-approved, java, exclude-changelog, minor-change, area/client/hadoopfs

#8642 Handle StorageID in S3 Gateway
  pkg/block/adapter.go
  pkg/catalog/catalog.go
  pkg/gateway/operations/listobjects.go
  pkg/gateway/operations/putobject.go
  pkg/upload/write_blob_test.go
Labels: exclude-changelog

#8656 Validate config per repo on server start
  cmd/lakefs/cmd/run.go
Labels: exclude-changelog, minor-change, msb

#8668 Truncated long value names in selected in the AttachModal
  webui/src/lib/components/auth/forms.jsx
Labels: area/UI, include-changelog

#8661 Renewed the PGP key
  clients/pom.xml
  clients/spark/project/pgp-sign.sbt
Labels: include-changelog, minor-change

#8674 MLflow integration docs: remove duplicate titles
  docs/integrations/mlflow.md
Labels: docs, exclude-changelog, minor-change

#8662 Align lakectl config map parse from env support
  cmd/lakectl/cmd/root.go
Labels: exclude-changelog, minor-change

#8666 Truncated long value names in groups, users and policies
  webui/src/lib/components/auth/nav.jsx
Labels: area/UI, include-changelog

#8677 docs: configuration reference explain how to populate map stirng env …
  docs/enterprise/configuration.md
  docs/reference/configuration.md
Labels: docs, exclude-changelog

#8653 Range and Metarange per StorageID + Fix to CommittedManager Import/Merge
  pkg/catalog/catalog.go
  pkg/graveler/committed/import_test.go
  pkg/graveler/committed/iterator.go
  pkg/graveler/committed/iterator_test.go
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/manager_test.go
  pkg/graveler/committed/merge_test.go
  pkg/graveler/committed/meta_range.go
  pkg/graveler/committed/meta_range_manager.go
  pkg/graveler/committed/meta_range_writer.go
  pkg/graveler/committed/meta_range_writer_test.go
  pkg/graveler/committed/mock/meta_range.go
  pkg/graveler/committed/mock/range_manager.go
  pkg/graveler/committed/range_manager.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/sstable/range_manager.go
  pkg/graveler/sstable/range_manager_test.go
  pkg/graveler/testutil/fakes.go
Labels: bug, exclude-changelog

#8670 Truncated long value names in confirmation window
  webui/src/pages/auth/users/user/credentials.jsx
Labels: area/UI, include-changelog

#8686 Run unit tests on submodules
  Makefile
Labels: exclude-changelog, minor-change

#8687 Add CI wrapper tests against SDK changes
  .github/workflows/esti.yaml
  .github/workflows/python-wrapper-unit-tests.yaml
Labels: exclude-changelog, minor-change

#8682 remove unnecessary namespace param
  pkg/graveler/committed/manager.go
  pkg/graveler/committed/meta_range.go
  pkg/graveler/committed/meta_range_manager.go
  pkg/graveler/committed/mock/meta_range.go
  pkg/graveler/committed/mock/range_manager.go
  pkg/graveler/committed/range_manager.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/sstable/range_manager.go
  pkg/graveler/testutil/fakes.go
  pkg/pyramid/mock/pyramid.go
  pkg/pyramid/pyramid.go
  pkg/pyramid/tier_fs.go
Labels: exclude-changelog, tech-debt

#8688 Return empty StorageConfig when StorageConfigList is not empty
  pkg/api/controller.go
Labels: exclude-changelog, minor-change, msb

#8691 changelog v1.50.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8694 fix: remove log messages while trying to connect s3 metadata provider
  pkg/cloud/aws/metadata.go
Labels: exclude-changelog, minor-change

#8700 CommittedManager: fix backwards compatible storage
  esti/metadata_download_test.go
  pkg/catalog/catalog.go
Labels: bug, exclude-changelog, msb

#8640 Fixed the issue where long values overflowed the modal in the pages u…
  webui/src/lib/components/auth/forms.jsx
  webui/src/lib/components/controls.jsx
  webui/src/pages/auth/groups/index.tsx
  webui/src/pages/auth/policies/index.jsx
  webui/src/pages/auth/users/index.jsx
  webui/src/pages/auth/users/user/groups.jsx
Labels: include-changelog

#8705 Long policy name overflows error modal
  webui/src/lib/components/controls.jsx
Labels: area/UI, include-changelog

#8692 Add v1.50.0 to compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8702 Handle StorageConfigList in WebUI
  webui/src/extendable/plugins/impls/DefaultRepoCreationFormPlugin.tsx
  webui/src/extendable/plugins/pluginRepoCreationForm.ts
  webui/src/lib/api/index.js
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/lib/hooks/storageConfig.tsx
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/utils.js
Labels: exclude-changelog

#8704 Extract Blockstore defaults to consts
  pkg/config/defaults.go
Labels: exclude-changelog, minor-change, msb

#8710 Switch to use openapi generator v7.0.1.2
  Makefile
  clients/java/build.gradle
  clients/java/build.sbt
  clients/java/pom.xml
Labels: dependencies, java, include-changelog

#8714 Controller populate storage ID
  pkg/api/controller.go
  pkg/config/config.go
Labels: exclude-changelog, minor-change, msb

#8713 Extract Esti utils
  .github/workflows/esti.yaml
  esti/adapter_utils.go
  esti/auth_test.go
  esti/commit_test.go
  esti/copy_test.go
  esti/delete_objects_test.go
  esti/delete_test.go
  esti/esti_utils.go
  esti/hooks_failure_test.go
  esti/main_test.go
  esti/merge_test.go
  esti/metadata_download_test.go
  esti/ops/docker-compose-common.yaml
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose.yaml
  esti/presign_test.go
  esti/repository_test.go
  esti/rollback_test.go
  esti/sanity_api_test.go
  esti/unified_gc_test.go
  esti/webhook_server_util.go
Labels: exclude-changelog, minor-change, msb

#8718 Esti: Additional improvements
  esti/auth_test.go
  esti/commit_test.go
  esti/copy_test.go
  esti/delete_test.go
  esti/esti_utils.go
  esti/identity_test.go
  esti/lakectl_diff_test.go
  esti/lakectl_local_test.go
  esti/lakectl_test.go
  esti/repository_test.go
  esti/rollback_test.go
Labels: exclude-changelog, minor-change, msb

#8727 Restore cookie consent for docs
  docs/_includes/head_custom.html
Labels: docs, exclude-changelog, minor-change

#8706 Specified that Maven must run with Java 8 in docs
  clients/hadoopfs/README.md
  docs/project/contributing.md
Labels: docs, include-changelog

#8715 Adjust WebUI config handling
  webui/src/pages/auth/login.tsx
  webui/src/pages/repositories/repository/objects.jsx
  webui/src/pages/repositories/repository/utils.js
Labels: exclude-changelog, minor-change, msb

#8731 More Esti Improvements
  esti/auth_test.go
  esti/catalog_export_test.go
  esti/commit_test.go
  esti/delete_objects_test.go
  esti/delete_test.go
  esti/esti_utils.go
  esti/hooks_failure_test.go
  esti/hooks_test.go
  esti/identity_test.go
  esti/lakectl_local_test.go
  esti/merge_test.go
  esti/metadata_download_test.go
  esti/presign_test.go
  esti/rollback_test.go
  esti/s3_gateway_test.go
  esti/sanity_api_test.go
  esti/unified_gc_test.go
Labels: exclude-changelog, minor-change, msb

#8724 Add a section about partial reads in Mount (Everest) docs
  docs/reference/mount.md
Labels: docs, exclude-changelog

#8732 Use hive archive for CI test
  test/lakectl_metastore/hive/Dockerfile
Labels: exclude-changelog, area/ci

#8684 add storageID to gc manager
  pkg/api/controller.go
  pkg/catalog/catalog_test.go
  pkg/graveler/graveler.go
  pkg/graveler/mock/graveler.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/graveler/retention/garbage_collection_manager_test.go
Labels: exclude-changelog

#8730 Use StorageConfigList in lakectl when exists
  cmd/lakectl/cmd/fs_cat.go
  cmd/lakectl/cmd/fs_download.go
  cmd/lakectl/cmd/fs_presign.go
  cmd/lakectl/cmd/fs_stat.go
  cmd/lakectl/cmd/fs_upload.go
  cmd/lakectl/cmd/import.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/root.go
Labels: exclude-changelog, msb

#8703 feat: hook pre/post merge include merge source
  docs/howto/hooks/webhooks.md
  esti/hooks_test.go
  pkg/actions/event.go
  pkg/actions/lua.go
  pkg/actions/lua_test.go
  pkg/actions/service_test.go
  pkg/actions/testdata/lua/json_marshal_action.output
  pkg/graveler/graveler.go
  pkg/graveler/hooks_handler.go
Labels: area/hooks, include-changelog
