Repository treeverse/lakeFS, pull requests merged in 2025-01, with the labels that each got.

#8428 support putifabsent
  esti/multipart_test.go
  esti/s3_gateway_test.go
  pkg/gateway/operations/operation_utils.go
  pkg/gateway/operations/postobject.go
  pkg/gateway/operations/putobject.go
Labels: include-changelog

#8455 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8456 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8459 HL Python SDK: Use hidden branch in transactions
  Makefile
  clients/python-wrapper/lakefs/branch.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/integration/test_branch.py
Labels: exclude-changelog, python-sdk-changelog

#8460 HL Python SDK: Release 0.8.0
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#8461 Docs: Fix docker compose reference
  docs/enterprise/getstarted/quickstart.md
Labels: exclude-changelog

#8466 Remove @lakeFS Mastodon account
  README.md
  docs/_config.yml
  docs/_includes/head_custom.html
  docs/assets/icons/mastodon-hover.svg
  docs/assets/icons/mastodon.svg
  docs/quickstart/learning-more-lakefs.md
  pkg/samplerepo/assets/sample/README.md.tmpl
Labels: bug, pr/merge-if-approved, docs, exclude-changelog, minor-change

#8448 Add Group Description
  api/authorization.yml
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/Group.md
  clients/java/docs/GroupCreation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/Group.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/GroupCreation.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/GroupCreationTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/GroupTest.java
  clients/python/docs/Group.md
  clients/python/docs/GroupCreation.md
  clients/python/lakefs_sdk/models/group.py
  clients/python/lakefs_sdk/models/group_creation.py
  clients/python/test/test_group.py
  clients/python/test/test_group_creation.py
  clients/python/test/test_group_list.py
  clients/rust/docs/Group.md
  clients/rust/docs/GroupCreation.md
  clients/rust/src/models/group.rs
  clients/rust/src/models/group_creation.rs
  contrib/auth/acl/controller.go
  contrib/auth/acl/service.go
  contrib/auth/apigen/authapi.gen.go
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/auth/model/model.go
  pkg/auth/model/model.pb.go
  pkg/auth/model/model.proto
  pkg/auth/service.go
  pkg/auth/service_test.go
  webui/src/lib/api/index.js
  webui/src/lib/components/auth/forms.jsx
  webui/src/lib/components/auth/nav.jsx
  webui/src/pages/auth/groups/index.tsx
Labels: area/API, improvement, area/auth, exclude-changelog, minor-change

#8453 Reuse Esti components
  .github/workflows/compatibility-tests.yaml
  .github/workflows/esti.yaml
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  test/lakectl_metastore/docker-compose.yml
  test/lakefsfs_contract/docker-compose.yaml
  test/rclone_export/docker-compose.yaml
  test/spark/docker-compose.yaml
Labels: exclude-changelog, minor-change

#8463 Docs for SCIM mappings
  docs/howto/scim.md
Labels: docs, exclude-changelog

#8032 fixed typo mount.md
  docs/reference/mount.md
Labels: exclude-changelog, minor-change

#8464 Add "squash merge" support to merge API
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/Merge.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/Merge.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/MergeTest.java
  clients/python/docs/Merge.md
  clients/python/lakefs_sdk/models/merge.py
  clients/python/test/test_merge.py
  clients/rust/docs/Merge.md
  clients/rust/src/models/merge.rs
  cmd/lakectl/cmd/merge.go
  docs/assets/js/swagger.yml
  docs/reference/cli.md
  esti/golden/lakectl_merge_with_squashed_commit.golden
  esti/lakectl_test.go
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/graveler/graveler.go
Labels: area/API, area/integrations, include-changelog, feature

#8452 Upgrade to Golang 1.23
  .github/workflows/codeql-analysis.yaml
  .github/workflows/compatibility-tests.yaml
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/test.yaml
  .golangci.yml
  Dockerfile
  Makefile
  clients/spark/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
  esti/ops/docker-compose-dynamodb.yaml
  esti/ops/docker-compose-external-db.yaml
  esti/ops/docker-compose.yaml
  go.mod
  go.sum
  go.work
  go.work.sum
  pkg/actions/lua/stdlib.go
  pkg/actions/service.go
  pkg/api/controller.go
  pkg/api/helpers/upload.go
  pkg/block/s3/adapter.go
  pkg/catalog/catalog.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/sig/v4_streaming_reader.go
  pkg/graveler/branch/protection_manager.go
  pkg/graveler/graveler.go
  pkg/ident/ident.go
  pkg/kv/cosmosdb/store.go
  pkg/kv/dynamodb/store.go
  pkg/loadtest/loader.go
  pkg/local/posix_permissions.go
  pkg/metastore/glue/converter.go
  pkg/metastore/glue/metastore_client.go
  pkg/metastore/hive/converter.go
  webui/go.mod
Labels: include-changelog

#8471 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8483 Default squash-merge behaviour must be OFF
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/src/main/java/io/lakefs/clients/sdk/model/Merge.java
  clients/python/docs/Merge.md
  clients/python/lakefs_sdk/models/merge.py
  clients/rust/docs/Merge.md
  docs/assets/js/swagger.yml
  pkg/api/controller_test.go
Labels: bug, area/API, include-changelog, bug/critical, P0

#8485 Changelog for 1.48.1
  CHANGELOG.md
Labels: exclude-changelog, minor-change, P1

#8487 Update upload-artifact action
  .github/actions/bootstrap-test-lakefs/action.yaml
  .github/workflows/compatibility-tests.yaml
  .github/workflows/esti.yaml
Labels: exclude-changelog

#8477 Add comment for cosmosdb.go tests
  pkg/kv/cosmosdb/main_test.go
  pkg/testutil/cosmosdb.go
Labels: exclude-changelog, minor-change

#8488 Test lakeFSFS with lakeFS server version 1.48.1
  .github/workflows/compatibility-tests.yaml
Labels: pr/merge-if-approved, area/testing, exclude-changelog, minor-change, area/client/hadoopfs

#8481 Add a test for ListBranches "prefix" branch
  pkg/catalog/catalog_test.go
Labels: pr/merge-if-approved, area/API, area/testing, exclude-changelog, minor-change

#8504 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8508 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#8499 Modularize Block Factory
  cmd/lakefs/cmd/run.go
  go.work
  modules/block/factory/build.go
  modules/block/factory/go.mod
  modules/block/factory/go.work
  pkg/block/factory/build.go
  pkg/catalog/catalog.go
  pkg/config/config_test.go
Labels: exclude-changelog

#8513 Fix workflow runners
  .github/workflows/changelog.yaml
  .github/workflows/close-stale-prs.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/esti.yaml
  .github/workflows/link-issue-to-pr.yaml
  .github/workflows/python-wrapper-unit-tests.yaml
Labels: exclude-changelog, minor-change

#8506 Add StorageID to Repo endpoints
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/Repository.md
  clients/java/docs/RepositoryCreation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/Repository.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/RepositoryCreation.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/RepositoryCreationTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/RepositoryTest.java
  clients/python/docs/Repository.md
  clients/python/docs/RepositoryCreation.md
  clients/python/lakefs_sdk/models/repository.py
  clients/python/lakefs_sdk/models/repository_creation.py
  clients/python/test/test_repository.py
  clients/python/test/test_repository_creation.py
  clients/python/test/test_repository_list.py
  clients/rust/docs/Repository.md
  clients/rust/docs/RepositoryCreation.md
  clients/rust/src/models/repository.rs
  clients/rust/src/models/repository_creation.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: exclude-changelog, minor-change

#8502 Add StorageID to Repository entity
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/Repository.md
  clients/java/docs/RepositoryCreation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/Repository.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/RepositoryCreation.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/RepositoryCreationTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/RepositoryTest.java
  clients/python/docs/Repository.md
  clients/python/docs/RepositoryCreation.md
  clients/python/lakefs_sdk/models/repository.py
  clients/python/lakefs_sdk/models/repository_creation.py
  clients/python/test/test_repository.py
  clients/python/test/test_repository_creation.py
  clients/python/test/test_repository_list.py
  clients/rust/docs/Repository.md
  clients/rust/docs/RepositoryCreation.md
  clients/rust/src/models/repository.rs
  clients/rust/src/models/repository_creation.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/catalog/fake_graveler_test.go
  pkg/catalog/model.go
  pkg/gateway/testutil/gateway_setup.go
  pkg/graveler/errors.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/graveler.proto
  pkg/graveler/mock/graveler.go
  pkg/graveler/model.go
Labels: exclude-changelog

#8454 lakectl to present error while writing to protected branch
  esti/lakectl_local_test.go
  esti/lakectl_test.go
  pkg/api/helpers/upload.go
  pkg/local/sync.go
Labels: exclude-changelog

#8530 Fix delete RO repo on esti tests
  esti/system_test.go
Labels: area/testing, area/system-tests, exclude-changelog, minor-change

#8527 Remove go.work from block factory
  modules/block/factory/go.work
Labels: exclude-changelog, minor-change

#8532 Fix broken link to migrate-or-clone-repo sample
  docs/howto/backup-and-restore.md
Labels: exclude-changelog, minor-change

#8505 Modularize config factory
  cmd/lakefs-loadtest/cmd/entry.go
  cmd/lakefs/cmd/flare.go
  cmd/lakefs/cmd/kv.go
  cmd/lakefs/cmd/migrate.go
  cmd/lakefs/cmd/migrate_test.go
  cmd/lakefs/cmd/root.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/run_test.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  go.work
  modules/config/factory/build.go
  modules/config/factory/go.mod
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/auth/setup/setup.go
  pkg/catalog/catalog.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/defaults.go
  pkg/config/testdata/domain_name_prefix.yaml
  pkg/gateway/testutil/gateway_setup.go
  pkg/loadtest/local_load_test.go
  pkg/pyramid/params/params.go
  pkg/stats/metadata.go
Labels: exclude-changelog

#8535 Add experimental flag to StorageID
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/Repository.md
  clients/java/docs/RepositoryCreation.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/Repository.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/RepositoryCreation.java
  clients/python/docs/Repository.md
  clients/python/docs/RepositoryCreation.md
  clients/python/lakefs_sdk/models/repository.py
  clients/python/lakefs_sdk/models/repository_creation.py
  clients/rust/docs/Repository.md
  clients/rust/docs/RepositoryCreation.md
  clients/rust/src/models/repository.rs
  clients/rust/src/models/repository_creation.rs
  docs/assets/js/swagger.yml
Labels: exclude-changelog, minor-change, msb

#8521 Add StorageID to GetRegion
  pkg/api/controller.go
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/metrics.go
  pkg/block/s3/adapter.go
  pkg/block/transient/adapter.go
  pkg/block/validations.go
  pkg/block/validations_test.go
  pkg/testutil/adapter.go
Labels: exclude-changelog, minor-change, msb

#8538 Fix: Block factory config interface
  modules/block/factory/build.go
Labels: exclude-changelog, minor-change, msb

#8537 Add StorageConfigList to config response
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/Config.md
  clients/java/docs/StorageConfig.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/Config.java
  clients/java/src/main/java/io/lakefs/clients/sdk/model/StorageConfig.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/ConfigTest.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/StorageConfigTest.java
  clients/python/docs/Config.md
  clients/python/docs/StorageConfig.md
  clients/python/lakefs_sdk/models/config.py
  clients/python/lakefs_sdk/models/storage_config.py
  clients/python/test/test_config.py
  clients/python/test/test_storage_config.py
  clients/rust/docs/Config.md
  clients/rust/docs/StorageConfig.md
  clients/rust/src/models/config.rs
  clients/rust/src/models/storage_config.rs
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve.go
Labels: exclude-changelog, msb

#8522 Add StorageID to ObjectPointer
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/blocktest/adapter.go
  pkg/block/blocktest/basic_suite.go
  pkg/block/blocktest/multipart_suite.go
  pkg/block/local/adapter.go
  pkg/block/s3/adapter.go
  pkg/catalog/actions_output_writer.go
  pkg/catalog/actions_source.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
  pkg/gateway/operations/deleteobject.go
  pkg/gateway/operations/getobject.go
  pkg/gateway/operations/postobject.go
  pkg/gateway/operations/putobject.go
  pkg/gateway/operations/putobject_test.go
  pkg/graveler/retention/garbage_collection_manager.go
  pkg/graveler/retention/garbage_collection_manager_test.go
  pkg/pyramid/tier_fs.go
  pkg/samplerepo/samplecontent.go
  pkg/testutil/adapter.go
  pkg/upload/write_blob.go
Labels: exclude-changelog, msb

#8519 change login placeholders for remote authenticator
  Makefile
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/LoginConfig.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/LoginConfig.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/LoginConfigTest.java
  clients/python/docs/LoginConfig.md
  clients/python/lakefs_sdk/models/login_config.py
  clients/python/test/test_login_config.py
  clients/python/test/test_setup_state.py
  clients/rust/docs/LoginConfig.md
  clients/rust/src/models/login_config.rs
  docs/assets/js/swagger.yml
  docs/posts/deprecate-py-legacy.md
  pkg/api/controller.go
  pkg/config/config.go
  webui/src/pages/auth/login.tsx
Labels: include-changelog

#8516 Make http client type configurable
  cmd/lakectl/cmd/root.go
Labels: include-changelog

#8544 fix: webui lock file update for react-dropzone 14.2.3
  webui/package-lock.json
Labels: exclude-changelog, minor-change

#8556 Request TTFB metric for GetObject API
  pkg/api/controller.go
  pkg/api/stats.go
Labels: area/API, include-changelog

#8569 Catalog: use config interface
  pkg/catalog/catalog.go
Labels: exclude-changelog, msb

#8531 8422 list multipart uploads
  esti/s3_gateway_test.go
  pkg/block/adapter.go
  pkg/block/azure/adapter.go
  pkg/block/gs/adapter.go
  pkg/block/local/adapter.go
  pkg/block/mem/adapter.go
  pkg/block/metrics.go
  pkg/block/s3/adapter.go
  pkg/block/transient/adapter.go
  pkg/gateway/operations/listobjects.go
  pkg/gateway/serde/xml.go
  pkg/testutil/adapter.go
Labels: include-changelog

#8567 lakectl: Remove ingest command
  cmd/lakectl/cmd/ingest.go
  docs/reference/cli.md
  esti/golden/lakectl_fs_ls_after_ingest.golden
  esti/golden/lakectl_fs_ls_after_ingest_recursive.golden
  esti/lakectl_test.go
Labels: area/lakectl, exclude-changelog
