Repository treeverse/lakeFS, pull requests merged in 2025-05, with the labels that each got.

#8996 Feature - Add GeoJSON preview support in ObjectsDiff
  webui/package-lock.json
  webui/package.json
  webui/src/lib/components/repository/GeoJSONPreview.jsx
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/styles/globals.css
Labels: area/UI, include-changelog

#9007 Add all missing Hadoop lakeFS client version to compatility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#9014 Add GeoJSON file rendering support and amend preview support in ObjectsDiff
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/pages/repositories/repository/fileRenderers/index.tsx
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
  webui/src/pages/repositories/repository/fileRenderers/types.tsx
Labels: area/UI, include-changelog

#9018 Update specific go mod packages
  go.mod
  go.sum
  go.work.sum
Labels: dependencies, exclude-changelog, minor-change

#9019 Add support for list parts in gs adapter
  pkg/block/blocktest/multipart_suite.go
  pkg/block/gs/adapter.go
  pkg/gateway/operations/getobject.go
Labels: include-changelog

#9026 GCS list parts Change uploadID exists validation
  pkg/block/gs/adapter.go
Labels: exclude-changelog, minor-change

#9009 Support Unsigned Payload Trailers
  Makefile
  go.mod
  go.sum
  pkg/gateway/sig/v4.go
  pkg/gateway/sig/v4_streaming_reader.go
  pkg/gateway/sig/v4_test.go
Labels: include-changelog

#9028 Changelog for version 1.56.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#9032 Fix ParseRange to fail on bytes=-0
  pkg/httputil/range.go
  pkg/httputil/range_test.go
Labels: include-changelog

#9036 Fix S3 ListMultipartUploads response missing NextUploadIDMarker
  pkg/gateway/operations/listobjects.go
  pkg/gateway/serde/xml.go
Labels: bug, area/gateway, include-changelog

#9040 run go work sync
  go.sum
Labels: exclude-changelog, minor-change

#9041 Use MD5 as ETag in gs adapter
  pkg/block/gs/adapter.go
  pkg/block/gs/adapter_test.go
Labels: include-changelog

#9045 Fail the "Run Linters and Checkers" job if `go work sync` changes files
  .github/workflows/test.yaml
Labels: include-changelog

#9047 Docs: Fix cache dir default configuration
  docs/reference/configuration.md
Labels: bug, docs, exclude-changelog, minor-change

#9054 Spark GH workflow: bind driver and executors to localhost
  .github/workflows/spark.yaml
Labels: exclude-changelog, minor-change

#9057 fix missing error mapping in controller for auth
  pkg/api/controller.go
  pkg/auth/model/validation.go
Labels: area/API, exclude-changelog, minor-change

#8994 AWS IAM: lakefs IDP interface
  cmd/lakectl/cmd/root.go
  pkg/authentication/externalidp/awsiam/aws_client.go
  pkg/authentication/externalidp/awsiam/aws_client_test.go
Labels: exclude-changelog

#9060 Change log for lakeFS version 1.56.1
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#9061 Add version 1.56.1 to compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#9066 Python SDK update urllib3 version requirements
  Makefile
  clients/python-static/templates/requirements.mustache
  clients/python-static/templates/setup.mustache
  clients/python/requirements.txt
  clients/python/setup.py
Labels: dependencies, area/sdk/python, exclude-changelog

#9056 UI: turn off hive partitioning while select parquet using DuckDB
  webui/src/pages/repositories/repository/fileRenderers/data.tsx
  webui/src/pages/repositories/repository/fileRenderers/duckdb.tsx
Labels: area/UI, include-changelog, duckdb

#9071 Python HL SDK add py.typed
  clients/python-wrapper/lakefs/py.typed
  clients/python-wrapper/setup.py
Labels: exclude-changelog, python-wrapper

#9065 Add friendly name Auth GetUser API
  pkg/api/controller.go
Labels: include-changelog, minor-change

#9052 Add version_context field to VersionConfig
  api/swagger.yml
  clients/java/api/openapi.yaml
  clients/java/docs/VersionConfig.md
  clients/java/src/main/java/io/lakefs/clients/sdk/model/VersionConfig.java
  clients/java/src/test/java/io/lakefs/clients/sdk/model/VersionConfigTest.java
  clients/python/docs/VersionConfig.md
  clients/python/lakefs_sdk/models/version_config.py
  clients/python/test/test_config.py
  clients/python/test/test_version_config.py
  clients/rust/docs/VersionConfig.md
  clients/rust/src/models/version_config.rs
  docs/assets/js/swagger.yml
  pkg/api/controller.go
  pkg/config/config.go
  webui/src/lib/components/navbar.jsx
Labels: include-changelog, minor-change

#9039 Python Wrapper IAM-ish support
  clients/python-wrapper/lakefs/auth.py
  clients/python-wrapper/lakefs/client.py
  clients/python-wrapper/lakefs/config.py
  clients/python-wrapper/lakefs/exceptions.py
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
  clients/python-wrapper/tests/utests/test_auth.py
  clients/python-wrapper/tests/utests/test_repository.py
Labels: include-changelog, python-wrapper

#9038 Extend authentication service to enable OIDC support
  api/swagger.yml
  clients/java/README.md
  clients/java/api/openapi.yaml
  clients/java/docs/AuthApi.md
  clients/java/src/main/java/io/lakefs/clients/sdk/AuthApi.java
  clients/java/src/test/java/io/lakefs/clients/sdk/AuthApiTest.java
  clients/python/README.md
  clients/python/docs/AuthApi.md
  clients/python/lakefs_sdk/api/auth_api.py
  clients/python/test/test_auth_api.py
  clients/rust/README.md
  clients/rust/docs/AuthApi.md
  clients/rust/src/apis/auth_api.rs
  cmd/lakefs/cmd/run.go
  docs/assets/js/swagger.yml
  go.mod
  go.sum
  go.work.sum
  modules/authentication/factory/build.go
  pkg/api/controller.go
  pkg/api/serve.go
  pkg/authentication/service.go
Labels: include-changelog

#9077 Fix multipart upload flaky test
  esti/s3_gateway_test.go
Labels: exclude-changelog, minor-change

#9078 Update python sdk wrapper version and changelog
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#9079 workaround concurrent map writes
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/ci

#9081 Configurable Presign Client options and remove default logging
  pkg/authentication/externalidp/awsiam/aws_client.go
Labels: exclude-changelog

#9086 workaround concurrent map writes
  .github/actions/bootstrap-test-lakefs/action.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#9090 change log
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#9092 Compatibility tests v1.57.0
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#9088 Enable additional API services to register on startup
  cmd/lakefs/cmd/run.go
  go.work
  modules/api/factory/build.go
  modules/api/factory/go.mod
  modules/api/factory/go.sum
  modules/authentication/factory/build.go
  pkg/api/serve.go
Labels: area/API, exclude-changelog, minor-change

#9087 Add minor improvements
  pkg/api/helpers/errors.go
  pkg/cache/cache.go
Labels: exclude-changelog, minor-change

#9094 Document S3 support for user metadata
  docs/reference/s3.md
Labels: pr/merge-if-approved, area/gateway, docs, exclude-changelog, low-priority, minor-change

#9093 Remove E2E test complete comments on pull-request
  .github/workflows/esti.yaml
Labels: infrastructure, exclude-changelog, minor-change

#9091 Docs: Update external principal aws doc to reference IAM role auth
  docs/security/external-principals-aws.md
Labels: pr/merge-if-approved, exclude-changelog, minor-change

#9106 Docs: For indent for config value
  docs/reference/mount.md
Labels: exclude-changelog, minor-change

#9109 Fix python client release check skip_publish_pypi
  .github/workflows/python-api-client.yaml
Labels: infrastructure, area/sdk/python, exclude-changelog

#9110 Fix python client release - skip publish when told
  .github/workflows/python-api-client.yaml
Labels: infrastructure, area/sdk/python, exclude-changelog, minor-change

#9105 [BUG] Python Wrapper: Fails if there are no access key and secret
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/lakefs/config.py
  clients/python-wrapper/setup.py
  docs/security/external-principals-aws.md
Labels: exclude-changelog, minor-change

#9114 Add version 1.58.0 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#9119 Fix GC failure on unknown files under the _lakefs folder
  clients/spark/build.sbt
  clients/spark/src/main/scala/io/treeverse/clients/LakeFSInputFormat.scala
Labels: include-changelog

#9123 Refactor auth factory
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/run_test.go
  cmd/lakefs/cmd/setup.go
  modules/auth/factory/build.go
Labels: exclude-changelog, minor-change

#9120 Update change log with new spark client
  clients/spark/CHANGELOG.md
  docs/howto/export.md
  docs/howto/garbage-collection/gc.md
  docs/reference/spark-client.md
Labels: docs, exclude-changelog, minor-change

#9107 /license endpoint tests (#9095)
  pkg/api/controller_test.go
Labels: include-changelog

#9121 Add Iceberg Catalog documentation
  docs/howto/lakefs-tables.md
Labels: docs, exclude-changelog, minor-change

#9125 Docs: Fix auth api endpoint
  docs/reference/configuration.md
Labels: exclude-changelog, minor-change
