Repository treeverse/lakeFS, pull requests merged in 2025-07, with the labels that each got.

#9242 lakectl plugin support with listing and execution
  cmd/lakectl/cmd/plugin.go
  cmd/lakectl/cmd/plugin_list.go
  cmd/lakectl/cmd/root.go
  cmd/lakectl/cmd/root_test.go
  esti/golden/lakectl_help.golden
Labels: area/lakectl, include-changelog

#9216 Fluffy EOL; DOCS- replace fluffy configurations with enterprise
  docs/src/enterprise/architecture.md
  docs/src/enterprise/configuration.md
  docs/src/enterprise/getstarted/quickstart.md
  docs/src/enterprise/upgrade.md
  docs/src/reference/configuration.md
Labels: exclude-changelog

#9204 Fluffy EOL: enterprise docs, replace fluffy for enterprise
  docs/src/assets/img/enterprise/lakefs-enterprise-architecture.png
  docs/src/enterprise/architecture.md
  docs/src/enterprise/getstarted/install.md
  docs/src/enterprise/getstarted/migrate-from-oss.md
  docs/src/enterprise/troubleshooting.md
Labels: exclude-changelog

#9274 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#9283 Support multipart for lakectl presigned uploads
  pkg/api/helpers/upload.go
  pkg/local/progress.go
Labels: include-changelog, lakectl-local

#9202 Fluffy EOL: Enterprise Docs
  docs/src/assets/img/enterprise/lakefs-enterprise-architecture.png
  docs/src/enterprise/architecture.md
  docs/src/enterprise/configuration.md
  docs/src/enterprise/getstarted/install.md
  docs/src/enterprise/getstarted/migrate-from-oss.md
  docs/src/enterprise/getstarted/quickstart.md
  docs/src/enterprise/troubleshooting.md
  docs/src/enterprise/upgrade.md
  docs/src/reference/configuration.md
  docs/src/security/external-principals-aws.md
  docs/src/security/sso.md
Labels: exclude-changelog

#9295 Updapte NodeJS to 22.x LTS (from v18)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/compatibility-tests.yaml
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/node.yaml
  .github/workflows/test.yaml
Labels: infrastructure, exclude-changelog

#9310 Fix formatting in docs
  docs/src/integrations/spark.md
  docs/src/reference/monitor.md
Labels: docs, exclude-changelog, minor-change

#9270 Added documentation for licenses in lakeFS Enterprise to the public docs
  docs/src/enterprise/getstarted/install.md
Labels: exclude-changelog

#9307 docs: update remote authenticator for OSS and EE
  docs/src/security/remote-authenticator.md
Labels: docs, exclude-changelog

#9317 Docs license clarifications
  docs/src/enterprise/getstarted/quickstart.md
  docs/src/enterprise/upgrade.md
Labels: exclude-changelog

#9305 GC: Add support for GCP
  clients/spark/build.sbt
  clients/spark/src/main/scala/io/treeverse/clients/ApiClient.scala
  clients/spark/src/main/scala/io/treeverse/clients/BulkRemoverFactory.scala
  clients/spark/src/main/scala/io/treeverse/clients/StorageClients.scala
  clients/spark/src/main/scala/io/treeverse/clients/StorageUtils.scala
  clients/spark/src/main/scala/io/treeverse/gc/GarbageCollection.scala
  clients/spark/src/test/scala/io/treeverse/clients/ApiClientSpec.scala
  clients/spark/src/test/scala/io/treeverse/clients/LakeFSInputFormatSpec.scala
Labels: exclude-changelog, GC+

#9209 deps(test): relax dependency constraints to run on Python 3.13
  clients/python-wrapper/requirements.txt
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change, python-sdk-changelog

#9322 Python HL SDK: Release v0.12.0
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#9323 Go work sync
  go.mod
  go.sum
  go.work.sum
Labels: exclude-changelog, minor-change

#9318 Update mds config docs
  docs/src/datamanagment/metadata-search.md
Labels: docs, exclude-changelog, minor-change

#9313 Docs: Update enterprise installation licensing docs
  docs/src/enterprise/getstarted/install.md
  docs/src/enterprise/getstarted/quickstart.md
  docs/src/enterprise/upgrade.md
Labels: docs, exclude-changelog, minor-change

#9337 Allow trailing slash in lakectl fs upload
  cmd/lakectl/cmd/fs_upload.go
  esti/golden/lakectl_fs_upload_dir_marker.golden
  esti/lakectl_test.go
Labels: include-changelog

#9350 docs: update RBAC docs with missing cloud action and policy
  docs/src/security/rbac.md
Labels: docs, exclude-changelog, minor-change

#9353 Update CHANGELOG.md for v1.64.0
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#9354 Update compatibility-tests.yaml for v1.64.0
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change

#9360 Fix race while update branch returned from ref manager branch update
  pkg/graveler/graveler.go
  pkg/graveler/ref/manager.go
  pkg/graveler/ref/manager_test.go
Labels: bug, include-changelog

#9363 Remove metadata tracking time limitation
  docs/src/datamanagment/metadata-search.md
Labels: docs, exclude-changelog, minor-change

#9366 WebUI: Fix loading state when fetching repository data
  webui/src/lib/components/navbar.jsx
  webui/src/lib/components/repository/ObjectsDiff.jsx
  webui/src/pages/repositories/repository/objectViewer.tsx
  webui/src/pages/repositories/repository/objects.jsx
Labels: area/UI, include-changelog, minor-change

#9368 Fix metadata search configuration docs
  docs/src/datamanagment/metadata-search.md
Labels: docs, exclude-changelog, minor-change

#9361 New IsUploadPartRequest function
  pkg/gateway/operations/putobject.go
Labels: exclude-changelog, minor-change

#9369 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#9370 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#9371 Fix concurrent commits with allow-empty may fail with no-changes
  pkg/graveler/empty_value_iterator.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
Labels: bug, include-changelog
