Repository treeverse/lakeFS, pull requests merged in 2025-03, with the labels that each got.

#8744 Upgrade ristretto package from v0.1.1 to v0.2.0
  go.mod
  go.sum
Labels: dependencies, exclude-changelog, minor-change

#8734 fix runner.sh for running tests
  esti/scripts/runner.sh
Labels: area/system-tests, contributor, exclude-changelog

#8743 Fix lakectl StorageConfigList ID comparison
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/root.go
Labels: exclude-changelog, minor-change, msb

#8745 go mod tidy after upgrade ristretto
  go.mod
  go.sum
  go.work.sum
Labels: infrastructure, exclude-changelog, minor-change

#8725 Everest mount write docs
  docs/reference/mount-write-mode-semantics.md
  docs/reference/mount.md
Labels: docs, exclude-changelog, minor-change

#8737 make esti functions reusable
  esti/catalog_export_test.go
  esti/copy_test.go
  esti/esti_utils.go
  esti/hooks_failure_test.go
  esti/hooks_test.go
  esti/lakectl_local_test.go
  esti/s3_gateway_test.go
Labels: exclude-changelog, minor-change

#8748 Fix everest diff command output doc
  docs/reference/mount.md
Labels: docs, exclude-changelog, minor-change

#8741 Fix StorageConfig response (II)
  pkg/api/controller.go
  pkg/api/controller_test.go
  webui/src/lib/api/index.js
  webui/src/pages/repositories/index.jsx
  webui/src/pages/repositories/repository/utils.js
Labels: exclude-changelog, minor-change, msb

#8750 More Esti Improvements
  esti/esti_utils.go
  esti/identity_test.go
  esti/presign_test.go
  go.work
  go.work.sum
  modules/block/factory/go.sum
Labels: exclude-changelog, minor-change

#8698 Test non-empty StorageIDs
  pkg/api/controller_test.go
  pkg/catalog/catalog_test.go
  pkg/graveler/committed/manager_test.go
  pkg/graveler/committed/meta_range_writer_test.go
  pkg/graveler/graveler_test.go
  pkg/graveler/graveler_v2_test.go
  pkg/graveler/ref/branch_iterator_test.go
  pkg/graveler/ref/manager_test.go
  pkg/graveler/ref/pulls_iterator_test.go
  pkg/graveler/ref/repository_iterator_test.go
  pkg/graveler/ref/resolve_ref_test.go
  pkg/graveler/ref/tag_iterator_test.go
  pkg/graveler/testutil/graveler_mock.go
Labels: exclude-changelog

#8759 chore: Define types for inner configuration structure
  pkg/config/config.go
Labels: exclude-changelog, minor-change

#8756 lakectl: Add storage ID to repo list
  cmd/lakectl/cmd/repo_list.go
  esti/presign_test.go
Labels: include-changelog

#8761 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8757 HL Python SDK: Release 0.9.0
  clients/python-wrapper/CHANGELOG.md
  clients/python-wrapper/setup.py
Labels: exclude-changelog, minor-change

#8768 Fix lakefs lua package to post data in request
  pkg/actions/lua/lakefs/client.go
Labels: bug, area/hooks, include-changelog

#8773 Docs: enterprise configuration TOC
  docs/reference/configuration.md
Labels: exclude-changelog, minor-change

#8774 Match blockstore.local.path value in Config docs to actual default
  docs/reference/configuration.md
Labels: docs, exclude-changelog, minor-change

#8771 Add Lua Action support for update_object_user_metadata
  pkg/actions/lua/lakefs/client.go
Labels: area/hooks, include-changelog

#8776 Make listRepositoryObjects public
  esti/esti_utils.go
  esti/sanity_api_test.go
Labels: area/testing, exclude-changelog, minor-change, msb

#8775 test: Lua hook tests for lakefs package
  pkg/actions/lua.go
  pkg/actions/lua_test.go
  pkg/actions/testdata/lua/json_marshal_action.output
Labels: area/testing, area/hooks, exclude-changelog, minor-change

#8782 Web UI: Update caniuse-list's browserlist
  webui/package-lock.json
Labels: area/UI, exclude-changelog, minor-change

#8781 Fix Web UI Merge Dialog Enter Should Submit
  webui/src/lib/components/repository/compareBranchesActionBar.jsx
Labels: bug, area/UI, include-changelog

#8785 Extract hooks test
  esti/hooks.go
  esti/hooks_test.go
Labels: exclude-changelog, minor-change

#8777 Hooks: Lua stat_object get metadata
  docs/howto/hooks/lua.md
  pkg/actions/lua/lakefs/client.go
  pkg/actions/lua_test.go
Labels: area/hooks, include-changelog

#8749 docs: update docs and code for python legacy package lakefs-client
  docs/integrations/kubeflow.md
  docs/integrations/python.md
  docs/integrations/vertex_ai.md
  docs/posts/deprecate-py-legacy.md
  docs/project/code-migrate-1.0-sdk.md
  docs/understand/architecture.md
  docs/understand/use_cases/etl_testing.md
Labels: docs, area/sdk/python, exclude-changelog, minor-change, python-wrapper

#8791 test: remove to stdout from test code
  pkg/graveler/joined_diff_iterator_test.go
  pkg/kv/cosmosdb/main_test.go
Labels: pr/merge-if-approved, area/testing, exclude-changelog, minor-change

#8767 Restore cookieconsent script
  docs/_includes/head_custom.html
  docs/assets/js/cookieconsent-init.js
Labels: exclude-changelog

#8786 Add storage_id tag to StorageAdapter metrics
  pkg/block/azure/adapter.go
  pkg/block/azure/metrics.go
  pkg/block/gs/adapter.go
  pkg/block/gs/metrics.go
  pkg/block/s3/adapter.go
  pkg/block/s3/metrics.go
Labels: exclude-changelog, msb

#8783 Added Group's and Policy's search functionality in webUI
  webui/src/lib/components/controls.jsx
  webui/src/pages/auth/groups/index.tsx
  webui/src/pages/auth/policies/index.jsx
Labels: area/UI, include-changelog, minor-change

#8795 Move hook server initiation to be local on test
  esti/esti_utils.go
  esti/hooks.go
  esti/hooks_failure_test.go
  esti/main_test.go
  esti/webhook_server_util.go
Labels: exclude-changelog, minor-change

#8792 docs: Lua diff references args
  docs/howto/hooks/lua.md
Labels: docs, area/hooks, exclude-changelog, minor-change

#8799 Fix broken(!) example of basic authentication
  docs/security/authentication.md
Labels: bug, pr/merge-if-approved, exclude-changelog, minor-change

#8803 Fix: Revert with allow empty
  pkg/api/controller_test.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_v2_test.go
Labels: bug, include-changelog

#8794 Make UploadFileRandomDataAndReport public for Esti
  esti/commit_test.go
  esti/esti_utils.go
  esti/identity_test.go
Labels: exclude-changelog, minor-change, e2e-tests, msb

#8802 docs: Boto3 configure checks as workaround
  docs/integrations/python.md
Labels: docs, area/sdk/python, exclude-changelog

#8809 Docs/mlflow improvement
  docs/assets/img/mlflow_experiment_run.png
  docs/assets/img/mlflow_inspect_experiment_run.png
  docs/integrations/mlflow.md
Labels: docs, exclude-changelog, minor-change

#8808 Use the correct client in HooksSuccessTest
  esti/hooks.go
  esti/hooks_test.go
Labels: exclude-changelog, minor-change

#8806 Web UI: Fix Auth Error after first login
  webui/src/pages/auth/login.tsx
  webui/src/pages/repositories/repository/objects.jsx
Labels: area/UI, include-changelog

#8738 python iam roles
  clients/python-wrapper/lakefs/config.py
Labels: include-changelog, minor-change

#8812 Use lakeFS client in missing places
  esti/hooks.go
Labels: exclude-changelog, minor-change

#8784 Added User's search functionality in webUI
  webui/src/pages/auth/groups/index.tsx
  webui/src/pages/auth/policies/index.jsx
  webui/src/pages/auth/users/index.jsx
Labels: area/UI, include-changelog, minor-change

#8816 Create bare repository should skip storage namespace check
  pkg/api/controller.go
  pkg/api/controller_test.go
Labels: include-changelog

#8800 Esti: refactor lakectl tests
  cmd/lakectl/cmd/bisect_reset.go
  cmd/lakectl/cmd/identity.go
  docs/reference/cli.md
  esti/golden/lakectl_annotate_a.golden
  esti/golden/lakectl_annotate_a_recursive.golden
  esti/golden/lakectl_annotate_iiikkklll.golden
  esti/golden/lakectl_annotate_top.golden
  esti/golden/lakectl_annotate_top_recursive.golden
  esti/golden/lakectl_bisect_reset_not_started.golden
  esti/golden/lakectl_bisect_view1.golden
  esti/golden/lakectl_bisect_view2.golden
  esti/golden/lakectl_identity.golden
  esti/golden/lakectl_log_no_merges.golden
  esti/golden/lakectl_log_no_merges_amount.golden
  esti/golden/lakectl_log_with_commit.golden
  esti/golden/lakectl_log_with_commit_custom_date.golden
  esti/golden/lakectl_merge_with_commit.golden
  esti/golden/lakectl_merge_with_squashed_commit.golden
  esti/golden/lakectl_show_commit.golden
  esti/golden/lakectl_show_commit_metarange.golden
  esti/lakectl_doctor_test.go
  esti/lakectl_test.go
  esti/lakectl_util.go
  pkg/testutil/setup.go
Labels: area/system-tests, exclude-changelog, minor-change

#8804 Actions: Add pre-post revert hooks
  docs/howto/hooks/index.md
  esti/action_files/action_post_revert.yaml
  esti/action_files/action_pre_revert.yaml
  esti/esti_utils.go
  esti/hooks.go
  esti/hooks_test.go
  esti/webhook_server_util.go
  pkg/actions/action.go
  pkg/actions/service.go
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/hooks_handler.go
Labels: area/hooks, include-changelog

#8824 Remove StorageID from committed.iterator
  pkg/graveler/committed/iterator.go
  pkg/graveler/committed/iterator_test.go
  pkg/graveler/committed/meta_range_manager.go
Labels: exclude-changelog, minor-change, msb

#8788 Actions: prepare_commit hook
  docs/howto/hooks/index.md
  esti/action_files/action_prepare_commit.yaml
  esti/esti_utils.go
  esti/hooks.go
  esti/webhook_server_util.go
  pkg/actions/action.go
  pkg/actions/action_test.go
  pkg/actions/service.go
  pkg/actions/testdata/action_full.yaml
  pkg/graveler/graveler.go
  pkg/graveler/graveler_test.go
  pkg/graveler/hooks_handler.go
Labels: area/hooks, include-changelog

#8826 Docs: Update docs to reflect that FUSE now supports write mode
  docs/reference/mount.md
Labels: exclude-changelog

#8827 Update CHANGELOG.md for v1.52.0
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#8828 Add lakeFS v1.52.0 to compatibility tests
  .github/workflows/compatibility-tests.yaml
Labels: area/testing, exclude-changelog, minor-change, area/client/hadoopfs

#8829 esti: fix revert system test
  esti/hooks.go
Labels: area/testing, area/hooks, exclude-changelog, minor-change

#8820 Added a comment about lakeFS Enterprise stand alone GC in the general GC page
  docs/howto/garbage-collection/gc.md
Labels: docs, exclude-changelog, minor-change

#8845 remove prints from test code
  pkg/api/controller_test.go
Labels: area/testing, exclude-changelog, minor-change

#8846 test: Small refactor for string_heap_test
  pkg/local/string_heap_test.go
Labels: area/testing, exclude-changelog, minor-change

#8847 Fix: create pull request write header twice
  pkg/api/controller.go
Labels: area/API, exclude-changelog, minor-change

#8831 Add lakectl support for configuration via environment variable
  cmd/lakectl/cmd/root.go
  cmd/lakectl/cmd/root_test.go
Labels: include-changelog, minor-change

#8851 fix go mod module deps
  go.mod
  go.sum
Labels: pr/merge-if-approved, infrastructure, exclude-changelog, minor-change

#8848 Simplify test setup by removing cleanup functions
  cmd/lakectl/cmd/root_test.go
Labels: include-changelog, minor-change

#8858 test: Skip cosmodb kv store tests
  pkg/kv/cosmosdb/main_test.go
Labels: area/testing, exclude-changelog, minor-change

#8854 Add Repository Settings E2E test
  webui/test/e2e/common/quickstart.spec.ts
  webui/test/e2e/poms/repositoryPage.ts
Labels: exclude-changelog, minor-change, e2e-tests

#8843 contrib auth: refactor timestamp retrieval in AuthService for improved compatibility
  contrib/auth/acl/service.go
Labels: area/auth, include-changelog

#8821 Add and use auth factory
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/run_test.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  contrib/auth/acl/service.go
  go.work
  modules/auth/factory/build.go
  modules/auth/factory/go.mod
  pkg/api/serve.go
  pkg/auth/basic_service.go
  pkg/auth/cache.go
  pkg/auth/factory/build.go
  pkg/auth/service.go
  pkg/auth/service_test.go
  pkg/auth/setup/setup.go
  pkg/config/config.go
Labels: exclude-changelog

#8861 webui: download credentials on new user credentials
  webui/src/lib/components/auth/credentials.jsx
  webui/src/pages/auth/credentials.jsx
  webui/src/pages/setup/setupComplete.tsx
Labels: area/UI, include-changelog, feature

#8869 Use new Delta Lake client registration flow
  go.mod
  go.sum
  go.work
  go.work.sum
  pkg/actions/lua/formats/delta.go
Labels: include-changelog

#8849 refactor: Stats metadata providers
  cmd/lakefs/cmd/root.go
  cmd/lakefs/cmd/run.go
  cmd/lakefs/cmd/setup.go
  cmd/lakefs/cmd/superuser.go
  go.mod
  go.sum
  go.work.sum
  pkg/api/controller.go
  pkg/api/controller_test.go
  pkg/api/serve.go
  pkg/api/serve_test.go
  pkg/block/metadata_provider.go
  pkg/cloud/aws/metadata.go
  pkg/cloud/azure/metadata.go
  pkg/cloud/gcp/metadata.go
  pkg/cloud/metadata.go
  pkg/cloud/metadata_provider.go
  pkg/cloud/metadata_test.go
  pkg/loadtest/local_load_test.go
  pkg/stats/metadata.go
  pkg/stats/metadata_test.go
Labels: BI, exclude-changelog, refactor

#8855 UI: allow showing diffs for markdown
  webui/src/lib/components/repository/ObjectsDiff.jsx
Labels: area/UI, include-changelog, minor-change

#8874 fix #8856: run go work sync
  go.work
  modules/authentication/factory/go.sum
Labels: exclude-changelog, minor-change

#8875 Release 1.53.0: Update changelog
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#8871 Fix Flaky DDB e2e
  modules/auth/factory/go.sum
  webui/test/e2e/common/viewParquetObject.spec.ts
Labels: exclude-changelog, minor-change

#8878 Simplify and clean Login E2E component
  webui/test/e2e/common/setup.spec.ts
  webui/test/e2e/common/viewParquetObject.spec.ts
  webui/test/e2e/poms/loginPage.ts
  webui/test/e2e/poms/setupPage.ts
Labels: exclude-changelog, minor-change, e2e-tests

#8853 docs: lakefs refs management script and documentation
  docs/howto/backup-and-restore.md
  docs/howto/multiple-storage-backends.md
  scripts/refs/README.md
  scripts/refs/lakefs-refs.py
  scripts/refs/requirements.txt
Labels: docs, exclude-changelog, minor-change

#8882 E2e Flaky CI wait for logout to finish
  webui/test/e2e/common/viewParquetObject.spec.ts
Labels: exclude-changelog, minor-change

#8868 fix typos
  pkg/api/controller.go
  pkg/auth/service.go
  pkg/config/defaults.go
  pkg/permissions/actions.go
Labels: exclude-changelog, minor-change

#8867 JWT verify all signing methods
  pkg/auth/token.go
  pkg/auth/token_test.go
Labels: exclude-changelog, minor-change

#8772 Docs: Removed mount in preview notice
  docs/howto/local-checkouts.md
Labels: docs, exclude-changelog, minor-change

#8889 Esti: Fix nil pointer dereference
  esti/lakectl_util.go
Labels: bug, exclude-changelog

#8891 Support array env variables for config
  pkg/config/config.go
  pkg/config/types.go
  pkg/config/types_test.go
  webui/test/e2e/common/viewParquetObject.spec.ts
Labels: include-changelog, tech-debt, msb

#8894 Bump golang.org/x/net to v0.36.0
  go.mod
  go.work.sum
Labels: exclude-changelog, minor-change

#8895 Replace `golang.org/x/exp/slices` with stdlib `slices`
  cmd/lakectl/cmd/branch_protect.go
  cmd/lakectl/cmd/log.go
  cmd/lakectl/cmd/root.go
  cmd/lakefs/cmd/root.go
  esti/catalog_export_test.go
  esti/lakectl_local_test.go
  go.mod
  pkg/api/controller_test.go
  pkg/block/azure/client_cache.go
  pkg/block/local/adapter.go
  pkg/gateway/handler.go
  pkg/git/git.go
  pkg/permissions/actions_test.go
Labels: exclude-changelog, refactor, minor-change

#8901 Fix metadata collect on error
  pkg/auth/metadata.go
  pkg/stats/metadata.go
Labels: bug, include-changelog

#8902 Update CHANGELOG.md for v1.53.1
  CHANGELOG.md
Labels: docs, exclude-changelog, minor-change

#8892 Fix webui dropzone should be disabled while upload in progress
  webui/src/pages/repositories/repository/objects.jsx
Labels: bug, area/UI, include-changelog

#8904 Test install fixed id without setup
  pkg/auth/metadata_test.go
Labels: area/testing, exclude-changelog, minor-change

#8823 Support multiple resources policies PART 1
  pkg/auth/arn.go
  pkg/auth/arn_test.go
Labels: new-feature, include-changelog, minor-change

#8909 Upgrade python api docs site generator packages
  clients/python-static/templates/Gemfile.lock
  clients/python/Gemfile.lock
Labels: docs, dependencies, area/sdk/python, exclude-changelog, minor-change

#8912 support multiple resources PART1
  pkg/auth/arn.go
Labels: exclude-changelog, minor-change

#8908 test: hooks success test compare time with grace
  esti/hooks.go
Labels: area/testing, area/system-tests, exclude-changelog, minor-change

#8914 docs: fix liquid syntax errors
  docs/enterprise/getstarted/install.md
  docs/howto/hooks/lua.md
Labels: docs, exclude-changelog

#8915 update docs site generator deps
  docs/Gemfile.lock
Labels: docs, dependencies, exclude-changelog, minor-change
