Repository treeverse/lakeFS, pull requests merged in 2025-06, with the labels that each got.

#9132 Docs: better visibility for OSS vs Enterprise features
  docs/_includes/nav.html
  docs/_sass/custom/custom.scss
  docs/howto/garbage-collection/managed-gc.md
  docs/howto/garbage-collection/standalone-gc.md
  docs/howto/hooks/index.md
  docs/howto/lakefs-tables.md
  docs/howto/mirroring.md
  docs/howto/multiple-storage-backends.md
  docs/howto/scim.md
  docs/reference/auditing.md
  docs/reference/mount.md
  docs/security/external-principals-aws.md
  docs/security/rbac.md
  docs/security/sso.md
  docs/security/sts-login.md
Labels: docs, exclude-changelog, minor-change

#9143 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#9144 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change, area/client/hadoopfs, area/ci

#9141 Docs: consolidated Iceberg doc pages
  docs/howto/lakefs-tables.md
  docs/integrations/iceberg.md
Labels: docs, exclude-changelog, minor-change

#9150 Fix catalog init in Iceberg docs
  docs/integrations/iceberg.md
Labels: docs, exclude-changelog, minor-change

#9159 Fix Catalog init in Iceberg docs
  docs/integrations/iceberg.md
Labels: docs, exclude-changelog, minor-change

#9155 Update dependencies and protobuf generation using Buf
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/test.yaml
  Makefile
  buf.gen.yaml
  buf.work.yaml
  buf.yaml
  pkg/actions/actions.pb.go
  pkg/auth/model/model.pb.go
  pkg/catalog/catalog.pb.go
  pkg/distributed/mc_owner.pb.go
  pkg/gateway/multipart/multipart.pb.go
  pkg/graveler/committed/committed.pb.go
  pkg/graveler/graveler.pb.go
  pkg/graveler/settings/test_settings.pb.go
  pkg/kv/kvtest/test_model.pb.go
  pkg/kv/secondary_index.pb.go
Labels: dependencies, infrastructure, exclude-changelog

#9160 Update Badger v4 to latest version
  go.mod
  go.sum
  go.work.sum
Labels: dependencies, exclude-changelog, minor-change

#9156 Sample repository: remove unused images
  pkg/samplerepo/assets/sample/README.md.tmpl
  pkg/samplerepo/assets/sample/images/axolotl.png
  pkg/samplerepo/assets/sample/images/create-quickstart-repo.png
  pkg/samplerepo/assets/sample/images/empty-repo-list.png
  pkg/samplerepo/assets/sample/images/lakefs-login-screen.png
  pkg/samplerepo/assets/sample/images/quickstart-repo.gif
  pkg/samplerepo/assets/sample/images/quickstart-step-00-launch.png
  pkg/samplerepo/assets/sample/images/repo-list.png
  pkg/samplerepo/assets/sample/images/user_config.png
Labels: area/UI, include-changelog

#9146 Middleware and config improvements
  pkg/api/metrics_middleware.go
  pkg/api/serve.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/stats/collector.go
  pkg/stats/sender.go
Labels: exclude-changelog, minor-change

#9173 Update viper and mapstructure packages
  cmd/lakectl/cmd/root.go
  contrib/auth/acl/config.go
  go.mod
  go.sum
  go.work.sum
  pkg/actions/lua/storage/aws/glue.go
  pkg/cloud/metadata.go
  pkg/config/config.go
  pkg/config/types.go
  pkg/config/types_test.go
Labels: exclude-changelog, minor-change

#9162 Distinguish client and internal errors in action responses
  pkg/actions/action.go
  pkg/actions/errors.go
  pkg/actions/hook.go
  pkg/actions/kv_run_results_iterator.go
  pkg/actions/service.go
  pkg/api/controller.go
Labels: include-changelog, minor-change

#9183 Updated CHANGELOG version to v1.60.0
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#9184 Updated compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#9190 docs: fix dev changes publish on push to master
  .github/workflows/docs.yaml
Labels: docs, exclude-changelog, minor-change

#9189 docs: update or create docs preview comment
  .github/workflows/docs-pr.yaml
  .github/workflows/docs.yaml
Labels: docs, exclude-changelog, minor-change

#9192 Docs: Fixed cookie consent for docs
  docs/mkdocs.yml
  docs/overrides/partials/integrations/analytics.html
Labels: docs, exclude-changelog, minor-change

#9186 Upgrade to Go 1.24 as minimum version
  .github/workflows/codeql-analysis.yaml
  .github/workflows/compatibility-tests.yaml
  .github/workflows/docker-publish-exp-image.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/esti.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/test.yaml
  Dockerfile
  clients/spark/src/test/scala/io/treeverse/jpebble/BlockParserSpec.scala
  esti/ops/docker-compose-common.yaml
  go.mod
  go.work
  modules/api/factory/go.mod
  modules/auth/factory/go.mod
  modules/authentication/factory/go.mod
  modules/block/factory/go.mod
  modules/config/factory/go.mod
  modules/license/factory/go.mod
  webui/go.mod
Labels: infrastructure, exclude-changelog

#9198 Fix web ui action menu dropdown position
  webui/src/lib/components/repository/tree.jsx
Labels: area/UI, include-changelog

#9194 webui: update caniuse browserlist db
  webui/package-lock.json
Labels: infrastructure, exclude-changelog, minor-change

#9208 Docs: Update Iceberg Contact-Us link
  docs/src/integrations/iceberg.md
Labels: docs, exclude-changelog, minor-change

#9218 docs: fix robots.txt reference to point to https
  docs/robots.txt
Labels: docs, exclude-changelog, minor-change

#9222 Docs: explain relative namespaces
  docs/src/integrations/iceberg.md
Labels: docs, exclude-changelog, minor-change

#9200 Docs: restructure navigation
  cmd/lakectl/cmd/docs.go
  docs/mkdocs.yml
  docs/src/cloud/index.md
  docs/src/enterprise/getstarted/index.md
  docs/src/enterprise/index.md
  docs/src/howto/mirroring.md
  docs/src/howto/multiple-storage-backends.md
  docs/src/index.md
  docs/src/integrations/airbyte.md
  docs/src/integrations/iceberg-rest-catalog.md
  docs/src/integrations/index.md
  docs/src/reference/index.md
  docs/src/security/access-control-lists.md
  docs/src/understand/architecture.md
  docs/src/understand/data_lifecycle_management/ci.md
  docs/src/understand/data_lifecycle_management/data-devenv.md
  docs/src/understand/data_lifecycle_management/index.md
  docs/src/understand/data_lifecycle_management/production.md
  docs/src/understand/how/index.md
  docs/src/understand/index.md
  docs/src/understand/use_cases/index.md
Labels: docs, exclude-changelog, minor-change, docs-platform

#9191 Add retries to local sync download
  cmd/lakectl/cmd/local.go
  cmd/lakectl/cmd/local_checkout.go
  cmd/lakectl/cmd/local_clone.go
  cmd/lakectl/cmd/local_commit.go
  cmd/lakectl/cmd/local_pull.go
  cmd/lakectl/cmd/retry_client.go
  cmd/lakectl/cmd/root.go
  pkg/local/config.go
  pkg/local/sync.go
  pkg/local/sync_test.go
Labels: include-changelog, minor-change

#9226 Update CHANGELOG.md
  CHANGELOG.md
Labels: exclude-changelog, minor-change

#9227 Update compatibility-tests.yaml
  .github/workflows/compatibility-tests.yaml
Labels: exclude-changelog, minor-change

#9230 UI: Improved empty states for actions, tags
  webui/src/pages/repositories/repository/actions/empty.jsx
  webui/src/pages/repositories/repository/actions/index.jsx
  webui/src/pages/repositories/repository/branches.jsx
  webui/src/pages/repositories/repository/fileRenderers/index.tsx
  webui/src/pages/repositories/repository/fileRenderers/simple.tsx
  webui/src/pages/repositories/repository/tags.jsx
  webui/src/styles/components/ui-components.css
  webui/src/styles/globals.css
Labels: area/UI, include-changelog, minor-change

#9237 Fix dark mode for UI elements
  webui/src/styles/globals.css
  webui/src/styles/objects/objects.css
  webui/src/styles/objects/tree.css
Labels: bug, area/UI, include-changelog
